Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/QueryServices/QueryService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FBBDORM_DORMITORY_TRN_IPAY">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACQUIRER_BANK_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AIS_REF_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AIS_REF_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AMOUNT_PER_MONTH" type="xs:long" />
      <xs:element minOccurs="0" name="BANK_REF_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANK_REPONSE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANK_RETURN_AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="BOS_RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARD_NO" type="xs:long" />
      <xs:element minOccurs="0" name="CARD_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CHANNEL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL_REF_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALLMENT_RATE" type="xs:long" />
      <xs:element minOccurs="0" name="IPAY_RETURN_AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="ISSUER_BANK_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSUER_BANK_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAY_BANK_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAY_TERM" type="xs:int" />
      <xs:element minOccurs="0" name="RESPONSE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSE_MES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SESSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHOP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_AMOUNT" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBBDORM_DORMITORY_TRN_IPAY" nillable="true" type="tns:FBBDORM_DORMITORY_TRN_IPAY" />
</xs:schema>