Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/QueryServices/QueryService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLovValueModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LovValueModel" nillable="true" type="tns:LovValueModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLovValueModel" nillable="true" type="tns:ArrayOfLovValueModel" />
  <xs:complexType name="LovValueModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:decimal" />
      <xs:element minOccurs="0" name="Image_blob" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LovValue1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderBy" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ParId" type="xs:decimal" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LovValueModel" nillable="true" type="tns:LovValueModel" />
  <xs:complexType name="ArrayOfZipCodeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipCodeModel" nillable="true" type="tns:ZipCodeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZipCodeModel" nillable="true" type="tns:ArrayOfZipCodeModel" />
  <xs:complexType name="ZipCodeModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amphur" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsThai" type="xs:boolean" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tumbon" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCodeId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lang_flag" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZipCodeModel" nillable="true" type="tns:ZipCodeModel" />
  <xs:complexType name="PanelModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModelState" type="tns:ModelState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PanelModelBase" nillable="true" type="tns:PanelModelBase" />
  <xs:simpleType name="ModelState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModelState" nillable="true" type="tns:ModelState" />
  <xs:complexType name="ArrayOfDomitoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DomitoryModel" nillable="true" type="tns:DomitoryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomitoryModel" nillable="true" type="tns:ArrayOfDomitoryModel" />
  <xs:complexType name="DomitoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pre_AMPHUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_AddressEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_AddressID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_AddressTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_HOME_NO_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_HOME_NO_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_MOO_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_MOO_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_PIN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_PREPAID_NON_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_PasswordEncrypt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_Port_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_Pre_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_SOI_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_SOI_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_STREET_NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_STREET_NAME_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_ServiceStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_SubcontractEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_SubcontractID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_SubcontractId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_SubcontractTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_TUMBON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_ZipcodeID_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_ZipcodeID_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_dormitory_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_dormitory_name_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_dormitory_name_th" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_dormitory_name_th_display" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_dormitory_no_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_dormitory_no_th" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_floor_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_netnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_room_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomitoryModel" nillable="true" type="tns:DomitoryModel" />
  <xs:complexType name="ArrayOfDropdownModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DropdownModel" nillable="true" type="tns:DropdownModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDropdownModel" nillable="true" type="tns:ArrayOfDropdownModel" />
  <xs:complexType name="DropdownModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DropdownModel" nillable="true" type="tns:DropdownModel" />
</xs:schema>