Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/QueryServices/QueryService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/One2NetContract.Queries.Commons.Master" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/One2NetContract.Queries.Commons.Master" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetLogQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogAppendedNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLogQuery" nillable="true" type="tns:GetLogQuery" />
</xs:schema>