Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/QueryServices/QueryService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/One2NetContract.Queries.InWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/One2NetContract.Queries.InWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53124/QueryService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetAmphurDormQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAmphurDormQuery" nillable="true" type="tns:GetAmphurDormQuery" />
  <xs:complexType name="GetBatchNoRouterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_SYSDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_USER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBatchNoRouterQuery" nillable="true" type="tns:GetBatchNoRouterQuery" />
  <xs:complexType name="GetBatchRequestForServiceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_SYSDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_USER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBatchRequestForServiceQuery" nillable="true" type="tns:GetBatchRequestForServiceQuery" />
  <xs:complexType name="GetChangePackageQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="IdCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsThaiLanguage" type="xs:boolean" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SBNService" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetChangePackageQuery" nillable="true" type="tns:GetChangePackageQuery" />
  <xs:complexType name="GetChangeWifiQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="bindAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetChangeWifiQuery" nillable="true" type="tns:GetChangeWifiQuery" />
  <xs:complexType name="GetCpeCommonInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="bindAccountField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCpeCommonInfoQuery" nillable="true" type="tns:GetCpeCommonInfoQuery" />
  <xs:complexType name="GetMultiParameterValuesByItemNameQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="bindAccountField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMultiParameterValuesByItemNameQuery" nillable="true" type="tns:GetMultiParameterValuesByItemNameQuery" />
  <xs:complexType name="GetDomitoryPreQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dormitoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="floorNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roomNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDomitoryPreQuery" nillable="true" type="tns:GetDomitoryPreQuery" />
  <xs:complexType name="GetLRegisterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="domitoryNOEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="domitoryNOTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="domitoryNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="domitoryNameTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="floorNO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLRegisterQuery" nillable="true" type="tns:GetLRegisterQuery" />
  <xs:complexType name="GetproviceDormQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetproviceDormQuery" nillable="true" type="tns:GetproviceDormQuery" />
  <xs:complexType name="GetRequestParamPageControlQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetRequestParamPageControlQuery" nillable="true" type="tns:GetRequestParamPageControlQuery" />
  <xs:complexType name="ResponseParamPageControlQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelRefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseParamPageControlQuery" nillable="true" type="tns:ResponseParamPageControlQuery" />
  <xs:complexType name="GetLoginQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUserActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chkCardType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLoginQuery" nillable="true" type="tns:GetLoginQuery" />
  <xs:complexType name="GetRegisterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="PrepaidInternet_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SBNService" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRegisterQuery" nillable="true" type="tns:GetRegisterQuery" />
  <xs:complexType name="GetStatusLoginsRegisterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="mobileno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pincode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStatusLoginsRegisterQuery" nillable="true" type="tns:GetStatusLoginsRegisterQuery" />
  <xs:complexType name="GetTerminateQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FutureSuspendDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FutureSuspendType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReconnectDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SrId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuspendDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuspendType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTerminateQuery" nillable="true" type="tns:GetTerminateQuery" />
  <xs:complexType name="GetTopupTrnQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="channelRefID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTopupTrnQuery" nillable="true" type="tns:GetTopupTrnQuery" />
  <xs:complexType name="GetTumbonDormQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTumbonDormQuery" nillable="true" type="tns:GetTumbonDormQuery" />
  <xs:complexType name="GetValidateLoginRegisterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="mobileno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pincode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateLoginRegisterQuery" nillable="true" type="tns:GetValidateLoginRegisterQuery" />
  <xs:complexType name="GetZipcodeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tumbon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetZipcodeQuery" nillable="true" type="tns:GetZipcodeQuery" />
  <xs:complexType name="SelectAmphurDormReqQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectAmphurDormReqQuery" nillable="true" type="tns:SelectAmphurDormReqQuery" />
  <xs:complexType name="SelectProvinceDormReqQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectProvinceDormReqQuery" nillable="true" type="tns:SelectProvinceDormReqQuery" />
  <xs:complexType name="SelectTumbonDormReqQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectTumbonDormReqQuery" nillable="true" type="tns:SelectTumbonDormReqQuery" />
  <xs:complexType name="SelectZipcodeDormReqQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tumbon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectZipcodeDormReqQuery" nillable="true" type="tns:SelectZipcodeDormReqQuery" />
  <xs:complexType name="SetChangeWifiQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="bindAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramname" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramvalue" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="transectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetChangeWifiQuery" nillable="true" type="tns:SetChangeWifiQuery" />
</xs:schema>