Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/QueryServices/QueryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53124/QueryService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" />
  <xs:import schemaLocation="http://localhost:53124/QueryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" />
  <xs:complexType name="ChangePackagePanelModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:long" />
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="DORMITARY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DORMITARY_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mobile_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextCycleStartDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" minOccurs="0" name="Package" nillable="true" type="q1:ArrayOfPackageByServiceModel" />
      <xs:element minOccurs="0" name="PackageNameThai" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" minOccurs="0" name="Package_USER" nillable="true" type="q2:ArrayOfPackageByServiceModel" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" minOccurs="0" name="Packlist_DISPLAY" nillable="true" type="q3:ArrayOfPackageByServiceModel" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangePackagePanelModel" nillable="true" type="tns:ChangePackagePanelModel" />
  <xs:complexType name="RegisterRouterPanelModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="returnMassage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterRouterPanelModel" nillable="true" type="tns:RegisterRouterPanelModel" />
  <xs:complexType name="LRegisterPanelModel">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" minOccurs="0" name="dormitoryName" nillable="true" type="q4:ArrayOfDropdownModel" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" minOccurs="0" name="floorNumber" nillable="true" type="q5:ArrayOfDropdownModel" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" minOccurs="0" name="roomNumber" nillable="true" type="q6:ArrayOfDropdownModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LRegisterPanelModel" nillable="true" type="tns:LRegisterPanelModel" />
  <xs:complexType name="RegisterPanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LoginRegisterModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CARD_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CARD_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChkStatusRegister" type="xs:boolean" />
          <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
          <xs:element minOccurs="0" name="DISTRICT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DORMITARY_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DORMITARY_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DORMITARY_ROOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HOME_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HOME_PHONE_EXT_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HOME_PHONE_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOBILE_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MappingCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" minOccurs="0" name="Packlist_ALL" nillable="true" type="q7:ArrayOfPackageByServiceModel" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" minOccurs="0" name="Packlist_DISPLAY" nillable="true" type="q8:ArrayOfPackageByServiceModel" />
          <xs:element minOccurs="0" name="ROAD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_DISTRICT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="old_registerstatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterPanelModel" nillable="true" type="tns:RegisterPanelModel" />
  <xs:complexType name="LoginRegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PIN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PREPAID_INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_Project" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginRegisterModel" nillable="true" type="tns:LoginRegisterModel" />
</xs:schema>