Presentation/Jobs/DelectInterfaceLogARC/Connected Services/QueryServices/QueryService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.Report" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.Report" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReportPortAssignmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportPortAssignmentModel" nillable="true" type="tns:ReportPortAssignmentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportPortAssignmentModel" nillable="true" type="tns:ArrayOfReportPortAssignmentModel" />
  <xs:complexType name="ReportPortAssignmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDINGCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPLETE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACT_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONTACT_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
      <xs:element minOccurs="0" name="FAX_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPRAN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LATITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATIONCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LONGITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NODENAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NODENAME_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NODESTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NODETYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ONTARGET_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REGION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROAD_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROAD_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOI_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOI_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="V_NodeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportPortAssignmentModel" nillable="true" type="tns:ReportPortAssignmentModel" />
</xs:schema>