Presentation/Jobs/FBBPAYGLoadSIM/Connected Services/QueryServices/QueryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QueryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd45" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/iWorkflowsContract.Queries.WebServices" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WBBContract" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBContract.WebService" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices.WTTX" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices.FBSS" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBSS" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.DSLAMMasterPage" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.FTTx" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.ReportPortAssignment" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.CoverageManagePage" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.AirWirelessCoverage" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.Report" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.SAPOnline" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBShareplex" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd27" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices.FbbCpGw" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Account" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Master" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Masters" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd31" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.PatchEquipment" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd32" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Minions" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd33" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd34" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd35" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServices" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd36" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.Models" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd37" namespace="http://schemas.datacontract.org/2004/07/AIRNETEntity.StoredProc" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd38" namespace="http://schemas.datacontract.org/2004/07/AIRNETEntity.PanelModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd39" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.FBSSModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.Report" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd41" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ShareplexModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd42" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.FBBShareplexModels" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd43" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.Account" />
      <xsd:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd44" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.Minions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QueryService_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="QueryService_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_Version_InputMessage">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="QueryService_Version_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:portType name="QueryService">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/QueryService/Execute" message="tns:QueryService_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/QueryService/ExecuteResponse" message="tns:QueryService_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Version">
      <wsdl:input wsaw:Action="http://tempuri.org/QueryService/Version" message="tns:QueryService_Version_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/QueryService/VersionResponse" message="tns:QueryService_Version_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_QueryService" type="tns:QueryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/QueryService/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/QueryService/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryService">
    <wsdl:port name="BasicHttpBinding_QueryService" binding="tns:BasicHttpBinding_QueryService">
      <soap:address location="http://localhost:59221/QueryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>