Framework/WBBBusinessLayer/Web References/BindingQSServices/A_ConfPMPay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="urn:tuxsalt.wsdl" xmlns:WL5G3N1="urn:pack.tuxsalt_typedef.salt11" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:tuxsalt.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:documentation>Generated from ESB</WL5G3N0:documentation>
  <WL5G3N0:types>
    <xsd:schema xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:tuxsalt.wsdl" xmlns:wsrp="http://schemas.xmlsoap.org/rp/" xmlns:tuxtype="urn:pack.tuxsalt_typedef.salt11" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:pack.tuxsalt_typedef.salt11" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="D_InsPMGwRec">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_D_InsPMGwRec_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_D_InsPMGwRec_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_SERVICE_OPTION" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="30" name="PM_MOBILE_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="15" name="PM_PAYMENT_DAT" type="xsd:date" />
          <xsd:element minOccurs="1" maxOccurs="1000" name="PM_PAID_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1000" name="PM_INVOICE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="15" name="PM_RECEIPT_ID" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="15" name="PM_RECEIPT_DAT" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="18" name="PM_RECEIPT_TOTAL_MNY" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="20" name="PM_AIS_REF" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAY_FOR_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="2" name="PM_SUBPAY_FOR_CODE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="3" name="PM_PAYMENT_CHANNEL_ID" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="9" name="PM_PAYMENT_METHOD_ID" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="3" name="PM_BANK_CODE" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="5" name="PM_BRANCH_CODE" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_TRANS_FLAG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="D_InsPMGwRecResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_D_InsPMGwRec_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_D_InsPMGwRec_Out">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_ERROR_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_ERROR_MESSAGE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_LstPMMobDtl">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_A_LstPMMobDtl_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_LstPMMobDtl_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="2" name="PM_MOBLIE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_3G_FLAG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_SUB_CHANNEL" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_LstPMMobDtlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_A_LstPMMobDtl_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_LstPMMobDtl_Out">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_SUM_INVOICE" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_EXCESS_PAYMENT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ACCOUNT_TOTAL_BALANCE_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILL_SOURCE_CD" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_STATUS_CD" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_X_STATUS_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_LAST_DUE_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_INC_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_NON_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_TOTAL_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_TOTAL_BALANCE_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_MONTHLY_FEE_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_MONTHLY_FEE_WT_RATE" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_SERVICE_CHARGE_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_SERVICE_CHARGE_WT_RATE" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILL_END_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILL_START_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICING_CO_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_PAYMENT_DUE_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OTC_DISCOUNT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OTC_DISCOUNT_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OTC_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OTC_INC_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ORDER_DT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ORDER_NUMBER" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ORDER_SALES_ORDER_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ROW_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OVER_USAGE" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_NO_DC_MOB" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_PAY_AMOUNT" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_MIN_ADV_PAYMT" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_FML_STR1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_MOBILE_FLAG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_TAX_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_USER_ERR_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_SRV_ERROR" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_ConfPMPay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_A_ConfPMPay_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_ConfPMPay_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_MOBLIE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10" name="PM_STATUS_CD" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAID_AMT" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TAX_AMT" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_RECEIPT_LOCATION" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAYMENT_CHANNEL_ID" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_SHIFT_NUM" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_TERMINAL_ID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_USER_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_NEXT_BILL_FLAG" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAYMENT_METHOD_ID" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_BANK_CODE" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_BRANCH_CODE" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_POST_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_CREDIT_CARD_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_DOC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_DOC_DAT" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PRINT_FLAG" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_OVER_USAGE_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_FLAG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_AIS_REF" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TRAN_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_SUB_CHANNEL" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_ConfPMPayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_A_ConfPMPay_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_ConfPMPay_Out">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_RECEIPT_ID" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_RECEIPT_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_RECEIPT_TOT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_TAX_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_USER_ERR_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_SRV_ERROR" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_ConfPMOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_A_ConfPMOrder_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_ConfPMOrder_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_SERVICE_OPTION" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_RECEIPT_LOCATION" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAYMENT_CHANNEL_ID" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_SHIFT_NUM" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_TERMINAL_ID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_ADJUST_MNY" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="500" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="500" name="PM_MOBILE_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="500" name="PM_RECEIPT_CO_ID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="500" name="PM_OTC_ROWID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="500" name="PM_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="500" name="PM_PAID_TOT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_RECEIPT_MODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_NEXT_BILL_FLAG" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PRINT_FLAG" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_USER_ID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="500" name="PM_PAYMENT_METHOD_ID" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="500" name="PM_BANK_CODE" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="500" name="PM_BRANCH_CODE" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="500" name="PM_CREDIT_CARD_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="500" name="PM_DOC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="500" name="PM_DOC_DAT" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_TAX_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="500" name="PM_PAID_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_CHANNEL_DESC_ENG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TRAN_ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_ConfPMOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_A_ConfPMOrder_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_ConfPMOrder_Out">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_RECEIPT_ID" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_RECEIPT_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_TAX_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_RECEIPT_TOT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_MSG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_LstPMOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_A_LstPMOrder_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_LstPMOrder_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_SERVICE_OPTION" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_BILL_ACCNT_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="500" name="PM_ORDER_NUMBER" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_MODULE_CODE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_LstPMOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_A_LstPMOrder_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_LstPMOrder_Out">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_ROW_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_ORDER_NUMBER" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_ORDER_DT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_ORDER_SALES_ORDER_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_ITEM_SERVICE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_ITEM_BASE_PRICE" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_ITEM_DISCOUNT_AMT" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_ITEM_SIEBEL_PROD_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_BILL_SOURCE_CD" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_INVOICING_CO_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_MSG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_LstPMETaxProf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_A_LstPMETaxProf_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_LstPMETaxProf_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_SERVICE_OPTION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAYMENT_CHANNEL_ID" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_LstPMETaxProfResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_A_LstPMETaxProf_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_LstPMETaxProf_Out">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_PAYMENT_CHANNEL_ID" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ETAX_FLAG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_MSG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:tuxsalt.wsdl" xmlns:wsrp="http://schemas.xmlsoap.org/rp/" xmlns:tuxtype="urn:pack.tuxsalt_typedef.salt11" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:tuxsalt.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="NewElement" type="xsd:string" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="D_InsPMGwRecInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:D_InsPMGwRec" />
  </WL5G3N0:message>
  <WL5G3N0:message name="D_InsPMGwRecOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:D_InsPMGwRecResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_LstPMMobDtlInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_LstPMMobDtl" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_LstPMMobDtlOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_LstPMMobDtlResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_ConfPMPayInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_ConfPMPay" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_ConfPMPayOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_ConfPMPayResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_LstPMOrderInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_LstPMOrder" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_LstPMOrderOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_LstPMOrderResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_LstPMETaxProfInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_LstPMETaxProf" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_LstPMETaxProfOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_LstPMETaxProfResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_ConfPMOrderInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_ConfPMOrder" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_ConfPMOrderOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_ConfPMOrderResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="tuxsalt_PortType">
    <WL5G3N0:operation name="D_InsPMGwRec">
      <WL5G3N0:input message="WL5G3N2:D_InsPMGwRecInput" />
      <WL5G3N0:output message="WL5G3N2:D_InsPMGwRecOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_LstPMMobDtl">
      <WL5G3N0:input message="WL5G3N2:A_LstPMMobDtlInput" />
      <WL5G3N0:output message="WL5G3N2:A_LstPMMobDtlOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_ConfPMPay">
      <WL5G3N0:input message="WL5G3N2:A_ConfPMPayInput" />
      <WL5G3N0:output message="WL5G3N2:A_ConfPMPayOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_ConfPMOrder">
      <WL5G3N0:input message="WL5G3N2:A_ConfPMOrderInput" />
      <WL5G3N0:output message="WL5G3N2:A_ConfPMOrderOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_LstPMOrder">
      <WL5G3N0:input message="WL5G3N2:A_LstPMOrderInput" />
      <WL5G3N0:output message="WL5G3N2:A_LstPMOrderOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_LstPMETaxProf">
      <WL5G3N0:input message="WL5G3N2:A_LstPMETaxProfInput" />
      <WL5G3N0:output message="WL5G3N2:A_LstPMETaxProfOutput" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="tuxsalt_Binding" type="WL5G3N2:tuxsalt_PortType">
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="D_InsPMGwRec">
      <WL5G3N3:operation soapAction="D_InsPMGwRec" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_LstPMMobDtl">
      <WL5G3N3:operation soapAction="A_LstPMMobDtl" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_ConfPMPay">
      <WL5G3N3:operation soapAction="A_ConfPMPay" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_ConfPMOrder">
      <WL5G3N3:operation soapAction="A_ConfPMOrder" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_LstPMOrder">
      <WL5G3N3:operation soapAction="A_LstPMOrder" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_LstPMETaxProf">
      <WL5G3N3:operation soapAction="A_LstPMETaxProf" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="tuxsalt_BindingQSService">
    <WL5G3N0:port name="tuxsalt_BindingQSPort" binding="WL5G3N2:tuxsalt_Binding">
      <WL5G3N3:address location="http://10.252.54.75:8101/e-topup_Project/Proxy_Services/A_ConfPMPay" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>