Framework/WBBBusinessLayer/Web References/D_LstPMETaxRcptServices/D_LstPMETaxRcpt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="urn:eBill_webservices.wsdl" xmlns:WL5G3N1="urn:pack.eBill_webservices_typedef.salt11" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:eBill_webservices.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:documentation>
		Generated from GWWS_conf_eb.xml at 06-04-2009 14:15:16:220
	</WL5G3N0:documentation>
  <WL5G3N0:types>
    <xsd:schema xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:eBill_webservices.wsdl" xmlns:wsrp="http://schemas.xmlsoap.org/rp/" xmlns:tuxtype="urn:pack.eBill_webservices_typedef.salt11" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:pack.eBill_webservices_typedef.salt11" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="D_LstPWRpteSrv">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_D_LstPWRpteSrv_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_D_LstPWRpteSrv_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="2" name="PW_SERVICE_OPTION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20" name="PW_BILLING_ACC_NUM" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="D_LstPWRpteSrvResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_D_LstPWRpteSrv_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_D_LstPWRpteSrv_Out">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_RECEIPT_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_RECEIPT_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_RECEIPT_TOT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_METHOD_DESC_THA" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_CHANNEL_DESC_THA" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_RECEIPT_CO_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PW_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PW_TUX_MSG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_LstPMMobDtl">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_A_LstPMMobDtl_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_LstPMMobDtl_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="2" name="PM_MOBLIE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_3G_FLAG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_LstPMMobDtlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_A_LstPMMobDtl_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_LstPMMobDtl_Out">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_STATUS_CD" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICING_CO_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_PAYMENT_DUE_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_TOTAL_BALANCE_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_TOTAL_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ROW_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ORDER_NUMBER" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ORDER_DT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_ORDER_SALES_ORDER_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OTC_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OTC_INC_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OTC_DISCOUNT_VAT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OTC_DISCOUNT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_PAY_AMOUNT" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_OVER_USAGE" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_NO_DC_MOB" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_MIN_ADV_PAYMT" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILL_START_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILL_END_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_BILL_SOURCE_CD" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_USER_ERR_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_SRV_ERROR" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_ConfPMPay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_A_ConfPMPay_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_ConfPMPay_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_MOBLIE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10" name="PM_STATUS_CD" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAID_AMT" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TAX_AMT" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_RECEIPT_LOCATION" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAYMENT_CHANNEL_ID" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_SHIFT_NUM" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_TERMINAL_ID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_USER_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_NEXT_BILL_FLAG" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PAYMENT_METHOD_ID" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_BANK_CODE" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_BRANCH_CODE" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_POST_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_CREDIT_CARD_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_DOC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_DOC_DAT" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_PRINT_FLAG" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_INVOICE_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_OVER_USAGE_MNY" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_ConfPMPayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_A_ConfPMPay_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_ConfPMPay_Out">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_RECEIPT_ID" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_RECEIPT_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_BILLING_ACC_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_RECEIPT_TOT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="100" name="PM_TAX_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_USER_ERR_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_SRV_ERROR" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="D_LstPWDocSrv">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_D_LstPWDocSrv_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_D_LstPWDocSrv_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="2" name="PW_SERVICE_OPTION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20" name="PW_BILLING_ACC_NUM" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="D_LstPWDocSrvResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_D_LstPWDocSrv_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_D_LstPWDocSrv_Out">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_BILL_START_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_BILL_END_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_DOC_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_DOC_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_DOC_TOT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_METHOD_DESC_THA" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_CHANNEL_DESC_THA" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_DOC_CO_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_DOC_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="10000" name="PW_ETAX_FLAG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PW_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PW_TUX_MSG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="D_LstPMETaxRcpt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_D_LstPMETaxRcpt_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_D_LstPMETaxRcpt_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PM_SERVICE_OPTION" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_RECEIPT_ID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="D_LstPMETaxRcptResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_D_LstPMETaxRcpt_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_D_LstPMETaxRcpt_Out">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_RECEIPT_ID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="100" name="PM_ETAX_FLAG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_TUX_MSG" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PM_RECEIPT_NUM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_RECEIPT_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_RECEIPT_TOT_MNY" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_BILL_START_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20000" name="PM_BILL_END_DAT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="25" name="PM_DOC_TYPE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="D_LstPWRpteSrvInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:D_LstPWRpteSrv" />
  </WL5G3N0:message>
  <WL5G3N0:message name="D_LstPWRpteSrvOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:D_LstPWRpteSrvResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_LstPMMobDtlInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_LstPMMobDtl" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_LstPMMobDtlOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_LstPMMobDtlResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_ConfPMPayInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_ConfPMPay" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_ConfPMPayOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_ConfPMPayResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="D_LstPWDocSrvInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:D_LstPWDocSrv" />
  </WL5G3N0:message>
  <WL5G3N0:message name="D_LstPWDocSrvOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:D_LstPWDocSrvResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="D_LstPMETaxRcptInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:D_LstPMETaxRcpt" />
  </WL5G3N0:message>
  <WL5G3N0:message name="D_LstPMETaxRcptOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:D_LstPMETaxRcptResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="eBill_webservices_PortType">
    <WL5G3N0:operation name="D_LstPWRpteSrv">
      <WL5G3N0:input message="WL5G3N2:D_LstPWRpteSrvInput" />
      <WL5G3N0:output message="WL5G3N2:D_LstPWRpteSrvOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_LstPMMobDtl">
      <WL5G3N0:input message="WL5G3N2:A_LstPMMobDtlInput" />
      <WL5G3N0:output message="WL5G3N2:A_LstPMMobDtlOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_ConfPMPay">
      <WL5G3N0:input message="WL5G3N2:A_ConfPMPayInput" />
      <WL5G3N0:output message="WL5G3N2:A_ConfPMPayOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="D_LstPWDocSrv">
      <WL5G3N0:input message="WL5G3N2:D_LstPWDocSrvInput" />
      <WL5G3N0:output message="WL5G3N2:D_LstPWDocSrvOutput" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="D_LstPMETaxRcpt">
      <WL5G3N0:input message="WL5G3N2:D_LstPMETaxRcptInput" />
      <WL5G3N0:output message="WL5G3N2:D_LstPMETaxRcptOutput" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="eBill_webservices_Binding" type="WL5G3N2:eBill_webservices_PortType">
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="D_LstPWRpteSrv">
      <WL5G3N3:operation soapAction="D_LstPWRpteSrv" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_LstPMMobDtl">
      <WL5G3N3:operation soapAction="A_LstPMMobDtl" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="A_ConfPMPay">
      <WL5G3N3:operation soapAction="A_ConfPMPay" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="D_LstPWDocSrv">
      <WL5G3N3:operation soapAction="D_LstPWDocSrv" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="D_LstPMETaxRcpt">
      <WL5G3N3:operation soapAction="D_LstPMETaxRcpt" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="eBill_webservices_BindingQSService1">
    <WL5G3N0:port name="eBill_webservices_BindingQSPort1" binding="WL5G3N2:eBill_webservices_Binding">
      <WL5G3N3:address location="http://10.252.54.75:8101/eBILL_Projects/Proxy_Services/D_LstPMETaxRcpt" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>