Presentation/Jobs/FBSSInvSendTerminate/Service References/QueryServices/QueryService29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Masters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Masters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetEmailProcessingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEmailProcessingQuery" nillable="true" type="tns:GetEmailProcessingQuery" />
  <xs:complexType name="GetLoadConfigLovQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="EVENT_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLoadConfigLovQuery" nillable="true" type="tns:GetLoadConfigLovQuery" />
  <xs:complexType name="GetLovV2Query">
    <xs:sequence>
      <xs:element minOccurs="0" name="LovName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovVal5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLovV2Query" nillable="true" type="tns:GetLovV2Query" />
  <xs:complexType name="GetLovWithParamsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="LovName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovValue5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLovWithParamsQuery" nillable="true" type="tns:GetLovWithParamsQuery" />
  <xs:complexType name="GetCFGqueryReportQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sheet_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCFGqueryReportQuery" nillable="true" type="tns:GetCFGqueryReportQuery" />
  <xs:complexType name="GetRptLogQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRptLogQuery" nillable="true" type="tns:GetRptLogQuery" />
  <xs:complexType name="GetSendMailQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSendMailQuery" nillable="true" type="tns:GetSendMailQuery" />
  <xs:complexType name="GetLovQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="IgonreFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="LovName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLovQuery" nillable="true" type="tns:GetLovQuery" />
</xs:schema>