Presentation/Jobs/RPAEquipmentReplenishmentToSub/Service References/QueryService/QueryService399.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIRNETEntity.PanelModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIRNETEntity.PanelModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchAirnetInterfaceLogData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirInterfaceLogData" nillable="true" type="tns:ArrayOfSearchAirnetInterfaceLog" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchAirnetInterfaceLogData" nillable="true" type="tns:SearchAirnetInterfaceLogData" />
  <xs:complexType name="ArrayOfSearchAirnetInterfaceLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchAirnetInterfaceLog" nillable="true" type="tns:SearchAirnetInterfaceLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchAirnetInterfaceLog" nillable="true" type="tns:ArrayOfSearchAirnetInterfaceLog" />
  <xs:complexType name="SearchAirnetInterfaceLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALL_RECORDS" type="xs:decimal" />
      <xs:element minOccurs="0" name="INTERFACE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERFACE_DATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERFACE_DTM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERFACE_EVENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERFACE_REQUEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_INDEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchAirnetInterfaceLog" nillable="true" type="tns:SearchAirnetInterfaceLog" />
</xs:schema>