Framework/WBBBusinessLayer/Web References/AuthenLDAPServices/CorporateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WS_GEN_AuthenLDAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectlevel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_AuthenLDAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_GEN_AuthenLDAPResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_UpdateAuthenLDAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassWd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassWd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectlevel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_UpdateAuthenLDAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_GEN_UpdateAuthenLDAPResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectlevel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_GEN_GetUserInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_SearchAuthenLDAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectlevel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_SearchAuthenLDAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_GEN_SearchAuthenLDAPResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_DeleteAuthenLDAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectlevel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_DeleteAuthenLDAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_GEN_DeleteAuthenLDAPResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_ADDAuthenLDAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectlevel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EECODE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GEN_ADDAuthenLDAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_GEN_ADDAuthenLDAPResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WS_GEN_AuthenLDAPSoapIn">
    <wsdl:part name="parameters" element="tns:WS_GEN_AuthenLDAP" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_AuthenLDAPSoapOut">
    <wsdl:part name="parameters" element="tns:WS_GEN_AuthenLDAPResponse" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_UpdateAuthenLDAPSoapIn">
    <wsdl:part name="parameters" element="tns:WS_GEN_UpdateAuthenLDAP" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_UpdateAuthenLDAPSoapOut">
    <wsdl:part name="parameters" element="tns:WS_GEN_UpdateAuthenLDAPResponse" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:WS_GEN_GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:WS_GEN_GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_SearchAuthenLDAPSoapIn">
    <wsdl:part name="parameters" element="tns:WS_GEN_SearchAuthenLDAP" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_SearchAuthenLDAPSoapOut">
    <wsdl:part name="parameters" element="tns:WS_GEN_SearchAuthenLDAPResponse" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_DeleteAuthenLDAPSoapIn">
    <wsdl:part name="parameters" element="tns:WS_GEN_DeleteAuthenLDAP" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_DeleteAuthenLDAPSoapOut">
    <wsdl:part name="parameters" element="tns:WS_GEN_DeleteAuthenLDAPResponse" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_ADDAuthenLDAPSoapIn">
    <wsdl:part name="parameters" element="tns:WS_GEN_ADDAuthenLDAP" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_ADDAuthenLDAPSoapOut">
    <wsdl:part name="parameters" element="tns:WS_GEN_ADDAuthenLDAPResponse" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_AuthenLDAPHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="passWd" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_AuthenLDAPHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_UpdateAuthenLDAPHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="OldPassWd" type="s:string" />
    <wsdl:part name="NewPassWd" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_UpdateAuthenLDAPHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_GetUserInfoHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_GetUserInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_SearchAuthenLDAPHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="passWd" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_SearchAuthenLDAPHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_DeleteAuthenLDAPHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_DeleteAuthenLDAPHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_ADDAuthenLDAPHttpGetIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="passWd" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
    <wsdl:part name="EECODE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_ADDAuthenLDAPHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_AuthenLDAPHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="passWd" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_AuthenLDAPHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_UpdateAuthenLDAPHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="OldPassWd" type="s:string" />
    <wsdl:part name="NewPassWd" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_UpdateAuthenLDAPHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_GetUserInfoHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_GetUserInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_SearchAuthenLDAPHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="passWd" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_SearchAuthenLDAPHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_DeleteAuthenLDAPHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_DeleteAuthenLDAPHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_ADDAuthenLDAPHttpPostIn">
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="passWd" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="projectlevel" type="s:string" />
    <wsdl:part name="EECODE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS_GEN_ADDAuthenLDAPHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="CorporateSoap">
    <wsdl:operation name="WS_GEN_AuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_AuthenLDAPSoapIn" />
      <wsdl:output message="tns:WS_GEN_AuthenLDAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_UpdateAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Change Password LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_UpdateAuthenLDAPSoapIn" />
      <wsdl:output message="tns:WS_GEN_UpdateAuthenLDAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Get User Info</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_GetUserInfoSoapIn" />
      <wsdl:output message="tns:WS_GEN_GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_SearchAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Search LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_SearchAuthenLDAPSoapIn" />
      <wsdl:output message="tns:WS_GEN_SearchAuthenLDAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_DeleteAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Delete LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_DeleteAuthenLDAPSoapIn" />
      <wsdl:output message="tns:WS_GEN_DeleteAuthenLDAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_ADDAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_ADDAuthenLDAPSoapIn" />
      <wsdl:output message="tns:WS_GEN_ADDAuthenLDAPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CorporateSoap2">
    <wsdl:operation name="WS_GEN_AuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_AuthenLDAPHttpGetIn" />
      <wsdl:output message="tns:WS_GEN_AuthenLDAPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_UpdateAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Change Password LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_UpdateAuthenLDAPHttpGetIn" />
      <wsdl:output message="tns:WS_GEN_UpdateAuthenLDAPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Get User Info</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_GetUserInfoHttpGetIn" />
      <wsdl:output message="tns:WS_GEN_GetUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_SearchAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Search LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_SearchAuthenLDAPHttpGetIn" />
      <wsdl:output message="tns:WS_GEN_SearchAuthenLDAPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_DeleteAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Delete LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_DeleteAuthenLDAPHttpGetIn" />
      <wsdl:output message="tns:WS_GEN_DeleteAuthenLDAPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_ADDAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_ADDAuthenLDAPHttpGetIn" />
      <wsdl:output message="tns:WS_GEN_ADDAuthenLDAPHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CorporateSoap3">
    <wsdl:operation name="WS_GEN_AuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_AuthenLDAPHttpPostIn" />
      <wsdl:output message="tns:WS_GEN_AuthenLDAPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_UpdateAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Change Password LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_UpdateAuthenLDAPHttpPostIn" />
      <wsdl:output message="tns:WS_GEN_UpdateAuthenLDAPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Get User Info</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_GetUserInfoHttpPostIn" />
      <wsdl:output message="tns:WS_GEN_GetUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_SearchAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Search LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_SearchAuthenLDAPHttpPostIn" />
      <wsdl:output message="tns:WS_GEN_SearchAuthenLDAPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_DeleteAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate Delete LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_DeleteAuthenLDAPHttpPostIn" />
      <wsdl:output message="tns:WS_GEN_DeleteAuthenLDAPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_ADDAuthenLDAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authen Corporate LDAP Service</wsdl:documentation>
      <wsdl:input message="tns:WS_GEN_ADDAuthenLDAPHttpPostIn" />
      <wsdl:output message="tns:WS_GEN_ADDAuthenLDAPHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CorporateSoap" type="tns:CorporateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_GEN_AuthenLDAP">
      <soap:operation soapAction="http://tempuri.org/WS_GEN_AuthenLDAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_UpdateAuthenLDAP">
      <soap:operation soapAction="http://tempuri.org/WS_GEN_UpdateAuthenLDAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/WS_GEN_GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_SearchAuthenLDAP">
      <soap:operation soapAction="http://tempuri.org/WS_GEN_SearchAuthenLDAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_DeleteAuthenLDAP">
      <soap:operation soapAction="http://tempuri.org/WS_GEN_DeleteAuthenLDAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_ADDAuthenLDAP">
      <soap:operation soapAction="http://tempuri.org/WS_GEN_ADDAuthenLDAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorporateSoap1" type="tns:CorporateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_GEN_AuthenLDAP">
      <soap12:operation soapAction="http://tempuri.org/WS_GEN_AuthenLDAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_UpdateAuthenLDAP">
      <soap12:operation soapAction="http://tempuri.org/WS_GEN_UpdateAuthenLDAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/WS_GEN_GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_SearchAuthenLDAP">
      <soap12:operation soapAction="http://tempuri.org/WS_GEN_SearchAuthenLDAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_DeleteAuthenLDAP">
      <soap12:operation soapAction="http://tempuri.org/WS_GEN_DeleteAuthenLDAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_ADDAuthenLDAP">
      <soap12:operation soapAction="http://tempuri.org/WS_GEN_ADDAuthenLDAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorporateSoap2" type="tns:CorporateSoap2">
    <http:binding verb="GET" />
    <wsdl:operation name="WS_GEN_AuthenLDAP">
      <http:operation location="/WS_GEN_AuthenLDAP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_UpdateAuthenLDAP">
      <http:operation location="/WS_GEN_UpdateAuthenLDAP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_GetUserInfo">
      <http:operation location="/WS_GEN_GetUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_SearchAuthenLDAP">
      <http:operation location="/WS_GEN_SearchAuthenLDAP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_DeleteAuthenLDAP">
      <http:operation location="/WS_GEN_DeleteAuthenLDAP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_ADDAuthenLDAP">
      <http:operation location="/WS_GEN_ADDAuthenLDAP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorporateSoap3" type="tns:CorporateSoap3">
    <http:binding verb="POST" />
    <wsdl:operation name="WS_GEN_AuthenLDAP">
      <http:operation location="/WS_GEN_AuthenLDAP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_UpdateAuthenLDAP">
      <http:operation location="/WS_GEN_UpdateAuthenLDAP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_GetUserInfo">
      <http:operation location="/WS_GEN_GetUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_SearchAuthenLDAP">
      <http:operation location="/WS_GEN_SearchAuthenLDAP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_DeleteAuthenLDAP">
      <http:operation location="/WS_GEN_DeleteAuthenLDAP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GEN_ADDAuthenLDAP">
      <http:operation location="/WS_GEN_ADDAuthenLDAP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CorporateService">
    <wsdl:port name="CorporateSoap" binding="tns:CorporateSoap">
      <soap:address location="https://dev-ldapws.intra.ais/AuthenLdap/CorporateService.asmx" />
    </wsdl:port>
    <wsdl:port name="CorporateSoap1" binding="tns:CorporateSoap1">
      <soap12:address location="https://dev-ldapws.intra.ais/AuthenLdap/CorporateService.asmx" />
    </wsdl:port>
    <wsdl:port name="CorporateSoap2" binding="tns:CorporateSoap2">
      <http:address location="https://dev-ldapws.intra.ais/AuthenLdap/CorporateService.asmx" />
    </wsdl:port>
    <wsdl:port name="CorporateSoap3" binding="tns:CorporateSoap3">
      <http:address location="https://dev-ldapws.intra.ais/AuthenLdap/CorporateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>