Presentation/Jobs/FBBInventoryResendPendingSAPS4/Connected Services/CommandServices/CommandService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="checkFraudInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTO_CREATE_PROSPECT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEN_FRAUD_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_GO_NOGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FRAUD_REASONS" nillable="true" type="tns:ArrayOfFRAUDREASONS" />
      <xs:element minOccurs="0" name="FRAUD_SCORE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTIFY_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTIFY_POPUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERIFY_REASON" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkFraudInfo" nillable="true" type="tns:checkFraudInfo" />
  <xs:complexType name="ArrayOfFRAUDREASONS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FRAUDREASONS" nillable="true" type="tns:FRAUDREASONS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFRAUDREASONS" nillable="true" type="tns:ArrayOfFRAUDREASONS" />
  <xs:complexType name="FRAUDREASONS">
    <xs:sequence>
      <xs:element minOccurs="0" name="REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCORE" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FRAUDREASONS" nillable="true" type="tns:FRAUDREASONS" />
  <xs:complexType name="FBSSTimeSlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppointmentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AppointmentDate_Initial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentDate_Initial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayOffFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstInstallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstTimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallationCapacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderByTimeSlot" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlotId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlotRegisterHR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSTimeSlot" nillable="true" type="tns:FBSSTimeSlot" />
  <xs:complexType name="ArrayOfPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageModel" nillable="true" type="tns:PackageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageModel" nillable="true" type="tns:ArrayOfPackageModel" />
  <xs:complexType name="PackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_INITIATION_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISPLAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXISTING_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDD_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LABEL_PACKAGE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LABEL_SUMM_ROW1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_FORWARD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_AUTO" nillable="true" type="tns:ArrayOfPackageAutoModel" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS_MAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_COUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_DISPLAY_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_DISPLAY_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_FOR_SALE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAYBOX_EXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_PRICE_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRICE_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERENADE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PRODUCT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PRODUCT_PACKAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_GROUP" nillable="true" type="tns:ArrayOfSGroup" />
      <xs:element minOccurs="0" name="SelectPlayBox_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectPlayPBL_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectVas_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialOffer" nillable="true" type="tns:ArrayOfSpecialOfferModel" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMP_IA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOIP_IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageModel" nillable="true" type="tns:PackageModel" />
  <xs:complexType name="ArrayOfPackageAutoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageAutoModel" nillable="true" type="tns:PackageAutoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageAutoModel" nillable="true" type="tns:ArrayOfPackageAutoModel" />
  <xs:complexType name="PackageAutoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISPLAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageAutoModel" nillable="true" type="tns:PackageAutoModel" />
  <xs:complexType name="ArrayOfSGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGroup" nillable="true" type="tns:SGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGroup" nillable="true" type="tns:ArrayOfSGroup" />
  <xs:complexType name="SGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGroup" nillable="true" type="tns:SGroup" />
  <xs:complexType name="ArrayOfSpecialOfferModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialOfferModel" nillable="true" type="tns:SpecialOfferModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialOfferModel" nillable="true" type="tns:ArrayOfSpecialOfferModel" />
  <xs:complexType name="SpecialOfferModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialOfferModel" nillable="true" type="tns:SpecialOfferModel" />
  <xs:complexType name="PDFPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PDF_L_BUNDLING_DISCOUNT_DETAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_DISCOUNT_DETAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_LABEL_DETAIL_ALLFIRSTBILL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_MAIN_PACKAGE" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PDF_L_ONTOPLIST" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="PDF_L_ONTOP_FIXLIND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_ONTOP_ROUTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_4DAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_BASEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_DISCOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_DISCOUNTBASEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_DISCOUNTPLAYBOX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_FULLHD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_FULLHD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_MAINTAINPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_PAKAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_PLAYBOXINSTALL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_SPEEDBOOST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_SUM1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_SUM2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_TIDTUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_FULLHD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_FULLHD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_PAKAGENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_SPEEDBOOST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_TIDTUN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PDFPackageModel" nillable="true" type="tns:PDFPackageModel" />
  <xs:complexType name="ArrayOfInsertMasterTDMModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsertMasterTDMModel" nillable="true" type="tns:InsertMasterTDMModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsertMasterTDMModel" nillable="true" type="tns:ArrayOfInsertMasterTDMModel" />
  <xs:complexType name="InsertMasterTDMModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_CONTRACT_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CONTRACT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CONTRACT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CONTRACT_RULE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_DURATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PENALTY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PENALTY_TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertMasterTDMModel" nillable="true" type="tns:InsertMasterTDMModel" />
  <xs:complexType name="GetOrderChangeServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrdChangeServiceList" nillable="true" type="tns:ArrayOfOrdChangeService" />
      <xs:element minOccurs="0" name="OrdFeeList" nillable="true" type="tns:ArrayOfOrdFee" />
      <xs:element minOccurs="0" name="OrdServiceAttributeList" nillable="true" type="tns:ArrayOfOrdServiceAttribute" />
      <xs:element minOccurs="0" name="RespCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderChangeServiceModel" nillable="true" type="tns:GetOrderChangeServiceModel" />
  <xs:complexType name="ArrayOfOrdChangeService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdChangeService" nillable="true" type="tns:OrdChangeService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdChangeService" nillable="true" type="tns:ArrayOfOrdChangeService" />
  <xs:complexType name="OrdChangeService">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ascCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="locationCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdChangeService" nillable="true" type="tns:OrdChangeService" />
  <xs:complexType name="ArrayOfOrdFee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdFee" nillable="true" type="tns:OrdFee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdFee" nillable="true" type="tns:ArrayOfOrdFee" />
  <xs:complexType name="OrdFee">
    <xs:sequence>
      <xs:element minOccurs="0" name="parameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parameterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parameterValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdFee" nillable="true" type="tns:OrdFee" />
  <xs:complexType name="ArrayOfOrdServiceAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdServiceAttribute" nillable="true" type="tns:OrdServiceAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdServiceAttribute" nillable="true" type="tns:ArrayOfOrdServiceAttribute" />
  <xs:complexType name="OrdServiceAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceAttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceAttributeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdServiceAttribute" nillable="true" type="tns:OrdServiceAttribute" />
  <xs:complexType name="ArrayOfAirRegistCPESerial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirRegistCPESerial" nillable="true" type="tns:AirRegistCPESerial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirRegistCPESerial" nillable="true" type="tns:ArrayOfAirRegistCPESerial" />
  <xs:complexType name="AirRegistCPESerial">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODEL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGISTER_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHIP_TO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN_PATTERN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STORAGE_LOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WARRANTY_END_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WARRANTY_START_DATE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirRegistCPESerial" nillable="true" type="tns:AirRegistCPESerial" />
  <xs:complexType name="ArrayOfAirRegistCustInsi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirRegistCustInsi" nillable="true" type="tns:AirRegistCustInsi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirRegistCustInsi" nillable="true" type="tns:ArrayOfAirRegistCustInsi" />
  <xs:complexType name="AirRegistCustInsi">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTION_FOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTION_WFM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_VALUE_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_VALUE_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_NAME_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARENT_ANSWER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUESTION_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUESTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUESTION_TH" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirRegistCustInsi" nillable="true" type="tns:AirRegistCustInsi" />
  <xs:complexType name="ArrayOfAirRegistDcontract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirRegistDcontract" nillable="true" type="tns:AirRegistDcontract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirRegistDcontract" nillable="true" type="tns:ArrayOfAirRegistDcontract" />
  <xs:complexType name="AirRegistDcontract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRACT_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEVICE_COUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DURATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PBOX_EXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDM_CONTRACT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDM_PENALTY_GROUP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDM_PENALTY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDM_RULE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirRegistDcontract" nillable="true" type="tns:AirRegistDcontract" />
  <xs:complexType name="ArrayOfAirRegistFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirRegistFile" nillable="true" type="tns:AirRegistFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirRegistFile" nillable="true" type="tns:ArrayOfAirRegistFile" />
  <xs:complexType name="AirRegistFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirRegistFile" nillable="true" type="tns:AirRegistFile" />
  <xs:complexType name="ArrayOfAirRegistPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirRegistPackage" nillable="true" type="tns:AirRegistPackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirRegistPackage" nillable="true" type="tns:ArrayOfAirRegistPackage" />
  <xs:complexType name="AirRegistPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="fax_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="home_ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="home_port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idd_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile_forward" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_price" type="xs:decimal" />
      <xs:element minOccurs="0" name="package_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pbox_ext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="temp_ia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirRegistPackage" nillable="true" type="tns:AirRegistPackage" />
  <xs:complexType name="ArrayOfAirRegistSplitter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirRegistSplitter" nillable="true" type="tns:AirRegistSplitter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirRegistSplitter" nillable="true" type="tns:ArrayOfAirRegistSplitter" />
  <xs:complexType name="AirRegistSplitter">
    <xs:sequence>
      <xs:element minOccurs="0" name="DISTANCE" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISTANCE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESOURCE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPLITTER_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirRegistSplitter" nillable="true" type="tns:AirRegistSplitter" />
  <xs:complexType name="ArrayOfFBSSChangedAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBSSChangedAddressInfo" nillable="true" type="tns:FBSSChangedAddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBSSChangedAddressInfo" nillable="true" type="tns:ArrayOfFBSSChangedAddressInfo" />
  <xs:complexType name="FBSSChangedAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressIdSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangedAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTTR_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LATITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LONGTITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SITE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPECIFIC_TEAM_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPECIFIC_TEAM_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBDISTRICT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSChangedAddressInfo" nillable="true" type="tns:FBSSChangedAddressInfo" />
  <xs:complexType name="ArrayOfFBSSAccessModeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBSSAccessModeInfo" nillable="true" type="tns:FBSSAccessModeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBSSAccessModeInfo" nillable="true" type="tns:ArrayOfFBSSAccessModeInfo" />
  <xs:complexType name="FBSSAccessModeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InserviceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResourceList" nillable="true" type="tns:ArrayOfResourceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSAccessModeInfo" nillable="true" type="tns:FBSSAccessModeInfo" />
  <xs:complexType name="ArrayOfResourceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceInfo" nillable="true" type="tns:ResourceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceInfo" nillable="true" type="tns:ArrayOfResourceInfo" />
  <xs:complexType name="ResourceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResourceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceInfo" nillable="true" type="tns:ResourceInfo" />
  <xs:complexType name="FBSSCoverageResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessModeList" nillable="true" type="tns:ArrayOfFBSSAccessModeInfo" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coverage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterfaceLogId" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsPartner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanningSite" nillable="true" type="tns:FBSSAccessModeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSCoverageResult" nillable="true" type="tns:FBSSCoverageResult" />
</xs:schema>