Presentation/Jobs/FBBTransactionWorkflowReport/Connected Services/CommandServices/CommandService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.WebServices.FBSS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.WebServices.FBSS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands" />
  <xs:complexType name="AlterChangedBuildingCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WBBContract.Commands" base="q1:CommandBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="FBSSChangedAddressInfos" nillable="true" type="q2:ArrayOfFBSSChangedAddressInfo" />
          <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numRecDelete" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numRecInsert" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numRecUpdate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlterChangedBuildingCommand" nillable="true" type="tns:AlterChangedBuildingCommand" />
  <xs:complexType name="CoverageResultEnquiryCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/WBBContract.Commands" base="q3:CommandBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="AccessModeList" nillable="true" type="q4:ArrayOfFBSSAccessModeInfo" />
          <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildingNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Coverage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloorNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPartner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderRef" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneFlag" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="PlanningSite" nillable="true" type="q5:FBSSAccessModeInfo" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SplitterName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubDistrictName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoverageResultEnquiryCommand" nillable="true" type="tns:CoverageResultEnquiryCommand" />
</xs:schema>