Framework/WBBBusinessLayer/Web References/FBBSAPOnline1/FBBSAPOnline.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FBBSAPOnline" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" />
      <xsd:import schemaLocation="http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFBBSAPOnline_NewRegistForSubmitFOA_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRegistForSubmitFOA" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_NewRegistForSubmitFOA_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRegistForSubmitFOAResponse" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_NewRegistOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRegistOrder" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_NewRegistOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRegistOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_JoinOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinOrder" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_JoinOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_InstallationCost_InputMessage">
    <wsdl:part name="parameters" element="tns:InstallationCost" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_InstallationCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:InstallationCostResponse" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_TerminateService_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminateService" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_TerminateService_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_RenewService_InputMessage">
    <wsdl:part name="parameters" element="tns:RenewService" />
  </wsdl:message>
  <wsdl:message name="IFBBSAPOnline_RenewService_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenewServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IFBBSAPOnline">
    <wsdl:operation name="NewRegistForSubmitFOA">
      <wsdl:input wsaw:Action="http://tempuri.org/IFBBSAPOnline/NewRegistForSubmitFOA" message="tns:IFBBSAPOnline_NewRegistForSubmitFOA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFBBSAPOnline/NewRegistForSubmitFOAResponse" message="tns:IFBBSAPOnline_NewRegistForSubmitFOA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRegistOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IFBBSAPOnline/NewRegistOrder" message="tns:IFBBSAPOnline_NewRegistOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFBBSAPOnline/NewRegistOrderResponse" message="tns:IFBBSAPOnline_NewRegistOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IFBBSAPOnline/JoinOrder" message="tns:IFBBSAPOnline_JoinOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFBBSAPOnline/JoinOrderResponse" message="tns:IFBBSAPOnline_JoinOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstallationCost">
      <wsdl:input wsaw:Action="http://tempuri.org/IFBBSAPOnline/InstallationCost" message="tns:IFBBSAPOnline_InstallationCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFBBSAPOnline/InstallationCostResponse" message="tns:IFBBSAPOnline_InstallationCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminateService">
      <wsdl:input wsaw:Action="http://tempuri.org/IFBBSAPOnline/TerminateService" message="tns:IFBBSAPOnline_TerminateService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFBBSAPOnline/TerminateServiceResponse" message="tns:IFBBSAPOnline_TerminateService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenewService">
      <wsdl:input wsaw:Action="http://tempuri.org/IFBBSAPOnline/RenewService" message="tns:IFBBSAPOnline_RenewService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFBBSAPOnline/RenewServiceResponse" message="tns:IFBBSAPOnline_RenewService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFBBSAPOnline" type="tns:IFBBSAPOnline">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewRegistForSubmitFOA">
      <soap:operation soapAction="http://tempuri.org/IFBBSAPOnline/NewRegistForSubmitFOA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRegistOrder">
      <soap:operation soapAction="http://tempuri.org/IFBBSAPOnline/NewRegistOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinOrder">
      <soap:operation soapAction="http://tempuri.org/IFBBSAPOnline/JoinOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallationCost">
      <soap:operation soapAction="http://tempuri.org/IFBBSAPOnline/InstallationCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateService">
      <soap:operation soapAction="http://tempuri.org/IFBBSAPOnline/TerminateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewService">
      <soap:operation soapAction="http://tempuri.org/IFBBSAPOnline/RenewService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FBBSAPOnline">
    <wsdl:port name="BasicHttpBinding_IFBBSAPOnline" binding="tns:BasicHttpBinding_IFBBSAPOnline">
      <soap:address location="http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>