Framework/WBBBusinessLayer/Web References/FBBSAPOnline1/FBBSAPOnline2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NewRegistFOA">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOA_Submit_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile_Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OLT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductList" nillable="true" type="tns:ArrayOfNewRegistFOAProductList" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RejectReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceList" nillable="true" type="tns:ArrayOfNewRegistFOAServiceList" />
      <xs:element minOccurs="0" name="SubcontractorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubcontractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmitFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reuse_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event_Flow_Flag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistFOA" nillable="true" type="tns:NewRegistFOA" />
  <xs:complexType name="ArrayOfNewRegistFOAProductList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewRegistFOAProductList" nillable="true" type="tns:NewRegistFOAProductList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewRegistFOAProductList" nillable="true" type="tns:ArrayOfNewRegistFOAProductList" />
  <xs:complexType name="NewRegistFOAProductList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovementType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SNPattern" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistFOAProductList" nillable="true" type="tns:NewRegistFOAProductList" />
  <xs:complexType name="ArrayOfNewRegistFOAServiceList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewRegistFOAServiceList" nillable="true" type="tns:NewRegistFOAServiceList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewRegistFOAServiceList" nillable="true" type="tns:ArrayOfNewRegistFOAServiceList" />
  <xs:complexType name="NewRegistFOAServiceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistFOAServiceList" nillable="true" type="tns:NewRegistFOAServiceList" />
  <xs:complexType name="NewRegistForSubmitFOAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistForSubmitFOAResponse" nillable="true" type="tns:NewRegistForSubmitFOAResponse" />
  <xs:complexType name="Register">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASSET_CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSET_DESC1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSET_DESC2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCENTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EVA4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EVA5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INV_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_ASSET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POST_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XREF1_HD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Register" nillable="true" type="tns:Register" />
  <xs:complexType name="NewRegisterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_ASSET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegisterResponse" nillable="true" type="tns:NewRegisterResponse" />
  <xs:complexType name="JoinOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOC_HEADER_TXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GL_ACCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVEMENT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANT_FROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUANTITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_DOC_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_DOC_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLOC_FROM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinOrder" nillable="true" type="tns:JoinOrder" />
  <xs:complexType name="JoinOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASSET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSET_SUB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_YEAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERR_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_DOC_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_DOC_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinOrderResponse" nillable="true" type="tns:JoinOrderResponse" />
  <xs:complexType name="InstallationCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount_in_Document_Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doc_Header_Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Document_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference_Key_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference_Key_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference_Key_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translation_Date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallationCost" nillable="true" type="tns:InstallationCost" />
  <xs:complexType name="InstallationCostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOCNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_LEGACY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallationCostResponse" nillable="true" type="tns:InstallationCostResponse" />
  <xs:complexType name="TerminateService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asset_Code_List" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Internet_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Send_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminateService" nillable="true" type="tns:TerminateService" />
  <xs:complexType name="TerminateServiceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SAPResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TerminateServiceResponse" nillable="true" type="tns:TerminateServiceResponse" />
  <xs:complexType name="SAPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RETURN_CODE" type="xs:int" />
      <xs:element minOccurs="0" name="RETURN_MESSAGE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAPResponse" nillable="true" type="tns:SAPResponse" />
  <xs:complexType name="RenewService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create_datetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Internet_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductList" nillable="true" type="tns:ArrayOfProductList" />
      <xs:element minOccurs="0" name="Send_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RenewService" nillable="true" type="tns:RenewService" />
  <xs:complexType name="ArrayOfProductList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductList" nillable="true" type="tns:ProductList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductList" nillable="true" type="tns:ArrayOfProductList" />
  <xs:complexType name="ProductList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPE_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductList" nillable="true" type="tns:ProductList" />
  <xs:complexType name="RenewServiceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SAPResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ASSET_CODE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RenewServiceResponse" nillable="true" type="tns:RenewServiceResponse" />
</xs:schema>