Framework/WBBBusinessLayer/Web References/FBBSAPOnline1/FBBSAPOnline1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" />
  <xs:import schemaLocation="http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" />
  <xs:element name="NewRegistForSubmitFOA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="query" nillable="true" type="q1:NewRegistForSubmitFOAQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegistForSubmitFOAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="NewRegistForSubmitFOAResult" nillable="true" type="q2:NewRegistForSubmitFOAResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegistOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="query" nillable="true" type="q3:NewRegisterQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegistOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="NewRegistOrderResult" nillable="true" type="q4:NewRegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="query" nillable="true" type="q5:JoinOrderQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="JoinOrderResult" nillable="true" type="q6:JoinOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallationCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="query" nillable="true" type="q7:InstallationCostQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallationCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="InstallationCostResult" nillable="true" type="q8:InstallationCostResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="query" nillable="true" type="q9:TerminateServiceQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="TerminateServiceResult" nillable="true" type="q10:TerminateServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="query" nillable="true" type="q11:RenewServiceQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="RenewServiceResult" nillable="true" type="q12:RenewServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>