Framework/WBBBusinessLayer/Web References/FBBSAPOnline1/FBBSAPOnline.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" />
  <xs:complexType name="NewRegistForSubmitFOAQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q1:NewRegistFOA">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewRegistForSubmitFOAQuery" nillable="true" type="tns:NewRegistForSubmitFOAQuery" />
  <xs:complexType name="NewRegisterQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q2:Register">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewRegisterQuery" nillable="true" type="tns:NewRegisterQuery" />
  <xs:complexType name="JoinOrderQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q3:JoinOrder">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JoinOrderQuery" nillable="true" type="tns:JoinOrderQuery" />
  <xs:complexType name="InstallationCostQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q4:InstallationCost">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstallationCostQuery" nillable="true" type="tns:InstallationCostQuery" />
  <xs:complexType name="TerminateServiceQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q5:TerminateService">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TerminateServiceQuery" nillable="true" type="tns:TerminateServiceQuery" />
  <xs:complexType name="RenewServiceQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q6:RenewService">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RenewServiceQuery" nillable="true" type="tns:RenewServiceQuery" />
</xs:schema>