Presentation/Jobs/PAYGResendWSSAPS4/Connected Services/CommandServices/CommandService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.FbbCpGw" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.FbbCpGw" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" />
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" />
  <xs:complexType name="TransferFileToStorageCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileList" nillable="true" type="tns:ArrayOfFileListData" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferFileToStorageCommand" nillable="true" type="tns:TransferFileToStorageCommand" />
  <xs:complexType name="ArrayOfFileListData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileListData" nillable="true" type="tns:FileListData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileListData" nillable="true" type="tns:ArrayOfFileListData" />
  <xs:complexType name="FileListData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileListData" nillable="true" type="tns:FileListData" />
  <xs:complexType name="InsertCoverageRusultCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_ADDRESS_TYPE_DTL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CoverageArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CoverageContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CoverageContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CoverageContactTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CoverageGroupOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CoverageStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CoverageSubstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_NetworkProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PROJECTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_address_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_address_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_asc_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_asc_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_building_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_building_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_channel_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_line_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contactnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_coverage_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_employee_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_floor_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_is_partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_location_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_location_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_owner_product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_partner_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_phone_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_postal_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_producttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_region_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_road" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sale_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sale_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_splitter_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sub_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sub_region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_unit_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertCoverageRusultCommand" nillable="true" type="tns:InsertCoverageRusultCommand" />
  <xs:complexType name="PermissionUserCommand">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="IO_PROCESS_FAIL" nillable="true" type="q1:ArrayOfDETAIL_USER_RESPONSE" />
      <xs:element minOccurs="0" name="P_ACTION" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="P_FBBOR045_ACIM_ARRAY" nillable="true" type="q2:ArrayOfDETAIL_USER" />
      <xs:element minOccurs="0" name="P_RETURN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_RETURN_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_TRANSACTION_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionUserCommand" nillable="true" type="tns:PermissionUserCommand" />
  <xs:complexType name="MicrositeActionCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_DATE_ACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_IS_CONTACT_CUSTOMER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_IS_IN_COVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ORDER_CHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ORDER_PRE_REGISTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_REMARK_NOTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_STATUS_ORDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_USER_ACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_return_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_return_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MicrositeActionCommand" nillable="true" type="tns:MicrositeActionCommand" />
  <xs:complexType name="MicrositeWSCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_DISTRICT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_MEDIA_STREAMING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_NUMBER_OF_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PLAYBOX_ADDON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PLAYBOX_BUNDLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PROVINCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_RESIDENTIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ROUTER_ADDON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ROUTER_BUNDLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SEGMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_STATUS_COMPLETE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SUB_DISTRICT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_TELEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_TYPE_OF_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_USER_JOURNEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ZIPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_return_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_return_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MicrositeWSCommand" nillable="true" type="tns:MicrositeWSCommand" />
  <xs:complexType name="UpdateCoverageRusultCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="o_return_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="o_return_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_date_verify" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_flag_verify" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_status_plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_user_verify" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateCoverageRusultCommand" nillable="true" type="tns:UpdateCoverageRusultCommand" />
  <xs:complexType name="AisWiFiRegCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayCommandBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="CheckChangePromotionModel" nillable="true" type="q3:evOMServiceCheckChangePromotionModel" />
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AisWiFiRegCommand" nillable="true" type="tns:AisWiFiRegCommand" />
  <xs:complexType name="CpGateWayCommandBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CpGateWayCommandBase" nillable="true" type="tns:CpGateWayCommandBase" />
  <xs:complexType name="CustRegisterCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayCommandBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" minOccurs="0" name="CoveragePanelModel" nillable="true" type="q4:CoveragePanelModel" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="CustRegisterInfoModel" nillable="true" type="q5:CustRegisterInfoModel" />
          <xs:element minOccurs="0" name="GIFT_VOUCHER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALL_STAFF_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALL_STAFF_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallCapacity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderRefId" type="xs:decimal" />
          <xs:element minOccurs="0" name="PhoneFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_CONTRACT_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_LOCATION_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeSlot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeSlotID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustRegisterCommand" nillable="true" type="tns:CustRegisterCommand" />
</xs:schema>