Framework/WBBBusinessLayer/Web References/TTComplainSheet/TTComplainSheet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ttc="http://www.example.org/TTComplainSheet/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TTComplainSheet" targetNamespace="http://www.example.org/TTComplainSheet/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TTComplainSheet/">
      <xsd:element name="newWorkSheet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SOURCE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ACCEPT_CONTACT_NAME" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ACCEPT_CONTACT" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="NOC_CONTACT_NAME" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="NOC_CONTACT" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ACCEPT_DATE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="PRIORITY" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="COMMIT_DATE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CC_SERIAL_NO" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CUST_ID" type="xsd:decimal" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CUST_LEVEL" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SUB_CATEGORY" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SYMPTOM_CODE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="COMP_TITLE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CUST_NAME" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="COMP_CALLING" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="COMP_CALLED" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CONTACT_NAME" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="COMP_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ACC_NBR" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CUSTOMER_COMPLAINT_NAME" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CUSTOMER_COMPLAINT_MOBILE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="NOC_REMARK" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="DETAILS_FOR_RESOLVED" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RESERVED_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ASSIGN_CONDITION_LIST" type="ttc:assCondiList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="newWorkSheetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RESULT_CODE" type="xsd:string" />
            <xsd:element name="TT_SERIAL_NO" type="xsd:string" />
            <xsd:element name="DESC" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QUERYCAPACITY">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ACCESS_NO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="MA_DATE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ACCESS_MODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="DAYS" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SUBCONTRACTOR_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXT_ATTR" type="ttc:extAttr" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SYMPTOM_CODE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QUERYCAPACITYResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="AREA" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ADDRESS_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TIME_SLOT_LIST" type="ttc:timeSlotList" />
            <xsd:element minOccurs="0" maxOccurs="1" name="INSTALL_SUBCONTRACTOR_NAME" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="INSTALL_SUBCONTRACTOR_TEAM" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="FOA_CLOSE_DATE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_DESC" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="extAttr">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FIELD_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FIELD_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FIELD_VALUE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="timeSlotList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="SUBCONTRACTOR_TEAM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SUBCONTRACTOR_TEAMID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="MA_DATE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="MA_TIME_SLOT" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CAPACITY" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ASSIGNER_INFO" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RESERVEDCAPACITY">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="MA_DATE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="MA_TIME_SLOT" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ACCESS_MODE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SUBCONTRACTOR_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ADDRESS_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ACCESS_NO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ASSIGN_FLAG" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SYMPTOM_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SERVICE_LEVEL" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RESERVEDCAPACITYResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_DESC" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RESERVED_ID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RELEASECAPACITY">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESERVED_ID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RELEASECAPACITYResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_DESC" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryCPEPenalty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="OPTION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="FIBRENET_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="STATUS" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="MAC_ADDRESS" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryCPEPenaltyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RESULT_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CPE_INFO_LIST" type="ttc:cpePenalty" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="cpePenalty">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="SERIAL_NO" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="STATUS" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="STATUS_DESC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CPE_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CPE_MODEL_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="COMPANY_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PLANT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STORAGE_LOCATION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MATERIAL_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PENALTY" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PENALTY_PRODUCT_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OPER_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CPE_BRAND_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CPE_GROUP_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="REGISTER_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CPE_MODEL_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FIBRENET_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SN_PATTERN" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SHIP_TO" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WARRANTY_START_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WARRANTY_END_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MAC_ADDRESS" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="debtCollector">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SERIAL_NO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="OPER_DATE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="MATERAIL_CODE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CPE_TYPE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CPE_MODEL" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="STORAGE_LOCATION" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="STATUS" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ACCESS_NO" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ORDER_NO" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CHANNEL" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CREATE_DATE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="debtCollectorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RESULT_DESCRIPTION" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSubcontractor">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ATTR_1" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ATTR_2" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSubcontractorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_NAME" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_PHONE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_EMAIL" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_ROLE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANY_LIST" type="ttc:companyList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="companyList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="COMPANY_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="COMPANY_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VENDOR_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LOCATION_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STORAGE_LOCATION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TEAM_LIST" type="ttc:teamList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="teamList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="TEAM_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="TEAM_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TEAM_SERVICE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VENDOR_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LOCATION_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STORAGE_LOCATION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SHIP_TO" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="QuerySparePart">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="OPTION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="STORAGE_LOCATION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SHIP_TO" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SPARE_TYPE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="MODEL" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="STATUS" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TRANSFER_DATE_FROM" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TRANSFER_DATE_TO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TRANSFER_DATE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="FIBRENET_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SERIAL_NO" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QuerySparePartResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="REPORT_JOB_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SpareTypeStatusList" type="ttc:spareTypeList" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TransferDateList" type="ttc:transferList" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="FibreSNList" type="ttc:snList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="spareTypeList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="SPARE_TYPE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="STATUS" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="AMOUNT_EQUIP" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="transferList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="TRANSFER_DATE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="AMOUNT_EQUIP" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="snList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="SPARE_TYPE_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="MODEL_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SERIAL_NO" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="STATUS_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ORD_NO" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FIRST_SERVICE_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CPE_SERVICE_YEAR" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FIBRENET_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SUBCONTRACT_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STORAGE_LOCATION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SHIP_TO" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LOST_WRITEOFF" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TRANSFER_DATE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SetCPEWarranty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="OPTION" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SERIAL_NO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FIBRENET_ID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WARRANTY_START_DATE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="DAY_WARRANTY" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="MONTH_WARRANTY" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="YEAR_WARRANTY" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="FIX_WARRANTY_END_DATE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetCPEWarrantyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RESULT_DESCRIPTION" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MAappointment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ACCESS_NO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="MA_DATE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ACCESS_MODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="DAYS" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SYMPTOM_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SERVICE_LEVEL" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MAappointmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="SUBDISTRICT" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="POSTCODE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TIME_SLOT_LIST" type="ttc:slotList" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_DESC" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="slotList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="MA_DATE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="MA_TIME_SLOT" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CAPACITY" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cancelAppointment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="FIBRENET_ID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="TRANSACTION_NUMBER" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FAILED_REASON" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="REMARK_FOR_CS_NOTE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelAppointmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_DESC" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="newEDStask">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Order_NO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Circuit_ID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Order_Type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Project_Name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Bill_Name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Order_Date" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Service_Type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Speed_Current" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Speed_New" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Current_Customer_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Current_Customer_Address_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="New_Customer_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="New_Customer_Address_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Current_Customer_Destination" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Current_Customer_Address_Destination" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="New_Customer_Destination" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="New_Customer_Address_Destination" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Region_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Latitude_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Longitude_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Region_Destination" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Latitude_Destination" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Longitude_Destination" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Contact_Name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Contact_Phone" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Contact_Email" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Last_Mile_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Last_Mile_Destination" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Mobile_No" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="IP_SIM" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="PLAN" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="PLAN_INFO" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Cost_Sheet_No" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="TC_Name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="BC_Name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Remark" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Terminate_Ref_Order" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="IPRAN_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="IPRAN_NAME_Source" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="IPRAN_Destination" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="IPRAN_NAME_Destination" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Task" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Sale_Type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SIM" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ON_SERVICE_DATE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RELOCATE_DATE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="TERMINATE_DATE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="newEDStaskResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TASK_NO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESPONSE_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESPONSE_MESSAGE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryMADetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SEARCH_KEY" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SEARCH_VALUE" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryMADetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ERROR_CODE" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ERROR_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="MA_ORDER_LIST" type="ttc:MA_ORDER" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MA_ORDER">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="TROUBLE_TICKET_NO" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SIEBEL_REQUEST_NO" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FIBRENET_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="COMMIT_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ACCEPT_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="COMPLAINT_TITLE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CUSTOMER_COMPLAINT_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CUSTOMER_COMPLAINT_MOBILE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NOC_REMARK" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DETAILS_FOR_RESOLVED" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="COMPLAINT_DESCRIPTION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="INSTALLATION_ADDRESS" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="APPOINTMENT_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="APPOINTMENT_TIMESLOT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_LIST" type="ttc:STAFF_INFO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="STAFF_INFO">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="STAFF_CODE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="STAFF_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="STAFF_PHONE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_EMAIL" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_LATITUDE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_LONGITUDE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_FIRST_DAY_WORKING" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_END_DAY_WORKING" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="STAFF_ROLE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STAFF_PROFILE_PICTURE_FILENAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANY_LIST" type="ttc:COMPANY" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="COMPANY">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="COMPANY_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="COMPANY_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VENDOR_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LOCATION_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STORAGE_LOCATION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TEAM_LIST" type="ttc:TEAM_INFO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TEAM_INFO">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="TEAM_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="TEAM_ID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="TEAM_SERVICE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VENDOR_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LOCATION_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="STORAGE_LOCATION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SHIP_TO" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SelfServiceAppoint">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="FIBRENET_ID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="REQUEST_NO" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="APPOINTMENT_DATE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TIME_SLOT" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ASSIGN_FLAG" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SUBCONTRACTOR_ID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CHANNEL" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SelfServiceAppointResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_CODE" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RESULT_DESCRIPTION" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="assCondiList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ASSIGN_CONDITION_ATTR" type="ttc:assCondiAttr" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="assCondiAttr">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ATTR_NAME" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="VALUE" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MAappointmentRequest">
    <wsdl:part name="parameters" element="ttc:MAappointment" />
  </wsdl:message>
  <wsdl:message name="getSubcontractorRequest">
    <wsdl:part name="parameters" element="ttc:getSubcontractor" />
  </wsdl:message>
  <wsdl:message name="QuerySparePartResponse">
    <wsdl:part name="parameters" element="ttc:QuerySparePartResponse" />
  </wsdl:message>
  <wsdl:message name="RESERVEDCAPACITYRequest">
    <wsdl:part name="parameters" element="ttc:RESERVEDCAPACITY" />
  </wsdl:message>
  <wsdl:message name="QueryMADetailsResponse">
    <wsdl:part name="parameters" element="ttc:QueryMADetailsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryMADetailsRequest">
    <wsdl:part name="parameters" element="ttc:QueryMADetails" />
  </wsdl:message>
  <wsdl:message name="cancelAppointmentResponse">
    <wsdl:part name="parameters" element="ttc:cancelAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="SelfServiceAppointRequest">
    <wsdl:part name="parameters" element="ttc:SelfServiceAppoint" />
  </wsdl:message>
  <wsdl:message name="QUERYCAPACITYRequest">
    <wsdl:part name="parameters" element="ttc:QUERYCAPACITY" />
  </wsdl:message>
  <wsdl:message name="newEDStaskRequest">
    <wsdl:part name="parameters" element="ttc:newEDStask" />
  </wsdl:message>
  <wsdl:message name="RESERVEDCAPACITYResponse">
    <wsdl:part name="parameters" element="ttc:RESERVEDCAPACITYResponse" />
  </wsdl:message>
  <wsdl:message name="MAappointmentResponse">
    <wsdl:part name="parameters" element="ttc:MAappointmentResponse" />
  </wsdl:message>
  <wsdl:message name="debtCollectorRequest">
    <wsdl:part name="parameters" element="ttc:debtCollector" />
  </wsdl:message>
  <wsdl:message name="newEDStaskResponse">
    <wsdl:part name="parameters" element="ttc:newEDStaskResponse" />
  </wsdl:message>
  <wsdl:message name="newWorkSheetResponse">
    <wsdl:part name="parameters" element="ttc:newWorkSheetResponse" />
  </wsdl:message>
  <wsdl:message name="QUERYCAPACITYResponse">
    <wsdl:part name="parameters" element="ttc:QUERYCAPACITYResponse" />
  </wsdl:message>
  <wsdl:message name="debtCollectorResponse">
    <wsdl:part name="parameters" element="ttc:debtCollectorResponse" />
  </wsdl:message>
  <wsdl:message name="getSubcontractorResponse">
    <wsdl:part name="parameters" element="ttc:getSubcontractorResponse" />
  </wsdl:message>
  <wsdl:message name="RELEASECAPACITYRequest">
    <wsdl:part name="parameters" element="ttc:RELEASECAPACITY" />
  </wsdl:message>
  <wsdl:message name="queryCPEPenaltyResponse">
    <wsdl:part name="parameters" element="ttc:queryCPEPenaltyResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySparePartRequest">
    <wsdl:part name="parameters" element="ttc:QuerySparePart" />
  </wsdl:message>
  <wsdl:message name="newWorkSheetRequest">
    <wsdl:part name="parameters" element="ttc:newWorkSheet" />
  </wsdl:message>
  <wsdl:message name="SelfServiceAppointResponse">
    <wsdl:part name="parameters" element="ttc:SelfServiceAppointResponse" />
  </wsdl:message>
  <wsdl:message name="RELEASECAPACITYResponse">
    <wsdl:part name="parameters" element="ttc:RELEASECAPACITYResponse" />
  </wsdl:message>
  <wsdl:message name="queryCPEPenaltyRequest">
    <wsdl:part name="parameters" element="ttc:queryCPEPenalty" />
  </wsdl:message>
  <wsdl:message name="SetCPEWarrantyResponse">
    <wsdl:part name="parameters" element="ttc:SetCPEWarrantyResponse" />
  </wsdl:message>
  <wsdl:message name="cancelAppointmentRequest">
    <wsdl:part name="parameters" element="ttc:cancelAppointment" />
  </wsdl:message>
  <wsdl:message name="SetCPEWarrantyRequest">
    <wsdl:part name="parameters" element="ttc:SetCPEWarranty" />
  </wsdl:message>
  <wsdl:portType name="TTComplainSheet">
    <wsdl:operation name="newWorkSheet">
      <wsdl:input message="ttc:newWorkSheetRequest" />
      <wsdl:output message="ttc:newWorkSheetResponse" />
    </wsdl:operation>
    <wsdl:operation name="QUERYCAPACITY">
      <wsdl:input message="ttc:QUERYCAPACITYRequest" />
      <wsdl:output message="ttc:QUERYCAPACITYResponse" />
    </wsdl:operation>
    <wsdl:operation name="RESERVEDCAPACITY">
      <wsdl:input message="ttc:RESERVEDCAPACITYRequest" />
      <wsdl:output message="ttc:RESERVEDCAPACITYResponse" />
    </wsdl:operation>
    <wsdl:operation name="RELEASECAPACITY">
      <wsdl:input message="ttc:RELEASECAPACITYRequest" />
      <wsdl:output message="ttc:RELEASECAPACITYResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryCPEPenalty">
      <wsdl:input message="ttc:queryCPEPenaltyRequest" />
      <wsdl:output message="ttc:queryCPEPenaltyResponse" />
    </wsdl:operation>
    <wsdl:operation name="debtCollector">
      <wsdl:input message="ttc:debtCollectorRequest" />
      <wsdl:output message="ttc:debtCollectorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSubcontractor">
      <wsdl:input message="ttc:getSubcontractorRequest" />
      <wsdl:output message="ttc:getSubcontractorResponse" />
    </wsdl:operation>
    <wsdl:operation name="QuerySparePart">
      <wsdl:input message="ttc:QuerySparePartRequest" />
      <wsdl:output message="ttc:QuerySparePartResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetCPEWarranty">
      <wsdl:input message="ttc:SetCPEWarrantyRequest" />
      <wsdl:output message="ttc:SetCPEWarrantyResponse" />
    </wsdl:operation>
    <wsdl:operation name="MAappointment">
      <wsdl:input message="ttc:MAappointmentRequest" />
      <wsdl:output message="ttc:MAappointmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelAppointment">
      <wsdl:input message="ttc:cancelAppointmentRequest" />
      <wsdl:output message="ttc:cancelAppointmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="newEDStask">
      <wsdl:input message="ttc:newEDStaskRequest" />
      <wsdl:output message="ttc:newEDStaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryMADetails">
      <wsdl:input message="ttc:QueryMADetailsRequest" />
      <wsdl:output message="ttc:QueryMADetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="SelfServiceAppoint">
      <wsdl:input message="ttc:SelfServiceAppointRequest" />
      <wsdl:output message="ttc:SelfServiceAppointResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TTComplainSheetSOAP" type="ttc:TTComplainSheet">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newWorkSheet">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/newWorkSheet" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QUERYCAPACITY">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/QUERYCAPACITY" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RESERVEDCAPACITY">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/RESERVEDCAPACITY" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RELEASECAPACITY">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/RELEASECAPACITY" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryCPEPenalty">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/queryCPEPenalty" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debtCollector">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/debtCollector" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubcontractor">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/getSubcontractor" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySparePart">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/QuerySparePart" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MAappointment">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/MAappointment" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCPEWarranty">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/SetCPEWarranty" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelAppointment">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/cancelAppointment" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newEDStask">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/newEDStask" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMADetails">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/QueryMADetails" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelfServiceAppoint">
      <soap:operation soapAction="http://www.example.org/TTComplainSheet/SelfServiceAppoint" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TTComplainSheet">
    <wsdl:port name="TTComplainSheetSOAP" binding="ttc:TTComplainSheetSOAP">
      <soap:address location="http://10.138.26.228:7101/axis2/services/TTComplainSheet/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>