Framework/WBBBusinessLayer/Web References/SubscriberWebService/subscriberstatewebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://vsmp.ais.co.th/webservices/subscriber/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://vsmp.ais.co.th/webservices/subscriber/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://vsmp.ais.co.th/webservices/subscriber/">
      <s:element name="ModifySubscriberStateOnline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifySubscriberStateOnlineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifySubscriberStateOnlineResult" type="tns:SubscriberResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubscriberResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OperationStatus" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="Subscriber" type="tns:SubscriberInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Description" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderRef" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubscriberInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Msisdn" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cos" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Lang" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Model" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VscpState" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServicePackageId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Hack" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Gtcf" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ScpId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CbpId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Bso" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumImsi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PrepaidFlag" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VirtualFlag" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AltPrefixFlag" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AltPrefixCos" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceLocation" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasOneTimePassword" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasPassword" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ToggleF" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToggleState" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToggleCos" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CosEffectiveDate" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CosEffectiveValue" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GtcfEffectiveDate" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GtcfEffectiveValue" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstActDate" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="imsiArray" nillable="true" type="tns:ImsiInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="spName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="brandName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateLastMod" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImsiInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="imsi" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="imsiS1" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="msisdnS1" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="imsiS2" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="msisdnS2" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="imsiS3" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="msisdnS3" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="imsiS4" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="msisdnS4" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="imsiX" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="msisdnImsiX" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="imsiFlag" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ModifySubscriberStateOffline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifySubscriberStateOfflineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifySubscriberStateOfflineResult" type="tns:SubscriberResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InquiryVASSubscriber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opt1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opt2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InquiryVASSubscriberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InquiryVASSubscriberResult" type="tns:InquiryVASSubscriberResponce" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InquiryVASSubscriberResponce">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OperationStatus" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="Subscriber" type="tns:SubscriberVASInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubscriberVASInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="msisdn" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="machineID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stt" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="customerId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="state" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="language" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="hacktime" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cos" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MProductID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="mobileLocation" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServicePackageID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SCPID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CBPID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="gprsTBCF" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="altAccPrefixF" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="altAccPrefixCos" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="altAccToggleState" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="altAccToggleCos" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="toggleF" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nwt" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="chm" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="spName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="brandId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cfAddress" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ModifySubscriberStateOnlineSoapIn">
    <wsdl:part name="parameters" element="tns:ModifySubscriberStateOnline" />
  </wsdl:message>
  <wsdl:message name="ModifySubscriberStateOnlineSoapOut">
    <wsdl:part name="parameters" element="tns:ModifySubscriberStateOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ModifySubscriberStateOfflineSoapIn">
    <wsdl:part name="parameters" element="tns:ModifySubscriberStateOffline" />
  </wsdl:message>
  <wsdl:message name="ModifySubscriberStateOfflineSoapOut">
    <wsdl:part name="parameters" element="tns:ModifySubscriberStateOfflineResponse" />
  </wsdl:message>
  <wsdl:message name="InquiryVASSubscriberSoapIn">
    <wsdl:part name="parameters" element="tns:InquiryVASSubscriber" />
  </wsdl:message>
  <wsdl:message name="InquiryVASSubscriberSoapOut">
    <wsdl:part name="parameters" element="tns:InquiryVASSubscriberResponse" />
  </wsdl:message>
  <wsdl:portType name="SubscriberStateWebServiceSoap">
    <wsdl:operation name="ModifySubscriberStateOnline">
      <wsdl:input message="tns:ModifySubscriberStateOnlineSoapIn" />
      <wsdl:output message="tns:ModifySubscriberStateOnlineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifySubscriberStateOffline">
      <wsdl:input message="tns:ModifySubscriberStateOfflineSoapIn" />
      <wsdl:output message="tns:ModifySubscriberStateOfflineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InquiryVASSubscriber">
      <wsdl:input message="tns:InquiryVASSubscriberSoapIn" />
      <wsdl:output message="tns:InquiryVASSubscriberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscriberStateWebServiceSoap" type="tns:SubscriberStateWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModifySubscriberStateOnline">
      <soap:operation soapAction="http://vsmp.ais.co.th/webservices/subscriber/ModifySubscriberStateOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifySubscriberStateOffline">
      <soap:operation soapAction="http://vsmp.ais.co.th/webservices/subscriber/ModifySubscriberStateOffline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryVASSubscriber">
      <soap:operation soapAction="http://vsmp.ais.co.th/webservices/subscriber/InquiryVASSubscriber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscriberStateWebServiceSoap12" type="tns:SubscriberStateWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModifySubscriberStateOnline">
      <soap12:operation soapAction="http://vsmp.ais.co.th/webservices/subscriber/ModifySubscriberStateOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifySubscriberStateOffline">
      <soap12:operation soapAction="http://vsmp.ais.co.th/webservices/subscriber/ModifySubscriberStateOffline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryVASSubscriber">
      <soap12:operation soapAction="http://vsmp.ais.co.th/webservices/subscriber/InquiryVASSubscriber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriberStateWebService">
    <wsdl:port name="SubscriberStateWebServiceSoap" binding="tns:SubscriberStateWebServiceSoap">
      <soap:address location="http://10.240.1.214:2521/web/services/subscriberstatewebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SubscriberStateWebServiceSoap12" binding="tns:SubscriberStateWebServiceSoap12">
      <soap12:address location="http://10.240.1.214:2521/web/services/subscriberstatewebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>