Presentation/Jobs/FBBNoDataResendPending/Service References/QueryServices/QueryService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebApi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebApi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetrieveAddressQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveAddressQuery" nillable="true" type="tns:RetrieveAddressQuery" />
  <xs:complexType name="GetListWebsiteConfigurationQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListWebsiteConfigurationQuery" nillable="true" type="tns:GetListWebsiteConfigurationQuery" />
</xs:schema>