Presentation/Jobs/FBBInventoryReconcile/Service References/QueryServices/QueryService27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.PatchEquipment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.PatchEquipment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatchEquipmentQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatchStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatchEquipmentQuery" nillable="true" type="tns:PatchEquipmentQuery" />
  <xs:complexType name="CheckSerialStatusQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="checkSerials" nillable="true" type="tns:ArrayOfCheckSerialStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckSerialStatusQuery" nillable="true" type="tns:CheckSerialStatusQuery" />
  <xs:complexType name="ArrayOfCheckSerialStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckSerialStatus" nillable="true" type="tns:CheckSerialStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckSerialStatus" nillable="true" type="tns:ArrayOfCheckSerialStatus" />
  <xs:complexType name="CheckSerialStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOA_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVEMENT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTING_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="POST_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_STATUS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckSerialStatus" nillable="true" type="tns:CheckSerialStatus" />
  <xs:complexType name="GetProductListSharePlexQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVEMENT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductListSharePlexQuery" nillable="true" type="tns:GetProductListSharePlexQuery" />
  <xs:complexType name="GetDataPatchSNsendmailQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDataPatchSNsendmailQuery" nillable="true" type="tns:GetDataPatchSNsendmailQuery" />
  <xs:complexType name="UpdateCPE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_LIST" nillable="true" type="tns:CPEList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateCPE" nillable="true" type="tns:UpdateCPE" />
  <xs:complexType name="CPEList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEVICE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN_PATTERN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPEList" nillable="true" type="tns:CPEList" />
  <xs:complexType name="ArrayOfRetPatchEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetPatchEquipment" nillable="true" type="tns:RetPatchEquipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetPatchEquipment" nillable="true" type="tns:ArrayOfRetPatchEquipment" />
  <xs:complexType name="RetPatchEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOA_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVEMENT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO" type="xs:int" />
      <xs:element minOccurs="0" name="PATCH_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PATCH_STATUS_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTING_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POST_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STORAGE_LOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBMIT_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_DATE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetPatchEquipment" nillable="true" type="tns:RetPatchEquipment" />
  <xs:complexType name="ArrayOfRetCheckSerialStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetCheckSerialStatus" nillable="true" type="tns:RetCheckSerialStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetCheckSerialStatus" nillable="true" type="tns:ArrayOfRetCheckSerialStatus" />
  <xs:complexType name="RetCheckSerialStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOA_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVEMENT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTING_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetCheckSerialStatus" nillable="true" type="tns:RetCheckSerialStatus" />
  <xs:complexType name="ArrayOfProductListSharePlex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductListSharePlex" nillable="true" type="tns:ProductListSharePlex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductListSharePlex" nillable="true" type="tns:ArrayOfProductListSharePlex" />
  <xs:complexType name="ProductListSharePlex">
    <xs:sequence>
      <xs:element minOccurs="0" name="COM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVEMENT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REJECT_REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN_PATTERN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STORAGE_LOCATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductListSharePlex" nillable="true" type="tns:ProductListSharePlex" />
  <xs:complexType name="UpdateCPEResponse">
    <xs:sequence>
      <xs:element name="cASECODEField" nillable="true" type="xs:string" />
      <xs:element name="rESULT_LISTField" nillable="true" type="tns:RESULT_LIST" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateCPEResponse" nillable="true" type="tns:UpdateCPEResponse" />
  <xs:complexType name="RESULT_LIST">
    <xs:sequence>
      <xs:element name="oPERATION_RESULTField" nillable="true" type="xs:string" />
      <xs:element name="rESULT_DESCRIPTIONField" nillable="true" type="xs:string" />
      <xs:element name="sERIAL_NOField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESULT_LIST" nillable="true" type="tns:RESULT_LIST" />
</xs:schema>