Presentation/Jobs/FBBNoDataResendPendingSAPS4/Connected Services/QueryServices/QueryService40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Account" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Account" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetTemporaryLoginQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetTemporaryLoginQuery" nillable="true" type="tns:GetTemporaryLoginQuery" />
  <xs:complexType name="GetUserDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserDataQuery" nillable="true" type="tns:GetUserDataQuery" />
</xs:schema>