Presentation/Jobs/FBBNoDataResendPendingSAPS4/Connected Services/QueryServices/QueryService56.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.AirWirelessCoverage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.AirWirelessCoverage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" />
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetAWCAllC">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAWCAllC" nillable="true" type="tns:GetAWCAllC" />
  <xs:complexType name="GetAWCAllQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="APname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aumphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tumbon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWCAllQuery" nillable="true" type="tns:GetAWCAllQuery" />
  <xs:complexType name="GetAWCconfigQuey">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAWCconfigQuey" nillable="true" type="tns:GetAWCconfigQuey" />
  <xs:complexType name="GetAWCEditQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" minOccurs="0" name="oldmodelpage1" nillable="true" type="q1:AWCModel" />
      <xs:element minOccurs="0" name="site_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWCEditQuery" nillable="true" type="tns:GetAWCEditQuery" />
  <xs:complexType name="GetAWCinformationQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAWCinformationQuery" nillable="true" type="tns:GetAWCinformationQuery" />
  <xs:complexType name="GetAWConfigurationDormitoryQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DormitoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormitoryProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationDormitoryQuery" nillable="true" type="tns:GetAWConfigurationDormitoryQuery" />
  <xs:complexType name="GetAWConfigurationDormitoryByIDQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_dormitory_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationDormitoryByIDQuery" nillable="true" type="tns:GetAWConfigurationDormitoryByIDQuery" />
  <xs:complexType name="GetAWConfigurationDormitorySubcontractQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DormitoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormitoryProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubContractFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationDormitorySubcontractQuery" nillable="true" type="tns:GetAWConfigurationDormitorySubcontractQuery" />
  <xs:complexType name="GetAWConfigurationAddressIDQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DormitoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormitoryProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FibrenetIDFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationAddressIDQuery" nillable="true" type="tns:GetAWConfigurationAddressIDQuery" />
  <xs:complexType name="GetAWConfigurationOnOffServicetQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormitoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormitoryProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationOnOffServicetQuery" nillable="true" type="tns:GetAWConfigurationOnOffServicetQuery" />
  <xs:complexType name="GetAWConfigurationDormitorySubcontractByIDQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_dormitory_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationDormitorySubcontractByIDQuery" nillable="true" type="tns:GetAWConfigurationDormitorySubcontractByIDQuery" />
  <xs:complexType name="GetAWConfigurationEventQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationEventQuery" nillable="true" type="tns:GetAWConfigurationEventQuery" />
  <xs:complexType name="GetAWConfigurationEventSearchQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationEventSearchQuery" nillable="true" type="tns:GetAWConfigurationEventSearchQuery" />
  <xs:complexType name="GetCapabilityQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event_End_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event_Start_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lang_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sub_District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCapabilityQuery" nillable="true" type="tns:GetCapabilityQuery" />
  <xs:complexType name="ReserveCapabilityQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReserveSubcontract" nillable="true" type="tns:ReserveSubcontract" />
      <xs:element minOccurs="0" name="Service_Option" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReserveCapabilityQuery" nillable="true" type="tns:ReserveCapabilityQuery" />
  <xs:complexType name="ReserveSubcontract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event_Date_From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event_Date_To" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sub_District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcontract_Location_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcontract_Team_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReserveSubcontract" nillable="true" type="tns:ReserveSubcontract" />
  <xs:complexType name="ValidateEngineerQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event_End_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event_Start_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Install_Staff_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Install_Staff_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateEngineerQuery" nillable="true" type="tns:ValidateEngineerQuery" />
  <xs:complexType name="GetAWConfigurationPackageDetailEditQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationPackageDetailEditQuery" nillable="true" type="tns:GetAWConfigurationPackageDetailEditQuery" />
  <xs:complexType name="GetAWConfigurationPackageProductTypeEditQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationPackageProductTypeEditQuery" nillable="true" type="tns:GetAWConfigurationPackageProductTypeEditQuery" />
  <xs:complexType name="GetAWConfigurationPackageVendorEditQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationPackageVendorEditQuery" nillable="true" type="tns:GetAWConfigurationPackageVendorEditQuery" />
  <xs:complexType name="GetAWPackageForMappingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWPackageForMappingQuery" nillable="true" type="tns:GetAWPackageForMappingQuery" />
  <xs:complexType name="GetAWPackageForMappingUseQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWPackageForMappingUseQuery" nillable="true" type="tns:GetAWPackageForMappingUseQuery" />
  <xs:complexType name="GetAWChannelGroupQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAWChannelGroupQuery" nillable="true" type="tns:GetAWChannelGroupQuery" />
  <xs:complexType name="GetAWPackageUserGroupQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWPackageUserGroupQuery" nillable="true" type="tns:GetAWPackageUserGroupQuery" />
  <xs:complexType name="GetAWZipCodeQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAWZipCodeQuery" nillable="true" type="tns:GetAWZipCodeQuery" />
  <xs:complexType name="GetAWZipCodeProvinceQuery">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RegionNames" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWZipCodeProvinceQuery" nillable="true" type="tns:GetAWZipCodeProvinceQuery" />
  <xs:complexType name="GetAWRegionQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWRegionQuery" nillable="true" type="tns:GetAWRegionQuery" />
  <xs:complexType name="GetAWProvinceUseByPackageCodeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWProvinceUseByPackageCodeQuery" nillable="true" type="tns:GetAWProvinceUseByPackageCodeQuery" />
  <xs:complexType name="GetAWBuildingByBuildingNameAndTechnologyQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWBuildingByBuildingNameAndTechnologyQuery" nillable="true" type="tns:GetAWBuildingByBuildingNameAndTechnologyQuery" />
  <xs:complexType name="GetAWBuildingByPackageCodeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWBuildingByPackageCodeQuery" nillable="true" type="tns:GetAWBuildingByPackageCodeQuery" />
  <xs:complexType name="GetAWSummaryPackageMasterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWSummaryPackageMasterQuery" nillable="true" type="tns:GetAWSummaryPackageMasterQuery" />
  <xs:complexType name="GetAWSummaryPackageMappingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWSummaryPackageMappingQuery" nillable="true" type="tns:GetAWSummaryPackageMappingQuery" />
  <xs:complexType name="GetAWSummaryPackageUserQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWSummaryPackageUserQuery" nillable="true" type="tns:GetAWSummaryPackageUserQuery" />
  <xs:complexType name="GetAWSummaryPackageLocQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWSummaryPackageLocQuery" nillable="true" type="tns:GetAWSummaryPackageLocQuery" />
  <xs:complexType name="GetAWConfigurationPackagesQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionNameThai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWConfigurationPackagesQuery" nillable="true" type="tns:GetAWConfigurationPackagesQuery" />
  <xs:complexType name="GetAWCQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="APname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aumphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tumbon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWCQuery" nillable="true" type="tns:GetAWCQuery" />
  <xs:complexType name="GetAWPackageGroupQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAWPackageGroupQuery" nillable="true" type="tns:GetAWPackageGroupQuery" />
  <xs:complexType name="GetAWProductSubtype3Query">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAWProductSubtype3Query" nillable="true" type="tns:GetAWProductSubtype3Query" />
  <xs:complexType name="GetDupfileQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDupfileQuery" nillable="true" type="tns:GetDupfileQuery" />
  <xs:complexType name="GetGiftVoucherPINsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lot" type="xs:long" />
      <xs:element minOccurs="0" name="VOUCHER_MASTER_ID" type="xs:long" />
      <xs:element minOccurs="0" name="VOUCHER_PIN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGiftVoucherPINsQuery" nillable="true" type="tns:GetGiftVoucherPINsQuery" />
  <xs:complexType name="GetLastGiftVoucherLotByVoucherMasterIDQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Voucher_Master_ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLastGiftVoucherLotByVoucherMasterIDQuery" nillable="true" type="tns:GetLastGiftVoucherLotByVoucherMasterIDQuery" />
  <xs:complexType name="GetVoucherProjectDescriptionByGroupQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="voucher_project_group" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetVoucherProjectDescriptionByGroupQuery" nillable="true" type="tns:GetVoucherProjectDescriptionByGroupQuery" />
  <xs:complexType name="GiftVoucherQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountPINs" type="xs:int" />
      <xs:element minOccurs="0" name="exceptedChar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expired_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fixedChar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fixedPosition" type="xs:int" />
      <xs:element minOccurs="0" name="pin_length" type="xs:int" />
      <xs:element minOccurs="0" name="pin_lot" type="xs:long" />
      <xs:element minOccurs="0" name="pin_type" type="xs:int" />
      <xs:element minOccurs="0" name="start_date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GiftVoucherQuery" nillable="true" type="tns:GiftVoucherQuery" />
</xs:schema>