Presentation/Jobs/FBBResetSequenceBatch/Connected Services/QueryServices/QueryService34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.FBBShareplexModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.FBBShareplexModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetOrderByASCEmpIdModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnOrderDetail" nillable="true" type="tns:ArrayOfReturnOrderDetailData" />
      <xs:element minOccurs="0" name="TotalCancel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalComplete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalKeyIn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderByASCEmpIdModel" nillable="true" type="tns:GetOrderByASCEmpIdModel" />
  <xs:complexType name="ArrayOfReturnOrderDetailData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnOrderDetailData" nillable="true" type="tns:ReturnOrderDetailData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReturnOrderDetailData" nillable="true" type="tns:ArrayOfReturnOrderDetailData" />
  <xs:complexType name="ReturnOrderDetailData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotifyDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderExpireDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivilegeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnOrderDetailData" nillable="true" type="tns:ReturnOrderDetailData" />
  <xs:complexType name="GetOrderDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnBillingAddress" nillable="true" type="tns:ArrayOfBillingAddressData" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnForOfficer" nillable="true" type="tns:ArrayOfForOfficerData" />
      <xs:element minOccurs="0" name="ReturnInstallAddress" nillable="true" type="tns:ArrayOfInstallAddressData" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnOrderBillMedia" nillable="true" type="tns:ArrayOfOrderBillMediaData" />
      <xs:element minOccurs="0" name="ReturnOrderContact" nillable="true" type="tns:ArrayOfOrderContactData" />
      <xs:element minOccurs="0" name="ReturnOrderCustomer" nillable="true" type="tns:ArrayOfOrderCustomerData" />
      <xs:element minOccurs="0" name="ReturnOrderDocument" nillable="true" type="tns:ArrayOfOrderDocumentData" />
      <xs:element minOccurs="0" name="ReturnOrderPackage" nillable="true" type="tns:ArrayOfOrderPackageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderDetailModel" nillable="true" type="tns:GetOrderDetailModel" />
  <xs:complexType name="ArrayOfBillingAddressData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingAddressData" nillable="true" type="tns:BillingAddressData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingAddressData" nillable="true" type="tns:ArrayOfBillingAddressData" />
  <xs:complexType name="BillingAddressData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingAddressData" nillable="true" type="tns:BillingAddressData" />
  <xs:complexType name="ArrayOfForOfficerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForOfficerData" nillable="true" type="tns:ForOfficerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForOfficerData" nillable="true" type="tns:ArrayOfForOfficerData" />
  <xs:complexType name="ForOfficerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForOfficerData" nillable="true" type="tns:ForOfficerData" />
  <xs:complexType name="ArrayOfInstallAddressData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstallAddressData" nillable="true" type="tns:InstallAddressData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstallAddressData" nillable="true" type="tns:ArrayOfInstallAddressData" />
  <xs:complexType name="InstallAddressData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstallAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallAddressData" nillable="true" type="tns:InstallAddressData" />
  <xs:complexType name="ArrayOfOrderBillMediaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderBillMediaData" nillable="true" type="tns:OrderBillMediaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderBillMediaData" nillable="true" type="tns:ArrayOfOrderBillMediaData" />
  <xs:complexType name="OrderBillMediaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillMedia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderBillMediaData" nillable="true" type="tns:OrderBillMediaData" />
  <xs:complexType name="ArrayOfOrderContactData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderContactData" nillable="true" type="tns:OrderContactData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderContactData" nillable="true" type="tns:ArrayOfOrderContactData" />
  <xs:complexType name="OrderContactData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WaitingInstallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WaitingTimeSlot" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderContactData" nillable="true" type="tns:OrderContactData" />
  <xs:complexType name="ArrayOfOrderCustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderCustomerData" nillable="true" type="tns:OrderCustomerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderCustomerData" nillable="true" type="tns:ArrayOfOrderCustomerData" />
  <xs:complexType name="OrderCustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NonMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivilegeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderCustomerData" nillable="true" type="tns:OrderCustomerData" />
  <xs:complexType name="ArrayOfOrderDocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDocumentData" nillable="true" type="tns:OrderDocumentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDocumentData" nillable="true" type="tns:ArrayOfOrderDocumentData" />
  <xs:complexType name="OrderDocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDocumentData" nillable="true" type="tns:OrderDocumentData" />
  <xs:complexType name="ArrayOfOrderPackageData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderPackageData" nillable="true" type="tns:OrderPackageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderPackageData" nillable="true" type="tns:ArrayOfOrderPackageData" />
  <xs:complexType name="OrderPackageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFFPromotionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFFWordInStatementEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFFWordInStatementTha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderPackageData" nillable="true" type="tns:OrderPackageData" />
</xs:schema>