Presentation/Jobs/FBBInventoryResendPending/Connected Services/CommandServices/CommandService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" />
  <xs:complexType name="OfficerInfoPanelModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" base="q1:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="THFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="THLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outASCPartnerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outASCTitleThai" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outChnSales" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outCompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outDistChn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outLocationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outLocationRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outLocationSubRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outMemberCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outOperatorClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outPosition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outShopType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfficerInfoPanelModel" nillable="true" type="tns:OfficerInfoPanelModel" />
  <xs:complexType name="CoveragePort_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARDID" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PORTID" type="xs:decimal" />
      <xs:element minOccurs="0" name="PORTNUMBER" type="xs:decimal" />
      <xs:element minOccurs="0" name="PORTSTATUSID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PORTTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoveragePort_info" nillable="true" type="tns:CoveragePort_info" />
  <xs:complexType name="CoveragePortPanelGrid">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARDID" type="xs:decimal" />
      <xs:element minOccurs="0" name="CARModelID" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChageTie" type="xs:boolean" />
      <xs:element minOccurs="0" name="CvrID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DSalamModelID" type="xs:decimal" />
      <xs:element minOccurs="0" name="HasPort" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasPortGenarent" type="xs:boolean" />
      <xs:element minOccurs="0" name="Maxslot" type="xs:decimal" />
      <xs:element minOccurs="0" name="Maxtabel" type="xs:int" />
      <xs:element minOccurs="0" name="NodeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nodeid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:decimal" />
      <xs:element minOccurs="0" name="Reseve" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoveragePortPanelGrid" nillable="true" type="tns:CoveragePortPanelGrid" />
  <xs:complexType name="ArrayOfAWCexportlist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AWCexportlist" nillable="true" type="tns:AWCexportlist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAWCexportlist" nillable="true" type="tns:ArrayOfAWCexportlist" />
  <xs:complexType name="AWCexportlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_FLAGAPPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTIVE_FLAGINFO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="AP_Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AP_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="AP_Lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AP_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aumphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Base_L2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gateway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Implement_Phase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Implement_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Onservice_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Site_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subnet_Mask_26" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tower_Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tower_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tumbon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VLAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AWCexportlist" nillable="true" type="tns:AWCexportlist" />
  <xs:complexType name="AWCconfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_FLAGINFO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AP_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="AP_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Site_id" type="xs:decimal" />
      <xs:element minOccurs="0" name="ap_company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ap_lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="implement_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="implement_phase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ip_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="onservice_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="po_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AWCconfig" nillable="true" type="tns:AWCconfig" />
  <xs:complexType name="AWCinformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_FLAGAPPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Aumphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Base_L2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Site_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tumbon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VLAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ap_comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apmodel" nillable="true" type="tns:ArrayOfAWCconfig" />
      <xs:element minOccurs="0" name="gateway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oldmodelpage1" nillable="true" type="tns:AWCModel" />
      <xs:element minOccurs="0" name="subnet_mask_26" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tower_height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tower_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AWCinformation" nillable="true" type="tns:AWCinformation" />
  <xs:complexType name="ArrayOfAWCconfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AWCconfig" nillable="true" type="tns:AWCconfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAWCconfig" nillable="true" type="tns:ArrayOfAWCconfig" />
  <xs:complexType name="AWCModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="APname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aumphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="awcsearchresult" nillable="true" type="tns:ArrayOfAWCSearchlist" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tumbon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AWCModel" nillable="true" type="tns:AWCModel" />
  <xs:complexType name="ArrayOfAWCSearchlist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AWCSearchlist" nillable="true" type="tns:AWCSearchlist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAWCSearchlist" nillable="true" type="tns:ArrayOfAWCSearchlist" />
  <xs:complexType name="AWCSearchlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="APname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAP" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCoverage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ap_id" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="app_id" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="aumphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="site_id" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="tumbon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AWCSearchlist" nillable="true" type="tns:AWCSearchlist" />
  <xs:complexType name="DSLAMMasterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardViewModel" nillable="true" type="tns:ArrayOfCardViewModel" />
      <xs:element minOccurs="0" name="DSLAMModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DSLAMNo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DSLAMMasterModel" nillable="true" type="tns:DSLAMMasterModel" />
  <xs:complexType name="ArrayOfCardViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardViewModel" nillable="true" type="tns:CardViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardViewModel" nillable="true" type="tns:ArrayOfCardViewModel" />
  <xs:complexType name="CardViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="cardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reserve" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardViewModel" nillable="true" type="tns:CardViewModel" />
  <xs:complexType name="CoverageAreaPanel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmphurEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmphurTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CVRId" type="xs:decimal" />
      <xs:element minOccurs="0" name="CondoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfigComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpRanSiteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Long" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MooEN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MooTH" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NodeNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeNameTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnTargetDateEx" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnTargetDateIn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProvinceEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoadEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoadTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoiEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoiTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="TumbonEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TumbonTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateCoverageType" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ZipCodeEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCodeTH" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageAreaPanel" nillable="true" type="tns:CoverageAreaPanel" />
</xs:schema>