Presentation/Jobs/FBBDormitoryBatchForService/Service References/QueryServices/QueryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLovModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LovModel" nillable="true" type="tns:LovModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLovModel" nillable="true" type="tns:ArrayOfLovModel" />
  <xs:complexType name="LovModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DISPLAY_VAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOV_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOV_VAL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOV_VAL2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LovModel" nillable="true" type="tns:LovModel" />
</xs:schema>