Presentation/Jobs/FBBDormitoryBatchForService/Service References/QueryServices/QueryService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/One2NetContract.Queries.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/One2NetContract.Queries.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetLovQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="LovName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLovQuery" nillable="true" type="tns:GetLovQuery" />
  <xs:complexType name="GetZipCodeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmphurFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TumbonFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:GetZipCodeQuery.TypeName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetZipCodeQuery" nillable="true" type="tns:GetZipCodeQuery" />
  <xs:simpleType name="GetZipCodeQuery.TypeName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Province" />
      <xs:enumeration value="Amphur" />
      <xs:enumeration value="Tumbon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetZipCodeQuery.TypeName" nillable="true" type="tns:GetZipCodeQuery.TypeName" />
</xs:schema>