Presentation/Jobs/FBBDormitoryBatchForService/Service References/QueryServices/QueryService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BatchNoRouterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_RES_DATA1" nillable="true" type="tns:ArrayOfDetailSubjectRecList" />
      <xs:element minOccurs="0" name="P_RES_DATA2" nillable="true" type="tns:ArrayOfDetailForExcelList" />
      <xs:element minOccurs="0" name="P_RETURN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_RETURN_MESSAGE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchNoRouterModel" nillable="true" type="tns:BatchNoRouterModel" />
  <xs:complexType name="ArrayOfDetailSubjectRecList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailSubjectRecList" nillable="true" type="tns:DetailSubjectRecList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetailSubjectRecList" nillable="true" type="tns:ArrayOfDetailSubjectRecList" />
  <xs:complexType name="DetailSubjectRecList">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_BODY_DETAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_IP_EMAIL_SERVER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_REGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SEND_BCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SEND_CC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SEND_FROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SEND_TO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SUBJECT_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailSubjectRecList" nillable="true" type="tns:DetailSubjectRecList" />
  <xs:complexType name="ArrayOfDetailForExcelList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailForExcelList" nillable="true" type="tns:DetailForExcelList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetailForExcelList" nillable="true" type="tns:ArrayOfDetailForExcelList" />
  <xs:complexType name="DetailForExcelList">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_BUILDING_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CONTACT_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_DORMITORY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FIBRE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FLOOR_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ID_CARD_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ID_CARD_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_REGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ROOM_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailForExcelList" nillable="true" type="tns:DetailForExcelList" />
  <xs:complexType name="ArrayOfPackageByServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageByServiceModel" nillable="true" type="tns:PackageByServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageByServiceModel" nillable="true" type="tns:ArrayOfPackageByServiceModel" />
  <xs:complexType name="PackageByServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" type="xs:int" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" type="xs:int" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERENADE_FLAGS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageByServiceModel" nillable="true" type="tns:PackageByServiceModel" />
  <xs:complexType name="ArrayOfChangeWifiModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChangeWifiModel" nillable="true" type="tns:ChangeWifiModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeWifiModel" nillable="true" type="tns:ArrayOfChangeWifiModel" />
  <xs:complexType name="ChangeWifiModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeWifiModel" nillable="true" type="tns:ChangeWifiModel" />
  <xs:complexType name="ArrayOfResponseMapEntryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseMapEntryModel" nillable="true" type="tns:ResponseMapEntryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseMapEntryModel" nillable="true" type="tns:ArrayOfResponseMapEntryModel" />
  <xs:complexType name="ResponseMapEntryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="keyField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMapEntryModel" nillable="true" type="tns:ResponseMapEntryModel" />
  <xs:complexType name="RequestParamPageControlModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelRefId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cmd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncryptedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" type="xs:int" />
      <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestParamPageControlModel" nillable="true" type="tns:RequestParamPageControlModel" />
  <xs:complexType name="ResponseParamPageControlModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquirerBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AisRefDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AisRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmountPerMonth" type="xs:long" />
      <xs:element minOccurs="0" name="BankRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankReturnAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardNo" type="xs:long" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelID" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelRefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallmentRate" type="xs:long" />
      <xs:element minOccurs="0" name="IpayReturnAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuerBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayBankFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayTerm" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseParamPageControlModel" nillable="true" type="tns:ResponseParamPageControlModel" />
  <xs:complexType name="MainModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:long" />
      <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasMainPro" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextCycleStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageNameThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecurringChange" type="xs:decimal" />
      <xs:element minOccurs="0" name="SFFPromotionBillEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFFPromotionBillThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalDays" type="xs:int" />
      <xs:element minOccurs="0" name="TotalHours" type="xs:int" />
      <xs:element minOccurs="0" name="TotalMinutes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainModel" nillable="true" type="tns:MainModel" />
  <xs:complexType name="MainRegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="NonmobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pincode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainRegisterModel" nillable="true" type="tns:MainRegisterModel" />
  <xs:complexType name="TerminateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminateModel" nillable="true" type="tns:TerminateModel" />
  <xs:complexType name="ArrayOfSetChangeWifiModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SetChangeWifiModel" nillable="true" type="tns:SetChangeWifiModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSetChangeWifiModel" nillable="true" type="tns:ArrayOfSetChangeWifiModel" />
  <xs:complexType name="SetChangeWifiModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="returnid" type="xs:int" />
      <xs:element minOccurs="0" name="returnspecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetChangeWifiModel" nillable="true" type="tns:SetChangeWifiModel" />
</xs:schema>