Presentation/Jobs/FBBPAYG_LMD_SUBPAYMENT/Connected Services/CommandService/CommandService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" />
  <xs:complexType name="ArrayOfListChangePackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListChangePackageModel" nillable="true" type="tns:ListChangePackageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListChangePackageModel" nillable="true" type="tns:ArrayOfListChangePackageModel" />
  <xs:complexType name="ListChangePackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="action_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bundling_mobile_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="change_benefit_type_from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="change_benefit_type_to" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="change_mobile_benefit_from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="change_mobile_benefit_to" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error_msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_mobile_check_right" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_mobile_check_right_opt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_mobile_get_benefit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_mobile_get_benefit_opt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_project_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_project_name_opt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="non_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="old_relate_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_seq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="project_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relate_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="send_sff_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sff_promotion_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wordingChangePromotionSummary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListChangePackageModel" nillable="true" type="tns:ListChangePackageModel" />
  <xs:complexType name="QuickWinPanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACCESS_MODE_SELECT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AIChatBotBypass_Channel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AIChatBotBypass_Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AppointmentDateSelect" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Browser_type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CATEGORY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallfeascheckFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CheckInOrder" nillable="true">
            <xs:complexType>
              <xs:annotation>
                <xs:appinfo>
                  <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="CheckXDSL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CoverageAreaResultModel" nillable="true" type="tns:CoverageAreaResultModel" />
          <xs:element minOccurs="0" name="CoveragePanelModel" nillable="true" type="tns:CoveragePanelModel" />
          <xs:element minOccurs="0" name="CustomerRegisterPanelModel" nillable="true" type="tns:CustomerRegisterPanelModel" />
          <xs:element minOccurs="0" name="DataBypass_BuildName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataBypass_BuildNameSetup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataBypass_BuildNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataBypass_Casecode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataBypass_CasecodeMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataBypass_FlowFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataBypass_ShowTimeSlot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayPackagePanelModel" nillable="true" type="tns:DisplayPackagePanelModel" />
          <xs:element minOccurs="0" name="DisplayVasPackagePanelModel" nillable="true" type="tns:DisplayVasPackagePanelModel" />
          <xs:element minOccurs="0" name="Entrancefee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExistingFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlowFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ForCoverageResult" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="HdResultId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCardType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCardTypeENG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsMulitPlayboxSpeedPass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberGetMemberFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MulitPlaybox" nillable="true" type="tns:ArrayOfMulitPlayboxModel" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="ObjOwnerPackage" nillable="true" type="q1:ArrayOfPackageModel" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" minOccurs="0" name="OfficerInfoPanelModel" nillable="true" type="q2:OfficerInfoPanelModel" />
          <xs:element minOccurs="0" name="PackagePromotionList" nillable="true" type="tns:ArrayOfPackagePromotionModel" />
          <xs:element minOccurs="0" name="PackageTopupInternetNotUseList" nillable="true" type="tns:ArrayOfPackageTopupInternetNotUse" />
          <xs:element minOccurs="0" name="PayMentMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayMentOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayMentPointType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayMentRecurringCharge" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayMentRecurringChargeVAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayMentSelectOptionSelectInstallRouter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayMentSelectPackage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayMentTechnologyDisplay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayMentTranID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PendingOrderFbss_Change_Promotion_Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PendingOrderFbss_Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlugAndPlayFlow" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PruductCD_Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegisterChannel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegisterPlayboxNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Register_device" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReservationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICE_CODE_SELECT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SffProfileLogID" type="xs:decimal" />
          <xs:element minOccurs="0" name="SffPromotiontCodeMeshSelect" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SignaturePDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SignaturePDF2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SplitterFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SplitterFlagFirstTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SplitterListStr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SplitterTransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StaffPrivilegeBypass_Channel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StaffPrivilegeBypass_Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StaffPrivilegeBypass_TransactionID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SummaryPanelModel" nillable="true" type="tns:SummaryPanelModel" />
          <xs:element minOccurs="0" name="SuperDuperProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuperDuperServiceName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TempBuildnameforlistpackage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeSlotMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopUp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopupMesh" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TriplePlayFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UseMap" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZTEAddressID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="address_flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cur_mobile_checkright" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cur_mobile_checkright_option" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cur_mobile_get_benefit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cur_mobile_get_benefit_option" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cur_project_name_option" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="hdTransactionGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="languageCulture" type="xs:int" />
          <xs:element minOccurs="0" name="mobileNumberContact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="old_relate_mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outAccountCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outAccountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outAccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outAccountSubCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outAmphur" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outBillLanguage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outBillingAccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outBirthDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outBuildingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outContactLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outDayOfServiceYear" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outFloor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outHouseNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outMobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outMoo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outMooban" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outOwnerProduct" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outPostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outPrimaryContactFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outRegisteredDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outRoom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outServiceAccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outServiceLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outSoi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outStreetName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outcardType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outparameter2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outtumbol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="relate_mobile_action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tempDslamJson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_PackageCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_add_playbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_check_pb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_icon_pb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_number_of_pb_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_number_of_playbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_owner_product" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_package_subtype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_sff_main_promotionCD" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuickWinPanelModel" nillable="true" type="tns:QuickWinPanelModel" />
  <xs:complexType name="PanelModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModelState" type="tns:ModelState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PanelModelBase" nillable="true" type="tns:PanelModelBase" />
  <xs:simpleType name="ModelState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModelState" nillable="true" type="tns:ModelState" />
  <xs:complexType name="CoverageAreaResultModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE_LIST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRRESS_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUMPHUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACTNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FIRSTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOOR_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRID_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_PARTNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LANGUAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LATITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LONGITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOO" type="xs:decimal" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANNING_SITE_LIST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PREFIXNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCTTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESOURCE_LIST" nillable="true" type="tns:ArrayOfDSLAM_INFO" />
      <xs:element minOccurs="0" name="RESULTID" type="xs:decimal" />
      <xs:element minOccurs="0" name="RETURN_CODE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RETURN_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RETURN_ORDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPLITTER_LIST" nillable="true" type="tns:ArrayOfSPLITTER_INFO" />
      <xs:element minOccurs="0" name="SUB_DISTRICT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WTTX_COVERAGE_RESULT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WTTX_MAXBANDWITH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE_ROWID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageAreaResultModel" nillable="true" type="tns:CoverageAreaResultModel" />
  <xs:complexType name="ArrayOfDSLAM_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DSLAM_INFO" nillable="true" type="tns:DSLAM_INFO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDSLAM_INFO" nillable="true" type="tns:ArrayOfDSLAM_INFO" />
  <xs:complexType name="DSLAM_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dslam_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DSLAM_INFO" nillable="true" type="tns:DSLAM_INFO" />
  <xs:complexType name="ArrayOfSPLITTER_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SPLITTER_INFO" nillable="true" type="tns:SPLITTER_INFO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSPLITTER_INFO" nillable="true" type="tns:ArrayOfSPLITTER_INFO" />
  <xs:complexType name="SPLITTER_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Distance_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resource_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Splitter_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SPLITTER_INFO" nillable="true" type="tns:SPLITTER_INFO" />
  <xs:complexType name="CoveragePanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADDRESS_TYPE_DTL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ARPU" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressPanelModel" />
          <xs:element minOccurs="0" name="BA_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="B_CHECKING" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingSystem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildingType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BundlingMainFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BundlingSpecialFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CA_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CVRID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CVR_NODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CVR_TOWER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChargeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CoverageMemberGetMember" nillable="true" type="tns:CoverageMemberGetMemberModel" />
          <xs:element minOccurs="0" name="CoverageResult" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EXISTING_MOBILE_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GRID_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="H_FBB001" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOCATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BUILD_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BUILD_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CLICK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CONTACT_EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CONTACT_LINE_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CONTACT_PHONE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_DECIMAL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIRST_LAST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIRST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FLOOR_CONDO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FLOOR_VILLAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HAVE_FIXED_LINE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HOW_LAT_LONG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HOW_TO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_LAST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_LAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_LAT2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_LAT_LONG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_LONG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_LONG2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_RESULT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_RESULT_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SPECIFIC_ADDR_1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SPECIFIC_ADDR_2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SPECIFIC_BUILD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SPECIFIC_LOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileSegment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile_Segment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetworkType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OneBill" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROJECTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="P_FTTX_VENDOR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="P_MOBILE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="P_PrePostpiad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RESULT_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_CVM_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_DISTRICT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_FMC_SPECIAL_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_FMPA_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_MOU_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_OWNER_PRODUCT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_PACKAGE_FOR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_PROVINCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_REGION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_SALE_CHANNEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_SERENADE_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SAVEORDER_SUB_DISTRICT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SA_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Serenade_Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SffProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SffServiceYear" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USE_INPUT_MOBILE_ONLINE_QUERY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WTTX_COVERAGE_RESULT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WTTX_MAXBANDWITH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WTTX_MOBILE_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="splitter" nillable="true" type="tns:ArrayOfSPLITTER_INFO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoveragePanelModel" nillable="true" type="tns:CoveragePanelModel" />
  <xs:complexType name="AddressPanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GIFT_VOUCHER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALL_STAFF_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALL_STAFF_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_AMPHUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BUILD_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BUILD_NAME_Hied" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BUILD_NO_Hied" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FLOOR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HOME_NUMBER_1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HOME_NUMBER_2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_MOO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_MOOBAN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_PROVINCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ROAD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ROOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SOI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TUMBOL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ZIPCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_CONTRACT_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_LOCATION_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_ID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressPanelModel" nillable="true" type="tns:AddressPanelModel" />
  <xs:complexType name="CoverageMemberGetMemberModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASSET_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CASE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrinct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBB_PERCENT_DISCOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULL_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IM_ORDER" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_CHANNEL_IM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RELATE_MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Road" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_CASE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VillageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherPin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageMemberGetMemberModel" nillable="true" type="tns:CoverageMemberGetMemberModel" />
  <xs:complexType name="CustomerRegisterPanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ASSIGN_RULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressPanelModelSendDoc" nillable="true" type="tns:AddressPanelModel" />
          <xs:element minOccurs="0" name="AddressPanelModelSendDocIDCard" nillable="true" type="tns:AddressPanelModel" />
          <xs:element minOccurs="0" name="AddressPanelModelSetup" nillable="true" type="tns:AddressPanelModel" />
          <xs:element minOccurs="0" name="AddressPanelModelVat" nillable="true" type="tns:AddressPanelModel" />
          <xs:element minOccurs="0" name="AutoCreateProspectFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillChecked" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPE_Info" nillable="true" type="tns:ArrayOfCPEINFO" />
          <xs:element minOccurs="0" name="CPE_Serial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CateType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractFlagFbb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountContractFbb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerSubtype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEVELOPER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeleteOrderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DownloadSpeed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EBillFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMP_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EStatmentFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Existing_Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FBBLimitContract" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="FBSSTimeSlot" nillable="true" type="q3:FBSSTimeSlot" />
          <xs:element minOccurs="0" name="FIBRE_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagBrowseFile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagDopa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagDopaSubmit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagFaceRecognition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagFaceRecognitionSubmit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagTDM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagTakePhoto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagVarifyDocuments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="H_FBB003" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOB_ORDER_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LINE_TEMP_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOCATION_EMAIL_BY_REGION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ADDING_ADDR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ASC_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BILLBOARD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BILLING_ADDR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BIRTHDAY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BUILDING" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BUILD_CONDO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BUSINESS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CARD_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CARD_NO_LASER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CARD_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CONDO_AREA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CONTACT_PERSON" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CONTACT_PHONE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_EAST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_EVENT_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_EXPRESSWAY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FILL_VAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIRST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FLOOR_12" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FLOOR_13" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FLOOR_8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FOR_CS_TEAM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FOR_OFFICER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FOR_OFFICER_ONLY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_GENDER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_GOVERNMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_GOVERNMENT_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HOME_PHONE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HOUSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HOUSE_AREA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_INSTALL_ADDR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_INSTALL_DATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_LAST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_LOC_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_MAIN_PACK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_MOBILE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_NATIONALITY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_NORTH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_NUM_OF_FLOOR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_OFF_BUILD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_OLD_ISP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ONTOP_PACK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_OR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_RESIDENTIAL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SALE_REP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SAME_AS_ADDR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SAME_AS_ADDR_IDCARD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SAME_AS_IDCARD_ADDR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SOUTH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SPECIFIC_TIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_STAFF_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TERRACE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TERRACE_DIRECTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TITLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TITLE_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TOP_TERRACE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TOWN_HOME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TREE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_TYPE_ADDR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_UPLOAD_FILE_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_VAT_ADDR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_VOUCHER_PIN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_WEST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_YOUR_PACK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ListCustomerInsight" nillable="true" type="tns:ArrayOfCustomerInsight" />
          <xs:element minOccurs="0" name="ListDcontract" nillable="true" type="tns:ArrayOfDcontract" />
          <xs:element minOccurs="0" name="ListImageFile" nillable="true" type="tns:ArrayOfUploadImage" />
          <xs:element minOccurs="0" name="MobilePrice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Non_Res_Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Online_Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderVerify" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PO_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PREMIUM_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Package_Duration" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PenaltyInstall" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlayBox_Serial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plug_and_play_flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreSurveyDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreSurveyTimeslot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Project_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REF_UR_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RELATE_MOBILE_SEGMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REQUEST_SUB_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReceiveEmailFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegisterChannelSaveOrder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark_For_Subcontract" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RentalFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RouterFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SCPE_ASC_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SCPE_LOC_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SCPE_USE_ASC_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SCPE_USE_LOC_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_ACCESS_MODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SelectFlagCheckPlugAndPlayFlow" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceLevel_Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SffRegisteredDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SffServiceYear" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialAccountEnddate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialAccountFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialAccountGroupEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialAccountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialAccountNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StaffPrivilegeBypass_TransactionID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubCateType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubNetworkType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TDMContractId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TDMPenaltyGroupId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TDMPenaltyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TDMRuleId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VatChecked" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WTTx_Info" nillable="true" type="tns:ArrayOfWTTxINFO" />
          <xs:element minOccurs="0" name="WTTx_Serial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="convergence_flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="installAddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="installAddress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="installAddress3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="installAddress4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="installAddress5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mesh_count" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outFullAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outMobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outSubType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_dev_bill_to" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_dev_price" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_dev_project_code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pbox_count" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="replace_onu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="replace_wifi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_installAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vatAddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vatAddress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vatAddress3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vatAddress4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vatAddress5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vatAddressFull" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vatPostalCd" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerRegisterPanelModel" nillable="true" type="tns:CustomerRegisterPanelModel" />
  <xs:complexType name="ArrayOfCPEINFO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPEINFO" nillable="true" type="tns:CPEINFO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPEINFO" nillable="true" type="tns:ArrayOfCPEINFO" />
  <xs:complexType name="CPEINFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPE_COMPANY_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_MAC_ADDR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_MATERIAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_MODEL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_STORAGE_LOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_TYPE_ERR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Check_Result_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Check_Result_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plug_and_play_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGISTER_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHIP_TO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN_PATTERN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WARRANTY_END_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WARRANTY_START_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpe_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPEINFO" nillable="true" type="tns:CPEINFO" />
  <xs:complexType name="ArrayOfCustomerInsight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerInsight" nillable="true" type="tns:CustomerInsight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerInsight" nillable="true" type="tns:ArrayOfCustomerInsight" />
  <xs:complexType name="CustomerInsight">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTION_FOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTION_WFM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_VALUE_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANSWER_VALUE_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_NAME_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARENT_ANSWER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUESTION_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUESTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUESTION_TH" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInsight" nillable="true" type="tns:CustomerInsight" />
  <xs:complexType name="ArrayOfDcontract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dcontract" nillable="true" type="tns:Dcontract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcontract" nillable="true" type="tns:ArrayOfDcontract" />
  <xs:complexType name="Dcontract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRACT_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEVICE_COUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DURATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PBOX_EXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDM_CONTRACT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDM_PENALTY_GROUP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDM_PENALTY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDM_RULE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dcontract" nillable="true" type="tns:Dcontract" />
  <xs:complexType name="ArrayOfUploadImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UploadImage" nillable="true" type="tns:UploadImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUploadImage" nillable="true" type="tns:ArrayOfUploadImage" />
  <xs:complexType name="UploadImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadImage" nillable="true" type="tns:UploadImage" />
  <xs:complexType name="ArrayOfWTTxINFO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WTTxINFO" nillable="true" type="tns:WTTxINFO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWTTxINFO" nillable="true" type="tns:ArrayOfWTTxINFO" />
  <xs:complexType name="WTTxINFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPE_COMPANY_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_MAC_ADDR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_MATERIAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_MODEL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_STORAGE_LOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPE_TYPE_ERR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Check_Result_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Check_Result_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plug_and_play_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGISTER_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHIP_TO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN_PATTERN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WARRANTY_END_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WARRANTY_START_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpe_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WTTxINFO" nillable="true" type="tns:WTTxINFO" />
  <xs:complexType name="DisplayPackagePanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="H_FBB002" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_AIR_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FBB_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_HOME_PACKAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_INTERNET_FBB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_INTERNET_WFB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_MORE_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_NOT_REQUIRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_PRIVILAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_PROFESSIONAL_PACKAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_REQUEST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ROUTER_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SIMAX_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SPECIAL_BUNDLING_DISCOUNT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SPECIAL_DISCOUNT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SUMMARY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SUMMARY_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Prorate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalProrate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WIFIAccessPoint" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisplayPackagePanelModel" nillable="true" type="tns:DisplayPackagePanelModel" />
  <xs:complexType name="DisplayVasPackagePanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="H_FBBOR010" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ADDED_SERVICE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BAHT_MIN" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_BAHT_MONTH" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_BAHT_TIME" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_CALL_IN_RATE" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_CALL_OUT_RATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CHARGE_RATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FAX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIXEDLINE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIXED_CHARGE_RATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIXED_REGISTER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIXED_TERM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIXED_TERM_1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIXED_TERM_2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_FIXED_TERM_3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_IDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_INSTALLATION_DATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_INSTALL_RATE" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_LIST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_MAINTEN_FEE" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_MOBILE_FORWARD_L" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_MONTH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_NUMBER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SUM_INSTALL_RATE" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_SUM_MAINTEN_RATE" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_SUM_NOTE" type="xs:decimal" />
          <xs:element minOccurs="0" name="L_TOTAL" type="xs:int" />
          <xs:element minOccurs="0" name="L_YEAR" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisplayVasPackagePanelModel" nillable="true" type="tns:DisplayVasPackagePanelModel" />
  <xs:complexType name="ArrayOfMulitPlayboxModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MulitPlayboxModel" nillable="true" type="tns:MulitPlayboxModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMulitPlayboxModel" nillable="true" type="tns:ArrayOfMulitPlayboxModel" />
  <xs:complexType name="MulitPlayboxModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstallDetaill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallProductSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthlyDetaill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthlyFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthlyProductSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayboxExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MulitPlayboxModel" nillable="true" type="tns:MulitPlayboxModel" />
  <xs:complexType name="ArrayOfPackagePromotionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackagePromotionModel" nillable="true" type="tns:PackagePromotionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackagePromotionModel" nillable="true" type="tns:ArrayOfPackagePromotionModel" />
  <xs:complexType name="PackagePromotionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsShowPacage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackagePromotionModel" nillable="true" type="tns:PackagePromotionModel" />
  <xs:complexType name="ArrayOfPackageTopupInternetNotUse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageTopupInternetNotUse" nillable="true" type="tns:PackageTopupInternetNotUse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageTopupInternetNotUse" nillable="true" type="tns:ArrayOfPackageTopupInternetNotUse" />
  <xs:complexType name="PackageTopupInternetNotUse">
    <xs:sequence>
      <xs:element minOccurs="0" name="sff_promotion_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageTopupInternetNotUse" nillable="true" type="tns:PackageTopupInternetNotUse" />
  <xs:complexType name="SummaryPanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PanelModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="B_SUBMIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="H_FBB004" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_ACCEPTED" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_AIRNET_EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_BILLING_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_CONDITION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_DOCUMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_INSTALL_DETAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_POP_WIRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_POP_WIRELESS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="L_SAVE" type="xs:boolean" />
          <xs:element minOccurs="0" name="L_SEND_EMAIL" type="xs:boolean" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="PDFPackageModel" nillable="true" type="q4:PDFPackageModel" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="PackageModel" nillable="true" type="q5:PackageModel" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="PackageModelList" nillable="true" type="q6:ArrayOfPackageModel" />
          <xs:element minOccurs="0" name="RESERVED_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOPUP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VAS_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VOIP_FLAG" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SummaryPanelModel" nillable="true" type="tns:SummaryPanelModel" />
  <xs:complexType name="EmailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailModel" nillable="true" type="tns:EmailModel" />
</xs:schema>