Framework/WBBBusinessLayer/Web References/SFFServices/SFFServiceServiceDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://th/co/ais/sff/ws" xmlns="" name="SFFServiceServiceDefinitions" targetNamespace="http://th/co/ais/sff/ws" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://th/co/ais/sff/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:th.co.ais.sff.domain.gm.vo.ws" />
      <xs:element name="ExecuteService">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:th.co.ais.sff.domain.gm.vo.ws" name="sffRequest" type="java:SffRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteServiceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:th.co.ais.sff.domain.gm.vo.ws" name="return" type="java:SffResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:th.co.ais.sff.domain.gm.vo.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ParameterList">
        <xs:sequence>
          <xs:element minOccurs="1" name="ParameterType" nillable="true" type="xs:string" />
          <xs:element xmlns:java="java:th.co.ais.sff.domain.gm.vo.ws" minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="java:Parameter" />
          <xs:element xmlns:java="java:th.co.ais.sff.domain.gm.vo.ws" minOccurs="0" maxOccurs="unbounded" name="ParameterList" nillable="true" type="java:ParameterList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Parameter">
        <xs:sequence>
          <xs:element minOccurs="1" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SffRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="Event" nillable="true" type="xs:string" />
          <xs:element xmlns:java="java:th.co.ais.sff.domain.gm.vo.ws" minOccurs="1" name="ParameterList" nillable="true" type="java:ParameterList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SffResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="ErrorMessage" nillable="true" type="xs:string" />
          <xs:element xmlns:java="java:th.co.ais.sff.domain.gm.vo.ws" minOccurs="1" name="ParameterList" nillable="true" type="java:ParameterList" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="ExecuteService">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ExecuteService" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ExecuteServiceResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:ExecuteServiceResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="SFFService">
    <WL5G3N0:operation name="ExecuteService" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:ExecuteService" />
      <WL5G3N0:output message="WL5G3N1:ExecuteServiceResponse" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="SFFServiceServiceSoapBinding" type="WL5G3N1:SFFService">
    <WL5G3N2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="ExecuteService">
      <WL5G3N2:operation soapAction="" style="document" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" parts="parameters" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" parts="parameters" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="SFFServiceService">
    <WL5G3N0:port name="SFFServiceSoapPort" binding="WL5G3N1:SFFServiceServiceSoapBinding">
      <WL5G3N2:address location="http://10.252.64.129:8803/SFFWebService/SFFService" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>