Presentation/Jobs/ReconcileStandardAddress/Service References/QueryServices/QueryService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.ReportPortAssignment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.ReportPortAssignment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetNodeIDQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="NodeNameTH" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetNodeIDQuery" nillable="true" type="tns:GetNodeIDQuery" />
  <xs:complexType name="GetNodeNameTHQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetNodeNameTHQuery" nillable="true" type="tns:GetNodeNameTHQuery" />
  <xs:complexType name="SelectPortAssignmentQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
      <xs:element minOccurs="0" name="FlagResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NODENAME_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectPortAssignmentQuery" nillable="true" type="tns:SelectPortAssignmentQuery" />
</xs:schema>