Presentation/Jobs/ReconcileStandardAddress/Service References/QueryServices/QueryService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBSS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBSS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CheckInOrderQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckInOrderQuery" nillable="true" type="tns:CheckInOrderQuery" />
  <xs:complexType name="GetbuildingChangeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aumphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tumbon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Typeaddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetbuildingChangeQuery" nillable="true" type="tns:GetbuildingChangeQuery" />
  <xs:complexType name="GetbuildingAllQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Typeaddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetbuildingAllQuery" nillable="true" type="tns:GetbuildingAllQuery" />
  <xs:complexType name="GetBuildingNoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buildname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBuildingNoQuery" nillable="true" type="tns:GetBuildingNoQuery" />
  <xs:complexType name="GetBuildingNoAllQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buildname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBuildingNoAllQuery" nillable="true" type="tns:GetBuildingNoAllQuery" />
  <xs:complexType name="GetPermissionCondoUpdateStatusQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPermissionCondoUpdateStatusQuery" nillable="true" type="tns:GetPermissionCondoUpdateStatusQuery" />
</xs:schema>