Framework/WBBBusinessLayer/Web References/SBNV2WebService/AIRInterfaceWorkflowServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.sss.sbn.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AIRInterfaceWorkflowServiceService" targetNamespace="http://webservice.sss.sbn.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.sss.sbn.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ChangeAddress" type="tns:ChangeAddress" />
      <xs:element name="ChangeAddressResponse" type="tns:ChangeAddressResponse" />
      <xs:element name="DeleteUserGroup" type="tns:DeleteUserGroup" />
      <xs:element name="DeleteUserGroupResponse" type="tns:DeleteUserGroupResponse" />
      <xs:element name="PermissionuserACIM" type="tns:PermissionuserACIM" />
      <xs:element name="PermissionuserACIMResponse" type="tns:PermissionuserACIMResponse" />
      <xs:element name="SaveDataAPI10" type="tns:SaveDataAPI10" />
      <xs:element name="SaveDataAPI10Response" type="tns:SaveDataAPI10Response" />
      <xs:element name="airChangePackageArray" type="tns:airChangePackageArray" />
      <xs:element name="airChangePackageRecord" type="tns:airChangePackageRecord" />
      <xs:element name="airRegistCpeSerialArray" type="tns:airRegistCpeSerialArray" />
      <xs:element name="airRegistCpeSerialRecord" type="tns:airRegistCpeSerialRecord" />
      <xs:element name="airRegistFileArray" type="tns:airRegistFileArray" />
      <xs:element name="airRegistFileRecord" type="tns:airRegistFileRecord" />
      <xs:element name="airRegistPackageArray" type="tns:airRegistPackageArray" />
      <xs:element name="airRegistPackageRecord" type="tns:airRegistPackageRecord" />
      <xs:element name="airRegistSplitterArray" type="tns:airRegistSplitterArray" />
      <xs:element name="airRegistSplitterRecord" type="tns:airRegistSplitterRecord" />
      <xs:element name="getListChangePackage" type="tns:getListChangePackage" />
      <xs:element name="getListChangePackageResponse" type="tns:getListChangePackageResponse" />
      <xs:element name="getListCleanSingAdress" type="tns:getListCleanSingAdress" />
      <xs:element name="getListCleanSingAdressResponse" type="tns:getListCleanSingAdressResponse" />
      <xs:element name="getListFBBProject" type="tns:getListFBBProject" />
      <xs:element name="getListFBBProjectResponse" type="tns:getListFBBProjectResponse" />
      <xs:element name="getListPackageByChange" type="tns:getListPackageByChange" />
      <xs:element name="getListPackageByChangeResponse" type="tns:getListPackageByChangeResponse" />
      <xs:element name="getListPackageBySFFPromo" type="tns:getListPackageBySFFPromo" />
      <xs:element name="getListPackageBySFFPromoResponse" type="tns:getListPackageBySFFPromoResponse" />
      <xs:element name="getListPackageByService" type="tns:getListPackageByService" />
      <xs:element name="getListPackageByServiceResponse" type="tns:getListPackageByServiceResponse" />
      <xs:element name="saveOrderNew" type="tns:saveOrderNew" />
      <xs:element name="saveOrderNewResponse" type="tns:saveOrderNewResponse" />
      <xs:element name="updateInformationCSNote" type="tns:updateInformationCSNote" />
      <xs:element name="updateInformationCSNoteResponse" type="tns:updateInformationCSNoteResponse" />
      <xs:complexType name="getListCleanSingAdress">
        <xs:sequence>
          <xs:element minOccurs="0" name="order_no" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListCleanSingAdressResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:resultListCleanSingAddress" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resultListCleanSingAddress">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="getListCleanSingAddress" nillable="true" type="tns:getListCleanSingAddress" />
          <xs:element minOccurs="0" name="RETURN_CODE" type="xs:int" />
          <xs:element minOccurs="0" name="RETURN_MESSAGE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListCleanSingAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADDRESS_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="MOOBAN" type="xs:string" />
          <xs:element minOccurs="0" name="MOO_NO" type="xs:string" />
          <xs:element minOccurs="0" name="ORDER_NO" type="xs:string" />
          <xs:element minOccurs="0" name="ROAD" type="xs:string" />
          <xs:element minOccurs="0" name="ROOM" type="xs:string" />
          <xs:element minOccurs="0" name="SOI" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListChangePackage">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="NON_MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RELATE_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NETWORK_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EXISTING_MOBILE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CURRENT_PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CURRENT_PROJECT_NAME_OPT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CURRENT_MOBILE_CHK_RIGHT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CURRENT_MOBILE_CHK_RIGHT_OPT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CURRENT_MOBILE_GET_BENEFIT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CURRENT_MOBILE_GET_BENEFIT_OPT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NEW_MOBILE_CHK_RIGHT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NEW_MOBILE_GET_BENEFIT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AIR_CHANGE_OLD_PACKAGE_ARRAY" type="tns:airChangePackageArray" />
          <xs:element minOccurs="0" form="qualified" name="AIR_CHANGE_NEW_PACKAGE_ARRAY" type="tns:airChangePackageArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airChangePackageArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airChangePackageRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airChangePackageRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="enddt" type="xs:string" />
          <xs:element minOccurs="0" name="productSeq" type="xs:string" />
          <xs:element minOccurs="0" name="sffPromotionCode" type="xs:string" />
          <xs:element minOccurs="0" name="startdt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListChangePackageResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnAirWorkflowResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sbnAirWorkflowResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listChangePackageResult" nillable="true" type="tns:listChangePackageResult" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listPackageByChangeResult" nillable="true" type="tns:listPackageByChangeResult" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listPackageBySffPromoResult" nillable="true" type="tns:listPackageBySffPromoResult" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listPackageDisplay" nillable="true" type="tns:listPackageDisplayResult" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="packageByServiceArray" nillable="true" type="tns:packageByServiceArray" />
          <xs:element minOccurs="0" name="RETURN_CODE" type="xs:int" />
          <xs:element minOccurs="0" name="RETURN_EVENT_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_IA_NO" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_MESSAGE" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_MULTI_INSTANCE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_ORDER_NO" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_SALE_ORDER" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listChangePackageResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACTION_STATUS" type="xs:string" />
          <xs:element minOccurs="0" name="BUNDLING_MOBILE_ACTION" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_BENEFIT_TYPE_FROM" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_BENEFIT_TYPE_TO" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_MOBILE_BENEFIT_FROM" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_MOBILE_BENEFIT_TO" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_MOBILE_CHECK_RIGHT" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_MOBILE_CHECK_RIGHT_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_MOBILE_GET_BENEFIT" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_MOBILE_GET_BENEFIT_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_PROJECT_NAME_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="ERROR_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="ERROR_MSG" type="xs:string" />
          <xs:element minOccurs="0" name="EXISTING_MOBILE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_MOBILE_CHECK_RIGHT" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_MOBILE_CHECK_RIGHT_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_MOBILE_GET_BENEFIT" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_MOBILE_GET_BENEFIT_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_PROJECT_NAME_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="NON_MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="OLD_RELATE_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" name="ORDER_NO" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_STATE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SEQ" type="xs:string" />
          <xs:element minOccurs="0" name="PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="RELATE_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" name="SEND_SFF_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listPackageByChangeResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="AUTO_MAPPING_PROMOTION_CODE" type="xs:string" />
          <xs:element name="DISCOUNT_DAY" type="xs:int" />
          <xs:element minOccurs="0" name="DISCOUNT_TYPE" type="xs:string" />
          <xs:element name="DISCOUNT_VALUE" type="xs:int" />
          <xs:element minOccurs="0" name="DISPLAY_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="DISPLAY_SEQ" type="xs:string" />
          <xs:element minOccurs="0" name="DOWNLOAD_SPEED" type="xs:string" />
          <xs:element minOccurs="0" name="MAPPING_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_DISPLAY_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_DISPLAY_THA" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_GROUP" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_GROUP_SEQ" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_TYPE_DESC" type="xs:string" />
          <xs:element minOccurs="0" name="PRE_PRICE_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="PRICE_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="SERENADE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PRODUCT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_THA" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_SEQ" type="xs:string" />
          <xs:element minOccurs="0" name="UPLOAD_SPEED" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listPackageBySffPromoResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOWNLOAD_SPEED" type="xs:string" />
          <xs:element minOccurs="0" name="MAPPING_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_DISPLAY_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_DISPLAY_THA" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_SERVICE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_SERVICE_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_TYPE_DESC" type="xs:string" />
          <xs:element minOccurs="0" name="PRE_PRICE_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="PRICE_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PRICE_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PRODUCT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PRODUCT_PACKAGE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_THA" type="xs:string" />
          <xs:element minOccurs="0" name="UPLOAD_SPEED" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listPackageDisplayResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="ENDDT" type="xs:string" />
          <xs:element minOccurs="0" name="FONT_TYPE" type="xs:string" />
          <xs:element name="LINE_SEQ" type="xs:int" />
          <xs:element minOccurs="0" name="NON_MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_DISPLAY_EN" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_DISPLAY_TH" type="xs:string" />
          <xs:element name="PACKAGE_SEQ" type="xs:int" />
          <xs:element minOccurs="0" name="PACKAGE_STATE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_SUBSEQ" type="xs:string" />
          <xs:element minOccurs="0" name="REF_ROW_ID" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="STARTDT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="packageByServiceArray">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACCESS_MODE" type="xs:string" />
          <xs:element minOccurs="0" name="AUTO_MAPPING_PROMOTION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="CUSTOMER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="DISCOUNT_DAY" type="xs:string" />
          <xs:element minOccurs="0" name="DISCOUNT_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="DISCOUNT_VALUE" type="xs:string" />
          <xs:element minOccurs="0" name="DISPLAY_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="DISPLAY_SEQ" type="xs:string" />
          <xs:element minOccurs="0" name="DOWNLOAD_SPEED" type="xs:string" />
          <xs:element minOccurs="0" name="MAPPING_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_DISPLAY_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_DISPLAY_THA" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_FOR_SALE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_GROUP" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_GROUP_DESC_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_GROUP_DESC_THA" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_GROUP_SEQ" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_REMARK_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_REMARK_THA" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_SERVICE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_TYPE_DESC" type="xs:string" />
          <xs:element minOccurs="0" name="PRE_PRICE_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="PRICE_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" type="xs:string" />
          <xs:element minOccurs="0" name="SALE_END_DATE" type="xs:string" />
          <xs:element minOccurs="0" name="SALE_START_DATE" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PRODUCT_CLASS" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PRODUCT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_THA" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_SEQ" type="xs:string" />
          <xs:element minOccurs="0" name="UPLOAD_SPEED" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateInformationCSNote">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
          <xs:element minOccurs="0" name="csNote" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateInformationCSNoteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:returnCSNoteResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="returnCSNoteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="returnCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnMsg" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListFBBProject">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="EVENT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SALE_CHANNEL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NON_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RELATE_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NETWORK_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EXISTING_MOBILE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUR_PROJECT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUR_PROJECT_NAME_OPT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUR_MOBILE_CHECK_RIGHT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUR_MOBILE_CHECK_RIGHT_OPT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUR_MOBILE_GET_BENEFIT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUR_MOBILE_GET_BENEFIT_OPT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NEW_MOBILE_CHECK_RIGHT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NEW_MOBILE_GET_BENEFIT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AIR_CHANGE_NEW_PACKAGE_ARRAY" type="tns:airChangePackageArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListFBBProjectResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:getFBBProjectResults" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFBBProjectResults">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACTION_STATUS" type="xs:string" />
          <xs:element minOccurs="0" name="BUNDLING_MOBILE_ACTION" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_BENEFIT_TYPE_FROM" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_BENEFIT_TYPE_TO" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_MOBILE_BENEFIT_FROM" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_MOBILE_BENEFIT_TO" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_MOBILE_CHECK_RIGHT" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_MOBILE_CHECK_RIGHT_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_MOBILE_GET_BENEFIT" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_MOBILE_GET_BENEFIT_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="CUR_PROJECT_NAME_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="ERROR_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="ERROR_MSG" type="xs:string" />
          <xs:element minOccurs="0" name="EXISTING_MOBILE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_MOBILE_CHECK_RIGHT" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_MOBILE_CHECK_RIGHT_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_MOBILE_GET_BENEFIT" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_MOBILE_GET_BENEFIT_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="NEW_PROJECT_NAME_OPT" type="xs:string" />
          <xs:element minOccurs="0" name="NON_MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="OLD_RELATE_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" name="ORDER_NO" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_STATE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SEQ" type="xs:string" />
          <xs:element minOccurs="0" name="PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="RELATE_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" name="SEND_SFF_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListPackageBySFFPromo">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="SFF_PROMOCODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EXISTING_REQ" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListPackageBySFFPromoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnAirWorkflowResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangeAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="order_no" type="xs:string" />
          <xs:element minOccurs="0" name="address_type" type="xs:string" />
          <xs:element minOccurs="0" name="house_no" type="xs:string" />
          <xs:element minOccurs="0" name="mooban" type="xs:string" />
          <xs:element minOccurs="0" name="floor" type="xs:string" />
          <xs:element minOccurs="0" name="room" type="xs:string" />
          <xs:element minOccurs="0" name="moo_no" type="xs:string" />
          <xs:element minOccurs="0" name="building" type="xs:string" />
          <xs:element minOccurs="0" name="soi" type="xs:string" />
          <xs:element minOccurs="0" name="road" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangeAddressResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:saveChangeAddress" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveChangeAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="RETURN_CODE" type="xs:int" />
          <xs:element minOccurs="0" name="RETURN_MESSAGE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListPackageByService">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="SALE_CHANNEL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PACKAGE_FOR" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SFF_PROMOTION_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUSTOMER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUSTOMER_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PARTNER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PARTNER_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LOCATION_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ASC_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EMPLOYEE_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REGION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PROVINCE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DISTRICT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SUB_DISTRICT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ADDRESS_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SERENADE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FMPA_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CVM_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FMC_SPECIAL_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NON_RES_FLAG" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListPackageByServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnAirWorkflowResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PermissionuserACIM">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="ACTION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TRANSACTION_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="USER_ARRAY" type="tns:airUserArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airUserArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airUserRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airUserRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="end_Date" type="xs:string" />
          <xs:element minOccurs="0" name="first_Name" type="xs:string" />
          <xs:element minOccurs="0" name="last_Name" type="xs:string" />
          <xs:element minOccurs="0" name="location_Code" type="xs:string" />
          <xs:element minOccurs="0" name="location_Name" type="xs:string" />
          <xs:element minOccurs="0" name="period" type="xs:string" />
          <xs:element minOccurs="0" name="role" type="xs:string" />
          <xs:element minOccurs="0" name="role_Past" type="xs:string" />
          <xs:element minOccurs="0" name="start_Date" type="xs:string" />
          <xs:element minOccurs="0" name="user_Name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PermissionuserACIMResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:permissionuserACIMResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="permissionuserACIMResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return_code" type="xs:string" />
          <xs:element minOccurs="0" name="return_msg" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="userArray" nillable="true" type="tns:userArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userArray">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListPackageByChange">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="SALE_CHANNEL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PACKAGE_FOR" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUSTOMER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PARTNER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PARTNER_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LOCATION_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ASC_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EMPLOYEE_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REGION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PROVINCE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DISTRICT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SUB_DISTRICT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ADDRESS_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SERENADE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PENALTY_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PACKAGE_MAIN" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ProjectCondFlagArray" type="tns:airProjectCondFlagArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airProjectCondFlagArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airProjectCondFlagRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airProjectCondFlagRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="projectCondFlag" type="xs:string" />
          <xs:element minOccurs="0" name="projectCondValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getListPackageByChangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnAirWorkflowResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteUserGroup">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="USER_NAME" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteUserGroupResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:deleteUserGroupResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteUserGroupResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="return_code" type="xs:string" />
          <xs:element minOccurs="0" name="return_msg" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveOrderNew">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="CUSTOMER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUSTOMER_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TITLE_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FIRST_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LAST_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTACT_TITLE_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTACT_FIRST_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTACT_LAST_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ID_CARD_TYPE_DESC" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ID_CARD_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TAX_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="GENDER" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BIRTH_DATE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOBILE_NO_2" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="HOME_PHONE_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EMAIL_ADDRESS" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTACT_TIME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NATIONALITY_DESC" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUSTOMER_REMARK" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="HOUSE_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOO_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BUILDING" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FLOOR" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ROOM" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOOBAN" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SOI" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ROAD" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ZIPCODE_ROWID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LATITUDE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LONGTITUDE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ASC_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EMPLOYEE_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LOCATION_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SALE_REPRESENT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CS_NOTE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="WIFI_ACCESS_POINT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALL_STATUS" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="COVERAGE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EXISTING_AIRNET_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="GSM_MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTACT_NAME_1" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTACT_NAME_2" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTACT_MOBILE_NO_1" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTACT_MOBILE_NO_2" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONDO_FLOOR" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONDO_ROOF_TOP" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONDO_BALCONY" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BALCONY_NORTH" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BALCONY_SOUTH" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BALCONY_EAST" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BALCONY_WAST" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="HIGH_BUILDING" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="HIGH_TREE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BILLBOARD" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EXPRESSWAY" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ADDRESS_TYPE_WIRE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ADDRESS_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FLOOR_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="HOUSE_NO_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOO_NO_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOOBAN_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BUILDING_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FLOOR_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ROOM_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SOI_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ROAD_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ZIPCODE_ROWID_BL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="HOUSE_NO_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOO_NO_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOOBAN_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BUILDING_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FLOOR_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ROOM_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SOI_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ROAD_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ZIPCODE_ROWID_VT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CVR_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CVR_NODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CVR_TOWER" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SITE_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RELATE_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RELATE_NON_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SFF_CA_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SFF_SA_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SFF_BA_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NETWORK_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SERVICE_DAY" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EXPECT_INSTALL_DATE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FTTX_VENDOR" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALL_NOTE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PHONE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TIME_SLOT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALLATION_CAPACITY" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ADDRESS_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ACCESS_MODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ENG_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EVENT_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALLADDRESS1" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALLADDRESS2" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALLADDRESS3" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALLADDRESS4" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALLADDRESS5" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PBOX_COUNT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONVERGENCE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TIME_SLOT_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="GIFT_VOUCHER" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SUB_LOCATION_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SUB_CONTRACT_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALL_STAFF_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="INSTALL_STAFF_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FLOW_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LINE_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RELATE_PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PLUG_AND_PLAY_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RESERVED_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="JOB_ORDER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ASSIGN_RULE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="OLD_ISP" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SPLITTER_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RESERVED_PORT_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SPECIAL_REMARK" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ORDER_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SOURCE_SYSTEM" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="BILL_MEDIA" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PRE_ORDER_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="VOUCHER_DESC" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CAMPAIGN_PROJECT_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PRE_ORDER_CHANEL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RENTAL_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DEV_PROJECT_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DEV_BILL_TO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DEV_PO_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PARTNER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PARTNER_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MOBILE_BY_ASC" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LOCATION_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PAYMENTMETHOD" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TRANSACTIONID_IN" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TRANSACTIONID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SUB_ACCESS_MODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REQUEST_SUB_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PREMIUM_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="RELATE_MOBILE_SEGMENT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REF_UR_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LOCATION_EMAIL_BY_REGION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SALE_STAFF_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DOPA_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SERVICE_YEAR" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REQUIRE_CS_VERIFY_DOC" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FACERECOG_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SPECIAL_ACCOUNT_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SPECIAL_ACCOUNT_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SPECIAL_ACCOUNT_ENDDATE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SPECIAL_ACCOUNT_GROUP_EMAIL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SPECIAL_ACCOUNT_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EXISTING_MOBILE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PRE_SURVEY_DATE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PRE_SURVEY_TIMESLOT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REGISTER_CHANNEL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AUTO_CREATE_PROSPECT_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ORDER_VERIFY" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="WAITING_INSTALL_DATE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="WAITING_TIME_SLOT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SALE_CHANNEL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PACKAGE_FOR" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SFF_PROMOTION_CODE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REGION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PROVINCE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DISTRICT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SUB_DISTRICT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SERENADE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FMPA_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CVM_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ORDER_RELATE_CHANGE_PRO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="COMPANY_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DISTRIBUTION_CHANNEL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CHANNEL_SALES_GROUP" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SHOP_TYPE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SHOP_SEGMENT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ASC_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ASC_MEMBER_CATEGORY" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ASC_POSITION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LOCATION_REGION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LOCATION_SUB_REGION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EMPLOYEE_NAME" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CUSTOMERPURGE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="EXCEPTENTRYFEE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SECONDINSTALLATION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AMENDMENT_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SERVICE_LEVEL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FIRST_INSTALL_DATE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FIRST_TIME_SLOT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="LINE_TEMP_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FMC_SPECIAL_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NON_RES_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CRITERIA_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REMARK_FOR_SUBCONTRACT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="MESH_COUNT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="ONLINE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PRIVILEGE_POINT" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="PRIVILEGE_STAFF" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="SPECIAL_SKILL" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TDM_CONTRACT_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TDM_RULE_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TDM_PENALTY_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="TDM_PENALTY_GROUP_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DURATION" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CONTRACT_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="NON_MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REGIS_PAYMENT_ID" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REGIS_PAYMENTDATE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="REGIS_PAYMENTMETHOD" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="CEN_FRAUD_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="VERIFY_REASON_CEN_FRAUD" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="FRAUD_SCORE" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DELIVERY_METHOD" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="DIY_FLAG" type="xs:string" />
          <xs:element minOccurs="0" form="qualified" name="AIR_REGIST_PACKAGE_ARRAY" type="tns:airRegistPackageArray" />
          <xs:element minOccurs="0" form="qualified" name="AIR_REGIST_FILE_ARRAY" type="tns:airRegistFileArray" />
          <xs:element minOccurs="0" form="qualified" name="AIR_REGIST_SPLITTER_ARRAY" type="tns:airRegistSplitterArray" />
          <xs:element minOccurs="0" form="qualified" name="AIR_REGIST_CPE_SERIAL_ARRAY" type="tns:airRegistCpeSerialArray" />
          <xs:element minOccurs="0" form="qualified" name="AIR_REGIST_CUST_INSIGHT_ARRAY" type="tns:airRegistCustInsightArray" />
          <xs:element minOccurs="0" form="qualified" name="AIR_REGIST_DCONTRACT_ARRAY" type="tns:airRegistDcontractArray" />
          <xs:element minOccurs="0" form="qualified" name="AIR_REGIST_CROSS_NETWORK_ARRAY" type="tns:airRegistCrossNetworkArray" />
          <xs:element minOccurs="0" form="qualified" name="AIR_FRAUD_REASON_ARRAY" type="tns:airFraudReasonArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistPackageArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistPackageRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistPackageRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="faxFlag" type="xs:string" />
          <xs:element minOccurs="0" name="homeIp" type="xs:string" />
          <xs:element minOccurs="0" name="homePort" type="xs:string" />
          <xs:element minOccurs="0" name="iddFlag" type="xs:string" />
          <xs:element minOccurs="0" name="mobileForward" type="xs:string" />
          <xs:element minOccurs="0" name="packageCode" type="xs:string" />
          <xs:element minOccurs="0" name="packagePrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="packageType" type="xs:string" />
          <xs:element minOccurs="0" name="pboxExt" type="xs:string" />
          <xs:element minOccurs="0" name="productSubtype" type="xs:string" />
          <xs:element minOccurs="0" name="tempIa" type="xs:string" />
          <xs:element minOccurs="0" name="packageCount" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistFileArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistFileRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistFileRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistSplitterArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistSplitterRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistSplitterRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="distance" type="xs:decimal" />
          <xs:element minOccurs="0" name="distanceType" type="xs:string" />
          <xs:element minOccurs="0" name="resourceType" type="xs:string" />
          <xs:element minOccurs="0" name="splitterName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistCpeSerialArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistCpeSerialRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistCpeSerialRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="cpeType" type="xs:string" />
          <xs:element minOccurs="0" name="macAddress" type="xs:string" />
          <xs:element minOccurs="0" name="serialNo" type="xs:string" />
          <xs:element minOccurs="0" name="statusDesc" type="xs:string" />
          <xs:element minOccurs="0" name="modelName" type="xs:string" />
          <xs:element minOccurs="0" name="companyCode" type="xs:string" />
          <xs:element minOccurs="0" name="cpePlant" type="xs:string" />
          <xs:element minOccurs="0" name="storageLocation" type="xs:string" />
          <xs:element minOccurs="0" name="materialCode" type="xs:string" />
          <xs:element minOccurs="0" name="registerDate" type="xs:string" />
          <xs:element minOccurs="0" name="fibrenetId" type="xs:string" />
          <xs:element minOccurs="0" name="snPattern" type="xs:string" />
          <xs:element minOccurs="0" name="shipTo" type="xs:string" />
          <xs:element minOccurs="0" name="warrantyStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="warrantyEndDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistCustInsightArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistCustInsightRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistCustInsightRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="actionFoa" type="xs:string" />
          <xs:element minOccurs="0" name="actionWfm" type="xs:string" />
          <xs:element minOccurs="0" name="answerEn" type="xs:string" />
          <xs:element minOccurs="0" name="answerId" type="xs:string" />
          <xs:element minOccurs="0" name="answerTh" type="xs:string" />
          <xs:element minOccurs="0" name="answerValueEn" type="xs:string" />
          <xs:element minOccurs="0" name="answerValueTh" type="xs:string" />
          <xs:element minOccurs="0" name="groupId" type="xs:string" />
          <xs:element minOccurs="0" name="groupNameEn" type="xs:string" />
          <xs:element minOccurs="0" name="groupNameTh" type="xs:string" />
          <xs:element minOccurs="0" name="parentAnswerId" type="xs:string" />
          <xs:element minOccurs="0" name="questionEn" type="xs:string" />
          <xs:element minOccurs="0" name="questionId" type="xs:string" />
          <xs:element minOccurs="0" name="questionTh" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistDcontractArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistDcontractRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistDcontractRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="contractFlag" type="xs:string" />
          <xs:element minOccurs="0" name="deviceCount" type="xs:string" />
          <xs:element minOccurs="0" name="duration" type="xs:string" />
          <xs:element minOccurs="0" name="pboxExt" type="xs:string" />
          <xs:element minOccurs="0" name="productSubtype" type="xs:string" />
          <xs:element minOccurs="0" name="tdmContractId" type="xs:string" />
          <xs:element minOccurs="0" name="tdmPenaltyGroupId" type="xs:string" />
          <xs:element minOccurs="0" name="tdmPenaltyId" type="xs:string" />
          <xs:element minOccurs="0" name="tdmRuleId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistCrossNetworkArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistCrossnetworkRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistCrossnetworkRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="distance" type="xs:string" />
          <xs:element minOccurs="0" name="ishome" type="xs:string" />
          <xs:element minOccurs="0" name="mdfname" type="xs:string" />
          <xs:element minOccurs="0" name="mdfport" type="xs:string" />
          <xs:element minOccurs="0" name="referenceid" type="xs:string" />
          <xs:element minOccurs="0" name="splitteralias" type="xs:string" />
          <xs:element minOccurs="0" name="splittercode" type="xs:string" />
          <xs:element minOccurs="0" name="splitterlatitude" type="xs:string" />
          <xs:element minOccurs="0" name="splitterlongitude" type="xs:string" />
          <xs:element minOccurs="0" name="splitterport" type="xs:string" />
          <xs:element minOccurs="0" name="threebbFlag" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airFraudReasonArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airFraudReasonRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airFraudReasonRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="reasons" type="xs:string" />
          <xs:element minOccurs="0" name="score" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveOrderNewResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnAirWorkflowResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaveDataAPI10">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaveDataAPI10Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:respSaveAPI" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respSaveAPI">
        <xs:sequence>
          <xs:element minOccurs="0" name="returnCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SQLException" type="tns:SQLException" />
      <xs:complexType name="SQLException">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="sQLState" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updateInformationCSNoteResponse">
    <wsdl:part name="parameters" element="tns:updateInformationCSNoteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserGroupResponse">
    <wsdl:part name="parameters" element="tns:DeleteUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="saveOrderNewResponse">
    <wsdl:part name="parameters" element="tns:saveOrderNewResponse" />
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part name="SQLException" element="tns:SQLException" />
  </wsdl:message>
  <wsdl:message name="getListPackageByServiceResponse">
    <wsdl:part name="parameters" element="tns:getListPackageByServiceResponse" />
  </wsdl:message>
  <wsdl:message name="getListChangePackageResponse">
    <wsdl:part name="parameters" element="tns:getListChangePackageResponse" />
  </wsdl:message>
  <wsdl:message name="getListPackageBySFFPromo">
    <wsdl:part name="parameters" element="tns:getListPackageBySFFPromo" />
  </wsdl:message>
  <wsdl:message name="ChangeAddress">
    <wsdl:part name="parameters" element="tns:ChangeAddress" />
  </wsdl:message>
  <wsdl:message name="getListCleanSingAdressResponse">
    <wsdl:part name="parameters" element="tns:getListCleanSingAdressResponse" />
  </wsdl:message>
  <wsdl:message name="getListPackageBySFFPromoResponse">
    <wsdl:part name="parameters" element="tns:getListPackageBySFFPromoResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDataAPI10">
    <wsdl:part name="parameters" element="tns:SaveDataAPI10" />
  </wsdl:message>
  <wsdl:message name="PermissionuserACIMResponse">
    <wsdl:part name="parameters" element="tns:PermissionuserACIMResponse" />
  </wsdl:message>
  <wsdl:message name="getListCleanSingAdress">
    <wsdl:part name="parameters" element="tns:getListCleanSingAdress" />
  </wsdl:message>
  <wsdl:message name="getListPackageByChangeResponse">
    <wsdl:part name="parameters" element="tns:getListPackageByChangeResponse" />
  </wsdl:message>
  <wsdl:message name="getListChangePackage">
    <wsdl:part name="parameters" element="tns:getListChangePackage" />
  </wsdl:message>
  <wsdl:message name="updateInformationCSNote">
    <wsdl:part name="parameters" element="tns:updateInformationCSNote" />
  </wsdl:message>
  <wsdl:message name="getListFBBProject">
    <wsdl:part name="parameters" element="tns:getListFBBProject" />
  </wsdl:message>
  <wsdl:message name="getListPackageByService">
    <wsdl:part name="parameters" element="tns:getListPackageByService" />
  </wsdl:message>
  <wsdl:message name="PermissionuserACIM">
    <wsdl:part name="parameters" element="tns:PermissionuserACIM" />
  </wsdl:message>
  <wsdl:message name="SaveDataAPI10Response">
    <wsdl:part name="parameters" element="tns:SaveDataAPI10Response" />
  </wsdl:message>
  <wsdl:message name="getListPackageByChange">
    <wsdl:part name="parameters" element="tns:getListPackageByChange" />
  </wsdl:message>
  <wsdl:message name="getListFBBProjectResponse">
    <wsdl:part name="parameters" element="tns:getListFBBProjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserGroup">
    <wsdl:part name="parameters" element="tns:DeleteUserGroup" />
  </wsdl:message>
  <wsdl:message name="saveOrderNew">
    <wsdl:part name="parameters" element="tns:saveOrderNew" />
  </wsdl:message>
  <wsdl:message name="ChangeAddressResponse">
    <wsdl:part name="parameters" element="tns:ChangeAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="AIRInterfaceWorkflowService">
    <wsdl:operation name="getListCleanSingAdress">
      <wsdl:input name="getListCleanSingAdress" message="tns:getListCleanSingAdress" />
      <wsdl:output name="getListCleanSingAdressResponse" message="tns:getListCleanSingAdressResponse" />
      <wsdl:fault name="SQLException" message="tns:SQLException" />
    </wsdl:operation>
    <wsdl:operation name="getListChangePackage">
      <wsdl:input name="getListChangePackage" message="tns:getListChangePackage" />
      <wsdl:output name="getListChangePackageResponse" message="tns:getListChangePackageResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateInformationCSNote">
      <wsdl:input name="updateInformationCSNote" message="tns:updateInformationCSNote" />
      <wsdl:output name="updateInformationCSNoteResponse" message="tns:updateInformationCSNoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getListFBBProject">
      <wsdl:input name="getListFBBProject" message="tns:getListFBBProject" />
      <wsdl:output name="getListFBBProjectResponse" message="tns:getListFBBProjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="getListPackageBySFFPromo">
      <wsdl:input name="getListPackageBySFFPromo" message="tns:getListPackageBySFFPromo" />
      <wsdl:output name="getListPackageBySFFPromoResponse" message="tns:getListPackageBySFFPromoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAddress">
      <wsdl:input name="ChangeAddress" message="tns:ChangeAddress" />
      <wsdl:output name="ChangeAddressResponse" message="tns:ChangeAddressResponse" />
      <wsdl:fault name="SQLException" message="tns:SQLException" />
    </wsdl:operation>
    <wsdl:operation name="getListPackageByService">
      <wsdl:input name="getListPackageByService" message="tns:getListPackageByService" />
      <wsdl:output name="getListPackageByServiceResponse" message="tns:getListPackageByServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="PermissionuserACIM">
      <wsdl:input name="PermissionuserACIM" message="tns:PermissionuserACIM" />
      <wsdl:output name="PermissionuserACIMResponse" message="tns:PermissionuserACIMResponse" />
      <wsdl:fault name="SQLException" message="tns:SQLException" />
    </wsdl:operation>
    <wsdl:operation name="getListPackageByChange">
      <wsdl:input name="getListPackageByChange" message="tns:getListPackageByChange" />
      <wsdl:output name="getListPackageByChangeResponse" message="tns:getListPackageByChangeResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserGroup">
      <wsdl:input name="DeleteUserGroup" message="tns:DeleteUserGroup" />
      <wsdl:output name="DeleteUserGroupResponse" message="tns:DeleteUserGroupResponse" />
      <wsdl:fault name="SQLException" message="tns:SQLException" />
    </wsdl:operation>
    <wsdl:operation name="saveOrderNew">
      <wsdl:input name="saveOrderNew" message="tns:saveOrderNew" />
      <wsdl:output name="saveOrderNewResponse" message="tns:saveOrderNewResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataAPI10">
      <wsdl:input name="SaveDataAPI10" message="tns:SaveDataAPI10" />
      <wsdl:output name="SaveDataAPI10Response" message="tns:SaveDataAPI10Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AIRInterfaceWorkflowServiceServiceSoapBinding" type="tns:AIRInterfaceWorkflowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListCleanSingAdress">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getListCleanSingAdress">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getListCleanSingAdressResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getListChangePackage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getListChangePackage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getListChangePackageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateInformationCSNote">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateInformationCSNote">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateInformationCSNoteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListFBBProject">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getListFBBProject">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getListFBBProjectResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListPackageBySFFPromo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getListPackageBySFFPromo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getListPackageBySFFPromoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAddress">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ChangeAddress">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeAddressResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getListPackageByService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getListPackageByService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getListPackageByServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermissionuserACIM">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="PermissionuserACIM">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PermissionuserACIMResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getListPackageByChange">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getListPackageByChange">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getListPackageByChangeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="DeleteUserGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteUserGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault use="literal" name="SQLException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveOrderNew">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveOrderNew">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveOrderNewResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataAPI10">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="SaveDataAPI10">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveDataAPI10Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AIRInterfaceWorkflowServiceService">
    <wsdl:port name="AIRInterfaceWorkflowServicePort" binding="tns:AIRInterfaceWorkflowServiceServiceSoapBinding">
      <soap:address location="https://dev-airnetregws.ais.co.th:8543/airnet-service/AIRInterfaceWorkflowService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>