Framework/WBBBusinessLayer/Web References/A_GetCCCustInfoServices/A_GetCCCustInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="urn:FBB.wsdl" xmlns:WL5G3N1="urn:pack.FBB_typedef.salt11" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:FBB.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:documentation>Generated from GWWS_conf.xml at 05-18-2010 13:30:35:310</WL5G3N0:documentation>
  <WL5G3N0:types>
    <xsd:schema xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:FBB.wsdl" xmlns:wsrp="http://schemas.xmlsoap.org/rp/" xmlns:tuxtype="urn:pack.FBB_typedef.salt11" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:pack.FBB_typedef.salt11" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="A_GetCCCustInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inbuf" type="tuxtype:fml32_A_GetCCCustInfo_In" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_GetCCCustInfo_In">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="MOBILE_NO" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="A_GetCCCustInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outbuf" type="tuxtype:fml32_A_GetCCCustInfo_Out" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="fml32_A_GetCCCustInfo_Out">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="BILL_CYCLE" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ACCOUNT_NO" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CUST_TYPE_PC" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="BIRTH_DATE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CUST_CLASS" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="MOBILE_NO_STATUS" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="GROUP_CODE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CRM_SEGMENT" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CORPORATE_TYPE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ACCOUNT_NUM" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="MOBILE_SEGMENT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PROVINCE_CODE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NETWORK_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SUB_NETWORK_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ID_CARD_NO" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CHURN" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CA_BLACKLIST" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="REGISTER_DATE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CONTRACT_PHONE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PA_GROUP" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PAYMENT_TYPE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ACCOUNT_NUM2" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NATIONALITY_CODE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="REGION_CODE" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="LOCAL_LANGUAGE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PP_COS_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CA_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CA_ID_CARD_NO" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EFFECTIVE_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CLV_SEGMENT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="REMARK" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TITLE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CONTACT_EMAIL" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ASSET_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CREATE_DATE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CONTACT_DESC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NEW_MB_NETWORK_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BILL_DESC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BRAND_NAME" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="INFO_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="REC_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SYSTEM_TYPE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AMENDMENT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WAIVE_REMARKS" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TUX_CODE" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="A_GetCCCustInfoInput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_GetCCCustInfo" />
  </WL5G3N0:message>
  <WL5G3N0:message name="A_GetCCCustInfoOutput">
    <WL5G3N0:part name="FML32" element="WL5G3N1:A_GetCCCustInfoResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="FBB_PortType">
    <WL5G3N0:operation name="A_GetCCCustInfo">
      <WL5G3N0:input message="WL5G3N2:A_GetCCCustInfoInput" />
      <WL5G3N0:output message="WL5G3N2:A_GetCCCustInfoOutput" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="FBB_Binding" type="WL5G3N2:FBB_PortType">
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="A_GetCCCustInfo">
      <WL5G3N3:operation soapAction="A_GetCCCustInfo" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="FBB_BindingQSService">
    <WL5G3N0:port name="FBB_BindingQSPort" binding="WL5G3N2:FBB_Binding">
      <WL5G3N3:address location="http://10.252.54.24:7111/FBB/Proxy_Services/A_GetCCCustInfo" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>