Framework/WBBBusinessLayer/Web References/GssoSsoWebService/GssoSsoWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.sso.gsso/" targetNamespace="http://ws.sso.gsso/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="confirmOneTimePW" type="tns:confirmOneTimePW" />
  <xs:element name="confirmOneTimePWResponse" type="tns:confirmOneTimePWResponse" />
  <xs:element name="sendOneTimePW" type="tns:sendOneTimePW" />
  <xs:element name="sendOneTimePWResponse" type="tns:sendOneTimePWResponse" />
  <xs:complexType name="sendOneTimePW">
    <xs:sequence>
      <xs:element minOccurs="0" name="msisdn" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddr" type="xs:string" />
      <xs:element minOccurs="0" name="otpChannel" type="xs:string" />
      <xs:element minOccurs="0" name="service" type="xs:string" />
      <xs:element minOccurs="0" name="accountType" type="xs:string" />
      <xs:element name="addTimeoutMins" type="xs:int" />
      <xs:element minOccurs="0" name="waitDR" type="xs:boolean" />
      <xs:element name="otpDigit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendOneTimePWResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:gssoSsoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gssoSsoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="isSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="operName" type="xs:string" />
      <xs:element minOccurs="0" name="orderRef" type="xs:string" />
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="transactionID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmOneTimePW">
    <xs:sequence>
      <xs:element minOccurs="0" name="msisdn" type="xs:string" />
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="transactionID" type="xs:string" />
      <xs:element minOccurs="0" name="service" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmOneTimePWResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:gssoSsoResponse" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>