Presentation/Jobs/FBBPAYGCheckLoadFileALLToTable/Service References/QueryServices/QueryService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.Report" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.Report" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetExportLogInterfaceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATE_DATE_FROM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATE_DATE_TO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IN_ID_CARD_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IN_TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="METHOD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortColumn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortColumnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetExportLogInterfaceQuery" nillable="true" type="tns:GetExportLogInterfaceQuery" />
  <xs:complexType name="GetLogInterfaceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATE_DATE_FROM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATE_DATE_TO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="INTERFACE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IN_ID_CARD_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IN_TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="METHOD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" type="xs:int" />
      <xs:element minOccurs="0" name="RecordsPerPage" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortColumn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortColumnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLogInterfaceQuery" nillable="true" type="tns:GetLogInterfaceQuery" />
  <xs:complexType name="UpdateInterfaceQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="INTERFACE_ID" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateInterfaceQuery" nillable="true" type="tns:UpdateInterfaceQuery" />
  <xs:complexType name="GetPrograme_Name">
    <xs:sequence>
      <xs:element minOccurs="0" name="Progrmer_Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPrograme_Name" nillable="true" type="tns:GetPrograme_Name" />
  <xs:complexType name="ArrayOfListProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListProgram" nillable="true" type="tns:ListProgram" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListProgram" nillable="true" type="tns:ArrayOfListProgram" />
  <xs:complexType name="ListProgram">
    <xs:sequence>
      <xs:element minOccurs="0" name="program_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="program_descriptiontext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="program_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="programe_Description" nillable="true" type="tns:ListProgram.listProgramer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListProgram" nillable="true" type="tns:ListProgram" />
  <xs:complexType name="ListProgram.listProgramer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Programer_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Progrmer_Desption" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListProgram.listProgramer" nillable="true" type="tns:ListProgram.listProgramer" />
</xs:schema>