WSDL/Z_FIAM_FBSS_REVALUATION_ASSET.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_Z_FIAM_FBSS_REVALUATION_ASSET" targetNamespace="urn:ais.co.th:FI:FBSS:Z_FIAM_FBSS_REVALUATION_ASSET" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:p1="urn:ais.co.th:FI:FBSS:Z_FIAM_FBSS_REVALUATION_ASSET" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_SI_Z_FIAM_FBSS_REVALUATION_ASSET"/>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="Z_FIAM_FBSS_REVALUATION_ASSET.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="ACTION">
              <xsd:annotation>
                <xsd:documentation>Action</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="INTERNET_NO">
              <xsd:annotation>
                <xsd:documentation>Internet No.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MAIN_ASSET">
              <xsd:annotation>
                <xsd:documentation>Main Asset</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="12"/>
                  <xsd:pattern value="\d+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MESSAGE" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Message Text</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="220"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NUMBER_MESSAGE" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Message Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3"/>
                  <xsd:pattern value="\d+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RUN_GROUP">
              <xsd:annotation>
                <xsd:documentation>R/2 table</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="5"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SUBNUMBER">
              <xsd:annotation>
                <xsd:documentation>Sub No.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4"/>
                  <xsd:pattern value="\d+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TRANS_ID">
              <xsd:annotation>
                <xsd:documentation>Transaction ID</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="25"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_FIAM_FBSS_REVALUATION_ASSET">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="ACTION">
              <xsd:annotation>
                <xsd:documentation>Action</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="INTERNET_NO">
              <xsd:annotation>
                <xsd:documentation>Internet No.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MAIN_ASSET">
              <xsd:annotation>
                <xsd:documentation>Main Asset</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="12"/>
                  <xsd:pattern value="\d+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RUN_GROUP">
              <xsd:annotation>
                <xsd:documentation>R/2 table</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="5"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SUBNUMBER">
              <xsd:annotation>
                <xsd:documentation>Sub No.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4"/>
                  <xsd:pattern value="\d+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TRANS_ID">
              <xsd:annotation>
                <xsd:documentation>Transaction ID</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="25"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ASSET_DATE" type="date">
              <xsd:annotation>
                <xsd:documentation>วันที่บันทึกมูลค่าของ Asset</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="COM_CODE">
              <xsd:annotation>
                <xsd:documentation>รหัสบริษัท</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DOC_DATE" type="date">
              <xsd:annotation>
                <xsd:documentation>วันที่เอกสาร</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="ITEM_TEXT">
              <xsd:annotation>
                <xsd:documentation>ข้อความส่วนหัวเอกสาร</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="POST_DATE" type="date">
              <xsd:annotation>
                <xsd:documentation>วันผ่านรายการ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="REF_DOC_NO">
              <xsd:annotation>
                <xsd:documentation>Reference</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="16"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.."/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union memberTypes="xsd:date genericDate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions"/>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.Z_FIAM_FBSS_REVALUATION_ASSET.Input">
    <wsdl:documentation/>
    <wsdl:part name="parameters" element="rfc:Z_FIAM_FBSS_REVALUATION_ASSET" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
  </wsdl:message>
  <wsdl:message name="rfc.Z_FIAM_FBSS_REVALUATION_ASSET.Output">
    <wsdl:documentation/>
    <wsdl:part name="parameters" element="rfc:Z_FIAM_FBSS_REVALUATION_ASSET.Response" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
  </wsdl:message>
  <wsdl:portType name="SI_Z_FIAM_FBSS_REVALUATION_ASSET">
    <wsdl:documentation/>
    <wsdl:operation name="SI_Z_FIAM_FBSS_REVALUATION_ASSET">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Z_FIAM_FBSS_REVALUATION_ASSET"/>
      </wsp:Policy>
      <wsdl:input message="p1:rfc.Z_FIAM_FBSS_REVALUATION_ASSET.Input"/>
      <wsdl:output message="p1:rfc.Z_FIAM_FBSS_REVALUATION_ASSET.Output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Z_FIAM_FBSS_REVALUATION_ASSETBinding" type="p1:SI_Z_FIAM_FBSS_REVALUATION_ASSET">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="SI_Z_FIAM_FBSS_REVALUATION_ASSET">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Z_FIAM_FBSS_REVALUATION_ASSETService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Z_FIAM_FBSS_REVALUATION_ASSETBinding">
      <soap:address location="http://pidev:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FBSS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_FIAM_FBSS_REVALUATION_ASSET&amp;interfaceNamespace=urn%3Aais.co.th%3AFI%3AFBSS%3AZ_FIAM_FBSS_REVALUATION_ASSET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Z_FIAM_FBSS_REVALUATION_ASSETBinding">
      <soap:address location="https://pidev:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FBSS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_FIAM_FBSS_REVALUATION_ASSET&amp;interfaceNamespace=urn%3Aais.co.th%3AFI%3AFBSS%3AZ_FIAM_FBSS_REVALUATION_ASSET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>