Presentation/Jobs/LowUtilizeSaleReport/Service References/QueryServices/QueryService398.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.QueryModels.FBSS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.QueryModels.FBSS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetBuildingByBuildingNameAndNoQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longtitude" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBuildingByBuildingNameAndNoQueryModel" nillable="true" type="tns:GetBuildingByBuildingNameAndNoQueryModel" />
</xs:schema>