Presentation/Jobs/LowUtilizeSaleReport/Service References/QueryServices/QueryService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices.ATN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices.ATN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetCustomerProfileMobilePackageCurrentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileMobilePackageCurrentRequest" nillable="true" type="tns:GetCustomerProfileMobilePackageCurrentRequest" />
  <xs:complexType name="GetCustomerProfileServiceProfileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileServiceProfileRequest" nillable="true" type="tns:GetCustomerProfileServiceProfileRequest" />
  <xs:complexType name="GetCustomerProfileSubScriptionAccountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileSubScriptionAccountRequest" nillable="true" type="tns:GetCustomerProfileSubScriptionAccountRequest" />
  <xs:complexType name="GetCustomerProfileSubScriptionProfileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileSubScriptionProfileRequest" nillable="true" type="tns:GetCustomerProfileSubScriptionProfileRequest" />
  <xs:complexType name="GetCustomerProfileRiskWatchlistRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key_value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileRiskWatchlistRequest" nillable="true" type="tns:GetCustomerProfileRiskWatchlistRequest" />
  <xs:complexType name="GetCustomerProfileMobilePackageCurrentResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBaseATN">
        <xs:sequence>
          <xs:element minOccurs="0" name="resultData" nillable="true" type="tns:GetCustomerProfileMobilePackageCurrentData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomerProfileMobilePackageCurrentResult" nillable="true" type="tns:GetCustomerProfileMobilePackageCurrentResult" />
  <xs:complexType name="ResultBaseATN">
    <xs:sequence>
      <xs:element minOccurs="0" name="developerMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBaseATN" nillable="true" type="tns:ResultBaseATN" />
  <xs:complexType name="GetCustomerProfileMobilePackageCurrentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="mobilePackageCurrent" nillable="true" type="tns:GetCustomerProfileMobilePackageCurrentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileMobilePackageCurrentData" nillable="true" type="tns:GetCustomerProfileMobilePackageCurrentData" />
  <xs:complexType name="GetCustomerProfileMobilePackageCurrentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="main" nillable="true" type="tns:CustomerProfileMobilePackageCurrentMain" />
      <xs:element minOccurs="0" name="ontop" nillable="true" type="tns:ArrayOfCustomerProfileMobilePackageCurrentOntop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileMobilePackageCurrentItem" nillable="true" type="tns:GetCustomerProfileMobilePackageCurrentItem" />
  <xs:complexType name="CustomerProfileMobilePackageCurrentMain">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntegrationNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntegrationNameTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attribute" nillable="true" type="tns:ArrayOfCustomerProfileAttribute" />
      <xs:element minOccurs="0" name="billItemDescriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billItemDescriptionTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bundlingServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNextBillDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameAseanLang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductActivationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chargeAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commercialType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="crmFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descriptionTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviceContractFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="downLoadSpeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="durationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNextBillDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameAseanLang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductActivationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="freeUnitItemList" nillable="true" type="tns:ArrayOfCustomerProfileFreeUnitItem" />
      <xs:element minOccurs="0" name="groupPromo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gvProductSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxFnNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monthlyFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="netFlexiFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextBillDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextPackage" nillable="true" type="tns:ArrayOfCustomerProfileNextPackage" />
      <xs:element minOccurs="0" name="offeringGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="offeringName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="openDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="othersFeeRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="packageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceExcludeVat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceIncludeVat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pro5gflg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productAcctnCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productOfferPriceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prorateFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortenedNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortenedNameTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="upLoadSpeed" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileMobilePackageCurrentMain" nillable="true" type="tns:CustomerProfileMobilePackageCurrentMain" />
  <xs:complexType name="ArrayOfCustomerProfileAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileAttribute" nillable="true" type="tns:CustomerProfileAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileAttribute" nillable="true" type="tns:ArrayOfCustomerProfileAttribute" />
  <xs:complexType name="CustomerProfileAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="productInstEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productInstExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSubInstProperty" nillable="true" type="tns:ArrayOfCustomerProfileAttributeSubInst" />
      <xs:element minOccurs="0" name="propertyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="propertyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="propertyValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileAttribute" nillable="true" type="tns:CustomerProfileAttribute" />
  <xs:complexType name="ArrayOfCustomerProfileAttributeSubInst">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileAttributeSubInst" nillable="true" type="tns:CustomerProfileAttributeSubInst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileAttributeSubInst" nillable="true" type="tns:ArrayOfCustomerProfileAttributeSubInst" />
  <xs:complexType name="CustomerProfileAttributeSubInst">
    <xs:sequence>
      <xs:element minOccurs="0" name="subPropertyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subPropertyValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileAttributeSubInst" nillable="true" type="tns:CustomerProfileAttributeSubInst" />
  <xs:complexType name="ArrayOfCustomerProfileFreeUnitItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileFreeUnitItem" nillable="true" type="tns:CustomerProfileFreeUnitItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileFreeUnitItem" nillable="true" type="tns:ArrayOfCustomerProfileFreeUnitItem" />
  <xs:complexType name="CustomerProfileFreeUnitItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="freeUnitId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="freeUnitItemDetailList" nillable="true" type="tns:ArrayOfCustomerProfileFreeUnitItemDetail" />
      <xs:element minOccurs="0" name="freeUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="measureUnitName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileFreeUnitItem" nillable="true" type="tns:CustomerProfileFreeUnitItem" />
  <xs:complexType name="ArrayOfCustomerProfileFreeUnitItemDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileFreeUnitItemDetail" nillable="true" type="tns:CustomerProfileFreeUnitItemDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileFreeUnitItemDetail" nillable="true" type="tns:ArrayOfCustomerProfileFreeUnitItemDetail" />
  <xs:complexType name="CustomerProfileFreeUnitItemDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="freeUnitEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="freeUnitExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="initialAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remainingAmount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileFreeUnitItemDetail" nillable="true" type="tns:CustomerProfileFreeUnitItemDetail" />
  <xs:complexType name="ArrayOfCustomerProfileNextPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileNextPackage" nillable="true" type="tns:CustomerProfileNextPackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileNextPackage" nillable="true" type="tns:ArrayOfCustomerProfileNextPackage" />
  <xs:complexType name="CustomerProfileNextPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="integrationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productOfferPriceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortenedName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileNextPackage" nillable="true" type="tns:CustomerProfileNextPackage" />
  <xs:complexType name="ArrayOfCustomerProfileMobilePackageCurrentOntop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileMobilePackageCurrentOntop" nillable="true" type="tns:CustomerProfileMobilePackageCurrentOntop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileMobilePackageCurrentOntop" nillable="true" type="tns:ArrayOfCustomerProfileMobilePackageCurrentOntop" />
  <xs:complexType name="CustomerProfileMobilePackageCurrentOntop">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntegrationNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntegrationNameTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attribute" nillable="true" type="tns:ArrayOfCustomerProfileAttribute" />
      <xs:element minOccurs="0" name="billItemDescriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billItemDescriptionTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNextBillDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameAseanLang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductActivationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chargeAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commercialType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="crmFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descriptionTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviceContractFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="downLoadSpeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="durationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="earlyRenewOfferingFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNextBillDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameAseanLang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductActivationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="featureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="featureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="featureStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="featureStatusDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="featureSubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstUseFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="freeFeatureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="freeUnitItemList" nillable="true" type="tns:ArrayOfCustomerProfileFreeUnitItem" />
      <xs:element minOccurs="0" name="groupFeature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gvProductSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="holdFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ivrCancelFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ivrQueryFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxFnNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moreInfoFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="netFlexiFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextBillDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextPackage" nillable="true" type="tns:ArrayOfCustomerProfileNextPackage" />
      <xs:element minOccurs="0" name="offeringGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="offeringName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="openDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceExcludeVat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceIncludeVat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pro5gflg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productAcctnCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productOfferPriceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prorateFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortenedNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortenedNameTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="upLoadSpeed" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileMobilePackageCurrentOntop" nillable="true" type="tns:CustomerProfileMobilePackageCurrentOntop" />
  <xs:complexType name="GetCustomerProfileServiceProfileResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBaseATN">
        <xs:sequence>
          <xs:element minOccurs="0" name="resultData" nillable="true" type="tns:GetCustomerProfileServiceProfileData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomerProfileServiceProfileResult" nillable="true" type="tns:GetCustomerProfileServiceProfileResult" />
  <xs:complexType name="GetCustomerProfileServiceProfileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceIddStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceProfile" nillable="true" type="tns:ArrayOfGetCustomerProfileServiceProfileItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileServiceProfileData" nillable="true" type="tns:GetCustomerProfileServiceProfileData" />
  <xs:complexType name="ArrayOfGetCustomerProfileServiceProfileItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetCustomerProfileServiceProfileItem" nillable="true" type="tns:GetCustomerProfileServiceProfileItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetCustomerProfileServiceProfileItem" nillable="true" type="tns:ArrayOfGetCustomerProfileServiceProfileItem" />
  <xs:complexType name="GetCustomerProfileServiceProfileItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntegrationNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntegrationNameTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attribute" nillable="true" type="tns:ArrayOfCustomerProfileAttribute" />
      <xs:element minOccurs="0" name="billItemDescriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billItemDescriptionTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNextBillDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameAseanLang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsNotificationNameThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductActivationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsProductStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chargeAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commercialType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="crmFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descriptionTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="durationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNextBillDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameAseanLang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extNotificationNameThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductActivationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductEffectiveTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductExpireTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extProductStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="featureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="featureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="freeFeatureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="groupFeature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="holdFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ivrCancelFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ivrQueryFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moreInfoFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="netFlexiFl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="offeringGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="offeringName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="openDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceExcludeVat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceIncludeVat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pro5gflg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productAcctnCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productOfferPriceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSequenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceStatusDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortenedNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortenedNameTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="technology" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileServiceProfileItem" nillable="true" type="tns:GetCustomerProfileServiceProfileItem" />
  <xs:complexType name="GetCustomerProfileSubScriptionAccountResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBaseATN">
        <xs:sequence>
          <xs:element minOccurs="0" name="resultData" nillable="true" type="tns:GetCustomerProfileSubScriptionAccountData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomerProfileSubScriptionAccountResult" nillable="true" type="tns:GetCustomerProfileSubScriptionAccountResult" />
  <xs:complexType name="GetCustomerProfileSubScriptionAccountData">
    <xs:sequence>
      <xs:element minOccurs="0" name="nafaProfile" nillable="true" type="tns:CustomerProfileNafaProfile" />
      <xs:element minOccurs="0" name="subscriptionAccount" nillable="true" type="tns:GetCustomerProfileSubscriptionAccountItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileSubScriptionAccountData" nillable="true" type="tns:GetCustomerProfileSubScriptionAccountData" />
  <xs:complexType name="CustomerProfileNafaProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileNafaProfile" nillable="true" type="tns:CustomerProfileNafaProfile" />
  <xs:complexType name="GetCustomerProfileSubscriptionAccountItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="billingAccount" nillable="true" type="tns:ArrayOfCustomerProfileBillingAccount" />
      <xs:element minOccurs="0" name="customerAccount" nillable="true" type="tns:ArrayOfCustomerProfileCustomerAccount" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceAccount" nillable="true" type="tns:ArrayOfCustomerProfileServiceAccount" />
      <xs:element minOccurs="0" name="subscriptionHolder" nillable="true" type="tns:ArrayOfCustomerProfileSubscriptionHolder" />
      <xs:element minOccurs="0" name="subscriptionState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriptionStateDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileSubscriptionAccountItem" nillable="true" type="tns:GetCustomerProfileSubscriptionAccountItem" />
  <xs:complexType name="ArrayOfCustomerProfileBillingAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileBillingAccount" nillable="true" type="tns:CustomerProfileBillingAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileBillingAccount" nillable="true" type="tns:ArrayOfCustomerProfileBillingAccount" />
  <xs:complexType name="CustomerProfileBillingAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountSpecialGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountStateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:ArrayOfCustomerProfileCustomerAddress" />
      <xs:element minOccurs="0" name="bankAccntNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankNameCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billCycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billMedia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="blacklistStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardBankCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardExpMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardExpYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardRefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailBillTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxCreditLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="minCreditLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="scoreRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smsBillTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smsContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wtReqDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wtReqFlg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileBillingAccount" nillable="true" type="tns:CustomerProfileBillingAccount" />
  <xs:complexType name="ArrayOfCustomerProfileCustomerAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileCustomerAddress" nillable="true" type="tns:CustomerProfileCustomerAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileCustomerAddress" nillable="true" type="tns:ArrayOfCustomerProfileCustomerAddress" />
  <xs:complexType name="CustomerProfileCustomerAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="engFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="houseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mooban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileCustomerAddress" nillable="true" type="tns:CustomerProfileCustomerAddress" />
  <xs:complexType name="ArrayOfCustomerProfileCustomerAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileCustomerAccount" nillable="true" type="tns:CustomerProfileCustomerAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileCustomerAccount" nillable="true" type="tns:ArrayOfCustomerProfileCustomerAccount" />
  <xs:complexType name="CustomerProfileCustomerAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountSegment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountSpecialGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountStateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountSubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:ArrayOfCustomerProfileCustomerAddress" />
      <xs:element minOccurs="0" name="billCycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="blacklistStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardExpired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardIssueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditLimit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hobby" nillable="true" type="tns:ArrayOfCustomerProfileCustomerHobby" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardTypeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rsmeFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titleEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlPicture" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileCustomerAccount" nillable="true" type="tns:CustomerProfileCustomerAccount" />
  <xs:complexType name="ArrayOfCustomerProfileCustomerHobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileCustomerHobby" nillable="true" type="tns:CustomerProfileCustomerHobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileCustomerHobby" nillable="true" type="tns:ArrayOfCustomerProfileCustomerHobby" />
  <xs:complexType name="CustomerProfileCustomerHobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="hobbyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hobbyValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileCustomerHobby" nillable="true" type="tns:CustomerProfileCustomerHobby" />
  <xs:complexType name="ArrayOfCustomerProfileServiceAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileServiceAccount" nillable="true" type="tns:CustomerProfileServiceAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileServiceAccount" nillable="true" type="tns:ArrayOfCustomerProfileServiceAccount" />
  <xs:complexType name="CustomerProfileServiceAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountStateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billCycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billMedia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smsBillTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileServiceAccount" nillable="true" type="tns:CustomerProfileServiceAccount" />
  <xs:complexType name="ArrayOfCustomerProfileSubscriptionHolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileSubscriptionHolder" nillable="true" type="tns:CustomerProfileSubscriptionHolder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileSubscriptionHolder" nillable="true" type="tns:ArrayOfCustomerProfileSubscriptionHolder" />
  <xs:complexType name="CustomerProfileSubscriptionHolder">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactFirstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactLastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactPhone" nillable="true" type="tns:ArrayOfCustomerProfileCustomerContactPhone" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="localLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="privateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="privateCodeFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="socialMedia" nillable="true" type="tns:ArrayOfCustomerProfileCustomerSocialMedia" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlPicture" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileSubscriptionHolder" nillable="true" type="tns:CustomerProfileSubscriptionHolder" />
  <xs:complexType name="ArrayOfCustomerProfileCustomerContactPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileCustomerContactPhone" nillable="true" type="tns:CustomerProfileCustomerContactPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileCustomerContactPhone" nillable="true" type="tns:ArrayOfCustomerProfileCustomerContactPhone" />
  <xs:complexType name="CustomerProfileCustomerContactPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileCustomerContactPhone" nillable="true" type="tns:CustomerProfileCustomerContactPhone" />
  <xs:complexType name="ArrayOfCustomerProfileCustomerSocialMedia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileCustomerSocialMedia" nillable="true" type="tns:CustomerProfileCustomerSocialMedia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileCustomerSocialMedia" nillable="true" type="tns:ArrayOfCustomerProfileCustomerSocialMedia" />
  <xs:complexType name="CustomerProfileCustomerSocialMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="socialName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="socialType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileCustomerSocialMedia" nillable="true" type="tns:CustomerProfileCustomerSocialMedia" />
  <xs:complexType name="GetCustomerProfileSubScriptionProfileResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBaseATN">
        <xs:sequence>
          <xs:element minOccurs="0" name="resultData" nillable="true" type="tns:GetCustomerProfileSubScriptionProfileData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomerProfileSubScriptionProfileResult" nillable="true" type="tns:GetCustomerProfileSubScriptionProfileResult" />
  <xs:complexType name="GetCustomerProfileSubScriptionProfileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="nafaProfile" nillable="true" type="tns:CustomerProfileNafaProfile" />
      <xs:element minOccurs="0" name="subScriptionProfile" nillable="true" type="tns:GetCustomerProfileSubScriptionProfileItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileSubScriptionProfileData" nillable="true" type="tns:GetCustomerProfileSubScriptionProfileData" />
  <xs:complexType name="GetCustomerProfileSubScriptionProfileItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="amendmentReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="applyDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="applyLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="applyLocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="applyMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authorizePersonFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="baId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="balance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingMainProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingSystemAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingSystemCustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="binNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="blacklistStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brandId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessGrp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessRegId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsMigrateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbsMigrateFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="changeBillingSystemDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chargeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="churnScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="churnScoreReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cimAssetRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="classOfService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="classifyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cleaningDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cleaningFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clvSegment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractPhoneFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cosId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="credCreditAmount" nillable="true" type="tns:CustomerProfileCredCreditAmount" />
      <xs:element minOccurs="0" name="dataChargingSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="effectiveServicePI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="familyAuth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fbbContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fbbContactNo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fbbContactNo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstActivateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstSuspendCountDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="focMember" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idenFaceFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="insMigrateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="insMigrateFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installmentFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ivrLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loanFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="luckyLists" nillable="true" type="tns:ArrayOfCustomerProfileLuckyItem" />
      <xs:element minOccurs="0" name="maxMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxSpeedDL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxSpeedUL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNoStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNoStatusDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moiDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moiFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="networkType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrApproveBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrApproveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrLastUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrLastUpdateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrReflag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocrReflagApprove" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paGroupEffectiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="piFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="publicType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regLocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registerDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segmentEffectiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segmentExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servicePackageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceYear" nillable="true" type="tns:CustomerProfileServiceYear" />
      <xs:element minOccurs="0" name="simSerialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="simStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smartCardFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smartCase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smsLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subNetworkType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriptionState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriptionStateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suspendCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suspendDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suspendFraudCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suspendReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suspendType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updateLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ussdLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="validity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vpnEffectiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vpnExpireDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vpnFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileSubScriptionProfileItem" nillable="true" type="tns:GetCustomerProfileSubScriptionProfileItem" />
  <xs:complexType name="CustomerProfileCredCreditAmount">
    <xs:sequence>
      <xs:element minOccurs="0" name="creditAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remainAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usageAmount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileCredCreditAmount" nillable="true" type="tns:CustomerProfileCredCreditAmount" />
  <xs:complexType name="ArrayOfCustomerProfileLuckyItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerProfileLuckyItem" nillable="true" type="tns:CustomerProfileLuckyItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerProfileLuckyItem" nillable="true" type="tns:ArrayOfCustomerProfileLuckyItem" />
  <xs:complexType name="CustomerProfileLuckyItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="luckyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="luckyType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileLuckyItem" nillable="true" type="tns:CustomerProfileLuckyItem" />
  <xs:complexType name="CustomerProfileServiceYear">
    <xs:sequence>
      <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileServiceYear" nillable="true" type="tns:CustomerProfileServiceYear" />
  <xs:complexType name="GetCustomerProfileRiskWatchlistResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBaseATN">
        <xs:sequence>
          <xs:element minOccurs="0" name="resultData" nillable="true" type="tns:GetCustomerProfileRiskWatchlistResultData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomerProfileRiskWatchlistResult" nillable="true" type="tns:GetCustomerProfileRiskWatchlistResult" />
  <xs:complexType name="GetCustomerProfileRiskWatchlistResultData">
    <xs:sequence>
      <xs:element minOccurs="0" name="customerRisk" nillable="true" type="tns:GetCustomerProfileRiskWatchlistResultStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileRiskWatchlistResultData" nillable="true" type="tns:GetCustomerProfileRiskWatchlistResultData" />
  <xs:complexType name="GetCustomerProfileRiskWatchlistResultStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="watchlistCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="watchlistStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerProfileRiskWatchlistResultStatus" nillable="true" type="tns:GetCustomerProfileRiskWatchlistResultStatus" />
</xs:schema>