Presentation/Jobs/PAYGResendWSSAPS4/Connected Services/QueryServices/QueryService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FBB_REGISTER_PENDING_DEDUCTION">
    <xs:sequence>
      <xs:element minOccurs="0" name="BA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEDUCTION_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MERCHANT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NON_MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAID_AMT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENT_METHOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENT_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIPT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEND_SMS_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_REGISTER_PENDING_DEDUCTION" nillable="true" type="tns:FBB_REGISTER_PENDING_DEDUCTION" />
  <xs:complexType name="GetTokenFbbModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_mes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTokenFbbModel" nillable="true" type="tns:GetTokenFbbModel" />
  <xs:complexType name="FBB_REGISTER_PAYMENT_LOG_SPDP">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ENDPOINT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NON_MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REQ_XML_PARAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RES_XML_PARAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXN_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_REGISTER_PAYMENT_LOG_SPDP" nillable="true" type="tns:FBB_REGISTER_PAYMENT_LOG_SPDP" />
  <xs:complexType name="ArrayOfFBB_HISTORY_LOG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_HISTORY_LOG" nillable="true" type="tns:FBB_HISTORY_LOG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_HISTORY_LOG" nillable="true" type="tns:ArrayOfFBB_HISTORY_LOG" />
  <xs:complexType name="FBB_HISTORY_LOG">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPLICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HISTORY_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="REF_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_HISTORY_LOG" nillable="true" type="tns:FBB_HISTORY_LOG" />
  <xs:complexType name="ArrayOfFBB_VOUCHER_PIN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_VOUCHER_PIN" nillable="true" type="tns:FBB_VOUCHER_PIN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_VOUCHER_PIN" nillable="true" type="tns:ArrayOfFBB_VOUCHER_PIN" />
  <xs:complexType name="FBB_VOUCHER_PIN">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXPIRE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LOT" type="xs:long" />
      <xs:element minOccurs="0" name="PIN_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" type="xs:long" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VOUCHER_MASTER_ID" type="xs:long" />
      <xs:element minOccurs="0" name="VOUCHER_PIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOUCHER_PIN_ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_VOUCHER_PIN" nillable="true" type="tns:FBB_VOUCHER_PIN" />
  <xs:complexType name="ArrayOfFBB_VOUCHER_MASTER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_VOUCHER_MASTER" nillable="true" type="tns:FBB_VOUCHER_MASTER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_VOUCHER_MASTER" nillable="true" type="tns:ArrayOfFBB_VOUCHER_MASTER" />
  <xs:complexType name="FBB_VOUCHER_MASTER">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PROJECT_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" type="xs:long" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VOUCHER_MASTER_ID" type="xs:long" />
      <xs:element minOccurs="0" name="VOUCHER_PROJECT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOUCHER_PROJECT_DES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOUCHER_PROJECT_GROUP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_VOUCHER_MASTER" nillable="true" type="tns:FBB_VOUCHER_MASTER" />
  <xs:complexType name="ArrayOfFBB_PRE_REGISTER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_PRE_REGISTER" nillable="true" type="tns:FBB_PRE_REGISTER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_PRE_REGISTER" nillable="true" type="tns:ArrayOfFBB_PRE_REGISTER" />
  <xs:complexType name="FBB_PRE_REGISTER">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSET_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLOSING_SALE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACT_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACT_MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACT_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DTM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_SURNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOUSE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INCENTIVE_PAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_AIS_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CONTACT_CUST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_IN_COVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LANGUAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_REG_ID" type="xs:long" />
      <xs:element minOccurs="0" name="REFFERENCE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK_FOR_NO_COV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK_FOR_NO_REG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_CASE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPDATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_DTM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VILLAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE_ROWID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_PRE_REGISTER" nillable="true" type="tns:FBB_PRE_REGISTER" />
  <xs:complexType name="ArrayOfFBB_CARDMODEL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_CARDMODEL" nillable="true" type="tns:FBB_CARDMODEL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_CARDMODEL" nillable="true" type="tns:ArrayOfFBB_CARDMODEL" />
  <xs:complexType name="FBB_CARDMODEL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARDMODELID" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATAONLY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXPORT" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTSTARTINDEX" type="xs:decimal" />
      <xs:element minOccurs="0" name="RESERVEPORTSPARE" type="xs:decimal" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_CARDMODEL" nillable="true" type="tns:FBB_CARDMODEL" />
  <xs:complexType name="ArrayOfFBB_CARD_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_CARD_INFO" nillable="true" type="tns:FBB_CARD_INFO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_CARD_INFO" nillable="true" type="tns:ArrayOfFBB_CARD_INFO" />
  <xs:complexType name="FBB_CARD_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARDID" type="xs:decimal" />
      <xs:element minOccurs="0" name="CARDMODELID" type="xs:decimal" />
      <xs:element minOccurs="0" name="CARDNUMBER" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DSLAMID" type="xs:decimal" />
      <xs:element minOccurs="0" name="RESERVE_TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_CARD_INFO" nillable="true" type="tns:FBB_CARD_INFO" />
  <xs:complexType name="ArrayOfFBB_DSLAM_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_DSLAM_INFO" nillable="true" type="tns:FBB_DSLAM_INFO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_DSLAM_INFO" nillable="true" type="tns:ArrayOfFBB_DSLAM_INFO" />
  <xs:complexType name="FBB_DSLAM_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CVRID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSLAMID" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSLAMMODELID" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSLAMNUMBER" type="xs:decimal" />
      <xs:element minOccurs="0" name="LOT_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NODEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_DSLAM_INFO" nillable="true" type="tns:FBB_DSLAM_INFO" />
  <xs:complexType name="ArrayOfFBB_DSLAMMODEL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_DSLAMMODEL" nillable="true" type="tns:FBB_DSLAMMODEL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_DSLAMMODEL" nillable="true" type="tns:ArrayOfFBB_DSLAMMODEL" />
  <xs:complexType name="FBB_DSLAMMODEL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DSLAMMODELID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MAXSLOT" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SH_BRAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLOTSTARTINDEX" type="xs:decimal" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_DSLAMMODEL" nillable="true" type="tns:FBB_DSLAMMODEL" />
  <xs:complexType name="FBB_EMAIL_PROCESSING">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTACHED_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EFFECTIVE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXPIRE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IP_MAIL_SERVER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEND_BCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEND_CC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEND_FROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEND_TO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_EMAIL_PROCESSING" nillable="true" type="tns:FBB_EMAIL_PROCESSING" />
  <xs:complexType name="ArrayOfFBB_RPT_LOG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBB_RPT_LOG" nillable="true" type="tns:FBB_RPT_LOG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBB_RPT_LOG" nillable="true" type="tns:ArrayOfFBB_RPT_LOG" />
  <xs:complexType name="FBB_RPT_LOG">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FILE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_CONDITION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="REPORT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_PARAMETER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_STATUS_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBB_RPT_LOG" nillable="true" type="tns:FBB_RPT_LOG" />
</xs:schema>