Presentation/Jobs/FBBDormitoryBatchForService/Service References/CommandServices/CommandService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/One2NetContract.Commands.ExWebservices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/One2NetContract.Commands.ExWebservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="evDormNewRegisResponseCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorReson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountSubCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="baNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nonMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sffOrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evDormNewRegisResponseCommand" nillable="true" type="tns:evDormNewRegisResponseCommand" />
  <xs:complexType name="evDormUpdateStatusCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_prepaidnonmobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_servicestatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_updatedby" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evDormUpdateStatusCommand" nillable="true" type="tns:evDormUpdateStatusCommand" />
  <xs:complexType name="ResponseParamPageControlCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReturnDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="acquirerBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aisRefDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aisRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amountPerMonth" type="xs:long" />
      <xs:element minOccurs="0" name="bankRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankReturnAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="bosReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardNo" type="xs:long" />
      <xs:element minOccurs="0" name="cardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channelID" type="xs:int" />
      <xs:element minOccurs="0" name="channelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channelRefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installmentRate" type="xs:long" />
      <xs:element minOccurs="0" name="ipayReturnAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="issuerBankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="issuerBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payBankFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payTerm" type="xs:int" />
      <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shopID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalAmount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseParamPageControlCommand" nillable="true" type="tns:ResponseParamPageControlCommand" />
</xs:schema>