Presentation/Jobs/FBBDormitoryBatchForService/Service References/CommandServices/CommandService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/One2NetContract.Commands.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/One2NetContract.Commands.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReturnDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatLogCommand" nillable="true" type="tns:StatLogCommand" />
</xs:schema>