Presentation/Jobs/FBBPurgeData/Connected Services/CommandServices/CommandService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:complexType name="InsertConsentLogNewRegisterCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InTransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefOrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertConsentLogNewRegisterCommand" nillable="true" type="tns:InsertConsentLogNewRegisterCommand" />
  <xs:complexType name="InsertSaveOrderNew911Command">
    <xs:sequence>
      <xs:element minOccurs="0" name="o_return_Multi_Instance_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="o_return_code" type="xs:decimal" />
      <xs:element minOccurs="0" name="o_return_event_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="o_return_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="o_return_order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="o_return_product_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_access_Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_address_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_address_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_address_type_wire" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="p_air_regist_cpe_serial_array" nillable="true" type="q1:ArrayOfAirRegistCPESerial" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="p_air_regist_cust_insi_array" nillable="true" type="q2:ArrayOfAirRegistCustInsi" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="p_air_regist_dcontract_array" nillable="true" type="q3:ArrayOfAirRegistDcontract" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="p_air_regist_file_array" nillable="true" type="q4:ArrayOfAirRegistFile" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="p_air_regist_package_array" nillable="true" type="q5:ArrayOfAirRegistPackage" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="p_air_regist_splitter_array" nillable="true" type="q6:ArrayOfAirRegistSplitter" />
      <xs:element minOccurs="0" name="p_amendment_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_asc_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_asc_member_category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_asc_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_asc_position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_assign_rule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_auto_create_prospect_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_balcony_east" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_balcony_north" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_balcony_south" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_balcony_wast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_bill_media" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_billboard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_birth_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_building_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_building_vt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_campaign_project_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_channel_sales_group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_company_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_condo_balcony" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_condo_floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_condo_roof_top" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_mobile_no_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_mobile_no_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_name_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_name_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contact_title_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contract_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_convergence_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_coverage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_criteria_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_cs_note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_customer_remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_customer_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_customer_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_customerpurge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_cvm_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_cvr_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_cvr_node" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_cvr_tower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_dev_bill_to" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_dev_po_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_dev_project_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_distribution_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_dopa_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_email_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_employee_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_employee_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_eng_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_event_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_exceptentryfee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_existing_airnet_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_existing_mobile_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_expect_install_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_expressway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_facerecog_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_first_install_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_first_time_slot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_floor_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_floor_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_floor_vt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_flow_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_fmc_special_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_fmpa_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_fttx_vendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_gift_voucher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_gsm_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_high_building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_high_tree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_home_phone_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_house_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_house_no_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_house_no_vt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_id_card_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_id_card_type_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_installAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_installAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_installAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_installAddress4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_installAddress5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_install_note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_install_staff_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_install_staff_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_install_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_installation_Capacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_job_order_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_line_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_line_temp_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_location_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_location_email_by_region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_location_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_location_region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_location_sub_region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_longtitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mesh_count" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mobile_by_asc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mobile_no_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_moo_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_moo_no_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_moo_no_vt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mooban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mooban_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mooban_vt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_national_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_nationality_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_network_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_non_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_non_res_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_old_isp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_online_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_order_relate_change_pro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_order_verify" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_owner_product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_package_for" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_partner_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_partner_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_paymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pbox_count" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_phone_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_plug_and_play_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pre_order_chanel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pre_order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pre_survey_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pre_survey_timeslot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_premium_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_privilege_points" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_ref_ur_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_regist_paymentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_regist_paymentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_regist_paymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_register_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_relate_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_relate_mobile_segment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_relate_non_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_relate_project_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_remark_for_subcontract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_rental_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_request_sub_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_require_cs_verify_doc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_reserved_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_reserved_port_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_road" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_road_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_road_vt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_room_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_room_vt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sale_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sale_represent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sale_staff_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_secondinstallation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_serenade_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_service_day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_service_level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_service_year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_ba_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_ca_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_promotion_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_sa_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_shop_segment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_shop_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_site_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_soi_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_soi_vt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_source_system" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_special_account_enddate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_special_account_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_special_account_group_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_special_account_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_special_account_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_special_remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_special_skill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_splitter_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sub_access_mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sub_contract_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sub_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sub_location_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_tax_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_tdm_contract_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_tdm_penalty_group_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_tdm_penalty_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_tdm_rule_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_time_Slot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_time_slot_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_title_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_transactionId_in" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_transaction_privilege_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_voucher_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_waiting_install_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_waiting_time_slot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_wifi_access_point" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_zipcode_rowid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_zipcode_rowid_bl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_zipcode_rowid_vt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertSaveOrderNew911Command" nillable="true" type="tns:InsertSaveOrderNew911Command" />
  <xs:complexType name="SaveDeductionLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_endpoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_enq_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_enq_status_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_order_transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pm_receipt_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pm_tux_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_req_xml_param" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_res_xml_param" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_service_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_user_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveDeductionLogCommand" nillable="true" type="tns:SaveDeductionLogCommand" />
  <xs:complexType name="SaveDeductionReceiptLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_pm_billing_acc_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pm_receipt_id" type="xs:double" />
      <xs:element minOccurs="0" name="p_pm_receipt_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pm_receipt_tot_mny" type="xs:double" />
      <xs:element minOccurs="0" name="p_pm_tax_mny" type="xs:double" />
      <xs:element minOccurs="0" name="p_transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_user_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveDeductionReceiptLogCommand" nillable="true" type="tns:SaveDeductionReceiptLogCommand" />
  <xs:complexType name="SavePaymentSPDPLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_endpoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_non_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_order_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_order_transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_req_xml_param" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_res_xml_param" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_service_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_status_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_status_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_txn_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_user_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SavePaymentSPDPLogCommand" nillable="true" type="tns:SavePaymentSPDPLogCommand" />
  <xs:complexType name="SavePendingDeductionCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_ba_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_merchant_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_order_transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_paid_amt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_payment_method_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SavePendingDeductionCommand" nillable="true" type="tns:SavePendingDeductionCommand" />
  <xs:complexType name="UpdateFBBSaleportalPreRegisterByOrdermcCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateFBBSaleportalPreRegisterByOrdermcCommand" nillable="true" type="tns:UpdateFBBSaleportalPreRegisterByOrdermcCommand" />
  <xs:complexType name="UpdateSplitterDummy3bbCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_splitter_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateSplitterDummy3bbCommand" nillable="true" type="tns:UpdateSplitterDummy3bbCommand" />
</xs:schema>