Presentation/Jobs/FBBPAYGExpireSIM/Connected Services/QueryServices/QueryService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.SAPOnline" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.SAPOnline" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands" />
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" />
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CreateFbssConfigTBLQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBContract.Commands" minOccurs="0" name="ACTION" type="q1:ActionType" />
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CON_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CON_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CON_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEFAULT_VALUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_VAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_BY" type="xs:int" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VAL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateFbssConfigTBLQuery" nillable="true" type="tns:CreateFbssConfigTBLQuery" />
  <xs:complexType name="FBBReturnedFixedAssetQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FBBReturnedFixedAssetQuery" nillable="true" type="tns:FBBReturnedFixedAssetQuery" />
  <xs:complexType name="SendReturnedMAQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_ACCESS_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_PRODUCT_NAME" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" minOccurs="0" name="p_Product_List" nillable="true" type="q2:ArrayOfFBBProductModel" />
      <xs:element minOccurs="0" name="p_Reject_reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_SERVICE_LIST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_SUBCONTRACT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_SUBCONTRACT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_SUBMIT_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_addess_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_building_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_event_flow_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_foa_submit_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="p_mobile_contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_olt_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_org_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_post_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_request_sub_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_reuse_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sub_access_mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_subcontract_sub_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_subcontract_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendReturnedMAQuery" nillable="true" type="tns:SendReturnedMAQuery" />
  <xs:complexType name="FBSSInvSendTerminateQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_term_date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSInvSendTerminateQuery" nillable="true" type="tns:FBSSInvSendTerminateQuery" />
  <xs:complexType name="GetBuildingCostInstallationQuery">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ADDRESS_ID" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="SERVICE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBuildingCostInstallationQuery" nillable="true" type="tns:GetBuildingCostInstallationQuery" />
  <xs:complexType name="GetFBBPAYGExpireSimReportQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="sheet_Query" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFBBPAYGExpireSimReportQuery" nillable="true" type="tns:GetFBBPAYGExpireSimReportQuery" />
  <xs:complexType name="GetFbssConfigTBLQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CON_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CON_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CON_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEFAULT_VALUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_VAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_BY" type="xs:int" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VAL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFbssConfigTBLQuery" nillable="true" type="tns:GetFbssConfigTBLQuery" />
  <xs:complexType name="GetVendorCostInstallationQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="VENDER_MODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetVendorCostInstallationQuery" nillable="true" type="tns:GetVendorCostInstallationQuery" />
  <xs:complexType name="NewRegistForSubmitFOAMainAssetQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FOA_SUBMIT_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBCONTRACT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_ASSET_CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_COM_CODE_NEW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_COM_CODE_OLD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_COSTCENTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_USER_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistForSubmitFOAMainAssetQuery" nillable="true" type="tns:NewRegistForSubmitFOAMainAssetQuery" />
  <xs:complexType name="ResendSFFSubmitFOAQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ResendSFFSubmitFOAQuery" nillable="true" type="tns:ResendSFFSubmitFOAQuery" />
  <xs:complexType name="ResendToSFFSubmitFOAQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ResendToSFFSubmitFOAQuery" nillable="true" type="tns:ResendToSFFSubmitFOAQuery" />
  <xs:complexType name="MonitorLmrInsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitorLmrInsQuery" nillable="true" type="tns:MonitorLmrInsQuery" />
  <xs:complexType name="SubmitFOAInstallationReportBatchNewQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOAInstallationReportBatchNewQuery" nillable="true" type="tns:SubmitFOAInstallationReportBatchNewQuery" />
  <xs:complexType name="SubmitFOAInstallationReportBatchQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOAInstallationReportBatchQuery" nillable="true" type="tns:SubmitFOAInstallationReportBatchQuery" />
  <xs:complexType name="SubmitFOANoDataInsNewQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOANoDataInsNewQuery" nillable="true" type="tns:SubmitFOANoDataInsNewQuery" />
  <xs:complexType name="SubmitFOANoDataInsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOANoDataInsQuery" nillable="true" type="tns:SubmitFOANoDataInsQuery" />
  <xs:complexType name="FBBReconcileInvRPTBatchQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FBBReconcileInvRPTBatchQuery" nillable="true" type="tns:FBBReconcileInvRPTBatchQuery" />
  <xs:complexType name="SubmitFOANoDataReportBatchQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subcontractorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOANoDataReportBatchQuery" nillable="true" type="tns:SubmitFOANoDataReportBatchQuery" />
  <xs:complexType name="SubmitFOAEquipmentReportBatchQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subcontractorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOAEquipmentReportBatchQuery" nillable="true" type="tns:SubmitFOAEquipmentReportBatchQuery" />
  <xs:complexType name="SubmitFOAEquipmentReportQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errormessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="page_index" type="xs:decimal" />
      <xs:element minOccurs="0" name="page_size" type="xs:decimal" />
      <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subcontractorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOAEquipmentReportQuery" nillable="true" type="tns:SubmitFOAEquipmentReportQuery" />
  <xs:complexType name="SubmitFOAGetErrorDescQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_ERR_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_LOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_MATERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SERIAL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOAGetErrorDescQuery" nillable="true" type="tns:SubmitFOAGetErrorDescQuery" />
  <xs:complexType name="SubmitFOAInstallationReportQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOAInstallationReportQuery" nillable="true" type="tns:SubmitFOAInstallationReportQuery" />
  <xs:complexType name="SubmitFOAMainAssetQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="assetClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOAMainAssetQuery" nillable="true" type="tns:SubmitFOAMainAssetQuery" />
  <xs:complexType name="SubmitFOANotGoodsIssueReportQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SubmitFOANotGoodsIssueReportQuery" nillable="true" type="tns:SubmitFOANotGoodsIssueReportQuery" />
  <xs:complexType name="SubmitFOARevalueBatchQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errormessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainasset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOARevalueBatchQuery" nillable="true" type="tns:SubmitFOARevalueBatchQuery" />
  <xs:complexType name="SubmitFOARevalueQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errormessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainasset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOARevalueQuery" nillable="true" type="tns:SubmitFOARevalueQuery" />
  <xs:complexType name="SubmitFOASendmailDataNewQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subcontractorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOASendmailDataNewQuery" nillable="true" type="tns:SubmitFOASendmailDataNewQuery" />
  <xs:complexType name="SubmitFOASendmailDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subcontractorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOASendmailDataQuery" nillable="true" type="tns:SubmitFOASendmailDataQuery" />
  <xs:complexType name="CreateCostInstallationQuery">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBContract.Commands" minOccurs="0" name="ACTION" type="q4:ActionType" />
      <xs:element minOccurs="0" name="ADDRESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EFFECTIVE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXPIRE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="INS_OPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IN_DOOR_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_DELETE_FIXASSCONFIG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LENGTH_FR" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LENGTH_TO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OUT_DOOR_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PLAYBOX" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RATE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VENDOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOIP" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCostInstallationQuery" nillable="true" type="tns:CreateCostInstallationQuery" />
  <xs:complexType name="GetCostInstallationQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="INS_OPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VENDOR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCostInstallationQuery" nillable="true" type="tns:GetCostInstallationQuery" />
  <xs:complexType name="SubmitFOAReportQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subcontractorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitFOAReportQuery" nillable="true" type="tns:SubmitFOAReportQuery" />
  <xs:complexType name="GetProductListQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductListQuery" nillable="true" type="tns:GetProductListQuery" />
  <xs:complexType name="GetProductListByPackageQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flag_auto_resend" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductListByPackageQuery" nillable="true" type="tns:GetProductListByPackageQuery" />
  <xs:complexType name="ResendToSelectQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.FBBWebConfigModels" minOccurs="0" name="ListEquipment" nillable="true" type="q5:ArrayOfSubmitFOAEquipment" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResendToSelectQuery" nillable="true" type="tns:ResendToSelectQuery" />
  <xs:complexType name="GetMaterialCodeQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetMaterialCodeQuery" nillable="true" type="tns:GetMaterialCodeQuery" />
  <xs:complexType name="GetListFbssFoaVendorCodeQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetListFbssFoaVendorCodeQuery" nillable="true" type="tns:GetListFbssFoaVendorCodeQuery" />
  <xs:complexType name="GetListFbssFixedAssetConfigQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DDLName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListFbssFixedAssetConfigQuery" nillable="true" type="tns:GetListFbssFixedAssetConfigQuery" />
</xs:schema>