Presentation/Jobs/FBBAutoMailReport/Service References/FileUploadServices/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileUploadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicHttpStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileDownloadMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadMessage_Headers">
    <wsdl:part name="AuthenticationKey" element="tns:AuthenticationKey" />
  </wsdl:message>
  <wsdl:message name="FileDownloadReturnMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadReturnMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="AuthenticationKey" element="tns:AuthenticationKey" />
  </wsdl:message>
  <wsdl:message name="IFileUploadService_AttemptToCloseStream_InputMessage">
    <wsdl:part name="parameters" element="tns:AttemptToCloseStream" />
  </wsdl:message>
  <wsdl:message name="IFileUploadService_AttemptToCloseStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttemptToCloseStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileUploadService">
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUploadService/DownloadFile" name="FileDownloadMessage" message="tns:FileDownloadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUploadService/DownloadFileResponse" name="FileDownloadReturnMessage" message="tns:FileDownloadReturnMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUploadService/UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttemptToCloseStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUploadService/AttemptToCloseStream" message="tns:IFileUploadService_AttemptToCloseStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUploadService/AttemptToCloseStreamResponse" message="tns:IFileUploadService_AttemptToCloseStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpStream" type="tns:IFileUploadService">
    <wsp:PolicyReference URI="#basicHttpStream_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IFileUploadService/DownloadFile" style="document" />
      <wsdl:input name="FileDownloadMessage">
        <soap:header message="tns:FileDownloadMessage_Headers" part="AuthenticationKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileDownloadReturnMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileUploadService/UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="AuthenticationKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AttemptToCloseStream">
      <soap:operation soapAction="http://tempuri.org/IFileUploadService/AttemptToCloseStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUploadService">
    <wsdl:port name="basicHttpStream" binding="tns:basicHttpStream">
      <soap:address location="http://localhost:59221/FileUploadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>