Presentation/Jobs/FBBPAYGExpireSIM/Connected Services/CommandServices/CommandService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGetAssign_VOIP_IPListQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAssign_VOIP_IPListQuery" nillable="true" type="tns:GetAssign_VOIP_IPListQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAssign_VOIP_IPListQuery" nillable="true" type="tns:ArrayOfGetAssign_VOIP_IPListQuery" />
  <xs:complexType name="GetAssign_VOIP_IPListQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlaxData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFF_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFF_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAssign_VOIP_IPListQuery" nillable="true" type="tns:GetAssign_VOIP_IPListQuery" />
</xs:schema>