Presentation/Jobs/FBBPAYGExpireSIMS4Batch/Connected Services/CommandServices/CommandService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.FbbPaygLMD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.FbbPaygLMD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UpdateInvoiceCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdateInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateInvoiceCommand" nillable="true" type="tns:UpdateInvoiceCommand" />
  <xs:complexType name="UpdateInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoice_no_Old" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoice_no_New" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoice_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_By" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_list" nillable="true" type="tns:ArrayOfDetail_order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateInvoice" nillable="true" type="tns:UpdateInvoice" />
  <xs:complexType name="ArrayOfDetail_order">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detail_order" nillable="true" type="tns:Detail_order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetail_order" nillable="true" type="tns:ArrayOfDetail_order" />
  <xs:complexType name="Detail_order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detail_order" nillable="true" type="tns:Detail_order" />
  <xs:complexType name="UpdateOrderStatusCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdateOrderStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateOrderStatusCommand" nillable="true" type="tns:UpdateOrderStatusCommand" />
  <xs:complexType name="UpdateOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Update_By" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Update_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoice_List" nillable="true" type="tns:ArrayOfDetail_Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateOrderStatus" nillable="true" type="tns:UpdateOrderStatus" />
  <xs:complexType name="ArrayOfDetail_Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detail_Invoice" nillable="true" type="tns:Detail_Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetail_Invoice" nillable="true" type="tns:ArrayOfDetail_Invoice" />
  <xs:complexType name="Detail_Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Invoice_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detail_Invoice" nillable="true" type="tns:Detail_Invoice" />
</xs:schema>