Framework/WBBBusinessLayer/Web References/IMService/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:PegaRULES:SOAP:AISNIMIntFBBIntegration:Services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:nslt1="urn:PegaRULES:SOAP:AISNIMIntFBBIntegration:Services" targetNamespace="urn:PegaRULES:SOAP:AISNIMIntFBBIntegration:Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="urn:PegaRULES:SOAP:AISNIMIntFBBIntegration:Services">
      <xsd:complexType name="GetFBBOrderNoRequestType">
        <xsd:sequence>
          <xsd:element name="AddressAmphur" type="xsd:string" />
          <xsd:element name="AddressBuilding" type="xsd:string" />
          <xsd:element name="AddressFloor" type="xsd:string" />
          <xsd:element name="AddressMoo" type="xsd:string" />
          <xsd:element name="AddressMooban" type="xsd:string" />
          <xsd:element name="AddressNo" type="xsd:string" />
          <xsd:element name="AddressPostCode" type="xsd:string" />
          <xsd:element name="AddressProvince" type="xsd:string" />
          <xsd:element name="AddressRoad" type="xsd:string" />
          <xsd:element name="AddressSoi" type="xsd:string" />
          <xsd:element name="AddressTumbol" type="xsd:string" />
          <xsd:element name="OrderNo" type="xsd:string" />
          <xsd:element name="OrderNoStatus" type="xsd:string" />
          <xsd:element name="CaseID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetFBBOrderNoRequest" type="nslt1:GetFBBOrderNoRequestType" />
      <xsd:complexType name="GetFBBOrderNoResponseType">
        <xsd:sequence>
          <xsd:element name="ReturnCode" type="xsd:string" />
          <xsd:element name="ReturnMessage" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetFBBOrderNoResponse" type="nslt1:GetFBBOrderNoResponseType" />
      <xsd:complexType name="GetLeaveMsgReferenceNoRequestType">
        <xsd:sequence>
          <xsd:element name="ContactMobileNo" type="xsd:string" />
          <xsd:element name="CustomerLastName" type="xsd:string" />
          <xsd:element name="CustomerName" type="xsd:string" />
          <xsd:element name="ReferenceNo" type="xsd:string" />
          <xsd:element name="ReferenceNoStatus" type="xsd:string" />
          <xsd:element name="AddressAmphur" type="xsd:string" />
          <xsd:element name="AddressBuilding" type="xsd:string" />
          <xsd:element name="AddressFloor" type="xsd:string" />
          <xsd:element name="AddressMoo" type="xsd:string" />
          <xsd:element name="AddressMooban" type="xsd:string" />
          <xsd:element name="AddressNo" type="xsd:string" />
          <xsd:element name="AddressPostCode" type="xsd:string" />
          <xsd:element name="AddressProvince" type="xsd:string" />
          <xsd:element name="AddressRoad" type="xsd:string" />
          <xsd:element name="AddressSoi" type="xsd:string" />
          <xsd:element name="AddressTumbol" type="xsd:string" />
          <xsd:element name="InService" type="xsd:string" />
          <xsd:element name="CaseID" type="xsd:string" />
          <xsd:element name="ProductType" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetLeaveMsgReferenceNoRequest" type="nslt1:GetLeaveMsgReferenceNoRequestType" />
      <xsd:complexType name="GetLeaveMsgReferenceNoResponseType">
        <xsd:sequence>
          <xsd:element name="ReturnCode" type="xsd:string" />
          <xsd:element name="ReturnMessage" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetLeaveMsgReferenceNoResponse" type="nslt1:GetLeaveMsgReferenceNoResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetFBBOrderNo">
    <wsdl:part name="GetFBBOrderNoRequest" element="nslt1:GetFBBOrderNoRequest" />
  </wsdl:message>
  <wsdl:message name="GetLeaveMsgReferenceNoResponse">
    <wsdl:part name="GetLeaveMsgReferenceNoResponse" element="nslt1:GetLeaveMsgReferenceNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeaveMsgReferenceNo">
    <wsdl:part name="GetLeaveMsgReferenceNoRequest" element="nslt1:GetLeaveMsgReferenceNoRequest" />
  </wsdl:message>
  <wsdl:message name="GetFBBOrderNoResponse">
    <wsdl:part name="GetFBBOrderNoResponse" element="nslt1:GetFBBOrderNoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesType">
    <wsdl:operation name="GetFBBOrderNo">
      <wsdl:input message="nslt1:GetFBBOrderNo" />
      <wsdl:output message="nslt1:GetFBBOrderNoResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaveMsgReferenceNo">
      <wsdl:input message="nslt1:GetLeaveMsgReferenceNo" />
      <wsdl:output message="nslt1:GetLeaveMsgReferenceNoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesBindingSOAP" type="nslt1:ServicesType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFBBOrderNo">
      <soap:operation soapAction="urn:PegaRULES:SOAP:AISNIMIntFBBIntegration:Services#GetFBBOrderNo" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveMsgReferenceNo">
      <soap:operation soapAction="urn:PegaRULES:SOAP:AISNIMIntFBBIntegration:Services#GetLeaveMsgReferenceNo" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesBindingSOAP12" type="nslt1:ServicesType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFBBOrderNo">
      <soap12:operation soapAction="urn:PegaRULES:SOAP:AISNIMIntFBBIntegration:Services#GetFBBOrderNo" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveMsgReferenceNo">
      <soap12:operation soapAction="urn:PegaRULES:SOAP:AISNIMIntFBBIntegration:Services#GetLeaveMsgReferenceNo" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicesService">
    <wsdl:port name="ServicesPortSOAP" binding="nslt1:ServicesBindingSOAP">
      <soap:address location="http://10.138.32.21:8080/prweb/PRSOAPServlet/SOAP/AISNIMIntFBBIntegration/Services" />
    </wsdl:port>
    <wsdl:port name="ServicesPortSOAP12" binding="nslt1:ServicesBindingSOAP12">
      <soap12:address location="http://10.138.32.21:8080/prweb/PRSOAPServlet/SOAP/AISNIMIntFBBIntegration/Services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>