Presentation/Jobs/GenReportReconcileBatch/Connected Services/QueryService/QueryService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" />
  <xs:complexType name="CheckPremiumFlagQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemoFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecurringCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPremiumFlagQuery" nillable="true" type="tns:CheckPremiumFlagQuery" />
  <xs:complexType name="CheckTimeSlotbySubTypeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckTimeSlotbySubTypeQuery" nillable="true" type="tns:CheckTimeSlotbySubTypeQuery" />
  <xs:complexType name="CheckFMCPackageQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFFPromotionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckFMCPackageQuery" nillable="true" type="tns:CheckFMCPackageQuery" />
  <xs:complexType name="CustomerProfileInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileInfoQuery" nillable="true" type="tns:CustomerProfileInfoQuery" />
  <xs:complexType name="evAMQueryCustomerProfileByTaxIdQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="TAX_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evAMQueryCustomerProfileByTaxIdQuery" nillable="true" type="tns:evAMQueryCustomerProfileByTaxIdQuery" />
  <xs:complexType name="evESeServiceQueryMassCommonAccountInfoForAddBundlingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Page" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inOption" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evESeServiceQueryMassCommonAccountInfoForAddBundlingQuery" nillable="true" type="tns:evESeServiceQueryMassCommonAccountInfoForAddBundlingQuery" />
  <xs:complexType name="evESeServiceQueryPrivilegeByMobileNoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evESeServiceQueryPrivilegeByMobileNoQuery" nillable="true" type="tns:evESeServiceQueryPrivilegeByMobileNoQuery" />
  <xs:complexType name="evOMNewRegisMultiInstanceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="accAmphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accBuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accHomeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accMooBan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accTumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accessType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountSubCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ascCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="baName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="baNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billAmphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billBuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billCycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billHomeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billMedia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billMooBan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billTumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="bulkappoint" nillable="true" type="q1:ArrayOfDetailBulkCorpListServiceAppoint" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="bulklistinstancecur" nillable="true" type="q2:ArrayOfDetailBulkCorpListInstanceCur" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="bulksffpromotioncur" nillable="true" type="q3:ArrayOfDetailBulkCorpSffPromotionCur" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="bulksffpromotionontopcur" nillable="true" type="q4:ArrayOfDetailBulkCorpSffPromotionOntopCur" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="bulkvdsl" nillable="true" type="q5:ArrayOfDetailBulkCorpListServiceVdsl" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="bulkvdslrouter" nillable="true" type="q6:ArrayOfDetailBulkCorpListServiceVdslRouter" />
      <xs:element minOccurs="0" name="caBranchNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chargeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactMobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dealerLocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dpPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dslamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dslamPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="engFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installAddress4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installAddress5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="installStaffID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="macAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="meterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNumberContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="networkProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumberContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productInstance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotionMain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotionOntop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provinceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saAmphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saBranchNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saBuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saHomeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saMooBan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saTumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saVatAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saVatAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saVatAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saVatAddress4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saVatAddress5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saVatAddress6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saVatName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="simSerialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sourceSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subContractor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subcontractor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMNewRegisMultiInstanceQuery" nillable="true" type="tns:evOMNewRegisMultiInstanceQuery" />
  <xs:complexType name="evOMQueryListServiceAndPromotionByNeighborQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMQueryListServiceAndPromotionByNeighborQuery" nillable="true" type="tns:evOMQueryListServiceAndPromotionByNeighborQuery" />
  <xs:complexType name="ServiceLogNewRegisterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceLogNewRegisterQuery" nillable="true" type="tns:ServiceLogNewRegisterQuery" />
  <xs:complexType name="GetListStatusLeaveMessageQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefferenceNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListStatusLeaveMessageQuery" nillable="true" type="tns:GetListStatusLeaveMessageQuery" />
  <xs:complexType name="GetUrlExServiceFBBSAPOnlineQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetUrlExServiceFBBSAPOnlineQuery" nillable="true" type="tns:GetUrlExServiceFBBSAPOnlineQuery" />
  <xs:complexType name="LastmilePaymentQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q7:LastmilePaymentModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LastmilePaymentQuery" nillable="true" type="tns:LastmilePaymentQuery" />
  <xs:complexType name="MonitorLmrQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitorLmrQuery" nillable="true" type="tns:MonitorLmrQuery" />
  <xs:complexType name="NewRegistForSubmitFOAQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q8:NewRegistFOA">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewRegistForSubmitFOAQuery" nillable="true" type="tns:NewRegistForSubmitFOAQuery" />
  <xs:complexType name="NewRegisterQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q9:Register">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewRegisterQuery" nillable="true" type="tns:NewRegisterQuery" />
  <xs:complexType name="JoinOrderQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q10:JoinOrder">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JoinOrderQuery" nillable="true" type="tns:JoinOrderQuery" />
  <xs:complexType name="InstallationCostQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q11:InstallationCost">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstallationCostQuery" nillable="true" type="tns:InstallationCostQuery" />
  <xs:complexType name="TerminateServiceQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q12:TerminateService">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TerminateServiceQuery" nillable="true" type="tns:TerminateServiceQuery" />
  <xs:complexType name="RenewServiceQuery">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" base="q13:RenewService">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RenewServiceQuery" nillable="true" type="tns:RenewServiceQuery" />
  <xs:complexType name="NewRegistForSubmitFOARevaluePendingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERR_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERR_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_ASSET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANS_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistForSubmitFOARevaluePendingQuery" nillable="true" type="tns:NewRegistForSubmitFOARevaluePendingQuery" />
  <xs:complexType name="GetListPmMobileDetialQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListPmMobileDetialQuery" nillable="true" type="tns:GetListPmMobileDetialQuery" />
  <xs:complexType name="evOMServiceIVRCheckBlackListQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="inCardNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMServiceIVRCheckBlackListQuery" nillable="true" type="tns:evOMServiceIVRCheckBlackListQuery" />
  <xs:complexType name="evOMQueryListServiceAndPromotionByPackageTypeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMQueryListServiceAndPromotionByPackageTypeQuery" nillable="true" type="tns:evOMQueryListServiceAndPromotionByPackageTypeQuery" />
  <xs:complexType name="evESQueryPersonalInformationQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="option" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evESQueryPersonalInformationQuery" nillable="true" type="tns:evESQueryPersonalInformationQuery" />
  <xs:complexType name="evESeServiceQueryMassCommonAccountInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Page" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inOption" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evESeServiceQueryMassCommonAccountInfoQuery" nillable="true" type="tns:evESeServiceQueryMassCommonAccountInfoQuery" />
  <xs:complexType name="GetReAvailableQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CURRENTPORTID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetReAvailableQuery" nillable="true" type="tns:GetReAvailableQuery" />
  <xs:complexType name="GetCoverageQueryBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:int" />
      <xs:element minOccurs="0" name="FLAGONLINENUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NETWORKTECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFF_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFF_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOWER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCoverageQueryBase" nillable="true" type="tns:GetCoverageQueryBase" />
  <xs:complexType name="GetActivePortQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CURRENTPORTID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetActivePortQuery" nillable="true" type="tns:GetActivePortQuery" />
  <xs:complexType name="GetAisMobileServiceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opt1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opt2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAisMobileServiceQuery" nillable="true" type="tns:GetAisMobileServiceQuery" />
  <xs:complexType name="GetAvaliablePortQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CURRENTPORTID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAvaliablePortQuery" nillable="true" type="tns:GetAvaliablePortQuery" />
  <xs:complexType name="GetWSAISMOBILESeviceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageSender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SffProfileLogID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opt1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opt2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ou_OrderRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="out_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="out_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="out_IsSuccess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="out_TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetWSAISMOBILESeviceQuery" nillable="true" type="tns:GetWSAISMOBILESeviceQuery" />
  <xs:complexType name="GetCoverageRegionQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aumphur" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tambon" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCoverageRegionQuery" nillable="true" type="tns:GetCoverageRegionQuery" />
  <xs:complexType name="GetAirnetWirelessCoverageQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="COVERAGETYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR" type="xs:decimal" />
          <xs:element minOccurs="0" name="LAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LNG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSO" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAirnetWirelessCoverageQuery" nillable="true" type="tns:GetAirnetWirelessCoverageQuery" />
  <xs:complexType name="GetChangePortQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CHANGEPORT_REASON" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CURRENTPORTID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetChangePortQuery" nillable="true" type="tns:GetChangePortQuery" />
  <xs:complexType name="GetChangePortFailQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CURRENTPORTID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetChangePortFailQuery" nillable="true" type="tns:GetChangePortFailQuery" />
  <xs:complexType name="GetAssignNewPortQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAssignNewPortQuery" nillable="true" type="tns:GetAssignNewPortQuery" />
  <xs:complexType name="GetPortAvaliableQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCoverageQueryBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPortAvaliableQuery" nillable="true" type="tns:GetPortAvaliableQuery" />
</xs:schema>