WebServices/WBBExternalService/Service References/CommandService/CommandService34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.FbbCpGw" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.FbbCpGw" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" />
  <xs:complexType name="AisWiFiRegCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayCommandBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="CheckChangePromotionModel" nillable="true" type="q1:evOMServiceCheckChangePromotionModel" />
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AisWiFiRegCommand" nillable="true" type="tns:AisWiFiRegCommand" />
  <xs:complexType name="CpGateWayCommandBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CpGateWayCommandBase" nillable="true" type="tns:CpGateWayCommandBase" />
  <xs:complexType name="CustRegisterCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayCommandBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="CustRegisterInfoModel" nillable="true" type="q2:CustRegisterInfoModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustRegisterCommand" nillable="true" type="tns:CustRegisterCommand" />
</xs:schema>