WebServices/WBBExternalService/Service References/CommandService/CommandService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageModel" nillable="true" type="tns:PackageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageModel" nillable="true" type="tns:ArrayOfPackageModel" />
  <xs:complexType name="PackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DISCOUNT_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_INITIATION_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDD_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LABEL_PACKAGE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LABEL_SUMM_ROW1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_FORWARD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS_MAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA_ONTOP" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="S_GROUP" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="SelectVas_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialOffer" nillable="true" type="tns:ArrayOfSpecialOfferModel" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMP_IA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOIP_IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageModel" nillable="true" type="tns:PackageModel" />
  <xs:complexType name="ArrayOfSpecialOfferModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialOfferModel" nillable="true" type="tns:SpecialOfferModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialOfferModel" nillable="true" type="tns:ArrayOfSpecialOfferModel" />
  <xs:complexType name="SpecialOfferModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialOfferModel" nillable="true" type="tns:SpecialOfferModel" />
  <xs:complexType name="PDFPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PDF_L_LABEL_DETAIL_ALLFIRSTBILL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_MAIN_PACKAGE" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PDF_L_ONTOPLIST" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="PDF_L_ONTOP_FIXLIND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_ONTOP_ROUTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_4DAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_BASEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_DISCOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_MAINTAINPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_PAKAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_SUM1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_SUM2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_TIDTUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_PAKAGENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_TIDTUN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PDFPackageModel" nillable="true" type="tns:PDFPackageModel" />
</xs:schema>