Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/CommandServices/CommandService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/One2NetContract.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/One2NetContract.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InterfaceLogCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="INTERFACE_NODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IN_ID_CARD_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IN_TRANSACTION_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IN_XML_PARAM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="METHOD_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OUT_ERROR_RESULT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OUT_RESULT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OUT_XML_PARAM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutInterfaceLogId" type="xs:decimal" />
          <xs:element minOccurs="0" name="REQUEST_STATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICE_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InterfaceLogCommand" nillable="true" type="tns:InterfaceLogCommand" />
  <xs:complexType name="CommandBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActionType" type="tns:ActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandBase" nillable="true" type="tns:CommandBase" />
  <xs:simpleType name="ActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionType" nillable="true" type="tns:ActionType" />
  <xs:complexType name="RegistRouterLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Return_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dormitoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="floorNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roomNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistRouterLogCommand" nillable="true" type="tns:RegistRouterLogCommand" />
</xs:schema>