Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/CommandServices/CommandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPackageByServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageByServiceModel" nillable="true" type="tns:PackageByServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageByServiceModel" nillable="true" type="tns:ArrayOfPackageByServiceModel" />
  <xs:complexType name="PackageByServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" type="xs:int" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" type="xs:int" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERENADE_FLAGS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageByServiceModel" nillable="true" type="tns:PackageByServiceModel" />
</xs:schema>