Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/CommandServices/CommandService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/One2NetContract.Commands.InWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/One2NetContract.Commands.InWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53124/CommandService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels" />
  <xs:import schemaLocation="http://localhost:53124/CommandService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CreateOrderChangePromotionCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="ValidateFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOrderChangePromotionCommand" nillable="true" type="tns:CreateOrderChangePromotionCommand" />
  <xs:complexType name="RequestFormCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Return_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_amount_building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_amount_living" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_amount_room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_amount_use_internet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_contract_phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_flag_language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_house_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_original_providers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_original_system" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_phone_line" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_problem_internet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_project_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_project_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sub_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_type_customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestFormCommand" nillable="true" type="tns:RequestFormCommand" />
  <xs:complexType name="SaveRegisterCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="SBNService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorReason" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels" minOccurs="0" name="model" nillable="true" type="q1:RegisterPanelModel" />
      <xs:element minOccurs="0" name="p_language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveRegisterCommand" nillable="true" type="tns:SaveRegisterCommand" />
  <xs:complexType name="UpdateServiceStatusCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internet_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="old_servicestatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pin_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateServiceStatusCommand" nillable="true" type="tns:UpdateServiceStatusCommand" />
  <xs:complexType name="LockStatusMobileCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="lock_internet_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lock_pin_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lock_return_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lock_return_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LockStatusMobileCommand" nillable="true" type="tns:LockStatusMobileCommand" />
  <xs:complexType name="SaveResponseBatchCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_REPONSE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_REPONSE_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_RETURN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_RETURN_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_USER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveResponseBatchCommand" nillable="true" type="tns:SaveResponseBatchCommand" />
  <xs:complexType name="SaveResponseBatchRequestCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_REPONSE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_REPONSE_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_RETURN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_RETURN_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_USER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveResponseBatchRequestCommand" nillable="true" type="tns:SaveResponseBatchRequestCommand" />
  <xs:complexType name="SendMailNotificationCommand">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AttachFiles" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domaim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPMailServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendBCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMailNotificationCommand" nillable="true" type="tns:SendMailNotificationCommand" />
</xs:schema>