Presentation/Jobs/FBBDormitoryBatchRequestForService/Service References/CommandServices/CommandService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53124/CommandService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" />
  <xs:complexType name="RegisterPanelModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LoginRegisterModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CARD_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CARD_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChkStatusRegister" type="xs:boolean" />
          <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
          <xs:element minOccurs="0" name="DISTRICT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DORMITARY_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DORMITARY_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DORMITARY_ROOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HOME_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HOME_PHONE_EXT_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HOME_PHONE_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOBILE_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MappingCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" minOccurs="0" name="Packlist_ALL" nillable="true" type="q1:ArrayOfPackageByServiceModel" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.One2NetModels.InWebServices" minOccurs="0" name="Packlist_DISPLAY" nillable="true" type="q2:ArrayOfPackageByServiceModel" />
          <xs:element minOccurs="0" name="ROAD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_DISTRICT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="old_registerstatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterPanelModel" nillable="true" type="tns:RegisterPanelModel" />
  <xs:complexType name="LoginRegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PIN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PREPAID_INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_Project" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginRegisterModel" nillable="true" type="tns:LoginRegisterModel" />
</xs:schema>