Presentation/Jobs/FBBMonitorLMRSAPS4/Connected Services/QueryServices/QueryService29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.QueryModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.QueryModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MapFBBAddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MapFBBAddressModel" nillable="true" type="tns:MapFBBAddressModel" />
</xs:schema>