Presentation/Jobs/FBBMonitorLMRSAPS4/Connected Services/QueryServices/QueryService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PatchSearchOrderQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SerialNo" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatchSearchOrderQuery" nillable="true" type="tns:PatchSearchOrderQuery" />
  <xs:complexType name="PatchSearchOrderHVRQuery">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SerialNo" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="SerialNo2" nillable="true" type="tns:ArrayOfPatchSearchOrdersHVR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatchSearchOrderHVRQuery" nillable="true" type="tns:PatchSearchOrderHVRQuery" />
  <xs:complexType name="ArrayOfPatchSearchOrdersHVR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatchSearchOrdersHVR" nillable="true" type="tns:PatchSearchOrdersHVR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatchSearchOrdersHVR" nillable="true" type="tns:ArrayOfPatchSearchOrdersHVR" />
  <xs:complexType name="PatchSearchOrdersHVR">
    <xs:sequence>
      <xs:element minOccurs="0" name="INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_UPDATE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO" type="xs:int" />
      <xs:element minOccurs="0" name="ORDER_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYMPTOM_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatchSearchOrdersHVR" nillable="true" type="tns:PatchSearchOrdersHVR" />
  <xs:complexType name="ArrayOfRetPatchSearchOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetPatchSearchOrders" nillable="true" type="tns:RetPatchSearchOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetPatchSearchOrders" nillable="true" type="tns:ArrayOfRetPatchSearchOrders" />
  <xs:complexType name="RetPatchSearchOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="INTERNET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_UPDATE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO" type="xs:int" />
      <xs:element minOccurs="0" name="ORDER_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYMPTOM_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetPatchSearchOrders" nillable="true" type="tns:RetPatchSearchOrders" />
</xs:schema>