Presentation/Jobs/FBBMonitorLMRSAPS4/Connected Services/QueryServices/QueryService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.CoverageManagePage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.CoverageManagePage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetBulidingCardPortTie">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSALMID" type="xs:decimal" />
      <xs:element minOccurs="0" name="falgDataTie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBulidingCardPortTie" nillable="true" type="tns:GetBulidingCardPortTie" />
  <xs:complexType name="GetCheckCorverageTieCardPortQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Corverage_Tie" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCheckCorverageTieCardPortQuery" nillable="true" type="tns:GetCheckCorverageTieCardPortQuery" />
  <xs:complexType name="GetGridDSLAMRestockQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGridDSLAMRestockQuery" nillable="true" type="tns:GetGridDSLAMRestockQuery" />
  <xs:complexType name="GetLotStratIndex">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Coverage_TieFax" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLotStratIndex" nillable="true" type="tns:GetLotStratIndex" />
  <xs:complexType name="GetMaxDLQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
      <xs:element minOccurs="0" name="CarID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Dsalam" type="xs:decimal" />
      <xs:element minOccurs="0" name="Node_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMaxDLQuery" nillable="true" type="tns:GetMaxDLQuery" />
  <xs:complexType name="GetCardInfoPortDataPaneHistorylBQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardID" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSLAMID" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCardInfoPortDataPaneHistorylBQuery" nillable="true" type="tns:GetCardInfoPortDataPaneHistorylBQuery" />
  <xs:complexType name="GetCardInfoPortDataPanelBQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardID" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSLAMID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Dispaly" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCardInfoPortDataPanelBQuery" nillable="true" type="tns:GetCardInfoPortDataPanelBQuery" />
  <xs:complexType name="GetCardInfoPortPanelDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardID" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSLAMID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaxCard_Info" type="xs:decimal" />
      <xs:element minOccurs="0" name="NodeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultReaderdataPor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCardInfoPortPanelDataQuery" nillable="true" type="tns:GetCardInfoPortPanelDataQuery" />
  <xs:complexType name="GetCradPortdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCradPortdata" nillable="true" type="tns:GetCradPortdata" />
  <xs:complexType name="GetModelAndBrandQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetModelAndBrandQuery" nillable="true" type="tns:GetModelAndBrandQuery" />
  <xs:complexType name="GetDSLAMAndExistingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Existing" type="xs:boolean" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDSLAMAndExistingQuery" nillable="true" type="tns:GetDSLAMAndExistingQuery" />
  <xs:complexType name="GetCoverageAreaByCVRQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCoverageAreaByCVRQuery" nillable="true" type="tns:GetCoverageAreaByCVRQuery" />
  <xs:complexType name="SelectCoverageStatusQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="LOV_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectCoverageStatusQuery" nillable="true" type="tns:SelectCoverageStatusQuery" />
  <xs:complexType name="GetCardInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DSLAMID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCardInfoQuery" nillable="true" type="tns:GetCardInfoQuery" />
  <xs:complexType name="GetCheckCompleteFlagQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRId" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCheckCompleteFlagQuery" nillable="true" type="tns:GetCheckCompleteFlagQuery" />
  <xs:complexType name="GetCoverageAreaBuildingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="xs:decimal" />
      <xs:element minOccurs="0" name="NotIn" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCoverageAreaBuildingQuery" nillable="true" type="tns:GetCoverageAreaBuildingQuery" />
  <xs:complexType name="GetDSLAMInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVRID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDSLAMInfoQuery" nillable="true" type="tns:GetDSLAMInfoQuery" />
  <xs:complexType name="GetCoverageAreaQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpRanCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeStaus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCoverageAreaQuery" nillable="true" type="tns:GetCoverageAreaQuery" />
  <xs:complexType name="GetEditCoverageAreaQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GetForEdit" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEditCoverageAreaQuery" nillable="true" type="tns:GetEditCoverageAreaQuery" />
  <xs:complexType name="ArrayOfBuailTieQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuailTieQuery" nillable="true" type="tns:BuailTieQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuailTieQuery" nillable="true" type="tns:ArrayOfBuailTieQuery" />
  <xs:complexType name="BuailTieQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dispay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuailTieQuery" nillable="true" type="tns:BuailTieQuery" />
</xs:schema>