Presentation/Jobs/FBBQueryOrderPendingDeduction/Connected Services/QueryService/QueryService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:complexType name="LastmilePaymentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTION_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVE_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVE_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVE_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISP_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESRI_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_UPDATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_UPDATE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAP_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REAL_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REQUEST_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REUSED_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LastmilePaymentModel" nillable="true" type="tns:LastmilePaymentModel" />
  <xs:complexType name="NewRegistFOA">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOA_Submit_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile_Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OLT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductList" nillable="true" type="tns:ArrayOfNewRegistFOAProductList" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RejectReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceList" nillable="true" type="tns:ArrayOfNewRegistFOAServiceList" />
      <xs:element minOccurs="0" name="SubcontractorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubcontractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmitFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reuse_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event_Flow_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcontract_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcontract_Sub_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Request_Sub_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sub_Access_Mode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistFOA" nillable="true" type="tns:NewRegistFOA" />
  <xs:complexType name="ArrayOfNewRegistFOAProductList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewRegistFOAProductList" nillable="true" type="tns:NewRegistFOAProductList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewRegistFOAProductList" nillable="true" type="tns:ArrayOfNewRegistFOAProductList" />
  <xs:complexType name="NewRegistFOAProductList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovementType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SNPattern" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistFOAProductList" nillable="true" type="tns:NewRegistFOAProductList" />
  <xs:complexType name="ArrayOfNewRegistFOAServiceList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewRegistFOAServiceList" nillable="true" type="tns:NewRegistFOAServiceList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewRegistFOAServiceList" nillable="true" type="tns:ArrayOfNewRegistFOAServiceList" />
  <xs:complexType name="NewRegistFOAServiceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistFOAServiceList" nillable="true" type="tns:NewRegistFOAServiceList" />
  <xs:complexType name="Register">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASSET_CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSET_DESC1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSET_DESC2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCENTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EVA4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EVA5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INV_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_ASSET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POST_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XREF1_HD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Register" nillable="true" type="tns:Register" />
  <xs:complexType name="JoinOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOC_HEADER_TXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GL_ACCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVEMENT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANT_FROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUANTITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_DOC_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_DOC_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLOC_FROM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinOrder" nillable="true" type="tns:JoinOrder" />
  <xs:complexType name="InstallationCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount_in_Document_Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doc_Header_Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Document_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference_Key_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference_Key_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference_Key_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translation_Date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallationCost" nillable="true" type="tns:InstallationCost" />
  <xs:complexType name="TerminateService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asset_Code_List" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Internet_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Send_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminateService" nillable="true" type="tns:TerminateService" />
  <xs:complexType name="RenewService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create_datetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Internet_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductList" nillable="true" type="tns:ArrayOfProductList" />
      <xs:element minOccurs="0" name="Send_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RenewService" nillable="true" type="tns:RenewService" />
  <xs:complexType name="ArrayOfProductList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductList" nillable="true" type="tns:ProductList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductList" nillable="true" type="tns:ArrayOfProductList" />
  <xs:complexType name="ProductList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPE_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductList" nillable="true" type="tns:ProductList" />
  <xs:complexType name="CheckChangePromotionModelLine4">
    <xs:sequence>
      <xs:element minOccurs="0" name="countFN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="existFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstActDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckChangePromotionModelLine4" nillable="true" type="tns:CheckChangePromotionModelLine4" />
  <xs:complexType name="ConfirmChangePromotionModelLine4">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuccessFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmChangePromotionModelLine4" nillable="true" type="tns:ConfirmChangePromotionModelLine4" />
  <xs:complexType name="CheckNewRegisProspectQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ascFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="blackListFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="locationFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckNewRegisProspectQueryModel" nillable="true" type="tns:CheckNewRegisProspectQueryModel" />
  <xs:complexType name="CheckPremiumFlagResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecurringCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnPremiumConfig" nillable="true" type="tns:ArrayOfReturnPremiumConfigData" />
      <xs:element minOccurs="0" name="ReturnPremiumTimeSlot" nillable="true" type="tns:ArrayOfReturnPremiumTimeSlotData" />
      <xs:element minOccurs="0" name="SubAccessMode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPremiumFlagResponse" nillable="true" type="tns:CheckPremiumFlagResponse" />
  <xs:complexType name="ArrayOfReturnPremiumConfigData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnPremiumConfigData" nillable="true" type="tns:ReturnPremiumConfigData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReturnPremiumConfigData" nillable="true" type="tns:ArrayOfReturnPremiumConfigData" />
  <xs:complexType name="ReturnPremiumConfigData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictTh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceTh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecurringCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubdistrictEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubdistrictTh" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnPremiumConfigData" nillable="true" type="tns:ReturnPremiumConfigData" />
  <xs:complexType name="ArrayOfReturnPremiumTimeSlotData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnPremiumTimeSlotData" nillable="true" type="tns:ReturnPremiumTimeSlotData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReturnPremiumTimeSlotData" nillable="true" type="tns:ArrayOfReturnPremiumTimeSlotData" />
  <xs:complexType name="ReturnPremiumTimeSlotData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignRule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfHour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfShift" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiftType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnPremiumTimeSlotData" nillable="true" type="tns:ReturnPremiumTimeSlotData" />
  <xs:complexType name="CheckTimeSlotbySubTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnConfigTimeslot" nillable="true" type="tns:ArrayOfReturnConfigTimeslotData" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckTimeSlotbySubTypeResponse" nillable="true" type="tns:CheckTimeSlotbySubTypeResponse" />
  <xs:complexType name="ArrayOfReturnConfigTimeslotData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnConfigTimeslotData" nillable="true" type="tns:ReturnConfigTimeslotData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReturnConfigTimeslotData" nillable="true" type="tns:ArrayOfReturnConfigTimeslotData" />
  <xs:complexType name="ReturnConfigTimeslotData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignRule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfHour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfShift" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiftType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnConfigTimeslotData" nillable="true" type="tns:ReturnConfigTimeslotData" />
  <xs:complexType name="CheckFMCPackageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="OntopPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckFMCPackageResponse" nillable="true" type="tns:CheckFMCPackageResponse" />
  <xs:complexType name="CustomerProfileInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Return_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="list_customer_info" nillable="true" type="tns:ArrayOfList_Customer_Info" />
      <xs:element minOccurs="0" name="list_service_info" nillable="true" type="tns:ArrayOfList_Service_Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerProfileInfoModel" nillable="true" type="tns:CustomerProfileInfoModel" />
  <xs:complexType name="ArrayOfList_Customer_Info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="List_Customer_Info" nillable="true" type="tns:List_Customer_Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfList_Customer_Info" nillable="true" type="tns:ArrayOfList_Customer_Info" />
  <xs:complexType name="List_Customer_Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="billing_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_appointment_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_appointment_timeslot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="install_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internet_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile_contact_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="List_Customer_Info" nillable="true" type="tns:List_Customer_Info" />
  <xs:complexType name="ArrayOfList_Service_Info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="List_Service_Info" nillable="true" type="tns:List_Service_Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfList_Service_Info" nillable="true" type="tns:ArrayOfList_Service_Info" />
  <xs:complexType name="List_Service_Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="package_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_name_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_name_th" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sff_promotion_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="List_Service_Info" nillable="true" type="tns:List_Service_Info" />
  <xs:complexType name="D_LstPMETaxRcptModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_BILL_END_DAT" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_BILL_START_DAT" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_DOC_TYPE" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_ETAX_FLAG" nillable="true" type="q4:ArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_RECEIPT_DAT" nillable="true" type="q5:ArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_RECEIPT_ID" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="PM_RECEIPT_NUM" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_RECEIPT_TOT_MNY" nillable="true" type="q7:ArrayOfdouble" />
      <xs:element minOccurs="0" name="PM_TUX_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM_TUX_MSG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="D_LstPMETaxRcptModel" nillable="true" type="tns:D_LstPMETaxRcptModel" />
  <xs:complexType name="evAMQueryCustomerProfileByTaxIdModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountAmphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountBuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountHouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountMooban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountStreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountSubCat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="activeDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caAccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="houseTelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="officeTelNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evAMQueryCustomerProfileByTaxIdModel" nillable="true" type="tns:evAMQueryCustomerProfileByTaxIdModel" />
  <xs:complexType name="evESeServiceQueryMassCommonAccountInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUIDKEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAWNProduct" type="xs:boolean" />
      <xs:element minOccurs="0" name="OwnerProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SffProfileLogID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="cardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="checkPlayBox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curMobileCheckRight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curMobileCheckRightOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curMobileGetBenefit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curMobileGetBenefitOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAccountCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAccountCreditLimit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="outAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAccountStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAccountSubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAmphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAssetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAssetStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outAvailableCreditLimit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="outBAInvoicingCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillCycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillMedia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillingAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillingAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillingAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBillingSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outBuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outContactLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outCustomerValueSegment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outDayOfServiceYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outEffectiveUntil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outFaxBillTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outFullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outHierarchyBilling" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outHouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outInstanceNameFBBnonMobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outInstanceNameFBBrowType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outItemisationFlagGPRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outItemisationFlagLocal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outItemisationFlagNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outItemisationFlagSMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outItemisationFlagTransactions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outItemisationFlagVAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMOIAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMOIVerifiedStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMediaTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMigrateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMobileNumberRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMobileSegment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMobileServiceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMooban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outPaGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outPreOperatorCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outPrimaryContactFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outPrintBill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outProject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outRegisteredDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outSMSBillTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outSegmentEffectiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outSegmentExpiredDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outServiceAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outServiceAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outServiceAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outServiceLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outServiceMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outServiceYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outSpecialAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outStatusDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outStatusReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outStreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outSuspendType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outTumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outparameter1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outparameter2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outparameter3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outparameter7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outparameter8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vatAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vatAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vatAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vatAddress4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vatAddress5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vatAddressFull" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vatPostalCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vataddTripleplay" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evESeServiceQueryMassCommonAccountInfoModel" nillable="true" type="tns:evESeServiceQueryMassCommonAccountInfoModel" />
  <xs:complexType name="evESeServiceQueryPrivilegeByMobileNoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="assetPromotionItemList" nillable="true" type="tns:ArrayOfPrivilegePromotionModel" />
      <xs:element minOccurs="0" name="assetServiceItemList" nillable="true" type="tns:ArrayOfPrivilegeServiceModel" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evESeServiceQueryPrivilegeByMobileNoModel" nillable="true" type="tns:evESeServiceQueryPrivilegeByMobileNoModel" />
  <xs:complexType name="ArrayOfPrivilegePromotionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrivilegePromotionModel" nillable="true" type="tns:PrivilegePromotionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrivilegePromotionModel" nillable="true" type="tns:ArrayOfPrivilegePromotionModel" />
  <xs:complexType name="PrivilegePromotionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="effectiveDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="integrationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="integrationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotionEndDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotionIntegrationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotionStartDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotionStatusCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrivilegePromotionModel" nillable="true" type="tns:PrivilegePromotionModel" />
  <xs:complexType name="ArrayOfPrivilegeServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrivilegeServiceModel" nillable="true" type="tns:PrivilegeServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrivilegeServiceModel" nillable="true" type="tns:ArrayOfPrivilegeServiceModel" />
  <xs:complexType name="PrivilegeServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billingAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="effectiveDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expiredt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="integrationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="integrationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceEndDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceIntegrationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceStartDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceStatusCd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrivilegeServiceModel" nillable="true" type="tns:PrivilegeServiceModel" />
  <xs:complexType name="evOMNewRegisMultiInstanceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMNewRegisMultiInstanceModel" nillable="true" type="tns:evOMNewRegisMultiInstanceModel" />
  <xs:complexType name="evOMQueryListServiceAndPromotionByNeighborModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="productCDContent" nillable="true" type="q8:ArrayOfstring" />
      <xs:element minOccurs="0" name="resultFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMQueryListServiceAndPromotionByNeighborModel" nillable="true" type="tns:evOMQueryListServiceAndPromotionByNeighborModel" />
  <xs:complexType name="GenerateFilenamesForWorkflowModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="out_result" nillable="true" type="tns:ArrayOfout_result_data" />
      <xs:element minOccurs="0" name="out_return_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateFilenamesForWorkflowModel" nillable="true" type="tns:GenerateFilenamesForWorkflowModel" />
  <xs:complexType name="ArrayOfout_result_data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="out_result_data" nillable="true" type="tns:out_result_data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfout_result_data" nillable="true" type="tns:ArrayOfout_result_data" />
  <xs:complexType name="out_result_data">
    <xs:sequence>
      <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="out_result_data" nillable="true" type="tns:out_result_data" />
  <xs:complexType name="ServiceLogNewRegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Return_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Service_Data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceLogNewRegisterModel" nillable="true" type="tns:ServiceLogNewRegisterModel" />
  <xs:complexType name="ListStatusLeaveMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchStatusList" nillable="true" type="tns:ArrayOfStatusLeaveMessageList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListStatusLeaveMessageResponse" nillable="true" type="tns:ListStatusLeaveMessageResponse" />
  <xs:complexType name="ArrayOfStatusLeaveMessageList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusLeaveMessageList" nillable="true" type="tns:StatusLeaveMessageList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusLeaveMessageList" nillable="true" type="tns:ArrayOfStatusLeaveMessageList" />
  <xs:complexType name="StatusLeaveMessageList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckCoverage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerRegister" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceSpeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusLeaveMessageList" nillable="true" type="tns:StatusLeaveMessageList" />
  <xs:complexType name="LastmilePaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESCRIPTION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LastmilePaymentResponse" nillable="true" type="tns:LastmilePaymentResponse" />
  <xs:complexType name="NewRegistForSubmitFOAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegistForSubmitFOAResponse" nillable="true" type="tns:NewRegistForSubmitFOAResponse" />
  <xs:complexType name="NewRegisterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_ASSET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRegisterResponse" nillable="true" type="tns:NewRegisterResponse" />
  <xs:complexType name="JoinOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASSET_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSET_SUB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_YEAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERR_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_DOC_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_DOC_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinOrderResponse" nillable="true" type="tns:JoinOrderResponse" />
  <xs:complexType name="InstallationCostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOCNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF_LEGACY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallationCostResponse" nillable="true" type="tns:InstallationCostResponse" />
  <xs:complexType name="TerminateServiceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SAPResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TerminateServiceResponse" nillable="true" type="tns:TerminateServiceResponse" />
  <xs:complexType name="SAPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RETURN_CODE" type="xs:int" />
      <xs:element minOccurs="0" name="RETURN_MESSAGE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAPResponse" nillable="true" type="tns:SAPResponse" />
  <xs:complexType name="RenewServiceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SAPResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ASSET_CODE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RenewServiceResponse" nillable="true" type="tns:RenewServiceResponse" />
  <xs:complexType name="PmModleDetailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalBalance" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PmModleDetailResponse" nillable="true" type="tns:PmModleDetailResponse" />
  <xs:complexType name="ConfPMPayResponse">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_BILLING_ACC_NUM" nillable="true" type="q9:ArrayOfstring" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_RECEIPT_ID" nillable="true" type="q10:ArrayOfdouble" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_RECEIPT_NUM" nillable="true" type="q11:ArrayOfstring" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_RECEIPT_TOT_MNY" nillable="true" type="q12:ArrayOfdouble" />
      <xs:element minOccurs="0" name="PM_SRV_ERROR" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PM_TAX_MNY" nillable="true" type="q13:ArrayOfdouble" />
      <xs:element minOccurs="0" name="PM_TUX_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM_TUX_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM_USER_ERR_MSG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfPMPayResponse" nillable="true" type="tns:ConfPMPayResponse" />
  <xs:complexType name="evOMServiceIVRCheckBlackListModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="returnFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMServiceIVRCheckBlackListModel" nillable="true" type="tns:evOMServiceIVRCheckBlackListModel" />
  <xs:complexType name="evOMQueryListServiceAndPromotionByPackageTypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="L_NUMBER_OF_PLAYBOX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListPromotion" nillable="true" type="tns:ArrayOfpromotionModel" />
      <xs:element minOccurs="0" name="ListService" nillable="true" type="tns:ArrayOfserviceModel" />
      <xs:element minOccurs="0" name="access_mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="checkHavePlayBox" type="xs:boolean" />
      <xs:element minOccurs="0" name="contactMobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorValueNull" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCDContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="replacePlayboxCheckProductMainNotUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="resultFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_installAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_installAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_installAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_installAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_installAddress4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_installAddress5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_number_of_pb_number" type="xs:int" />
      <xs:element minOccurs="0" name="v_owner_product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_package_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="v_sff_main_promotionCD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMQueryListServiceAndPromotionByPackageTypeModel" nillable="true" type="tns:evOMQueryListServiceAndPromotionByPackageTypeModel" />
  <xs:complexType name="ArrayOfpromotionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="promotionModel" nillable="true" type="tns:promotionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpromotionModel" nillable="true" type="tns:ArrayOfpromotionModel" />
  <xs:complexType name="promotionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="promotionModel" nillable="true" type="tns:promotionModel" />
  <xs:complexType name="ArrayOfserviceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceModel" nillable="true" type="tns:serviceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfserviceModel" nillable="true" type="tns:ArrayOfserviceModel" />
  <xs:complexType name="serviceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="networkProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="serviceModel" nillable="true" type="tns:serviceModel" />
  <xs:complexType name="ArrayOfevESQueryPersonalInformationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="evESQueryPersonalInformationModel" nillable="true" type="tns:evESQueryPersonalInformationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfevESQueryPersonalInformationModel" nillable="true" type="tns:ArrayOfevESQueryPersonalInformationModel" />
  <xs:complexType name="evESQueryPersonalInformationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="baAccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="baAccountNoRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billAccountTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billCycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="billMedia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bosId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bvDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bvPoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caAccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caAccountTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chargeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardBankCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardExpMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardExpYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardRefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="crmFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerAccountRowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailBillTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="familyAuth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gprsStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gprsType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="houseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="houseTelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hybridRule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardTypeCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inStatementEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inStatementThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invoicingCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isBOSSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loanFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="migrateDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="migrateToBosDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNoOther" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileSegment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileStatusReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moiStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monthlyFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mooban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="networkType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextBillCycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="officePhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="officeTelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="preOperatorCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceExclVat" type="xs:decimal" />
      <xs:element minOccurs="0" name="priceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productPkg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSeq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="produuctGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registerDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortNameThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="singleAuth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smsBillTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlPicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evESQueryPersonalInformationModel" nillable="true" type="tns:evESQueryPersonalInformationModel" />
  <xs:complexType name="SBNCheckCoverageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESULT_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="RETURN_CODE" type="xs:int" />
      <xs:element minOccurs="0" name="RETURN_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SBNCheckCoverageData" nillable="true" type="tns:SBNCheckCoverageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SBNCheckCoverageResponse" nillable="true" type="tns:SBNCheckCoverageResponse" />
  <xs:complexType name="SBNCheckCoverageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AVALIABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATAPORTDESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXIMUMPORT" type="xs:decimal" />
      <xs:element minOccurs="0" name="NEWPORTDESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWPORTID" type="xs:int" />
      <xs:element minOccurs="0" name="NODEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOICEPORTDESC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SBNCheckCoverageData" nillable="true" type="tns:SBNCheckCoverageData" />
  <xs:complexType name="AisMobileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AisMobileModel" nillable="true" type="tns:AisMobileModel" />
  <xs:complexType name="GetPreRegisterQueryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PreRegisterModel" nillable="true" type="tns:ArrayOfPreRegisterModel" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPreRegisterQueryData" nillable="true" type="tns:GetPreRegisterQueryData" />
  <xs:complexType name="ArrayOfPreRegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreRegisterModel" nillable="true" type="tns:PreRegisterModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreRegisterModel" nillable="true" type="tns:ArrayOfPreRegisterModel" />
  <xs:complexType name="PreRegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="cust_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreRegisterModel" nillable="true" type="tns:PreRegisterModel" />
  <xs:complexType name="ArrayOfFBSSBuildingModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBSSBuildingModel" nillable="true" type="tns:FBSSBuildingModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBSSBuildingModel" nillable="true" type="tns:ArrayOfFBSSBuildingModel" />
  <xs:complexType name="FBSSBuildingModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSBuildingModel" nillable="true" type="tns:FBSSBuildingModel" />
  <xs:complexType name="ArrayOfListBuildingVillageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListBuildingVillageModel" nillable="true" type="tns:ListBuildingVillageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListBuildingVillageModel" nillable="true" type="tns:ArrayOfListBuildingVillageModel" />
  <xs:complexType name="ListBuildingVillageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longtitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrict" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListBuildingVillageModel" nillable="true" type="tns:ListBuildingVillageModel" />
  <xs:complexType name="CustRegisterInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirReturnOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillHouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillRoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillSubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillVillage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillZipCodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactHomeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageResultId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CvrId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallHouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallRoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallSubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallTower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallVillage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallZipCodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsNonMobile" type="xs:boolean" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetworkType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferInstallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferInstallTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="tns:RegisterResult" />
      <xs:element minOccurs="0" name="Reserved_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleRep" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="SelectPackage" nillable="true" type="q14:ArrayOfPackageModel" />
      <xs:element minOccurs="0" name="ServiceYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SffBaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SffCaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SffSaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustRegisterInfoModel" nillable="true" type="tns:CustRegisterInfoModel" />
  <xs:complexType name="RegisterResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverageResultId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerRowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnIANO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterResult" nillable="true" type="tns:RegisterResult" />
  <xs:complexType name="evOMServiceCheckChangePromotionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMServiceCheckChangePromotionModel" nillable="true" type="tns:evOMServiceCheckChangePromotionModel" />
</xs:schema>