Presentation/Jobs/FBBQueryOrderPendingDeduction/Connected Services/QueryService/QueryService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBShareplex" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBShareplex" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" />
  <xs:complexType name="GenReportReconcileQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchiveDomainFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchivePassFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchivePathFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchiveUserFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTempFile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenReportReconcileQuery" nillable="true" type="tns:GenReportReconcileQuery" />
  <xs:complexType name="GetOrderByASCEmpIdDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderByASCEmpIdDataQuery" nillable="true" type="tns:GetOrderByASCEmpIdDataQuery" />
  <xs:complexType name="GetOrderDetailDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="ListCardNo" nillable="true" type="q1:ArrayOfCardNoData" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="ListContactMobileNo" nillable="true" type="q2:ArrayOfContactMobileNoData" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="ListNonMobileNo" nillable="true" type="q3:ArrayOfNonMobileNoData" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices" minOccurs="0" name="ListOrder" nillable="true" type="q4:ArrayOfOrderData" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderDetailDataQuery" nillable="true" type="tns:GetOrderDetailDataQuery" />
  <xs:complexType name="GetPremiumAreaQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrict" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPremiumAreaQuery" nillable="true" type="tns:GetPremiumAreaQuery" />
  <xs:complexType name="GetLowUtilizeSaleReportQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_location_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLowUtilizeSaleReportQuery" nillable="true" type="tns:GetLowUtilizeSaleReportQuery" />
  <xs:complexType name="RPAEquipmentReplenishmentToSubQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchiveDomainFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchivePassFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchivePathFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchiveUserFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTempFile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RPAEquipmentReplenishmentToSubQuery" nillable="true" type="tns:RPAEquipmentReplenishmentToSubQuery" />
</xs:schema>