Presentation/Jobs/FBBQueryOrderPendingDeduction/Connected Services/QueryService/QueryService30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Minions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Minions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd31" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="MinionGetExternalSoapServiceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Charset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoapHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlEnpoint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetExternalSoapServiceQuery" nillable="true" type="tns:MinionGetExternalSoapServiceQuery" />
  <xs:complexType name="MinionGetListPackageByChangeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="non_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="owner_product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_for" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ref_row_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serenade_flag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListPackageByChangeQuery" nillable="true" type="tns:MinionGetListPackageByChangeQuery" />
  <xs:complexType name="MinionGetListPackageByServiceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_Address_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Address_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Asc_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Building_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Building_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Customer_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Location_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_NETWORK_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PACKAGE_FOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Partner_SubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Partner_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Plug_And_Play_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SERVICE_DAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Serenade_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Sub_District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_customer_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_rental_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListPackageByServiceQuery" nillable="true" type="tns:MinionGetListPackageByServiceQuery" />
  <xs:complexType name="MinionGetListPackageBySffPromoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SFF_PROMOCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListPackageBySffPromoQuery" nillable="true" type="tns:MinionGetListPackageBySffPromoQuery" />
  <xs:complexType name="MinionGetListProfileAddressQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfileAddressQuery" nillable="true" type="tns:MinionGetListProfileAddressQuery" />
  <xs:complexType name="MinionGetListProfileContactQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfileContactQuery" nillable="true" type="tns:MinionGetListProfileContactQuery" />
  <xs:complexType name="MinionGetListProfileCustomerQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfileCustomerQuery" nillable="true" type="tns:MinionGetListProfileCustomerQuery" />
  <xs:complexType name="MinionGetListProfilePackageQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfilePackageQuery" nillable="true" type="tns:MinionGetListProfilePackageQuery" />
  <xs:complexType name="MinionGetListProfileSplitterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfileSplitterQuery" nillable="true" type="tns:MinionGetListProfileSplitterQuery" />
  <xs:complexType name="MinionGetMinionServiceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceMainId" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetMinionServiceQuery" nillable="true" type="tns:MinionGetMinionServiceQuery" />
  <xs:complexType name="MinionGetSaveOrderNew">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlEnpoint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetSaveOrderNew" nillable="true" type="tns:MinionGetSaveOrderNew" />
  <xs:complexType name="StreamQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="stream" nillable="true" type="q1:Stream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StreamQuery" nillable="true" type="tns:StreamQuery" />
</xs:schema>