Presentation/Jobs/LOSTTransaction/WebServiceLostTransaction/WebServiceLostTransaction/Connected Services/QueryServices/QueryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices.Tracking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices.Tracking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd46" namespace="http://schemas.datacontract.org/2004/07/AIRNETEntity.StoredProc" />
  <xs:complexType name="GetEncryptDecryptQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEncoded" type="xs:boolean" />
      <xs:element minOccurs="0" name="ToDecryptText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToEncryptText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEncryptDecryptQuery" nillable="true" type="tns:GetEncryptDecryptQuery" />
  <xs:complexType name="TechnicianTrackingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="fibrenetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idcard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prefixUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TechnicianTrackingQuery" nillable="true" type="tns:TechnicianTrackingQuery" />
  <xs:complexType name="GetWfmfUrlQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="fbbId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetWfmfUrlQuery" nillable="true" type="tns:GetWfmfUrlQuery" />
  <xs:complexType name="GetEncryptDecryptModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecryptResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncryptResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEncryptDecryptModel" nillable="true" type="tns:GetEncryptDecryptModel" />
  <xs:complexType name="TechnicianTrackingModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/AIRNETEntity.StoredProc" base="q1:GotoTrackModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TechnicianTrackingModel" nillable="true" type="tns:TechnicianTrackingModel" />
  <xs:complexType name="GetWfmfUrlModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="developerMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultData" nillable="true" type="tns:ArrayOfOnsiteTrackingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetWfmfUrlModel" nillable="true" type="tns:GetWfmfUrlModel" />
  <xs:complexType name="ArrayOfOnsiteTrackingData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnsiteTrackingData" nillable="true" type="tns:OnsiteTrackingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnsiteTrackingData" nillable="true" type="tns:ArrayOfOnsiteTrackingData" />
  <xs:complexType name="OnsiteTrackingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="WMWFURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointmentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointmentTimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fbbId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnsiteTrackingData" nillable="true" type="tns:OnsiteTrackingData" />
</xs:schema>