Framework/WBBBusinessLayer/Web References/SBNWebService/SBNWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.sss.sbn.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SBNWebServiceService" targetNamespace="http://webservice.sss.sbn.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice.sss.sbn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="cancelOrderWeb" type="tns:cancelOrderWeb" />
      <xs:element name="cancelOrderWebResponse" type="tns:cancelOrderWebResponse" />
      <xs:element name="listAllZipcode" type="tns:listAllZipcode" />
      <xs:element name="listAllZipcodeNew" type="tns:listAllZipcodeNew" />
      <xs:element name="listAllZipcodeNewResponse" type="tns:listAllZipcodeNewResponse" />
      <xs:element name="listAllZipcodeResponse" type="tns:listAllZipcodeResponse" />
      <xs:element name="listOrderStatus" type="tns:listOrderStatus" />
      <xs:element name="listOrderStatusResponse" type="tns:listOrderStatusResponse" />
      <xs:element name="listPackage" type="tns:listPackage" />
      <xs:element name="listPackageBySFFPromo" type="tns:listPackageBySFFPromo" />
      <xs:element name="listPackageBySFFPromoResponse" type="tns:listPackageBySFFPromoResponse" />
      <xs:element name="listPackageByService" type="tns:listPackageByService" />
      <xs:element name="listPackageByServiceResponse" type="tns:listPackageByServiceResponse" />
      <xs:element name="listPackageResponse" type="tns:listPackageResponse" />
      <xs:element name="listTitle" type="tns:listTitle" />
      <xs:element name="listTitleNew" type="tns:listTitleNew" />
      <xs:element name="listTitleNewResponse" type="tns:listTitleNewResponse" />
      <xs:element name="listTitleResponse" type="tns:listTitleResponse" />
      <xs:element name="listZipcode" type="tns:listZipcode" />
      <xs:element name="listZipcodeNew" type="tns:listZipcodeNew" />
      <xs:element name="listZipcodeNewResponse" type="tns:listZipcodeNewResponse" />
      <xs:element name="listZipcodeResponse" type="tns:listZipcodeResponse" />
      <xs:element name="saveOrder" type="tns:saveOrder" />
      <xs:element name="saveOrderNew" type="tns:saveOrderNew" />
      <xs:element name="saveOrderNewResponse" type="tns:saveOrderNewResponse" />
      <xs:element name="saveOrderResponse" type="tns:saveOrderResponse" />
      <xs:complexType name="listTitle">
        <xs:sequence>
          <xs:element minOccurs="0" name="CUSTOMER_TYPE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listTitleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sbnResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="allZipcodeArrayNews" nillable="true" type="tns:allZipcodeArrayNew" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="orderArray" nillable="true" type="tns:orderArray" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="packageArray" nillable="true" type="tns:packageArray" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="packageByServiceArray" nillable="true" type="tns:packageByServiceArray" />
          <xs:element minOccurs="0" name="RETURN_CODE" type="xs:int" />
          <xs:element minOccurs="0" name="RETURN_IA_NO" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_MESSAGE" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_MULTI_INSTANCE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_SALE_ORDER" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="titleArray" nillable="true" type="tns:titleArray" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="titleArrayNew" nillable="true" type="tns:titleArrayNew" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="valueArray" nillable="true" type="tns:valueArray" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="zipcodeArray" nillable="true" type="tns:zipcodeArray" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="zipcodeArrayNews" nillable="true" type="tns:zipcodeArrayNew" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="allZipcodeArrayNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMPHUR" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" type="xs:string" />
          <xs:element minOccurs="0" name="TUMBON" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_ROWID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="orderArray">
        <xs:sequence>
          <xs:element minOccurs="0" name="CANCEL_ORDER_REASON" type="xs:string" />
          <xs:element minOccurs="0" name="CANCEL_SERVICE_REASON" type="xs:string" />
          <xs:element minOccurs="0" name="COVERAGE_CHECK_STATUS" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALL_DATE" type="xs:string" />
          <xs:element minOccurs="0" name="ORDER_DATE" type="xs:string" />
          <xs:element minOccurs="0" name="ORDER_STATE" type="xs:string" />
          <xs:element minOccurs="0" name="ORDER_STATUS" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="packageArray">
        <xs:sequence>
          <xs:element minOccurs="0" name="PACKAGE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_NAME" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="packageByServiceArray">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACCESS_MODE" type="xs:string" />
          <xs:element name="DISCOUNT_DAY" type="xs:int" />
          <xs:element minOccurs="0" name="DISCOUNT_TYPE" type="xs:string" />
          <xs:element name="DISCOUNT_VALUE" type="xs:int" />
          <xs:element minOccurs="0" name="DOWNLOAD_SPEED" type="xs:string" />
          <xs:element minOccurs="0" name="INITIATION_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="MAPPING_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="MAPPING_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" name="OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_GROUP" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" type="xs:string" />
          <xs:element minOccurs="0" name="RECURRING_CHARGE" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="TECHNOLOGY" type="xs:string" />
          <xs:element minOccurs="0" name="UPLOAD_SPEED" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="titleArray">
        <xs:sequence>
          <xs:element minOccurs="0" name="TITLE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="TITLE_DESC" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="titleArrayNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="TITLE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="TITLE_DESC" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="valueArray">
        <xs:sequence>
          <xs:element minOccurs="0" name="VALUE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="zipcodeArray">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMPHUR" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" type="xs:string" />
          <xs:element minOccurs="0" name="TUMBON" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="zipcodeArrayNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMPHUR" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" type="xs:string" />
          <xs:element minOccurs="0" name="TUMBON" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_ROWID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listPackage">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="listPackageResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listOrderStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="IA_NO" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listOrderStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listAllZipcodeNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="P_LANG_FLAG" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listAllZipcodeNewResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listTitleNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="CUSTOMER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="ENG_FLAG" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listTitleNewResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="CUSTOMER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="CUSTOMER_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="PACKAGE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="TITLE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="FIRST_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="LAST_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_TITLE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_FIRST_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_LAST_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="ID_CARD_NO" type="xs:string" />
          <xs:element minOccurs="0" name="TAX_ID" type="xs:string" />
          <xs:element minOccurs="0" name="GENDER" type="xs:string" />
          <xs:element minOccurs="0" name="BIRTH_DATE" type="xs:string" />
          <xs:element minOccurs="0" name="MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_TIME" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="MOO_NO" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING" type="xs:string" />
          <xs:element minOccurs="0" name="SOI" type="xs:string" />
          <xs:element minOccurs="0" name="ROAD" type="xs:string" />
          <xs:element minOccurs="0" name="TUMBON" type="xs:string" />
          <xs:element minOccurs="0" name="AMPHUR" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE" type="xs:string" />
          <xs:element minOccurs="0" name="EMAIL_ADDRESS" type="xs:string" />
          <xs:element minOccurs="0" name="LATITUDE" type="xs:string" />
          <xs:element minOccurs="0" name="LONGTITUDE" type="xs:string" />
          <xs:element minOccurs="0" name="ASC_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEE_ID" type="xs:string" />
          <xs:element minOccurs="0" name="LOCATION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="WIFI_ACCESS_POINT" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALL_STATUS" type="xs:string" />
          <xs:element minOccurs="0" name="COVERAGE" type="xs:string" />
          <xs:element minOccurs="0" name="EXISTING_AIRNET_NO" type="xs:string" />
          <xs:element minOccurs="0" name="GSM_MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR" type="xs:string" />
          <xs:element minOccurs="0" name="ROOM" type="xs:string" />
          <xs:element minOccurs="0" name="MOOBAN" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_NAME_1" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_NAME_2" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_MOBILE_NO_1" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_MOBILE_NO_2" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSE_NO_BL" type="xs:string" />
          <xs:element minOccurs="0" name="MOO_NO_BL" type="xs:string" />
          <xs:element minOccurs="0" name="MOOBAN_BL" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING_BL" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR_BL" type="xs:string" />
          <xs:element minOccurs="0" name="ROOM_BL" type="xs:string" />
          <xs:element minOccurs="0" name="SOI_BL" type="xs:string" />
          <xs:element minOccurs="0" name="ROAD_BL" type="xs:string" />
          <xs:element minOccurs="0" name="TUMBON_BL" type="xs:string" />
          <xs:element minOccurs="0" name="AMPHUR_BL" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE_BL" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_BL" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSE_NO_VT" type="xs:string" />
          <xs:element minOccurs="0" name="MOO_NO_VT" type="xs:string" />
          <xs:element minOccurs="0" name="MOOBAN_VT" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING_VT" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR_VT" type="xs:string" />
          <xs:element minOccurs="0" name="ROOM_VT" type="xs:string" />
          <xs:element minOccurs="0" name="SOI_VT" type="xs:string" />
          <xs:element minOccurs="0" name="ROAD_VT" type="xs:string" />
          <xs:element minOccurs="0" name="TUMBON_VT" type="xs:string" />
          <xs:element minOccurs="0" name="AMPHUR_VT" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE_VT" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_VT" type="xs:string" />
          <xs:element minOccurs="0" name="SALE_REPRESENT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listAllZipcode">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="listAllZipcodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listPackageBySFFPromo">
        <xs:sequence>
          <xs:element minOccurs="0" name="SFF_PROMOCODE" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="OWNER_PRODUCT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listPackageBySFFPromoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveOrderNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="CUSTOMER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="CUSTOMER_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="TITLE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="FIRST_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="LAST_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_TITLE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_FIRST_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_LAST_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="ID_CARD_TYPE_DESC" type="xs:string" />
          <xs:element minOccurs="0" name="ID_CARD_NO" type="xs:string" />
          <xs:element minOccurs="0" name="TAX_ID" type="xs:string" />
          <xs:element minOccurs="0" name="GENDER" type="xs:string" />
          <xs:element minOccurs="0" name="BIRTH_DATE" type="xs:string" />
          <xs:element minOccurs="0" name="MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="MOBILE_NO_2" type="xs:string" />
          <xs:element minOccurs="0" name="HOME_PHONE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="EMAIL_ADDRESS" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_TIME" type="xs:string" />
          <xs:element minOccurs="0" name="NATIONALITY_DESC" type="xs:string" />
          <xs:element minOccurs="0" name="CUSTOMER_REMARK" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="MOO_NO" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR" type="xs:string" />
          <xs:element minOccurs="0" name="ROOM" type="xs:string" />
          <xs:element minOccurs="0" name="MOOBAN" type="xs:string" />
          <xs:element minOccurs="0" name="SOI" type="xs:string" />
          <xs:element minOccurs="0" name="ROAD" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_ROWID" type="xs:string" />
          <xs:element minOccurs="0" name="LATITUDE" type="xs:string" />
          <xs:element minOccurs="0" name="LONGTITUDE" type="xs:string" />
          <xs:element minOccurs="0" name="ASC_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEE_ID" type="xs:string" />
          <xs:element minOccurs="0" name="LOCATION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="SALE_REPRESENT" type="xs:string" />
          <xs:element minOccurs="0" name="CS_NOTE" type="xs:string" />
          <xs:element minOccurs="0" name="WIFI_ACCESS_POINT" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALL_STATUS" type="xs:string" />
          <xs:element minOccurs="0" name="COVERAGE" type="xs:string" />
          <xs:element minOccurs="0" name="EXISTING_AIRNET_NO" type="xs:string" />
          <xs:element minOccurs="0" name="GSM_MOBILE_NO" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_NAME_1" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_NAME_2" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_MOBILE_NO_1" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT_MOBILE_NO_2" type="xs:string" />
          <xs:element minOccurs="0" name="CONDO_FLOOR" type="xs:string" />
          <xs:element minOccurs="0" name="CONDO_ROOF_TOP" type="xs:string" />
          <xs:element minOccurs="0" name="CONDO_BALCONY" type="xs:string" />
          <xs:element minOccurs="0" name="BALCONY_NORTH" type="xs:string" />
          <xs:element minOccurs="0" name="BALCONY_SOUTH" type="xs:string" />
          <xs:element minOccurs="0" name="BALCONY_EAST" type="xs:string" />
          <xs:element minOccurs="0" name="BALCONY_WAST" type="xs:string" />
          <xs:element minOccurs="0" name="HIGH_BUILDING" type="xs:string" />
          <xs:element minOccurs="0" name="HIGH_TREE" type="xs:string" />
          <xs:element minOccurs="0" name="BILLBOARD" type="xs:string" />
          <xs:element minOccurs="0" name="EXPRESSWAY" type="xs:string" />
          <xs:element minOccurs="0" name="ADDRESS_TYPE_WIRE" type="xs:string" />
          <xs:element minOccurs="0" name="ADDRESS_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR_NO" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSE_NO_BL" type="xs:string" />
          <xs:element minOccurs="0" name="MOO_NO_BL" type="xs:string" />
          <xs:element minOccurs="0" name="MOOBAN_BL" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING_BL" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR_BL" type="xs:string" />
          <xs:element minOccurs="0" name="ROOM_BL" type="xs:string" />
          <xs:element minOccurs="0" name="SOI_BL" type="xs:string" />
          <xs:element minOccurs="0" name="ROAD_BL" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_ROWID_BL" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSE_NO_VT" type="xs:string" />
          <xs:element minOccurs="0" name="MOO_NO_VT" type="xs:string" />
          <xs:element minOccurs="0" name="MOOBAN_VT" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING_VT" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR_VT" type="xs:string" />
          <xs:element minOccurs="0" name="ROOM_VT" type="xs:string" />
          <xs:element minOccurs="0" name="SOI_VT" type="xs:string" />
          <xs:element minOccurs="0" name="ROAD_VT" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_ROWID_VT" type="xs:string" />
          <xs:element minOccurs="0" name="CVR_ID" type="xs:string" />
          <xs:element minOccurs="0" name="CVR_NODE" type="xs:string" />
          <xs:element minOccurs="0" name="CVR_TOWER" type="xs:string" />
          <xs:element minOccurs="0" name="SITE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="RELATE_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" name="RELATE_NON_MOBILE" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_CA_NO" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_SA_NO" type="xs:string" />
          <xs:element minOccurs="0" name="SFF_BA_NO" type="xs:string" />
          <xs:element minOccurs="0" name="NETWORK_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICE_DAY" type="xs:int" />
          <xs:element minOccurs="0" name="EXPECT_INSTALL_DATE" type="xs:string" />
          <xs:element minOccurs="0" name="FTTX_VENDOR" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALL_NOTE" type="xs:string" />
          <xs:element minOccurs="0" name="PHONE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="TIME_SLOT" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALLATION_CAPACITY" type="xs:string" />
          <xs:element minOccurs="0" name="ADDRESS_ID" type="xs:string" />
          <xs:element minOccurs="0" name="ACCESS_MODE" type="xs:string" />
          <xs:element minOccurs="0" name="ENG_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="EVENT_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALLADDRESS1" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALLADDRESS2" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALLADDRESS3" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALLADDRESS4" type="xs:string" />
          <xs:element minOccurs="0" name="INSTALLADDRESS5" type="xs:string" />
          <xs:element minOccurs="0" name="PBOX_COUNT" type="xs:string" />
          <xs:element minOccurs="0" name="CONVERGENCE_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="TIME_SLOT_ID" type="xs:string" />
          <xs:element minOccurs="0" name="AIR_REGIST_PACKAGE_ARRAY" type="tns:airRegistPackageArray" />
          <xs:element minOccurs="0" name="air_regist_file_array" type="tns:airRegistFileArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistPackageArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistPackageRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistPackageRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="faxFlag" type="xs:string" />
          <xs:element minOccurs="0" name="homeIp" type="xs:string" />
          <xs:element minOccurs="0" name="homePort" type="xs:string" />
          <xs:element minOccurs="0" name="iddFlag" type="xs:string" />
          <xs:element minOccurs="0" name="mobileForward" type="xs:string" />
          <xs:element minOccurs="0" name="packageCode" type="xs:string" />
          <xs:element minOccurs="0" name="packageType" type="xs:string" />
          <xs:element minOccurs="0" name="productSubtype" type="xs:string" />
          <xs:element minOccurs="0" name="tempIa" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistFileArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistFileRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistFileRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveOrderNewResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listZipcode">
        <xs:sequence>
          <xs:element minOccurs="0" name="LIST_VALUE" type="xs:string" />
          <xs:element minOccurs="0" name="TUMBON" type="xs:string" />
          <xs:element minOccurs="0" name="AMPHUR" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listZipcodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listPackageByService">
        <xs:sequence>
          <xs:element minOccurs="0" name="P_OWNER_PRODUCT" type="xs:string" />
          <xs:element minOccurs="0" name="P_PRODUCT_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="P_NETWORK_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="P_SERVICE_DAY" type="xs:string" />
          <xs:element minOccurs="0" name="P_PACKAGE_FOR" type="xs:string" />
          <xs:element minOccurs="0" name="P_PACKAGE_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="LOCATION_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="ASC_CODE" type="xs:string" />
          <xs:element minOccurs="0" name="P_PARTNER_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="P_PARTNER_SUBTYPE" type="xs:string" />
          <xs:element minOccurs="0" name="REGION" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" type="xs:string" />
          <xs:element minOccurs="0" name="DISTRICT" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_DISTRICT" type="xs:string" />
          <xs:element minOccurs="0" name="ADDRESS_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING_NAME" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING_NO" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listPackageByServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listZipcodeNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="P_LANG_FLAG" type="xs:string" />
          <xs:element minOccurs="0" name="TUMBON" type="xs:string" />
          <xs:element minOccurs="0" name="AMPHUR" type="xs:string" />
          <xs:element minOccurs="0" name="PROVINCE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listZipcodeNewResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:sbnResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelOrderWeb">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID_CARD_NO" type="xs:string" />
          <xs:element minOccurs="0" name="airRegistCancelordArray" type="tns:airRegistCancelordArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistCancelordArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="array" nillable="true" type="tns:airRegistCancelordRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airRegistCancelordRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelOrderWebResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:returnResults" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="returnResults">
        <xs:sequence>
          <xs:element name="RETURN_CODE" type="xs:int" />
          <xs:element minOccurs="0" name="RETURN_MESSAGE" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="listAllZipcode">
    <wsdl:part name="parameters" element="tns:listAllZipcode" />
  </wsdl:message>
  <wsdl:message name="listOrderStatusResponse">
    <wsdl:part name="parameters" element="tns:listOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="saveOrderResponse">
    <wsdl:part name="parameters" element="tns:saveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="listPackageBySFFPromoResponse">
    <wsdl:part name="parameters" element="tns:listPackageBySFFPromoResponse" />
  </wsdl:message>
  <wsdl:message name="cancelOrderWebResponse">
    <wsdl:part name="parameters" element="tns:cancelOrderWebResponse" />
  </wsdl:message>
  <wsdl:message name="listTitleResponse">
    <wsdl:part name="parameters" element="tns:listTitleResponse" />
  </wsdl:message>
  <wsdl:message name="cancelOrderWeb">
    <wsdl:part name="parameters" element="tns:cancelOrderWeb" />
  </wsdl:message>
  <wsdl:message name="listPackage">
    <wsdl:part name="parameters" element="tns:listPackage" />
  </wsdl:message>
  <wsdl:message name="listZipcodeNewResponse">
    <wsdl:part name="parameters" element="tns:listZipcodeNewResponse" />
  </wsdl:message>
  <wsdl:message name="listZipcodeResponse">
    <wsdl:part name="parameters" element="tns:listZipcodeResponse" />
  </wsdl:message>
  <wsdl:message name="listTitleNew">
    <wsdl:part name="parameters" element="tns:listTitleNew" />
  </wsdl:message>
  <wsdl:message name="listPackageByService">
    <wsdl:part name="parameters" element="tns:listPackageByService" />
  </wsdl:message>
  <wsdl:message name="listTitleNewResponse">
    <wsdl:part name="parameters" element="tns:listTitleNewResponse" />
  </wsdl:message>
  <wsdl:message name="listPackageBySFFPromo">
    <wsdl:part name="parameters" element="tns:listPackageBySFFPromo" />
  </wsdl:message>
  <wsdl:message name="listAllZipcodeNewResponse">
    <wsdl:part name="parameters" element="tns:listAllZipcodeNewResponse" />
  </wsdl:message>
  <wsdl:message name="listZipcode">
    <wsdl:part name="parameters" element="tns:listZipcode" />
  </wsdl:message>
  <wsdl:message name="saveOrderNewResponse">
    <wsdl:part name="parameters" element="tns:saveOrderNewResponse" />
  </wsdl:message>
  <wsdl:message name="listAllZipcodeNew">
    <wsdl:part name="parameters" element="tns:listAllZipcodeNew" />
  </wsdl:message>
  <wsdl:message name="saveOrder">
    <wsdl:part name="parameters" element="tns:saveOrder" />
  </wsdl:message>
  <wsdl:message name="saveOrderNew">
    <wsdl:part name="parameters" element="tns:saveOrderNew" />
  </wsdl:message>
  <wsdl:message name="listOrderStatus">
    <wsdl:part name="parameters" element="tns:listOrderStatus" />
  </wsdl:message>
  <wsdl:message name="listZipcodeNew">
    <wsdl:part name="parameters" element="tns:listZipcodeNew" />
  </wsdl:message>
  <wsdl:message name="listAllZipcodeResponse">
    <wsdl:part name="parameters" element="tns:listAllZipcodeResponse" />
  </wsdl:message>
  <wsdl:message name="listTitle">
    <wsdl:part name="parameters" element="tns:listTitle" />
  </wsdl:message>
  <wsdl:message name="listPackageByServiceResponse">
    <wsdl:part name="parameters" element="tns:listPackageByServiceResponse" />
  </wsdl:message>
  <wsdl:message name="listPackageResponse">
    <wsdl:part name="parameters" element="tns:listPackageResponse" />
  </wsdl:message>
  <wsdl:portType name="SBNWebService">
    <wsdl:operation name="listTitle">
      <wsdl:input name="listTitle" message="tns:listTitle" />
      <wsdl:output name="listTitleResponse" message="tns:listTitleResponse" />
    </wsdl:operation>
    <wsdl:operation name="listPackage">
      <wsdl:input name="listPackage" message="tns:listPackage" />
      <wsdl:output name="listPackageResponse" message="tns:listPackageResponse" />
    </wsdl:operation>
    <wsdl:operation name="listOrderStatus">
      <wsdl:input name="listOrderStatus" message="tns:listOrderStatus" />
      <wsdl:output name="listOrderStatusResponse" message="tns:listOrderStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="listAllZipcodeNew">
      <wsdl:input name="listAllZipcodeNew" message="tns:listAllZipcodeNew" />
      <wsdl:output name="listAllZipcodeNewResponse" message="tns:listAllZipcodeNewResponse" />
    </wsdl:operation>
    <wsdl:operation name="listTitleNew">
      <wsdl:input name="listTitleNew" message="tns:listTitleNew" />
      <wsdl:output name="listTitleNewResponse" message="tns:listTitleNewResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveOrder">
      <wsdl:input name="saveOrder" message="tns:saveOrder" />
      <wsdl:output name="saveOrderResponse" message="tns:saveOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="listAllZipcode">
      <wsdl:input name="listAllZipcode" message="tns:listAllZipcode" />
      <wsdl:output name="listAllZipcodeResponse" message="tns:listAllZipcodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="listPackageBySFFPromo">
      <wsdl:input name="listPackageBySFFPromo" message="tns:listPackageBySFFPromo" />
      <wsdl:output name="listPackageBySFFPromoResponse" message="tns:listPackageBySFFPromoResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveOrderNew">
      <wsdl:input name="saveOrderNew" message="tns:saveOrderNew" />
      <wsdl:output name="saveOrderNewResponse" message="tns:saveOrderNewResponse" />
    </wsdl:operation>
    <wsdl:operation name="listZipcode">
      <wsdl:input name="listZipcode" message="tns:listZipcode" />
      <wsdl:output name="listZipcodeResponse" message="tns:listZipcodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="listPackageByService">
      <wsdl:input name="listPackageByService" message="tns:listPackageByService" />
      <wsdl:output name="listPackageByServiceResponse" message="tns:listPackageByServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="listZipcodeNew">
      <wsdl:input name="listZipcodeNew" message="tns:listZipcodeNew" />
      <wsdl:output name="listZipcodeNewResponse" message="tns:listZipcodeNewResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelOrderWeb">
      <wsdl:input name="cancelOrderWeb" message="tns:cancelOrderWeb" />
      <wsdl:output name="cancelOrderWebResponse" message="tns:cancelOrderWebResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SBNWebServiceServiceSoapBinding" type="tns:SBNWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listPackage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listPackage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listPackageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTitle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listTitle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listTitleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOrderStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listOrderStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listOrderStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAllZipcodeNew">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listAllZipcodeNew">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listAllZipcodeNewResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTitleNew">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listTitleNew">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listTitleNewResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAllZipcode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listAllZipcode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listAllZipcodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPackageBySFFPromo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listPackageBySFFPromo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listPackageBySFFPromoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listZipcode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listZipcode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listZipcodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveOrderNew">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveOrderNew">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveOrderNewResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPackageByService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listPackageByService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listPackageByServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listZipcodeNew">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listZipcodeNew">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listZipcodeNewResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelOrderWeb">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelOrderWeb">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelOrderWebResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SBNWebServiceService">
    <wsdl:port name="SBNWebServicePort" binding="tns:SBNWebServiceServiceSoapBinding">
      <soap:address location="http://10.252.163.184:8180/airnet-service/SBNWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>