Framework/WBBBusinessLayer/Web References/SBNWebService/SBNWebServiceServiceDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<s0:definitions xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://com/sbn/sss/webservice" xmlns="" name="SBNWebServiceServiceDefinitions" targetNamespace="http://com/sbn/sss/webservice" xmlns:s0="http://schemas.xmlsoap.org/wsdl/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.sbn.sss.oraudt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="AirRegistFileArray">
        <xs:sequence>
          <xs:element xmlns:java="java:com.sbn.sss.oraudt" minOccurs="0" maxOccurs="unbounded" name="Array" nillable="true" type="java:AirRegistFileRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AirRegistFileRecord">
        <xs:sequence>
          <xs:element minOccurs="1" name="FileName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AirRegistPackageArray">
        <xs:sequence>
          <xs:element xmlns:java="java:com.sbn.sss.oraudt" minOccurs="0" maxOccurs="unbounded" name="Array" nillable="true" type="java:AirRegistPackageRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AirRegistPackageRecord">
        <xs:sequence>
          <xs:element minOccurs="1" name="FaxFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="HomeIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="HomePort" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="IddFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="MobileForward" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PackageCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PackageType" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ProductSubtype" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="TempIa" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AirRegistCancelordArray">
        <xs:sequence>
          <xs:element xmlns:java="java:com.sbn.sss.oraudt" minOccurs="0" maxOccurs="unbounded" name="Array" nillable="true" type="java:AirRegistCancelordRecord" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AirRegistCancelordRecord">
        <xs:sequence>
          <xs:element minOccurs="1" name="OrderNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com/sbn/sss/webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:com.sbn.sss.oraudt" />
      <xs:import namespace="java:com.sbn.sss.webservice.complextype" />
      <xs:element name="saveOrder">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CUSTOMER_TYPE" type="xs:string" />
            <xs:element name="CUSTOMER_SUBTYPE" type="xs:string" />
            <xs:element name="PACKAGE_CODE" type="xs:string" />
            <xs:element name="TITLE_CODE" type="xs:string" />
            <xs:element name="FIRST_NAME" type="xs:string" />
            <xs:element name="LAST_NAME" type="xs:string" />
            <xs:element name="CONTACT_TITLE_CODE" type="xs:string" />
            <xs:element name="CONTACT_FIRST_NAME" type="xs:string" />
            <xs:element name="CONTACT_LAST_NAME" type="xs:string" />
            <xs:element name="ID_CARD_NO" type="xs:string" />
            <xs:element name="TAX_ID" type="xs:string" />
            <xs:element name="GENDER" type="xs:string" />
            <xs:element name="BIRTH_DATE" type="xs:string" />
            <xs:element name="MOBILE_NO" type="xs:string" />
            <xs:element name="CONTACT_TIME" type="xs:string" />
            <xs:element name="HOUSE_NO" type="xs:string" />
            <xs:element name="MOO_NO" type="xs:string" />
            <xs:element name="BUILDING" type="xs:string" />
            <xs:element name="SOI" type="xs:string" />
            <xs:element name="ROAD" type="xs:string" />
            <xs:element name="TUMBON" type="xs:string" />
            <xs:element name="AMPHUR" type="xs:string" />
            <xs:element name="PROVINCE" type="xs:string" />
            <xs:element name="ZIPCODE" type="xs:string" />
            <xs:element name="EMAIL_ADDRESS" type="xs:string" />
            <xs:element name="LATITUDE" type="xs:string" />
            <xs:element name="LONGTITUDE" type="xs:string" />
            <xs:element name="ASC_CODE" type="xs:string" />
            <xs:element name="EMPLOYEE_ID" type="xs:string" />
            <xs:element name="LOCATION_CODE" type="xs:string" />
            <xs:element name="WIFI_ACCESS_POINT" type="xs:string" />
            <xs:element name="INSTALL_STATUS" type="xs:string" />
            <xs:element name="COVERAGE" type="xs:string" />
            <xs:element name="EXISTING_AIRNET_NO" type="xs:string" />
            <xs:element name="GSM_MOBILE_NO" type="xs:string" />
            <xs:element name="FLOOR" type="xs:string" />
            <xs:element name="ROOM" type="xs:string" />
            <xs:element name="MOOBAN" type="xs:string" />
            <xs:element name="CONTACT_NAME_1" type="xs:string" />
            <xs:element name="CONTACT_NAME_2" type="xs:string" />
            <xs:element name="CONTACT_MOBILE_NO_1" type="xs:string" />
            <xs:element name="CONTACT_MOBILE_NO_2" type="xs:string" />
            <xs:element name="HOUSE_NO_BL" type="xs:string" />
            <xs:element name="MOO_NO_BL" type="xs:string" />
            <xs:element name="MOOBAN_BL" type="xs:string" />
            <xs:element name="BUILDING_BL" type="xs:string" />
            <xs:element name="FLOOR_BL" type="xs:string" />
            <xs:element name="ROOM_BL" type="xs:string" />
            <xs:element name="SOI_BL" type="xs:string" />
            <xs:element name="ROAD_BL" type="xs:string" />
            <xs:element name="TUMBON_BL" type="xs:string" />
            <xs:element name="AMPHUR_BL" type="xs:string" />
            <xs:element name="PROVINCE_BL" type="xs:string" />
            <xs:element name="ZIPCODE_BL" type="xs:string" />
            <xs:element name="HOUSE_NO_VT" type="xs:string" />
            <xs:element name="MOO_NO_VT" type="xs:string" />
            <xs:element name="MOOBAN_VT" type="xs:string" />
            <xs:element name="BUILDING_VT" type="xs:string" />
            <xs:element name="FLOOR_VT" type="xs:string" />
            <xs:element name="ROOM_VT" type="xs:string" />
            <xs:element name="SOI_VT" type="xs:string" />
            <xs:element name="ROAD_VT" type="xs:string" />
            <xs:element name="TUMBON_VT" type="xs:string" />
            <xs:element name="AMPHUR_VT" type="xs:string" />
            <xs:element name="PROVINCE_VT" type="xs:string" />
            <xs:element name="ZIPCODE_VT" type="xs:string" />
            <xs:element name="SALE_REPRESENT" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="saveOrderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listTitleNew">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CUSTOMER_TYPE" type="xs:string" />
            <xs:element name="ENG_FLAG" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listTitleNewResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listAllZipcodeNew">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="P_LANG_FLAG" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listAllZipcodeNewResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listAllZipcode">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="listAllZipcodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listPackageBySFFPromo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SFF_PROMOCODE" type="xs:string" />
            <xs:element name="PRODUCT_SUBTYPE" type="xs:string" />
            <xs:element name="OWNER_PRODUCT" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listPackageBySFFPromoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listOrderStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="IA_NO" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listOrderStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listPackage">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="listPackageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cancelOrderWeb">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ID_CARD_NO" type="xs:string" />
            <xs:element xmlns:java="java:com.sbn.sss.oraudt" name="airRegistCancelordArray" type="java:AirRegistCancelordArray" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cancelOrderWebResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:ReturnResults" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listPackageByService">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="P_OWNER_PRODUCT" type="xs:string" />
            <xs:element name="P_PRODUCT_SUBTYPE" type="xs:string" />
            <xs:element name="P_NETWORK_TYPE" type="xs:string" />
            <xs:element name="P_SERVICE_DAY" type="xs:string" />
            <xs:element name="P_PACKAGE_FOR" type="xs:string" />
            <xs:element name="P_PACKAGE_CODE" type="xs:string" />
            <xs:element name="LOCATION_CODE" type="xs:string" />
            <xs:element name="ASC_CODE" type="xs:string" />
            <xs:element name="P_PARTNER_TYPE" type="xs:string" />
            <xs:element name="P_PARTNER_SUBTYPE" type="xs:string" />
            <xs:element name="REGION" type="xs:string" />
            <xs:element name="PROVINCE" type="xs:string" />
            <xs:element name="DISTRICT" type="xs:string" />
            <xs:element name="SUB_DISTRICT" type="xs:string" />
            <xs:element name="ADDRESS_TYPE" type="xs:string" />
            <xs:element name="BUILDING_NAME" type="xs:string" />
            <xs:element name="BUILDING_NO" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listPackageByServiceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="saveOrderNew">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CUSTOMER_TYPE" type="xs:string" />
            <xs:element name="CUSTOMER_SUBTYPE" type="xs:string" />
            <xs:element name="TITLE_CODE" type="xs:string" />
            <xs:element name="FIRST_NAME" type="xs:string" />
            <xs:element name="LAST_NAME" type="xs:string" />
            <xs:element name="CONTACT_TITLE_CODE" type="xs:string" />
            <xs:element name="CONTACT_FIRST_NAME" type="xs:string" />
            <xs:element name="CONTACT_LAST_NAME" type="xs:string" />
            <xs:element name="ID_CARD_TYPE_DESC" type="xs:string" />
            <xs:element name="ID_CARD_NO" type="xs:string" />
            <xs:element name="TAX_ID" type="xs:string" />
            <xs:element name="GENDER" type="xs:string" />
            <xs:element name="BIRTH_DATE" type="xs:string" />
            <xs:element name="MOBILE_NO" type="xs:string" />
            <xs:element name="MOBILE_NO_2" type="xs:string" />
            <xs:element name="HOME_PHONE_NO" type="xs:string" />
            <xs:element name="EMAIL_ADDRESS" type="xs:string" />
            <xs:element name="CONTACT_TIME" type="xs:string" />
            <xs:element name="NATIONALITY_DESC" type="xs:string" />
            <xs:element name="CUSTOMER_REMARK" type="xs:string" />
            <xs:element name="HOUSE_NO" type="xs:string" />
            <xs:element name="MOO_NO" type="xs:string" />
            <xs:element name="BUILDING" type="xs:string" />
            <xs:element name="FLOOR" type="xs:string" />
            <xs:element name="ROOM" type="xs:string" />
            <xs:element name="MOOBAN" type="xs:string" />
            <xs:element name="SOI" type="xs:string" />
            <xs:element name="ROAD" type="xs:string" />
            <xs:element name="ZIPCODE_ROWID" type="xs:string" />
            <xs:element name="LATITUDE" type="xs:string" />
            <xs:element name="LONGTITUDE" type="xs:string" />
            <xs:element name="ASC_CODE" type="xs:string" />
            <xs:element name="EMPLOYEE_ID" type="xs:string" />
            <xs:element name="LOCATION_CODE" type="xs:string" />
            <xs:element name="SALE_REPRESENT" type="xs:string" />
            <xs:element name="CS_NOTE" type="xs:string" />
            <xs:element name="WIFI_ACCESS_POINT" type="xs:string" />
            <xs:element name="INSTALL_STATUS" type="xs:string" />
            <xs:element name="COVERAGE" type="xs:string" />
            <xs:element name="EXISTING_AIRNET_NO" type="xs:string" />
            <xs:element name="GSM_MOBILE_NO" type="xs:string" />
            <xs:element name="CONTACT_NAME_1" type="xs:string" />
            <xs:element name="CONTACT_NAME_2" type="xs:string" />
            <xs:element name="CONTACT_MOBILE_NO_1" type="xs:string" />
            <xs:element name="CONTACT_MOBILE_NO_2" type="xs:string" />
            <xs:element name="CONDO_FLOOR" type="xs:string" />
            <xs:element name="CONDO_ROOF_TOP" type="xs:string" />
            <xs:element name="CONDO_BALCONY" type="xs:string" />
            <xs:element name="BALCONY_NORTH" type="xs:string" />
            <xs:element name="BALCONY_SOUTH" type="xs:string" />
            <xs:element name="BALCONY_EAST" type="xs:string" />
            <xs:element name="BALCONY_WAST" type="xs:string" />
            <xs:element name="HIGH_BUILDING" type="xs:string" />
            <xs:element name="HIGH_TREE" type="xs:string" />
            <xs:element name="BILLBOARD" type="xs:string" />
            <xs:element name="EXPRESSWAY" type="xs:string" />
            <xs:element name="ADDRESS_TYPE_WIRE" type="xs:string" />
            <xs:element name="ADDRESS_TYPE" type="xs:string" />
            <xs:element name="FLOOR_NO" type="xs:string" />
            <xs:element name="HOUSE_NO_BL" type="xs:string" />
            <xs:element name="MOO_NO_BL" type="xs:string" />
            <xs:element name="MOOBAN_BL" type="xs:string" />
            <xs:element name="BUILDING_BL" type="xs:string" />
            <xs:element name="FLOOR_BL" type="xs:string" />
            <xs:element name="ROOM_BL" type="xs:string" />
            <xs:element name="SOI_BL" type="xs:string" />
            <xs:element name="ROAD_BL" type="xs:string" />
            <xs:element name="ZIPCODE_ROWID_BL" type="xs:string" />
            <xs:element name="HOUSE_NO_VT" type="xs:string" />
            <xs:element name="MOO_NO_VT" type="xs:string" />
            <xs:element name="MOOBAN_VT" type="xs:string" />
            <xs:element name="BUILDING_VT" type="xs:string" />
            <xs:element name="FLOOR_VT" type="xs:string" />
            <xs:element name="ROOM_VT" type="xs:string" />
            <xs:element name="SOI_VT" type="xs:string" />
            <xs:element name="ROAD_VT" type="xs:string" />
            <xs:element name="ZIPCODE_ROWID_VT" type="xs:string" />
            <xs:element name="CVR_ID" type="xs:string" />
            <xs:element name="CVR_NODE" type="xs:string" />
            <xs:element name="CVR_TOWER" type="xs:string" />
            <xs:element name="SITE_CODE" type="xs:string" />
            <xs:element name="RELATE_MOBILE" type="xs:string" />
            <xs:element name="RELATE_NON_MOBILE" type="xs:string" />
            <xs:element name="SFF_CA_NO" type="xs:string" />
            <xs:element name="SFF_SA_NO" type="xs:string" />
            <xs:element name="SFF_BA_NO" type="xs:string" />
            <xs:element name="NETWORK_TYPE" type="xs:string" />
            <xs:element minOccurs="0" name="SERVICE_DAY" nillable="true" type="xs:int" />
            <xs:element name="EXPECT_INSTALL_DATE" type="xs:string" />
            <xs:element name="FTTX_VENDOR" type="xs:string" />
            <xs:element name="INSTALL_NOTE" type="xs:string" />
            <xs:element name="PHONE_FLAG" type="xs:string" />
            <xs:element name="TIME_SLOT" type="xs:string" />
            <xs:element name="INSTALLATION_CAPACITY" type="xs:string" />
            <xs:element name="ADDRESS_ID" type="xs:string" />
            <xs:element name="ACCESS_MODE" type="xs:string" />
            <xs:element name="ENG_FLAG" type="xs:string" />
            <xs:element name="EVENT_CODE" type="xs:string" />
            <xs:element name="INSTALLADDRESS1" type="xs:string" />
            <xs:element name="INSTALLADDRESS2" type="xs:string" />
            <xs:element name="INSTALLADDRESS3" type="xs:string" />
            <xs:element name="INSTALLADDRESS4" type="xs:string" />
            <xs:element name="INSTALLADDRESS5" type="xs:string" />
            <xs:element name="PBOX_COUNT" type="xs:string" />
            <xs:element name="CONVERGENCE_FLAG" type="xs:string" />
            <xs:element name="TIME_SLOT_ID" type="xs:string" />
            <xs:element xmlns:java="java:com.sbn.sss.oraudt" name="AIR_REGIST_PACKAGE_ARRAY" type="java:AirRegistPackageArray" />
            <xs:element xmlns:java="java:com.sbn.sss.oraudt" name="air_regist_file_array" type="java:AirRegistFileArray" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="saveOrderNewResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listTitle">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CUSTOMER_TYPE" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listTitleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listZipcode">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LIST_VALUE" type="xs:string" />
            <xs:element name="TUMBON" type="xs:string" />
            <xs:element name="AMPHUR" type="xs:string" />
            <xs:element name="PROVINCE" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listZipcodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listZipcodeNew">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="P_LANG_FLAG" type="xs:string" />
            <xs:element name="TUMBON" type="xs:string" />
            <xs:element name="AMPHUR" type="xs:string" />
            <xs:element name="PROVINCE" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listZipcodeNewResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" name="return" type="java:SBNResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.sbn.sss.webservice.complextype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ReturnResults">
        <xs:sequence>
          <xs:element minOccurs="1" name="RETURN_CODE" type="xs:int" />
          <xs:element minOccurs="1" name="RETURN_MESSAGE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SBNResponse">
        <xs:sequence>
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="AllZipcodeArrayNews" nillable="true" type="java:AllZipcodeArrayNew" />
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="OrderArray" nillable="true" type="java:OrderArray" />
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="PackageArray" nillable="true" type="java:PackageArray" />
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="PackageByServiceArray" nillable="true" type="java:PackageByServiceArray" />
          <xs:element minOccurs="1" name="RETURN_CODE" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" name="RETURN_IA_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="RETURN_MESSAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="RETURN_MULTI_INSTANCE_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="RETURN_PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="RETURN_SALE_ORDER" nillable="true" type="xs:string" />
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="TitleArray" nillable="true" type="java:TitleArray" />
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="TitleArrayNew" nillable="true" type="java:TitleArrayNew" />
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="ValueArray" nillable="true" type="java:ValueArray" />
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="ZipcodeArray" nillable="true" type="java:ZipcodeArray" />
          <xs:element xmlns:java="java:com.sbn.sss.webservice.complextype" minOccurs="0" maxOccurs="unbounded" name="ZipcodeArrayNews" nillable="true" type="java:ZipcodeArrayNew" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AllZipcodeArrayNew">
        <xs:sequence>
          <xs:element minOccurs="1" name="AMPHUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PROVINCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="TUMBON" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ZIPCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ZIPCODE_ROWID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderArray">
        <xs:sequence>
          <xs:element minOccurs="1" name="CANCEL_ORDER_REASON" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="CANCEL_SERVICE_REASON" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="COVERAGE_CHECK_STATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="INSTALL_DATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ORDER_DATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ORDER_STATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ORDER_STATUS" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PackageArray">
        <xs:sequence>
          <xs:element minOccurs="1" name="PACKAGE_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PACKAGE_NAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PackageByServiceArray">
        <xs:sequence>
          <xs:element minOccurs="1" name="ACCESS_MODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="DISCOUNT_DAY" type="xs:int" />
          <xs:element minOccurs="1" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="DISCOUNT_VALUE" type="xs:int" />
          <xs:element minOccurs="1" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="INITIATION_CHARGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="MAPPING_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PACKAGE_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PACKAGE_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="RECURRING_CHARGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="SERVICE_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="TECHNOLOGY" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TitleArray">
        <xs:sequence>
          <xs:element minOccurs="1" name="TITLE_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="TITLE_DESC" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TitleArrayNew">
        <xs:sequence>
          <xs:element minOccurs="1" name="TITLE_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="TITLE_DESC" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValueArray">
        <xs:sequence>
          <xs:element minOccurs="1" name="VALUE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ZipcodeArray">
        <xs:sequence>
          <xs:element minOccurs="1" name="AMPHUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PROVINCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="TUMBON" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ZIPCODE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ZipcodeArrayNew">
        <xs:sequence>
          <xs:element minOccurs="1" name="AMPHUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="PROVINCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="TUMBON" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ZIPCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="ZIPCODE_ROWID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </s0:types>
  <s0:message name="saveOrder">
    <s0:part name="parameters" element="s1:saveOrder" />
  </s0:message>
  <s0:message name="saveOrderResponse">
    <s0:part name="parameters" element="s1:saveOrderResponse" />
  </s0:message>
  <s0:message name="listTitleNew">
    <s0:part name="parameters" element="s1:listTitleNew" />
  </s0:message>
  <s0:message name="listTitleNewResponse">
    <s0:part name="parameters" element="s1:listTitleNewResponse" />
  </s0:message>
  <s0:message name="listAllZipcodeNew">
    <s0:part name="parameters" element="s1:listAllZipcodeNew" />
  </s0:message>
  <s0:message name="listAllZipcodeNewResponse">
    <s0:part name="parameters" element="s1:listAllZipcodeNewResponse" />
  </s0:message>
  <s0:message name="listAllZipcode">
    <s0:part name="parameters" element="s1:listAllZipcode" />
  </s0:message>
  <s0:message name="listAllZipcodeResponse">
    <s0:part name="parameters" element="s1:listAllZipcodeResponse" />
  </s0:message>
  <s0:message name="listPackageBySFFPromo">
    <s0:part name="parameters" element="s1:listPackageBySFFPromo" />
  </s0:message>
  <s0:message name="listPackageBySFFPromoResponse">
    <s0:part name="parameters" element="s1:listPackageBySFFPromoResponse" />
  </s0:message>
  <s0:message name="listOrderStatus">
    <s0:part name="parameters" element="s1:listOrderStatus" />
  </s0:message>
  <s0:message name="listOrderStatusResponse">
    <s0:part name="parameters" element="s1:listOrderStatusResponse" />
  </s0:message>
  <s0:message name="listPackage">
    <s0:part name="parameters" element="s1:listPackage" />
  </s0:message>
  <s0:message name="listPackageResponse">
    <s0:part name="parameters" element="s1:listPackageResponse" />
  </s0:message>
  <s0:message name="cancelOrderWeb">
    <s0:part name="parameters" element="s1:cancelOrderWeb" />
  </s0:message>
  <s0:message name="cancelOrderWebResponse">
    <s0:part name="parameters" element="s1:cancelOrderWebResponse" />
  </s0:message>
  <s0:message name="listPackageByService">
    <s0:part name="parameters" element="s1:listPackageByService" />
  </s0:message>
  <s0:message name="listPackageByServiceResponse">
    <s0:part name="parameters" element="s1:listPackageByServiceResponse" />
  </s0:message>
  <s0:message name="saveOrderNew">
    <s0:part name="parameters" element="s1:saveOrderNew" />
  </s0:message>
  <s0:message name="saveOrderNewResponse">
    <s0:part name="parameters" element="s1:saveOrderNewResponse" />
  </s0:message>
  <s0:message name="listTitle">
    <s0:part name="parameters" element="s1:listTitle" />
  </s0:message>
  <s0:message name="listTitleResponse">
    <s0:part name="parameters" element="s1:listTitleResponse" />
  </s0:message>
  <s0:message name="listZipcode">
    <s0:part name="parameters" element="s1:listZipcode" />
  </s0:message>
  <s0:message name="listZipcodeResponse">
    <s0:part name="parameters" element="s1:listZipcodeResponse" />
  </s0:message>
  <s0:message name="listZipcodeNew">
    <s0:part name="parameters" element="s1:listZipcodeNew" />
  </s0:message>
  <s0:message name="listZipcodeNewResponse">
    <s0:part name="parameters" element="s1:listZipcodeNewResponse" />
  </s0:message>
  <s0:portType name="SBNWebService">
    <s0:operation name="saveOrder" parameterOrder="parameters">
      <s0:input message="s1:saveOrder" />
      <s0:output message="s1:saveOrderResponse" />
    </s0:operation>
    <s0:operation name="listTitleNew" parameterOrder="parameters">
      <s0:input message="s1:listTitleNew" />
      <s0:output message="s1:listTitleNewResponse" />
    </s0:operation>
    <s0:operation name="listAllZipcodeNew" parameterOrder="parameters">
      <s0:input message="s1:listAllZipcodeNew" />
      <s0:output message="s1:listAllZipcodeNewResponse" />
    </s0:operation>
    <s0:operation name="listAllZipcode" parameterOrder="parameters">
      <s0:input message="s1:listAllZipcode" />
      <s0:output message="s1:listAllZipcodeResponse" />
    </s0:operation>
    <s0:operation name="listPackageBySFFPromo" parameterOrder="parameters">
      <s0:input message="s1:listPackageBySFFPromo" />
      <s0:output message="s1:listPackageBySFFPromoResponse" />
    </s0:operation>
    <s0:operation name="listOrderStatus" parameterOrder="parameters">
      <s0:input message="s1:listOrderStatus" />
      <s0:output message="s1:listOrderStatusResponse" />
    </s0:operation>
    <s0:operation name="listPackage" parameterOrder="parameters">
      <s0:input message="s1:listPackage" />
      <s0:output message="s1:listPackageResponse" />
    </s0:operation>
    <s0:operation name="cancelOrderWeb" parameterOrder="parameters">
      <s0:input message="s1:cancelOrderWeb" />
      <s0:output message="s1:cancelOrderWebResponse" />
    </s0:operation>
    <s0:operation name="listPackageByService" parameterOrder="parameters">
      <s0:input message="s1:listPackageByService" />
      <s0:output message="s1:listPackageByServiceResponse" />
    </s0:operation>
    <s0:operation name="saveOrderNew" parameterOrder="parameters">
      <s0:input message="s1:saveOrderNew" />
      <s0:output message="s1:saveOrderNewResponse" />
    </s0:operation>
    <s0:operation name="listTitle" parameterOrder="parameters">
      <s0:input message="s1:listTitle" />
      <s0:output message="s1:listTitleResponse" />
    </s0:operation>
    <s0:operation name="listZipcode" parameterOrder="parameters">
      <s0:input message="s1:listZipcode" />
      <s0:output message="s1:listZipcodeResponse" />
    </s0:operation>
    <s0:operation name="listZipcodeNew" parameterOrder="parameters">
      <s0:input message="s1:listZipcodeNew" />
      <s0:output message="s1:listZipcodeNewResponse" />
    </s0:operation>
  </s0:portType>
  <s0:binding name="SBNWebServiceServiceSoapBinding" type="s1:SBNWebService">
    <s2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <s0:operation name="saveOrder">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listTitleNew">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listAllZipcodeNew">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listAllZipcode">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listPackageBySFFPromo">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listOrderStatus">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listPackage">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="cancelOrderWeb">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listPackageByService">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="saveOrderNew">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listTitle">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listZipcode">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="listZipcodeNew">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="SBNWebServiceService">
    <s0:port name="SBNWebServiceSoapPort" binding="s1:SBNWebServiceServiceSoapBinding">
      <s2:address location="http://10.13.181.46:8701/airnet-service/SBNWebService" />
    </s0:port>
  </s0:service>
</s0:definitions>