WebServices/WBBExternalService/Service References/QueryService/QueryService40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.FBSSModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.FBSSModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CheckFMCPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OntopPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckFMCPackageModel" nillable="true" type="tns:CheckFMCPackageModel" />
  <xs:complexType name="CheckPremiumFlagModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessModes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCodes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecurringCharges" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnPremiumTimeSlot" nillable="true" type="tns:ArrayOfReturnPremiumTimeSlotModel" />
      <xs:element minOccurs="0" name="SubAccessMode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPremiumFlagModel" nillable="true" type="tns:CheckPremiumFlagModel" />
  <xs:complexType name="ArrayOfReturnPremiumTimeSlotModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnPremiumTimeSlotModel" nillable="true" type="tns:ReturnPremiumTimeSlotModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReturnPremiumTimeSlotModel" nillable="true" type="tns:ArrayOfReturnPremiumTimeSlotModel" />
  <xs:complexType name="ReturnPremiumTimeSlotModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="assignrule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberofday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberofdisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberofhour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberofshift" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shifttype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnPremiumTimeSlotModel" nillable="true" type="tns:ReturnPremiumTimeSlotModel" />
  <xs:complexType name="CheckTimeslotBySubtypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnConfigTimeslot" nillable="true" type="tns:ArrayOfReturnConfigTimeslotModel" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckTimeslotBySubtypeModel" nillable="true" type="tns:CheckTimeslotBySubtypeModel" />
  <xs:complexType name="ArrayOfReturnConfigTimeslotModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnConfigTimeslotModel" nillable="true" type="tns:ReturnConfigTimeslotModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReturnConfigTimeslotModel" nillable="true" type="tns:ArrayOfReturnConfigTimeslotModel" />
  <xs:complexType name="ReturnConfigTimeslotModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="assignrule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberofday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberofdisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberofhour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberofshift" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shifttype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnConfigTimeslotModel" nillable="true" type="tns:ReturnConfigTimeslotModel" />
</xs:schema>