Framework/WBBBusinessLayer/Web References/WTTxInventory/WTTxInventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.wttx.ais.co.th/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="WTTxInventoryService" targetNamespace="http://ws.wttx.ais.co.th/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ws.wttx.ais.co.th/" version="1.1">
      <xs:element name="cancelWttxGridInfo" type="tns:cancelWttxGridInfo" />
      <xs:element name="cancelWttxGridInfoResponse" type="tns:cancelWttxGridInfoResponse" />
      <xs:element name="confirmWttxGridInfo" type="tns:confirmWttxGridInfo" />
      <xs:element name="confirmWttxGridInfoResponse" type="tns:confirmWttxGridInfoResponse" />
      <xs:element name="queryWttxGridInfo" type="tns:queryWttxGridInfo" />
      <xs:element name="queryWttxGridInfoResponse" type="tns:queryWttxGridInfoResponse" />
      <xs:element name="releaseWttxGridInfo" type="tns:releaseWttxGridInfo" />
      <xs:element name="releaseWttxGridInfoResponse" type="tns:releaseWttxGridInfoResponse" />
      <xs:element name="renewWttxGridInfo" type="tns:renewWttxGridInfo" />
      <xs:element name="renewWttxGridInfoResponse" type="tns:renewWttxGridInfoResponse" />
      <xs:element name="reserveWttxGridInfo" type="tns:reserveWttxGridInfo" />
      <xs:element name="reserveWttxGridInfoResponse" type="tns:reserveWttxGridInfoResponse" />
      <xs:complexType name="releaseWttxGridInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerId" type="xs:string" />
          <xs:element minOccurs="0" name="refId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="releaseWttxGridInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:responseMsg" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="reservedId" type="xs:string" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
          <xs:element minOccurs="0" name="responseMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reserveWttxGridInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="gridId" type="xs:string" />
          <xs:element minOccurs="0" name="reservedExpTime" type="xs:string" />
          <xs:element minOccurs="0" name="refId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reserveWttxGridInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:responseMsg" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelWttxGridInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="reservedId" type="xs:string" />
          <xs:element minOccurs="0" name="refId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelWttxGridInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:responseMsg" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryWttxGridInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="gridId" type="xs:string" />
          <xs:element minOccurs="0" name="refId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryWttxGridInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:wttxxGridInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wttxxGridInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="gridId" type="xs:string" />
          <xs:element minOccurs="0" name="lastUpdateTime" type="xs:string" />
          <xs:element minOccurs="0" name="latitude" type="xs:string" />
          <xs:element minOccurs="0" name="longitude" type="xs:string" />
          <xs:element minOccurs="0" name="maxBandwith" type="xs:string" />
          <xs:element name="maxCustomer" type="xs:int" />
          <xs:element name="numberOfCustomer" type="xs:int" />
          <xs:element minOccurs="0" name="onService" type="xs:string" />
          <xs:element minOccurs="0" name="provinceEng" type="xs:string" />
          <xs:element minOccurs="0" name="provinceTha" type="xs:string" />
          <xs:element minOccurs="0" name="region" type="xs:string" />
          <xs:element minOccurs="0" name="respMsg" type="tns:responseMsg" />
          <xs:element minOccurs="0" name="scaleXkm" type="xs:string" />
          <xs:element minOccurs="0" name="scaleYkm" type="xs:string" />
          <xs:element minOccurs="0" name="utilization" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="renewWttxGridInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerId" type="xs:string" />
          <xs:element minOccurs="0" name="refId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="renewWttxGridInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:responseMsg" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="confirmWttxGridInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="reservedId" type="xs:string" />
          <xs:element minOccurs="0" name="customerId" type="xs:string" />
          <xs:element minOccurs="0" name="refId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="confirmWttxGridInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:responseMsg" />
        </xs:sequence>
      </xs:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cancelWttxGridInfoResponse">
    <wsdl:part name="parameters" element="tns:cancelWttxGridInfoResponse" />
  </wsdl:message>
  <wsdl:message name="renewWttxGridInfoResponse">
    <wsdl:part name="parameters" element="tns:renewWttxGridInfoResponse" />
  </wsdl:message>
  <wsdl:message name="releaseWttxGridInfo">
    <wsdl:part name="parameters" element="tns:releaseWttxGridInfo" />
  </wsdl:message>
  <wsdl:message name="reserveWttxGridInfo">
    <wsdl:part name="parameters" element="tns:reserveWttxGridInfo" />
  </wsdl:message>
  <wsdl:message name="confirmWttxGridInfoResponse">
    <wsdl:part name="parameters" element="tns:confirmWttxGridInfoResponse" />
  </wsdl:message>
  <wsdl:message name="queryWttxGridInfoResponse">
    <wsdl:part name="parameters" element="tns:queryWttxGridInfoResponse" />
  </wsdl:message>
  <wsdl:message name="cancelWttxGridInfo">
    <wsdl:part name="parameters" element="tns:cancelWttxGridInfo" />
  </wsdl:message>
  <wsdl:message name="queryWttxGridInfo">
    <wsdl:part name="parameters" element="tns:queryWttxGridInfo" />
  </wsdl:message>
  <wsdl:message name="reserveWttxGridInfoResponse">
    <wsdl:part name="parameters" element="tns:reserveWttxGridInfoResponse" />
  </wsdl:message>
  <wsdl:message name="releaseWttxGridInfoResponse">
    <wsdl:part name="parameters" element="tns:releaseWttxGridInfoResponse" />
  </wsdl:message>
  <wsdl:message name="renewWttxGridInfo">
    <wsdl:part name="parameters" element="tns:renewWttxGridInfo" />
  </wsdl:message>
  <wsdl:message name="confirmWttxGridInfo">
    <wsdl:part name="parameters" element="tns:confirmWttxGridInfo" />
  </wsdl:message>
  <wsdl:portType name="WTTxInventory">
    <wsdl:operation name="releaseWttxGridInfo">
      <wsdl:input name="releaseWttxGridInfo" message="tns:releaseWttxGridInfo" />
      <wsdl:output name="releaseWttxGridInfoResponse" message="tns:releaseWttxGridInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="reserveWttxGridInfo">
      <wsdl:input name="reserveWttxGridInfo" message="tns:reserveWttxGridInfo" />
      <wsdl:output name="reserveWttxGridInfoResponse" message="tns:reserveWttxGridInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelWttxGridInfo">
      <wsdl:input name="cancelWttxGridInfo" message="tns:cancelWttxGridInfo" />
      <wsdl:output name="cancelWttxGridInfoResponse" message="tns:cancelWttxGridInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryWttxGridInfo">
      <wsdl:input name="queryWttxGridInfo" message="tns:queryWttxGridInfo" />
      <wsdl:output name="queryWttxGridInfoResponse" message="tns:queryWttxGridInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="renewWttxGridInfo">
      <wsdl:input name="renewWttxGridInfo" message="tns:renewWttxGridInfo" />
      <wsdl:output name="renewWttxGridInfoResponse" message="tns:renewWttxGridInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="confirmWttxGridInfo">
      <wsdl:input name="confirmWttxGridInfo" message="tns:confirmWttxGridInfo" />
      <wsdl:output name="confirmWttxGridInfoResponse" message="tns:confirmWttxGridInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WTTxInventoryServiceSoapBinding" type="tns:WTTxInventory">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="releaseWttxGridInfo">
      <soap12:operation soapAction="urn:ReleaseWttxGridInfo" style="document" />
      <wsdl:input name="releaseWttxGridInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="releaseWttxGridInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserveWttxGridInfo">
      <soap12:operation soapAction="urn:ReserveWttxGridInfo" style="document" />
      <wsdl:input name="reserveWttxGridInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="reserveWttxGridInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelWttxGridInfo">
      <soap12:operation soapAction="urn:CancelWttxGridInfo" style="document" />
      <wsdl:input name="cancelWttxGridInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelWttxGridInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryWttxGridInfo">
      <soap12:operation soapAction="urn:QueryWttxGridInfo" style="document" />
      <wsdl:input name="queryWttxGridInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryWttxGridInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewWttxGridInfo">
      <soap12:operation soapAction="urn:RenewWttxGridInfo" style="document" />
      <wsdl:input name="renewWttxGridInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="renewWttxGridInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmWttxGridInfo">
      <soap12:operation soapAction="urn:ConfirmWttxGridInfo" style="document" />
      <wsdl:input name="confirmWttxGridInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="confirmWttxGridInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WTTxInventoryService">
    <wsdl:port name="WTTxInventoryPort" binding="tns:WTTxInventoryServiceSoapBinding">
      <soap12:address location="http://10.104.140.72/WTTxResourceManagement/services/wttxinventory" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>