Presentation/Jobs/FBBReconcileInvRPT/Service References/CommandServices/CommandService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChangPackFieldworkCustomerRegisterCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrasactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangPackFieldworkCustomerRegisterCommand" nillable="true" type="tns:ChangPackFieldworkCustomerRegisterCommand" />
  <xs:complexType name="LastmilePaymentCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTION_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVE_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVE_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVE_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISP_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESRI_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_UPDATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_UPDATE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAP_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REAL_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REQUEST_DISTANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REUSED_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LastmilePaymentCommand" nillable="true" type="tns:LastmilePaymentCommand" />
  <xs:complexType name="PreOrderCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="PreOrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreOrderCommand" nillable="true" type="tns:PreOrderCommand" />
  <xs:complexType name="Quota_SubcontractCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="TIME_SLOT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quota_SubcontractCommand" nillable="true" type="tns:Quota_SubcontractCommand" />
</xs:schema>