Presentation/Jobs/InterfaceARC/Service References/QueryServices/QueryService28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WBBDbAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WBBDbAccount" nillable="true" type="tns:WBBDbAccount" />
</xs:schema>