Presentation/Jobs/FBBInventoryResendPending/Connected Services/QueryServices/QueryService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="UpdateImage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionType" nillable="true" type="tns:ActionType" />
  <xs:complexType name="GetLeaveMsgReferenceNoCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULTID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Return_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressAmphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressMooban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressPostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressRoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addressTumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="assetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceNoStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLeaveMsgReferenceNoCommand" nillable="true" type="tns:GetLeaveMsgReferenceNoCommand" />
</xs:schema>