Presentation/Jobs/FBBPAYG_RevalueAssetBatch/Connected Services/CommandServices/CommandService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.FBSS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.FBSS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands" />
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:complexType name="CreateOderPreRegisterCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WBBContract.Commands" base="q1:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AppointmentDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cus_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cus_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Cus_Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cus_Surname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Customername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IA_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordDec" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreNonmobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pre_Total_Results" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subcontract" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubcontractID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeSlot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeSlots" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Up_FBBDORM_Order_No" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Upsubcontractid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ret_code" type="xs:int" />
          <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateOderPreRegisterCommand" nillable="true" type="tns:CreateOderPreRegisterCommand" />
  <xs:complexType name="FBSSCoverageResultCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/WBBContract.Commands" base="q2:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACCESS_MODE_LIST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADDRESS_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADDRESS_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADDRESS_TYPE_DTL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADDRRESS_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ASC_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ASC_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BUILDING_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CHANNEL_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACTEMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACTNUMBER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACTTEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COVERAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COVERAGEAREA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="FBSSCoverageResult" nillable="true" type="q3:FBSSCoverageResult" />
          <xs:element minOccurs="0" name="FIRSTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOOR_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FTTHDISPLAYMESSAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GROUPOWNER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IS_PARTNER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LANGUAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LASTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LATITUDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LINEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOCATION_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOCATION_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LONGITUDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOO" type="xs:decimal" />
          <xs:element minOccurs="0" name="NETWORKPROVIDER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PARTNER_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PHONE_FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PLANNING_SITE_LIST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POSTAL_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PREFIXNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUCTTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROJECTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REGION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RESULTID" type="xs:decimal" />
          <xs:element minOccurs="0" name="RETURN_CODE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="RETURN_MESSAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RETURN_ORDER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ROAD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SALE_CHANNEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SALE_FIRSTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SALE_LASTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUBSTATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_DISTRICT_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUB_REGION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UNIT_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WTTXDISPLAYMESSAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZIPCODE_ROWID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FBSSCoverageResultCommand" nillable="true" type="tns:FBSSCoverageResultCommand" />
  <xs:complexType name="CoverageAreaLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Return_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoverageAreaLogCommand" nillable="true" type="tns:CoverageAreaLogCommand" />
  <xs:complexType name="FBSSSubContractTimeslotInsertTableCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bufferdata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filepath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recode" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSSubContractTimeslotInsertTableCommand" nillable="true" type="tns:FBSSSubContractTimeslotInsertTableCommand" />
  <xs:complexType name="FBSSSubContractTimeslotRollbackCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSSubContractTimeslotRollbackCommand" nillable="true" type="tns:FBSSSubContractTimeslotRollbackCommand" />
  <xs:complexType name="FBSSSubContractTimslotInterfaceLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filepath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSSubContractTimslotInterfaceLogCommand" nillable="true" type="tns:FBSSSubContractTimslotInterfaceLogCommand" />
</xs:schema>