Presentation/Jobs/FBBSendMailAutoLMD/Connected Services/CommandService/CommandService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.SAPFixedAsset" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.SAPFixedAsset" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands" />
  <xs:complexType name="SumitFOAErrorLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="access_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="in_xml_foa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_return_msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resend_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated_desc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SumitFOAErrorLogCommand" nillable="true" type="tns:SumitFOAErrorLogCommand" />
  <xs:complexType name="UpdateSubmitFoaErrorLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="access_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resend_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated_desc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateSubmitFoaErrorLogCommand" nillable="true" type="tns:UpdateSubmitFoaErrorLogCommand" />
  <xs:complexType name="HistoryLogCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WBBContract.Commands" base="q1:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HISTORY_ID" type="xs:long" />
          <xs:element minOccurs="0" name="INSTALLATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IN_FOA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IN_SAP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OUT_FOA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OUT_SAP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REQUEST_STATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoryLogCommand" nillable="true" type="tns:HistoryLogCommand" />
</xs:schema>