Presentation/Jobs/QuerySubContractTimeSlot/Service References/QueryServices/QueryService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBShareplex" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBShareplex" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetLowUtilizeSaleReportQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_location_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLowUtilizeSaleReportQuery" nillable="true" type="tns:GetLowUtilizeSaleReportQuery" />
  <xs:complexType name="RPAEquipmentReplenishmentToSubQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathTempFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchiveDomainFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchivePassFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchivePathFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetArchiveUserFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTempFile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RPAEquipmentReplenishmentToSubQuery" nillable="true" type="tns:RPAEquipmentReplenishmentToSubQuery" />
</xs:schema>