Presentation/Jobs/StandardAddressReport/Service References/QueryServices/QueryService30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.Account" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.Account" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticateType" type="tns:AuthenticateType" />
      <xs:element minOccurs="0" name="ComponentModel" nillable="true" type="tns:ArrayOfComponentModel" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstNameInEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstNameInThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForceLogOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupId" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Groups" nillable="true" type="q1:ArrayOfdecimal" />
      <xs:element minOccurs="0" name="LastNameInEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastNameInThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="PreferredSMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProgramModel" nillable="true" type="tns:ArrayOfProgramModel" />
      <xs:element minOccurs="0" name="SSOFields" nillable="true" type="tns:SSOFields" />
      <xs:element minOccurs="0" name="TitleInEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleInThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
  <xs:simpleType name="AuthenticateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotLoggedOn" />
      <xs:enumeration value="SSO" />
      <xs:enumeration value="SSOPartner" />
      <xs:enumeration value="LDAP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticateType" nillable="true" type="tns:AuthenticateType" />
  <xs:complexType name="ArrayOfComponentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentModel" nillable="true" type="tns:ComponentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponentModel" nillable="true" type="tns:ArrayOfComponentModel" />
  <xs:complexType name="ComponentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComponentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComponentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnableFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProgramID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadOnlyFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponentModel" nillable="true" type="tns:ComponentModel" />
  <xs:complexType name="ArrayOfProgramModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramModel" nillable="true" type="tns:ProgramModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramModel" nillable="true" type="tns:ArrayOfProgramModel" />
  <xs:complexType name="ProgramModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProgramModels" nillable="true" type="tns:ArrayOfProgramModel" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramModel" nillable="true" type="tns:ProgramModel" />
  <xs:complexType name="SSOFields">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeServiceWebRootUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionByJob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubModuleIDInToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThemeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSOFields" nillable="true" type="tns:SSOFields" />
</xs:schema>