Presentation/Jobs/FBBPAYG_LoadFile_3BBReport/Connected Services/QueryServices/QueryService39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.FBBShareplex" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.FBBShareplex" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetLovShareplexQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="LovName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLovShareplexQuery" nillable="true" type="tns:GetLovShareplexQuery" />
</xs:schema>