Presentation/Jobs/FBBPAYG_LoadFile_3BBReport/Connected Services/QueryServices/QueryService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfASSIGN_CONDITION_ATTR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ASSIGN_CONDITION_ATTR" nillable="true" type="tns:ASSIGN_CONDITION_ATTR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfASSIGN_CONDITION_ATTR" nillable="true" type="tns:ArrayOfASSIGN_CONDITION_ATTR" />
  <xs:complexType name="ASSIGN_CONDITION_ATTR">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTR_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASSIGN_CONDITION_ATTR" nillable="true" type="tns:ASSIGN_CONDITION_ATTR" />
</xs:schema>