Presentation/Jobs/FBBQueryOrderPendingDeduction/Connected Services/CommandService/CommandService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SaveDeductionLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_endpoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_enq_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_enq_status_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pm_receipt_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pm_tux_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_req_xml_param" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_res_xml_param" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_service_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_user_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveDeductionLogCommand" nillable="true" type="tns:SaveDeductionLogCommand" />
  <xs:complexType name="SavePendingDeductionCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_ba_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_merchant_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_paid_amt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_payment_method_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_transaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SavePendingDeductionCommand" nillable="true" type="tns:SavePendingDeductionCommand" />
</xs:schema>