Presentation/Jobs/FBBQueryOrderPendingDeduction/Connected Services/CommandService/CommandService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.FBBPayment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Commands.ExWebServices.FBBPayment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentResultCommand">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="PaymentResultCommand" nillable="true" type="tns:PaymentResultCommand" />
  <xs:complexType name="ResulttOrderTepsApiCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="detail1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detail2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detail3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endPointUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="respCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="respDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResulttOrderTepsApiCommand" nillable="true" type="tns:ResulttOrderTepsApiCommand" />
</xs:schema>