Presentation/Jobs/FBBSubmitFOALogSendMail/Service References/QueryServices/QueryService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBSS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBSS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CheckFMCPackageDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_mobile_price_excl_vat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_project_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_promotion_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckFMCPackageDataQuery" nillable="true" type="tns:CheckFMCPackageDataQuery" />
  <xs:complexType name="CheckInOrderQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckInOrderQuery" nillable="true" type="tns:CheckInOrderQuery" />
  <xs:complexType name="CheckPremiumFlagDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemoFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecurringCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPremiumFlagDataQuery" nillable="true" type="tns:CheckPremiumFlagDataQuery" />
  <xs:complexType name="CheckTimeslotBySubtypeDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accessmode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partnersubtype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckTimeslotBySubtypeDataQuery" nillable="true" type="tns:CheckTimeslotBySubtypeDataQuery" />
  <xs:complexType name="GetbuildingChangeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aumphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReloadCache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tumbon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Typeaddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetbuildingChangeQuery" nillable="true" type="tns:GetbuildingChangeQuery" />
  <xs:complexType name="GetbuildingAllQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Typeaddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetbuildingAllQuery" nillable="true" type="tns:GetbuildingAllQuery" />
  <xs:complexType name="GetBuildingNoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buildname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBuildingNoQuery" nillable="true" type="tns:GetBuildingNoQuery" />
  <xs:complexType name="GetBuildingNoAllQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buildname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBuildingNoAllQuery" nillable="true" type="tns:GetBuildingNoAllQuery" />
  <xs:complexType name="GetPermissionCondoUpdateStatusQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPermissionCondoUpdateStatusQuery" nillable="true" type="tns:GetPermissionCondoUpdateStatusQuery" />
  <xs:complexType name="GetBuildingByBuildingNameAndNoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buildname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Buildno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBuildingByBuildingNameAndNoQuery" nillable="true" type="tns:GetBuildingByBuildingNameAndNoQuery" />
</xs:schema>