Presentation/Jobs/FBBResendRevalue/Service References/QueryServices/QueryService38.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.FTTx" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.FBBWebConfigQueries.FTTx" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetCountCoverageQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_AMPHUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tumbon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tower_th" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCountCoverageQuery" nillable="true" type="tns:GetCountCoverageQuery" />
  <xs:complexType name="GetCoverageRegionQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagDataGroupAmper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tumbon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tower_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tower_th" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCoverageRegionQuery" nillable="true" type="tns:GetCoverageRegionQuery" />
</xs:schema>