Presentation/Web/WBBWeb/Service References/QueryService/QueryService29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices.FbbCpGw" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices.FbbCpGw" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" />
  <xs:complexType name="GetPreRegisterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AscCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPreRegisterQuery" nillable="true" type="tns:GetPreRegisterQuery" />
  <xs:complexType name="QueryLOVForWebQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="LovName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LovType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryLOVForWebQuery" nillable="true" type="tns:QueryLOVForWebQuery" />
  <xs:complexType name="QueryOrderPreRegisterQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AscCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryOrderPreRegisterQuery" nillable="true" type="tns:QueryOrderPreRegisterQuery" />
  <xs:complexType name="GetBlackListQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBlackListQuery" nillable="true" type="tns:GetBlackListQuery" />
  <xs:complexType name="CpGateWayQueryBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CpGateWayQueryBase" nillable="true" type="tns:CpGateWayQueryBase" />
  <xs:complexType name="GetListFBSSBuildingQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubDistrict" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetListFBSSBuildingQuery" nillable="true" type="tns:GetListFBSSBuildingQuery" />
  <xs:complexType name="GetOrderDuplicateQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOrderDuplicateQuery" nillable="true" type="tns:GetOrderDuplicateQuery" />
  <xs:complexType name="GetCoverageResultQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildingType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Long" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Moo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OnlineNumberFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Road" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Soi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubDistrict" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tower" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCoverageResultQuery" nillable="true" type="tns:GetCoverageResultQuery" />
  <xs:complexType name="GetCustomerSpeOfferQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAWNProduct" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNonMobile" type="xs:boolean" />
      <xs:element minOccurs="0" name="PackageGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerSpeOfferQuery" nillable="true" type="tns:GetCustomerSpeOfferQuery" />
  <xs:complexType name="GetListBuildingVillageQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetListBuildingVillageQuery" nillable="true" type="tns:GetListBuildingVillageQuery" />
  <xs:complexType name="GetMassCommonAccountQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Page" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inCardType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inMobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inOption" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMassCommonAccountQuery" nillable="true" type="tns:GetMassCommonAccountQuery" />
  <xs:complexType name="GetListPackageByServiceQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AcquiredOffers" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPartner" type="xs:boolean" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Address_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Address_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Asc_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Building_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Building_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CVM_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Customer_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Customer_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_EMPLOYEE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Existing_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FMPA_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Location_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Mobile_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Mobile_Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_NETWORK_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PACKAGE_FOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Partner_SubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Partner_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Plug_And_Play_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Rental_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Router_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SERVICE_DAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Serenade_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Service_Year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Sub_District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListPackageByServiceQuery" nillable="true" type="tns:GetListPackageByServiceQuery" />
  <xs:complexType name="GetPackageListQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPartner" type="xs:boolean" />
      <xs:element minOccurs="0" name="P_Address_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Address_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Asc_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Building_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Building_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_CVM_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Customer_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Customer_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_EMPLOYEE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Existing_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FMPA_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Location_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Mobile_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Mobile_Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_NETWORK_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PACKAGE_FOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Partner_SubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Partner_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Plug_And_Play_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Rental_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Router_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SERVICE_DAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Serenade_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Service_Year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Sub_District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPackageListQuery" nillable="true" type="tns:GetPackageListQuery" />
  <xs:complexType name="GetRegOutOfCoverageResultQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressTypeDTL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactMobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LineId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Projectname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRegOutOfCoverageResultQuery" nillable="true" type="tns:GetRegOutOfCoverageResultQuery" />
  <xs:complexType name="GetRegResultCoreQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillHouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillRoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillSubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillVillage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactHomeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlowFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallCapacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallHouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallRoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallSubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallTower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallVillage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPartner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferInstallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferInstallTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESERVED_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegResultType" type="tns:RegResultType" />
      <xs:element minOccurs="0" name="SaleRep" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="SelectPackage" nillable="true" type="q2:ArrayOfPackageModel" />
      <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels" minOccurs="0" name="Splitter" nillable="true" type="q3:ArrayOfSPLITTER_INFO" />
      <xs:element minOccurs="0" name="StaffID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlotID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRegResultCoreQuery" nillable="true" type="tns:GetRegResultCoreQuery" />
  <xs:simpleType name="RegResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRM" />
      <xs:enumeration value="FBSS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegResultType" nillable="true" type="tns:RegResultType" />
  <xs:complexType name="GetRegResultQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ASCCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillBuilding" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillDistrict" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillFloor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillHouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillMoo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillRoad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillSoi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillSubDistrict" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillTower" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillVillage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CancelOrders" nillable="true" type="tns:CancelOrders" />
          <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactHomeNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactMobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustBirthDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallBuilding" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallDistrict" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallFloor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallHouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallMoo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallRoad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallSoi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallSubDistrict" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallTower" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallVillage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreferInstallDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreferInstallTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaleRep" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="SelectPackage" nillable="true" type="q4:ArrayOfPackageModel" />
          <xs:element minOccurs="0" name="StaffID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeSlotID" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRegResultQuery" nillable="true" type="tns:GetRegResultQuery" />
  <xs:complexType name="CancelOrders">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrderNo" nillable="true" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelOrders" nillable="true" type="tns:CancelOrders" />
  <xs:complexType name="GetSFFInternetProfileQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSFFInternetProfileQuery" nillable="true" type="tns:GetSFFInternetProfileQuery" />
  <xs:complexType name="evOMServiceCheckChangeServiceQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternetNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="evOMServiceCheckChangeServiceQuery" nillable="true" type="tns:evOMServiceCheckChangeServiceQuery" />
  <xs:complexType name="GetSubContractTimeSlotQuery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpGateWayQueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Days" type="xs:int" />
          <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstallationDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubDistrict" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSubContractTimeSlotQuery" nillable="true" type="tns:GetSubContractTimeSlotQuery" />
</xs:schema>