Presentation/Jobs/FBBReturnedFixedAsset/Service References/QueryServices/QueryService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.SftpQueries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.SftpQueries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UploadFileQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFile" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NasType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="TransectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileQuery" nillable="true" type="tns:UploadFileQuery" />
  <xs:complexType name="NasUploadFileQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFile" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NasType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="TransectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NasUploadFileQuery" nillable="true" type="tns:NasUploadFileQuery" />
  <xs:complexType name="DeleteFileQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NasType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="TransectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteFileQuery" nillable="true" type="tns:DeleteFileQuery" />
  <xs:complexType name="NasDeleteFileQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NasType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="TransectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NasDeleteFileQuery" nillable="true" type="tns:NasDeleteFileQuery" />
  <xs:complexType name="DownloadFileQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NasType" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="TransectionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileQuery" nillable="true" type="tns:DownloadFileQuery" />
  <xs:complexType name="NasDownloadFileQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NasType" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="TransectionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NasDownloadFileQuery" nillable="true" type="tns:NasDownloadFileQuery" />
  <xs:complexType name="ListfilesQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NasType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransectionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListfilesQuery" nillable="true" type="tns:ListfilesQuery" />
  <xs:complexType name="GetfilesAllQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NasType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransectionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetfilesAllQuery" nillable="true" type="tns:GetfilesAllQuery" />
  <xs:complexType name="UploadFileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Upload" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileModel" nillable="true" type="tns:UploadFileModel" />
  <xs:complexType name="DeleteFileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteFileModel" nillable="true" type="tns:DeleteFileModel" />
  <xs:complexType name="DownloadFileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Download" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileModel" nillable="true" type="tns:DownloadFileModel" />
  <xs:complexType name="ArrayOfListfilesModels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListfilesModels" nillable="true" type="tns:ListfilesModels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListfilesModels" nillable="true" type="tns:ArrayOfListfilesModels" />
  <xs:complexType name="ListfilesModels">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="FullPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListfilesModels" nillable="true" type="tns:ListfilesModels" />
</xs:schema>