Presentation/Jobs/FBBPAYGPatch_Equipment/Connected Services/QueryServices/QueryService46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ShareplexModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ShareplexModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GenReportReconcileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenReportReconcileModel" nillable="true" type="tns:GenReportReconcileModel" />
  <xs:complexType name="PremiumAreaModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnPremiumConfig" nillable="true" type="tns:ArrayOfPremiumConfigModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PremiumAreaModel" nillable="true" type="tns:PremiumAreaModel" />
  <xs:complexType name="ArrayOfPremiumConfigModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PremiumConfigModel" nillable="true" type="tns:PremiumConfigModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPremiumConfigModel" nillable="true" type="tns:ArrayOfPremiumConfigModel" />
  <xs:complexType name="PremiumConfigModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictTh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceTh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubdistrictEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubdistrictTh" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PremiumConfigModel" nillable="true" type="tns:PremiumConfigModel" />
  <xs:complexType name="ArrayOfLowUtilizeSaleReportList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LowUtilizeSaleReportList" nillable="true" type="tns:LowUtilizeSaleReportList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLowUtilizeSaleReportList" nillable="true" type="tns:ArrayOfLowUtilizeSaleReportList" />
  <xs:complexType name="LowUtilizeSaleReportList">
    <xs:sequence>
      <xs:element minOccurs="0" name="address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="air_order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointment_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="asc_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building_name_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building_name_th" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cancel_reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cs_note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="event_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fixedline_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="floor_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="home_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="install_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internet_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="main_package" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ontop_package" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playbox_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price_discount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price_fee_main" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price_fee_ontop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotion_code_main" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotion_code_ontop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registered_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="room_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sub_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telephone_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time_slot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="work_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LowUtilizeSaleReportList" nillable="true" type="tns:LowUtilizeSaleReportList" />
</xs:schema>