Presentation/Jobs/FBBPAYGLoadSIMS4Batch/Connected Services/QueryServices/QueryService35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.ExWebServices.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetQueryAgreementCheckDeviceContractFbbRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fibrenetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractProfileFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sourceSystem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQueryAgreementCheckDeviceContractFbbRequest" nillable="true" type="tns:GetQueryAgreementCheckDeviceContractFbbRequest" />
  <xs:complexType name="GetQueryAgreementContractFbbRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fibrenetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sourceSystem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQueryAgreementContractFbbRequest" nillable="true" type="tns:GetQueryAgreementContractFbbRequest" />
  <xs:complexType name="GetQueryAgreementContractMobileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sourceSystem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQueryAgreementContractMobileRequest" nillable="true" type="tns:GetQueryAgreementContractMobileRequest" />
  <xs:complexType name="GetQueryAgreementCheckDeviceContractFbbResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="contractExpireDtFbb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractFlagFbb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractList" nillable="true" type="tns:ArrayOfGetQueryAgreementCheckDeviceContractFbbItem" />
      <xs:element minOccurs="0" name="contractProfileCountFbb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countContractFbb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fbbLimitContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sameFbbNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQueryAgreementCheckDeviceContractFbbResult" nillable="true" type="tns:GetQueryAgreementCheckDeviceContractFbbResult" />
  <xs:complexType name="ArrayOfGetQueryAgreementCheckDeviceContractFbbItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetQueryAgreementCheckDeviceContractFbbItem" nillable="true" type="tns:GetQueryAgreementCheckDeviceContractFbbItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetQueryAgreementCheckDeviceContractFbbItem" nillable="true" type="tns:ArrayOfGetQueryAgreementCheckDeviceContractFbbItem" />
  <xs:complexType name="GetQueryAgreementCheckDeviceContractFbbItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractRuleList" nillable="true" type="tns:ArrayOfQueryAgreementContractRuleItem" />
      <xs:element minOccurs="0" name="expireDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiptDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiptNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQueryAgreementCheckDeviceContractFbbItem" nillable="true" type="tns:GetQueryAgreementCheckDeviceContractFbbItem" />
  <xs:complexType name="ArrayOfQueryAgreementContractRuleItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryAgreementContractRuleItem" nillable="true" type="tns:QueryAgreementContractRuleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryAgreementContractRuleItem" nillable="true" type="tns:ArrayOfQueryAgreementContractRuleItem" />
  <xs:complexType name="QueryAgreementContractRuleItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="contractRuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractRuleValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryAgreementContractRuleItem" nillable="true" type="tns:QueryAgreementContractRuleItem" />
  <xs:complexType name="ArrayOfGetQueryAgreementContractFbbResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetQueryAgreementContractFbbResult" nillable="true" type="tns:GetQueryAgreementContractFbbResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetQueryAgreementContractFbbResult" nillable="true" type="tns:ArrayOfGetQueryAgreementContractFbbResult" />
  <xs:complexType name="GetQueryAgreementContractFbbResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileTypeList" nillable="true" type="tns:ArrayOfQueryAgreementProfileTypeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQueryAgreementContractFbbResult" nillable="true" type="tns:GetQueryAgreementContractFbbResult" />
  <xs:complexType name="ArrayOfQueryAgreementProfileTypeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryAgreementProfileTypeItem" nillable="true" type="tns:QueryAgreementProfileTypeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryAgreementProfileTypeItem" nillable="true" type="tns:ArrayOfQueryAgreementProfileTypeItem" />
  <xs:complexType name="QueryAgreementProfileTypeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="contractList" nillable="true" type="tns:ArrayOfQueryAgreementContractItem" />
      <xs:element minOccurs="0" name="profileType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryAgreementProfileTypeItem" nillable="true" type="tns:QueryAgreementProfileTypeItem" />
  <xs:complexType name="ArrayOfQueryAgreementContractItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryAgreementContractItem" nillable="true" type="tns:QueryAgreementContractItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryAgreementContractItem" nillable="true" type="tns:ArrayOfQueryAgreementContractItem" />
  <xs:complexType name="QueryAgreementContractItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="contractDetailList" nillable="true" type="tns:ArrayOfQueryAgreementContractDetailItem" />
      <xs:element minOccurs="0" name="countContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countContractExc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countContractMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countContractMobileExc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countContractProfileId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countContractProfileIdExc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCard" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryAgreementContractItem" nillable="true" type="tns:QueryAgreementContractItem" />
  <xs:complexType name="ArrayOfQueryAgreementContractDetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryAgreementContractDetailItem" nillable="true" type="tns:QueryAgreementContractDetailItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryAgreementContractDetailItem" nillable="true" type="tns:ArrayOfQueryAgreementContractDetailItem" />
  <xs:complexType name="QueryAgreementContractDetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="breakBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="breakDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="breakDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="breakLocationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="breakLocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="breakReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractHistoryList" nillable="true" type="tns:ArrayOfQueryAgreementContractHistoryItem" />
      <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractRuleList" nillable="true" type="tns:ArrayOfQueryAgreementContractRuleItem" />
      <xs:element minOccurs="0" name="countFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="disconnectDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="discountContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empowermentBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="penalty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiptDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiptLocationCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiptLocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiptNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salesChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="simUnlock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ussdCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryAgreementContractDetailItem" nillable="true" type="tns:QueryAgreementContractDetailItem" />
  <xs:complexType name="ArrayOfQueryAgreementContractHistoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryAgreementContractHistoryItem" nillable="true" type="tns:QueryAgreementContractHistoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryAgreementContractHistoryItem" nillable="true" type="tns:ArrayOfQueryAgreementContractHistoryItem" />
  <xs:complexType name="QueryAgreementContractHistoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="breakDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiptNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salePrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusCd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryAgreementContractHistoryItem" nillable="true" type="tns:QueryAgreementContractHistoryItem" />
  <xs:complexType name="ArrayOfGetQueryAgreementContractMobileResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetQueryAgreementContractMobileResult" nillable="true" type="tns:GetQueryAgreementContractMobileResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetQueryAgreementContractMobileResult" nillable="true" type="tns:ArrayOfGetQueryAgreementContractMobileResult" />
  <xs:complexType name="GetQueryAgreementContractMobileResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profileTypeList" nillable="true" type="tns:ArrayOfQueryAgreementProfileTypeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetQueryAgreementContractMobileResult" nillable="true" type="tns:GetQueryAgreementContractMobileResult" />
</xs:schema>