Presentation/Jobs/FBBPAYGLoadSIM/Connected Services/CommandServices/CommandService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Minions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Minions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MinionProcInstallAddressCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addr_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_In_Seq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_Vat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Building_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="House_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mooban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Address_RowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcode_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ba_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ca_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionProcInstallAddressCommand" nillable="true" type="tns:MinionProcInstallAddressCommand" />
  <xs:complexType name="MinionProcInstallContactCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact_Addr_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Home_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Mobile_Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Mobile_Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Seq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ba_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionProcInstallContactCommand" nillable="true" type="tns:MinionProcInstallContactCommand" />
  <xs:complexType name="MinionProcInstallPackageCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cust_Non_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Download_Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home_Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home_Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idd_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Initiation_Charge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile_Forward" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Bill_Tha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_Initiation_Charge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_Recurring_Charge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring_Charge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring_Discount_Exp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring_End_Dt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring_Start_Dt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Upload_Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionProcInstallPackageCommand" nillable="true" type="tns:MinionProcInstallPackageCommand" />
  <xs:complexType name="MinionProcInstallSplitterCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cust_Non_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Splitter_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Splitter_Seq" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionProcInstallSplitterCommand" nillable="true" type="tns:MinionProcInstallSplitterCommand" />
  <xs:complexType name="MinionProcMainCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="FbbCustAddressList" nillable="true" type="tns:ArrayOfMinionFbbCustAddressRec" />
      <xs:element minOccurs="0" name="FbbCustContactList" nillable="true" type="tns:ArrayOfMinionFbbCustContactRec" />
      <xs:element minOccurs="0" name="FbbCustPackageList" nillable="true" type="tns:ArrayOfMinionFbbCustPackageRec" />
      <xs:element minOccurs="0" name="FbbCustProfilesList" nillable="true" type="tns:ArrayOfMinionFbbCustProfileRec" />
      <xs:element minOccurs="0" name="FbbCustSplitterList" nillable="true" type="tns:ArrayOfMinionFbbCustSplitterRec" />
      <xs:element minOccurs="0" name="Return_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionProcMainCommand" nillable="true" type="tns:MinionProcMainCommand" />
  <xs:complexType name="ArrayOfMinionFbbCustAddressRec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionFbbCustAddressRec" nillable="true" type="tns:MinionFbbCustAddressRec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionFbbCustAddressRec" nillable="true" type="tns:ArrayOfMinionFbbCustAddressRec" />
  <xs:complexType name="MinionFbbCustAddressRec">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addr_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_In_Seq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_Vat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Building_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="House_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mooban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcode_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ba_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ca_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionFbbCustAddressRec" nillable="true" type="tns:MinionFbbCustAddressRec" />
  <xs:complexType name="ArrayOfMinionFbbCustContactRec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionFbbCustContactRec" nillable="true" type="tns:MinionFbbCustContactRec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionFbbCustContactRec" nillable="true" type="tns:ArrayOfMinionFbbCustContactRec" />
  <xs:complexType name="MinionFbbCustContactRec">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address_In_Seq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Home_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Mobile_Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Mobile_Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ba_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ca_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionFbbCustContactRec" nillable="true" type="tns:MinionFbbCustContactRec" />
  <xs:complexType name="ArrayOfMinionFbbCustPackageRec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionFbbCustPackageRec" nillable="true" type="tns:MinionFbbCustPackageRec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionFbbCustPackageRec" nillable="true" type="tns:ArrayOfMinionFbbCustPackageRec" />
  <xs:complexType name="MinionFbbCustPackageRec">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cust_Non_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Download_Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home_Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home_Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idd_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Initiation_Charge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile_Forward" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Bill_Tha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_Initiation_Charge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pre_Recurring_Charge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring_Charge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring_Discount_Exp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring_End_Dt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring_Start_Dt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Upload_Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionFbbCustPackageRec" nillable="true" type="tns:MinionFbbCustPackageRec" />
  <xs:complexType name="ArrayOfMinionFbbCustProfileRec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionFbbCustProfileRec" nillable="true" type="tns:MinionFbbCustProfileRec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionFbbCustProfileRec" nillable="true" type="tns:ArrayOfMinionFbbCustProfileRec" />
  <xs:complexType name="MinionFbbCustProfileRec">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access_Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ba_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ca_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condo_Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condo_Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condo_Limit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condo_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Id_Card_Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Id_Card_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Non_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Sub_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cvr_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Document_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home_Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ia_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Installation_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Network_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port_Active_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Relate_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Relate_Non_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sa_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service_Day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time_Slot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="event_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flow_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gift_voucher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="install_staff_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="install_staff_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="site_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sub_contract_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sub_location_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionFbbCustProfileRec" nillable="true" type="tns:MinionFbbCustProfileRec" />
  <xs:complexType name="ArrayOfMinionFbbCustSplitterRec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionFbbCustSplitterRec" nillable="true" type="tns:MinionFbbCustSplitterRec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionFbbCustSplitterRec" nillable="true" type="tns:ArrayOfMinionFbbCustSplitterRec" />
  <xs:complexType name="MinionFbbCustSplitterRec">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cust_Non_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Splitter_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionFbbCustSplitterRec" nillable="true" type="tns:MinionFbbCustSplitterRec" />
  <xs:complexType name="MinionProcMessageLogCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cust_Non_Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Process_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Response_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Return_Desc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionProcMessageLogCommand" nillable="true" type="tns:MinionProcMessageLogCommand" />
  <xs:complexType name="MinionExternalSmsSurveyFoaCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalSmsSurveyFoaList" nillable="true" type="tns:ArrayOfMinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfMinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionExternalSmsSurveyFoaCommand" nillable="true" type="tns:MinionExternalSmsSurveyFoaCommand" />
  <xs:complexType name="ArrayOfMinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec" nillable="true" type="tns:MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec" nillable="true" type="tns:ArrayOfMinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec" />
  <xs:complexType name="MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec">
    <xs:sequence>
      <xs:element minOccurs="0" name="InterfaceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NonMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec" nillable="true" type="tns:MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaRec" />
  <xs:complexType name="ArrayOfMinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult" nillable="true" type="tns:MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult" nillable="true" type="tns:ArrayOfMinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult" />
  <xs:complexType name="MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="InterfaceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NonMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult" nillable="true" type="tns:MinionExternalSmsSurveyFoaCommand.MinionExternalSmsSurveyFoaResult" />
</xs:schema>