Presentation/Jobs/FBBSendMailAutoLMD/Connected Services/QueryService/QueryService24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Master" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons.Master" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:complexType name="GetCheckEventCodeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event_Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCheckEventCodeQuery" nillable="true" type="tns:GetCheckEventCodeQuery" />
  <xs:complexType name="GetDateVoucherPINQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="VoucherPIN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDateVoucherPINQuery" nillable="true" type="tns:GetDateVoucherPINQuery" />
  <xs:complexType name="GetDormitoryQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FloorNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcontract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubcontractEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubcontractTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="netnumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDormitoryQuery" nillable="true" type="tns:GetDormitoryQuery" />
  <xs:complexType name="GetEventDetailQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatePeriodEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePeriodTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" type="xs:boolean" />
      <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEventDetailQuery" nillable="true" type="tns:GetEventDetailQuery" />
  <xs:complexType name="GetFloorsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Netnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFloorsQuery" nillable="true" type="tns:GetFloorsQuery" />
  <xs:complexType name="GetRoomNumberQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Netnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filteroom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRoomNumberQuery" nillable="true" type="tns:GetRoomNumberQuery" />
  <xs:complexType name="GetSubcontractQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="netnumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSubcontractQuery" nillable="true" type="tns:GetSubcontractQuery" />
  <xs:complexType name="ValidateNonMobilePinQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="NonMobilePin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateNonMobilePinQuery" nillable="true" type="tns:ValidateNonMobilePinQuery" />
  <xs:complexType name="GetMappingSbnOwnerProd">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="FBSSAccessModeInfo" nillable="true" type="q1:ArrayOfFBSSAccessModeInfo" />
      <xs:element minOccurs="0" name="IsPartner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMappingSbnOwnerProd" nillable="true" type="tns:GetMappingSbnOwnerProd" />
  <xs:complexType name="GetLogQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogAppendedNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLogQuery" nillable="true" type="tns:GetLogQuery" />
  <xs:complexType name="GetModelnameDslamQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultNameCommandDslam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetModelnameDslamQuery" nillable="true" type="tns:GetModelnameDslamQuery" />
  <xs:complexType name="GetModelNameQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultBI" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultModel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetModelNameQuery" nillable="true" type="tns:GetModelNameQuery" />
  <xs:complexType name="GetCardModelQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARDMODELID" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATAONLY_FLANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXSLOT" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTSTARTINDEX" type="xs:decimal" />
      <xs:element minOccurs="0" name="RESERVE" type="xs:int" />
      <xs:element minOccurs="0" name="ResultQuery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCardModelQuery" nillable="true" type="tns:GetCardModelQuery" />
  <xs:complexType name="GetCardInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DSLAMId" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCardInfoQuery" nillable="true" type="tns:GetCardInfoQuery" />
  <xs:complexType name="GetCoverageAreaReportQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetCoverageAreaReportQuery" nillable="true" type="tns:GetCoverageAreaReportQuery" />
  <xs:complexType name="GetDSLAMInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DSLAMID" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSLAMMODELID" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSLAMNUMBER" type="xs:decimal" />
      <xs:element minOccurs="0" name="LOT_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NODEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDSLAMInfoQuery" nillable="true" type="tns:GetDSLAMInfoQuery" />
  <xs:complexType name="GetDSLAMModelQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVEFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CvrId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DSLAMMODELID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MAXSLOT" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SH_BRAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLOTSTARTINDEX" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDSLAMModelQuery" nillable="true" type="tns:GetDSLAMModelQuery" />
  <xs:complexType name="GetLovRabbitQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetLovRabbitQuery" nillable="true" type="tns:GetLovRabbitQuery" />
  <xs:complexType name="GetNationalityQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetNationalityQuery" nillable="true" type="tns:GetNationalityQuery" />
  <xs:complexType name="GetCustomerTitleQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerTitleQuery" nillable="true" type="tns:GetCustomerTitleQuery" />
  <xs:complexType name="GetCoverageAreaRelQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="NodeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCoverageAreaRelQuery" nillable="true" type="tns:GetCoverageAreaRelQuery" />
  <xs:complexType name="GetCoverageAreaQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCodeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCoverageAreaQuery" nillable="true" type="tns:GetCoverageAreaQuery" />
  <xs:complexType name="GetVersionQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetVersionQuery" nillable="true" type="tns:GetVersionQuery" />
  <xs:complexType name="GetZipCodeAirQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmphurFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regioncode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TumbonFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:GetZipCodeAirQuery.TypeName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetZipCodeAirQuery" nillable="true" type="tns:GetZipCodeAirQuery" />
  <xs:simpleType name="GetZipCodeAirQuery.TypeName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Province" />
      <xs:enumeration value="Amphur" />
      <xs:enumeration value="Tumbon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetZipCodeAirQuery.TypeName" nillable="true" type="tns:GetZipCodeAirQuery.TypeName" />
  <xs:complexType name="GetZipCodeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmphurFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentCulture" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TumbonFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:GetZipCodeQuery.TypeName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetZipCodeQuery" nillable="true" type="tns:GetZipCodeQuery" />
  <xs:simpleType name="GetZipCodeQuery.TypeName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Province" />
      <xs:enumeration value="Amphur" />
      <xs:enumeration value="Tumbon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetZipCodeQuery.TypeName" nillable="true" type="tns:GetZipCodeQuery.TypeName" />
</xs:schema>