Presentation/Jobs/FBBSendMailAutoLMD/Connected Services/QueryService/QueryService71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WBBDbAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WBBDbAccount" nillable="true" type="tns:WBBDbAccount" />
  <xs:complexType name="ConfirmPaymentDeductionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmPaymentDeductionModel" nillable="true" type="tns:ConfirmPaymentDeductionModel" />
  <xs:complexType name="NotifyDeductionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotifyDeductionModel" nillable="true" type="tns:NotifyDeductionModel" />
  <xs:complexType name="NotifySuperDuperModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotifySuperDuperModel" nillable="true" type="tns:NotifySuperDuperModel" />
  <xs:complexType name="CreateOrderMeshModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOrderMeshModel" nillable="true" type="tns:CreateOrderMeshModel" />
  <xs:complexType name="WebHookNotifyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebHookNotifyModel" nillable="true" type="tns:WebHookNotifyModel" />
</xs:schema>