Presentation/Jobs/FBBSendMailAutoLMD/Connected Services/QueryService/QueryService169.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetListPackageDisplayQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirChangePromotionCodeArray" nillable="true" type="tns:ArrayOfAirChangePromotionCode" />
      <xs:element minOccurs="0" name="AirPackageDisplayArray" nillable="true" type="tns:ArrayOfAirPackageDisplay" />
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="client_ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="non_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="owner_product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ref_row_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relate_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serenate_flag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListPackageDisplayQuery" nillable="true" type="tns:GetListPackageDisplayQuery" />
  <xs:complexType name="ArrayOfAirChangePromotionCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirChangePromotionCode" nillable="true" type="tns:AirChangePromotionCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirChangePromotionCode" nillable="true" type="tns:ArrayOfAirChangePromotionCode" />
  <xs:complexType name="AirChangePromotionCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="PRODUCT_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirChangePromotionCode" nillable="true" type="tns:AirChangePromotionCode" />
  <xs:complexType name="ArrayOfAirPackageDisplay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirPackageDisplay" nillable="true" type="tns:AirPackageDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirPackageDisplay" nillable="true" type="tns:ArrayOfAirPackageDisplay" />
  <xs:complexType name="AirPackageDisplay">
    <xs:sequence>
      <xs:element minOccurs="0" name="PRODUCT_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inStatementEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inStatementThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productPkg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirPackageDisplay" nillable="true" type="tns:AirPackageDisplay" />
  <xs:complexType name="GetListPackageChangeQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectCondFlagArray" nillable="true" type="tns:ArrayOfProjectCondFlag" />
      <xs:element minOccurs="0" name="address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="asc_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="client_ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employee_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="non_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="owner_product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_for" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_main" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partner_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partner_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="penalty_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_subtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sale_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serenade_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sub_district" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListPackageChangeQuery" nillable="true" type="tns:GetListPackageChangeQuery" />
  <xs:complexType name="ArrayOfProjectCondFlag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectCondFlag" nillable="true" type="tns:ProjectCondFlag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectCondFlag" nillable="true" type="tns:ArrayOfProjectCondFlag" />
  <xs:complexType name="ProjectCondFlag">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectCondFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectCondValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectCondFlag" nillable="true" type="tns:ProjectCondFlag" />
  <xs:complexType name="GetListChangePackageQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirChangePlayBoxPromotionCodeNewArray" nillable="true" type="tns:ArrayOfAirChangePromotionCode" />
      <xs:element minOccurs="0" name="AirChangePromotionCodeNewArray" nillable="true" type="tns:ArrayOfAirChangePromotionCode" />
      <xs:element minOccurs="0" name="AirChangePromotionCodeOldArray" nillable="true" type="tns:ArrayOfAirChangePromotionCode" />
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="acTion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="client_ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_mobile_chk_right" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_mobile_chk_right_opt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_mobile_get_benefit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_mobile_get_benefit_opt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_project_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_project_name_opt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="existing_mobile_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNumberContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="network_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_mobile_chk_right" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="new_mobile_get_benefit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="non_mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oldRelateMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relate_mobile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListChangePackageQuery" nillable="true" type="tns:GetListChangePackageQuery" />
</xs:schema>