Presentation/Jobs/FBBSendMailAutoLMD/Connected Services/QueryService/QueryService91.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices.FBSS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices.FBSS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons" />
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetFBSSQueryCPEPenaltyQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFBSSQueryCPEPenaltyQuery" nillable="true" type="tns:GetFBSSQueryCPEPenaltyQuery" />
  <xs:complexType name="GetFBSSCheckCPEQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IN_ID_CARD_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playbox" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFBSSCheckCPEQuery" nillable="true" type="tns:GetFBSSCheckCPEQuery" />
  <xs:complexType name="GetFBSSAppointment">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBContract.Queries.Commons" minOccurs="0" name="ASSIGN_CONDITION_LIST" nillable="true" type="q1:ArrayOfASSIGN_CONDITION_ATTR" />
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AisAirNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Days" type="xs:long" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendingAttributes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineSelect" type="tns:LineType" />
      <xs:element minOccurs="0" name="PlayBoxCountNew" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayBoxCountOld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postal_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSpecCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubAccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFBSSAppointment" nillable="true" type="tns:GetFBSSAppointment" />
  <xs:simpleType name="LineType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Line1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="line2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LineType" nillable="true" type="tns:LineType" />
  <xs:complexType name="GetAppointmentChageProQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DAYS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULL_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALLATION_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROD_SPEC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBDISTRICT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAppointmentChageProQuery" nillable="true" type="tns:GetAppointmentChageProQuery" />
  <xs:complexType name="GetDataForAppointmentQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="BILL_CYCLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULL_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_CARD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LANQUAGE_SCREEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NON_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ADDRESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDataForAppointmentQuery" nillable="true" type="tns:GetDataForAppointmentQuery" />
  <xs:complexType name="GetDataForReserveTimeslotQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPOINTMENT_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULL_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_CARD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_ADDRESS_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LANQUAGE_SCREEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NON_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ADDRESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIME_SLOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDataForReserveTimeslotQuery" nillable="true" type="tns:GetDataForReserveTimeslotQuery" />
  <xs:complexType name="CheckNoToPBQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FULL_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_status_option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_promocode_current" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_promocode_futurn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckNoToPBQuery" nillable="true" type="tns:CheckNoToPBQuery" />
  <xs:complexType name="CheckUnlockOrderQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FULL_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_promocode_current" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_promocode_futurn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckUnlockOrderQuery" nillable="true" type="tns:CheckUnlockOrderQuery" />
  <xs:complexType name="GetInputGetListPackageBySFFPROMOQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FULL_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_NON_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_promocode_current" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_sff_promocode_futurn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetInputGetListPackageBySFFPROMOQuery" nillable="true" type="tns:GetInputGetListPackageBySFFPROMOQuery" />
  <xs:complexType name="GetPackageListBySFFPromoForChangProQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="EXISTING_REQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULL_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SFF_PROMOCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPackageListBySFFPromoForChangProQuery" nillable="true" type="tns:GetPackageListBySFFPromoForChangProQuery" />
  <xs:complexType name="GetDataDATAILChangeproQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="FULL_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_APPOINTMENT_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_BILL_CYCLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_TIME_SLOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDataDATAILChangeproQuery" nillable="true" type="tns:GetDataDATAILChangeproQuery" />
  <xs:complexType name="GetFBSSChangedBuilding">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFBSSChangedBuilding" nillable="true" type="tns:GetFBSSChangedBuilding" />
  <xs:complexType name="GetFBSSFeasibilityCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FloorNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterfaceLogId" type="xs:decimal" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistricName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFBSSFeasibilityCheck" nillable="true" type="tns:GetFBSSFeasibilityCheck" />
</xs:schema>