Presentation/Jobs/FBBSendMailAutoLMD/Connected Services/QueryService/QueryService135.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices.WTTX" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.Queries.WebServices.WTTX" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetWTTXReserveQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="gridId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ref_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reservedExpTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transaction_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetWTTXReserveQuery" nillable="true" type="tns:GetWTTXReserveQuery" />
  <xs:complexType name="GetWTTXInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="grid_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ref_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transaction_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetWTTXInfoQuery" nillable="true" type="tns:GetWTTXInfoQuery" />
</xs:schema>