Presentation/Jobs/FBBSendMailAutoLMD/Connected Services/QueryService/QueryService38.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.Minions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.Minions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:complexType name="MinionGetExternalSoapServiceQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetExternalSoapServiceQueryModel" nillable="true" type="tns:MinionGetExternalSoapServiceQueryModel" />
  <xs:complexType name="MinionGetListPackageByChangeQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListPackageChangeList" nillable="true" type="tns:ArrayOfPackageByChangeModel" />
      <xs:element minOccurs="0" name="o_return_code" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListPackageByChangeQueryModel" nillable="true" type="tns:MinionGetListPackageByChangeQueryModel" />
  <xs:complexType name="ArrayOfPackageByChangeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageByChangeModel" nillable="true" type="tns:PackageByChangeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageByChangeModel" nillable="true" type="tns:ArrayOfPackageByChangeModel" />
  <xs:complexType name="PackageByChangeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTO_MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISPLAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERENADE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageByChangeModel" nillable="true" type="tns:PackageByChangeModel" />
  <xs:complexType name="MinionGetListPackageByServiceQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListPackageByServiceList" nillable="true" type="tns:ArrayOfListPackageModel" />
      <xs:element minOccurs="0" name="o_return_code" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListPackageByServiceQueryModel" nillable="true" type="tns:MinionGetListPackageByServiceQueryModel" />
  <xs:complexType name="ArrayOfListPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListPackageModel" nillable="true" type="tns:ListPackageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListPackageModel" nillable="true" type="tns:ArrayOfListPackageModel" />
  <xs:complexType name="ListPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISPLAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListPackageModel" nillable="true" type="tns:ListPackageModel" />
  <xs:complexType name="MinionGetListPackageBySffPromoQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListPackageSffPromoList" nillable="true" type="tns:ArrayOfPackageSffPromoModel" />
      <xs:element minOccurs="0" name="o_return_code" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListPackageBySffPromoQueryModel" nillable="true" type="tns:MinionGetListPackageBySffPromoQueryModel" />
  <xs:complexType name="ArrayOfPackageSffPromoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageSffPromoModel" nillable="true" type="tns:PackageSffPromoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageSffPromoModel" nillable="true" type="tns:ArrayOfPackageSffPromoModel" />
  <xs:complexType name="PackageSffPromoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISPLAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageSffPromoModel" nillable="true" type="tns:PackageSffPromoModel" />
  <xs:complexType name="ArrayOfMinionGetListProfileAddressQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionGetListProfileAddressQueryModel" nillable="true" type="tns:MinionGetListProfileAddressQueryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionGetListProfileAddressQueryModel" nillable="true" type="tns:ArrayOfMinionGetListProfileAddressQueryModel" />
  <xs:complexType name="MinionGetListProfileAddressQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS_VAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERROR_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOUSE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOOBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SFF_BA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_CA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STREET_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfileAddressQueryModel" nillable="true" type="tns:MinionGetListProfileAddressQueryModel" />
  <xs:complexType name="ArrayOfMinionGetListProfileContactQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionGetListProfileContactQueryModel" nillable="true" type="tns:MinionGetListProfileContactQueryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionGetListProfileContactQueryModel" nillable="true" type="tns:ArrayOfMinionGetListProfileContactQueryModel" />
  <xs:complexType name="MinionGetListProfileContactQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTACT_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACT_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERROR_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOME_TEL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_NO_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SFF_BA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_CA_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfileContactQueryModel" nillable="true" type="tns:MinionGetListProfileContactQueryModel" />
  <xs:complexType name="ArrayOfMinionGetListProfileCustomerQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionGetListProfileCustomerQueryModel" nillable="true" type="tns:MinionGetListProfileCustomerQueryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionGetListProfileCustomerQueryModel" nillable="true" type="tns:ArrayOfMinionGetListProfileCustomerQueryModel" />
  <xs:complexType name="MinionGetListProfileCustomerQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BIRTH_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONDO_AREA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONDO_DIRECTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONDO_LIMIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONDO_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_ID_CARD_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_ID_CARD_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_NATIONALITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_SURNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CVR_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOCUMENT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERROR_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EVENT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOW_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GIFT_VOUCHER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOME_AREA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOME_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_STAFF_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALL_STAFF_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NETWORK_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NON_MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ONLINE_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORT_ACTIVE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RELATE_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RELATE_NON_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_DAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SFF_BA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_CA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_SA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SITE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_CONTRACT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_LOCATION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIME_SLOT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfileCustomerQueryModel" nillable="true" type="tns:MinionGetListProfileCustomerQueryModel" />
  <xs:complexType name="ArrayOfMinionGetListProfilePackageQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionGetListProfilePackageQueryModel" nillable="true" type="tns:MinionGetListProfilePackageQueryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionGetListProfilePackageQueryModel" nillable="true" type="tns:ArrayOfMinionGetListProfilePackageQueryModel" />
  <xs:complexType name="MinionGetListProfilePackageQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERROR_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOME_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOME_PORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDD_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MOBILE_FORWARD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NON_MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_OWNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RECURRING_DISC_EXP" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RECURRING_END_DT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_START_DT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfilePackageQueryModel" nillable="true" type="tns:MinionGetListProfilePackageQueryModel" />
  <xs:complexType name="ArrayOfMinionGetListProfileSplitterQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionGetListProfileSplitterQueryModel" nillable="true" type="tns:MinionGetListProfileSplitterQueryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionGetListProfileSplitterQueryModel" nillable="true" type="tns:ArrayOfMinionGetListProfileSplitterQueryModel" />
  <xs:complexType name="MinionGetListProfileSplitterQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ERROR_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="distance_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="splitter_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetListProfileSplitterQueryModel" nillable="true" type="tns:MinionGetListProfileSplitterQueryModel" />
  <xs:complexType name="ArrayOfMinionGetMinionServiceQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinionGetMinionServiceQueryModel" nillable="true" type="tns:MinionGetMinionServiceQueryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinionGetMinionServiceQueryModel" nillable="true" type="tns:ArrayOfMinionGetMinionServiceQueryModel" />
  <xs:complexType name="MinionGetMinionServiceQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEV_SERVICE_MAIN_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRD_SERVICE_MAIN_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REQUET_SOAP_XML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVICE_MAIN_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVICE_MAIN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_PARENT_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVICE_PARENT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STG_SERVICE_MAIN_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATED_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetMinionServiceQueryModel" nillable="true" type="tns:MinionGetMinionServiceQueryModel" />
  <xs:complexType name="MinionGetSaveOrderNewModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="MinionSaveOrderResponse" nillable="true" type="q1:SaveOrderResp" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="MinionSaveOrderResponseVoIp" nillable="true" type="q2:SaveOrderResp" />
      <xs:element minOccurs="0" name="ReturnIaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnIaNoVoIp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinionGetSaveOrderNewModel" nillable="true" type="tns:MinionGetSaveOrderNewModel" />
  <xs:complexType name="UploadFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileResponse" nillable="true" type="tns:UploadFileResponse" />
</xs:schema>