Presentation/Jobs/FBBReturnedRevalueAssetS4HANA/Connected Services/QueryServices/QueryService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebApiModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebApiModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetrieveAddressQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressList" nillable="true" type="tns:ArrayOfDataLocalizeResponse" />
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveAddressQueryModel" nillable="true" type="tns:RetrieveAddressQueryModel" />
  <xs:complexType name="ArrayOfDataLocalizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataLocalizeResponse" nillable="true" type="tns:DataLocalizeResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataLocalizeResponse" nillable="true" type="tns:ArrayOfDataLocalizeResponse" />
  <xs:complexType name="DataLocalizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NAME_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NO_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILDING_NO_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LATITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LISTBV_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LONGTITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_DISTRICT_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_DISTRICT_TH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataLocalizeResponse" nillable="true" type="tns:DataLocalizeResponse" />
  <xs:complexType name="GetListWebsiteConfigurationQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LOV_LIST" nillable="true" type="tns:ArrayOfLovList" />
      <xs:element minOccurs="0" name="RESULT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListWebsiteConfigurationQueryModel" nillable="true" type="tns:GetListWebsiteConfigurationQueryModel" />
  <xs:complexType name="ArrayOfLovList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LovList" nillable="true" type="tns:LovList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLovList" nillable="true" type="tns:ArrayOfLovList" />
  <xs:complexType name="LovList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DISPLAY_VAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_BLOB" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LOV_VAL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOV_VAL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_BY" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LovList" nillable="true" type="tns:LovList" />
</xs:schema>