Presentation/Jobs/FBBPayGLastMileBydistanceBatch/Connected Services/CommandService/CommandService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetOrderChangeServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrdChangeServiceList" nillable="true" type="tns:ArrayOfOrdChangeService" />
      <xs:element minOccurs="0" name="OrdFeeList" nillable="true" type="tns:ArrayOfOrdFee" />
      <xs:element minOccurs="0" name="OrdServiceAttributeList" nillable="true" type="tns:ArrayOfOrdServiceAttribute" />
      <xs:element minOccurs="0" name="RespCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderChangeServiceModel" nillable="true" type="tns:GetOrderChangeServiceModel" />
  <xs:complexType name="ArrayOfOrdChangeService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdChangeService" nillable="true" type="tns:OrdChangeService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdChangeService" nillable="true" type="tns:ArrayOfOrdChangeService" />
  <xs:complexType name="OrdChangeService">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ascCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="locationCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdChangeService" nillable="true" type="tns:OrdChangeService" />
  <xs:complexType name="ArrayOfOrdFee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdFee" nillable="true" type="tns:OrdFee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdFee" nillable="true" type="tns:ArrayOfOrdFee" />
  <xs:complexType name="OrdFee">
    <xs:sequence>
      <xs:element minOccurs="0" name="parameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parameterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parameterValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdFee" nillable="true" type="tns:OrdFee" />
  <xs:complexType name="ArrayOfOrdServiceAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdServiceAttribute" nillable="true" type="tns:OrdServiceAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdServiceAttribute" nillable="true" type="tns:ArrayOfOrdServiceAttribute" />
  <xs:complexType name="OrdServiceAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceAttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceAttributeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdServiceAttribute" nillable="true" type="tns:OrdServiceAttribute" />
  <xs:complexType name="FBSSTimeSlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AppointmentDate_Initial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentDate_Initial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayOffFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstInstallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstTimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallationCapacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlotId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlotRegisterHR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSTimeSlot" nillable="true" type="tns:FBSSTimeSlot" />
  <xs:complexType name="ArrayOfPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageModel" nillable="true" type="tns:PackageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageModel" nillable="true" type="tns:ArrayOfPackageModel" />
  <xs:complexType name="PackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_INITIATION_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISPLAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXISTING_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDD_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LABEL_PACKAGE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LABEL_SUMM_ROW1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_FORWARD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_AUTO" nillable="true" type="tns:ArrayOfPackageAutoModel" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS_MAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CLASS_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_DISPLAY_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_DISPLAY_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAYBOX_EXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_PRICE_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRICE_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERENADE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PRODUCT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PRODUCT_PACKAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA_ONTOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_WORD_IN_STATEMENT_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_GROUP" nillable="true" type="tns:ArrayOfSGroup" />
      <xs:element minOccurs="0" name="SelectPlayBox_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectPlayPBL_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectVas_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialOffer" nillable="true" type="tns:ArrayOfSpecialOfferModel" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMP_IA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOIP_IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageModel" nillable="true" type="tns:PackageModel" />
  <xs:complexType name="ArrayOfPackageAutoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageAutoModel" nillable="true" type="tns:PackageAutoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageAutoModel" nillable="true" type="tns:ArrayOfPackageAutoModel" />
  <xs:complexType name="PackageAutoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTO_MAPPING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_DAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISCOUNT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISCOUNT_VALUE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DISPLAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MAPPING_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAPPING_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNER_PRODUCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_INITIATION_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRE_RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRING_CHARGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERVICE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_ENG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_BILL_THA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFF_PROMOTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TECHNOLOGY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageAutoModel" nillable="true" type="tns:PackageAutoModel" />
  <xs:complexType name="ArrayOfSGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGroup" nillable="true" type="tns:SGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGroup" nillable="true" type="tns:ArrayOfSGroup" />
  <xs:complexType name="SGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="PACKAGE_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_SUBTYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGroup" nillable="true" type="tns:SGroup" />
  <xs:complexType name="ArrayOfSpecialOfferModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialOfferModel" nillable="true" type="tns:SpecialOfferModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialOfferModel" nillable="true" type="tns:ArrayOfSpecialOfferModel" />
  <xs:complexType name="SpecialOfferModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialOfferModel" nillable="true" type="tns:SpecialOfferModel" />
  <xs:complexType name="PDFPackageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PDF_L_BUNDLING_DISCOUNT_DETAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_DISCOUNT_DETAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_LABEL_DETAIL_ALLFIRSTBILL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_MAIN_PACKAGE" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PDF_L_ONTOPLIST" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="PDF_L_ONTOP_FIXLIND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_ONTOP_ROUTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_4DAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_BASEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_DISCOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_DISCOUNTBASEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_DISCOUNTPLAYBOX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_FULLHD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_FULLHD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_MAINTAINPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_PAKAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_PLAYBOXINSTALL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_SPEEDBOOST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_SUM1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_SUM2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_DETAIL_TIDTUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_FULLHD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_FULLHD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_PAKAGENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_SPEEDBOOST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF_L_VALUE_LABEL_TIDTUN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PDFPackageModel" nillable="true" type="tns:PDFPackageModel" />
  <xs:complexType name="ArrayOfFBSSChangedAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBSSChangedAddressInfo" nillable="true" type="tns:FBSSChangedAddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBSSChangedAddressInfo" nillable="true" type="tns:ArrayOfFBSSChangedAddressInfo" />
  <xs:complexType name="FBSSChangedAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCESS_MODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressIdSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangedAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LATITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LONGTITUDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SITE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBDISTRICT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSChangedAddressInfo" nillable="true" type="tns:FBSSChangedAddressInfo" />
  <xs:complexType name="ArrayOfFBSSAccessModeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FBSSAccessModeInfo" nillable="true" type="tns:FBSSAccessModeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFBSSAccessModeInfo" nillable="true" type="tns:ArrayOfFBSSAccessModeInfo" />
  <xs:complexType name="FBSSAccessModeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InserviceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResourceList" nillable="true" type="tns:ArrayOfResourceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSAccessModeInfo" nillable="true" type="tns:FBSSAccessModeInfo" />
  <xs:complexType name="ArrayOfResourceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceInfo" nillable="true" type="tns:ResourceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceInfo" nillable="true" type="tns:ArrayOfResourceInfo" />
  <xs:complexType name="ResourceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResourceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceInfo" nillable="true" type="tns:ResourceInfo" />
  <xs:complexType name="FBSSCoverageResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessModeList" nillable="true" type="tns:ArrayOfFBSSAccessModeInfo" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coverage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterfaceLogId" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsPartner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanningSite" nillable="true" type="tns:FBSSAccessModeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FBSSCoverageResult" nillable="true" type="tns:FBSSCoverageResult" />
</xs:schema>