Presentation/Jobs/FBBPurgeData/Connected Services/QueryServices/QueryService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIRNETEntity.StoredProc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIRNETEntity.StoredProc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrackingReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingReportModel" nillable="true" type="tns:TrackingReportModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackingReportModel" nillable="true" type="tns:ArrayOfTrackingReportModel" />
  <xs:complexType name="TrackingReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="address_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="air_order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointment_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="asc_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building_name_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building_name_th" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cancel_reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="count_appointment" type="xs:decimal" />
      <xs:element minOccurs="0" name="cs_note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="end_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="event_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fibrenet_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fixedline_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="floor_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="home_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="install_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internet_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="main_package" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ontop_package" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_cancel" type="xs:boolean" />
      <xs:element minOccurs="0" name="order_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_type_zte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playbox_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price_discount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price_fee_main" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price_fee_ontop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotion_code_main" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="promotion_code_ontop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registered_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" type="xs:int" />
      <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="room_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="start_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sub_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telephone_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time_slot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="work_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingReportModel" nillable="true" type="tns:TrackingReportModel" />
  <xs:complexType name="ArrayOfTrackingModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingModel" nillable="true" type="tns:TrackingModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackingModel" nillable="true" type="tns:ArrayOfTrackingModel" />
  <xs:complexType name="TrackingModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="additional_package" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointment_date_1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="appointment_date_1_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointment_date_2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="appointment_date_2_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointment_date_3" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="appointment_date_3_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointment_timeslot_1_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointment_timeslot_2_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointment_timeslot_3_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="asc_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building_village" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cancel_install_reason_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cancel_install_reason_th" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="complete_install_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="complete_install_date_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="count_appointment" type="xs:decimal" />
      <xs:element minOccurs="0" name="coverage_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerSatisfactionSurveyUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employee_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="end_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expect_install_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fibrenet_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fixedline_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flow_seq" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="house_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_card_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="install_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="onservice_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ontop_package" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_cancel" type="xs:boolean" />
      <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package_name_tha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playbox_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="register_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="register_date_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ret_code" type="xs:int" />
      <xs:element minOccurs="0" name="ret_msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="start_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sub_district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="technology" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="track" nillable="true" type="tns:GotoTrackModel" />
      <xs:element minOccurs="0" name="track_enable" type="xs:boolean" />
      <xs:element minOccurs="0" name="transaction_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="work_flow_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingModel" nillable="true" type="tns:TrackingModel" />
  <xs:complexType name="GotoTrackModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_refId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_urlback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wfmfurl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GotoTrackModel" nillable="true" type="tns:GotoTrackModel" />
</xs:schema>