Presentation/Jobs/FBBPurgeData/Connected Services/QueryServices/QueryService28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBContract.QueryModels.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBContract.QueryModels.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/QueryService.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" />
  <xs:complexType name="GetPackageDetailByNonMobileQueryModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="PACKAGE_ALL_OPTION2" nillable="true" type="q1:ArrayOfevESQueryPersonalInformationModel" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" minOccurs="0" name="PACKAGE_ALL_OPTION3" nillable="true" type="q2:ArrayOfevESQueryPersonalInformationModel" />
      <xs:element minOccurs="0" name="PACKAGE_CONTENT" nillable="true" type="tns:ArrayOfWelcomePackageContent" />
      <xs:element minOccurs="0" name="PACKAGE_DISCOUNT" nillable="true" type="tns:ArrayOfWelcomePackageDiscount" />
      <xs:element minOccurs="0" name="PACKAGE_INSTALL" nillable="true" type="tns:ArrayOfWelcomePackageInstall" />
      <xs:element minOccurs="0" name="PACKAGE_MAIN" nillable="true" type="tns:ArrayOfWelcomePackageMain" />
      <xs:element minOccurs="0" name="PACKAGE_VAS" nillable="true" type="tns:ArrayOfWelcomePackageVas" />
      <xs:element minOccurs="0" name="RETURN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RETURN_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="blobmeshpic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="blobplaybox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contentpiblob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="discountblob" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPackageDetailByNonMobileQueryModel" nillable="true" type="tns:GetPackageDetailByNonMobileQueryModel" />
  <xs:complexType name="ArrayOfWelcomePackageContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WelcomePackageContent" nillable="true" type="tns:WelcomePackageContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWelcomePackageContent" nillable="true" type="tns:ArrayOfWelcomePackageContent" />
  <xs:complexType name="WelcomePackageContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DETALIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DISPLAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_PIC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WelcomePackageContent" nillable="true" type="tns:WelcomePackageContent" />
  <xs:complexType name="ArrayOfWelcomePackageDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WelcomePackageDiscount" nillable="true" type="tns:WelcomePackageDiscount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWelcomePackageDiscount" nillable="true" type="tns:ArrayOfWelcomePackageDiscount" />
  <xs:complexType name="WelcomePackageDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DETALIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DISPLAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_PIC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WelcomePackageDiscount" nillable="true" type="tns:WelcomePackageDiscount" />
  <xs:complexType name="ArrayOfWelcomePackageInstall">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WelcomePackageInstall" nillable="true" type="tns:WelcomePackageInstall" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWelcomePackageInstall" nillable="true" type="tns:ArrayOfWelcomePackageInstall" />
  <xs:complexType name="WelcomePackageInstall">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DETALIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DISPLAY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WelcomePackageInstall" nillable="true" type="tns:WelcomePackageInstall" />
  <xs:complexType name="ArrayOfWelcomePackageMain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WelcomePackageMain" nillable="true" type="tns:WelcomePackageMain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWelcomePackageMain" nillable="true" type="tns:ArrayOfWelcomePackageMain" />
  <xs:complexType name="WelcomePackageMain">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOWNLOAD_SPEED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DISPLAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_EXPIRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPLOAD_SPEED" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WelcomePackageMain" nillable="true" type="tns:WelcomePackageMain" />
  <xs:complexType name="ArrayOfWelcomePackageVas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WelcomePackageVas" nillable="true" type="tns:WelcomePackageVas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWelcomePackageVas" nillable="true" type="tns:ArrayOfWelcomePackageVas" />
  <xs:complexType name="WelcomePackageVas">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIBRENET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DETALIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_DISPLAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTION_PIC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WelcomePackageVas" nillable="true" type="tns:WelcomePackageVas" />
</xs:schema>