Presentation/Jobs/FBBPAYG_Load_File_OM010Batch/Connected Services/CommandServices/CommandService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.ExWebServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/CommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" />
  <xs:complexType name="evOMServiceCheckChangePromotionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="evOMServiceCheckChangePromotionModel" nillable="true" type="tns:evOMServiceCheckChangePromotionModel" />
  <xs:complexType name="CustRegisterInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirReturnOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillHouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillRoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillSubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillVillage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillZipCodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactHomeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageResultId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CvrId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallHouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallMoo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallRoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallSoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallSubDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallTower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallVillage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallZipCodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsNonMobile" type="xs:boolean" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetworkType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferInstallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferInstallTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="tns:RegisterResult" />
      <xs:element minOccurs="0" name="Reserved_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleRep" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBBEntity.PanelModels.WebServiceModels" minOccurs="0" name="SelectPackage" nillable="true" type="q1:ArrayOfPackageModel" />
      <xs:element minOccurs="0" name="ServiceYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SffBaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SffCaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SffSaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustRegisterInfoModel" nillable="true" type="tns:CustRegisterInfoModel" />
  <xs:complexType name="RegisterResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverageResultId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerRowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnIANO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterResult" nillable="true" type="tns:RegisterResult" />
</xs:schema>